<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import './skeleton-test-box.js';
			import './skeleton-test-container.js';
			import './skeleton-test-heading.js';
			import './skeleton-test-link.js';
			import './skeleton-test-paragraph.js';
			import './skeleton-group-nested-test.js';
			import './skeleton-group-test.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="skeleton-mixin">

			<h2>Typography</h2>
			<d2l-demo-snippet code-view-hidden>
				<d2l-test-skeleton-paragraph type="standard"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="compact"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="small"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="label"></d2l-test-skeleton-paragraph>
			</d2l-demo-snippet>

			<h2>Links</h2>
			<d2l-demo-snippet code-view-hidden>
				<d2l-test-skeleton-link></d2l-test-skeleton-link>
				<d2l-test-skeleton-link type="main"></d2l-test-skeleton-link>
				<d2l-test-skeleton-link type="small"></d2l-test-skeleton-link>
			</d2l-demo-snippet>

			<h2>Headings</h2>
			<d2l-demo-snippet code-view-hidden>
				<d2l-test-skeleton-heading level="1" width="25">Heading 1</d2l-test-skeleton-heading>
				<d2l-test-skeleton-heading level="2" width="20">Heading 2</d2l-test-skeleton-heading>
				<d2l-test-skeleton-heading level="3" width="15">Heading 3</d2l-test-skeleton-heading>
				<d2l-test-skeleton-heading level="4" width="10">Heading 4</d2l-test-skeleton-heading>
			</d2l-demo-snippet>

			<h2>Paragraphs</h2>
			<d2l-demo-snippet code-view-hidden>
				<d2l-test-skeleton-paragraph type="standard" lines="2"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="standard" lines="3"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="standard" lines="5"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="compact" lines="2"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="compact" lines="3"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="compact" lines="5"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="small" lines="2"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="small" lines="3"></d2l-test-skeleton-paragraph>
				<d2l-test-skeleton-paragraph type="small" lines="5"></d2l-test-skeleton-paragraph>
			</d2l-demo-snippet>

			<h2>Boxes</h2>
			<d2l-demo-snippet code-view-hidden>
				<d2l-test-skeleton-box></d2l-test-skeleton-box>
			</d2l-demo-snippet>

			<h2>Containers</h2>
			<d2l-demo-snippet code-view-hidden>
				<d2l-test-skeleton-container></d2l-test-skeleton-container>
			</d2l-demo-snippet>

			<h2>Skeleton group</h2>
			<d2l-demo-snippet>
				<d2l-test-skeleton-group></d2l-test-skeleton-group>
			</d2l-demo-snippet>

			<h2>Nested skeleton groups</h2>
			<d2l-demo-snippet>
				<d2l-test-nested-skeleton-group></d2l-test-nested-skeleton-group>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
