<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../collapsible-panel/collapsible-panel.js';
			import '../../collapsible-panel/collapsible-panel-group.js';
			import '../../demo/demo-page.js';
			import '../../list/list.js';
			import '../../list/list-item.js';
			import '../../list/list-item-content.js';
			import '../../inputs/input-text.js';
			import '../../inputs/input-number.js';
			import '../../inputs/input-checkbox.js';
			import './skeleton-test-box.js';
			import './skeleton-test-container.js';
			import './skeleton-test-heading.js';
			import './skeleton-test-link.js';
			import './skeleton-test-paragraph.js';
			import './skeleton-group-test.js';
			import './skeleton-group-wrapper.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="skeleton-mixin">


			<h2>List skeleton group</h2>
			<d2l-demo-snippet>
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-contents>
							<d2l-collapsible-panel skeleton panel-title="Title 1" heading-level="3" heading-style="3" padding-type="default" type="default"></d2l-collapsible-panel>
							<d2l-collapsible-panel panel-title="Title 1" heading-level="3" heading-style="3" padding-type="default" type="default"></d2l-collapsible-panel>
							<d2l-input-text label="Label"></d2l-input-text>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
						</d2l-list-item-contents>
					</d2l-list-item>
					<d2l-list-item>
						<d2l-list-item-content>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
							<d2l-input-text label="Label"></d2l-input-text>
							<d2l-collapsible-panel panel-title="Title 1" heading-level="3" heading-style="3" padding-type="default" type="default"></d2l-collapsible-panel>
							<d2l-input-text label="Label"></d2l-input-text>
						</d2l-list-item-content>
					</d2l-list-item>
				  </d2l-list>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
