<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../button/button.js';
		import '../../demo/demo-page.js';
		import '../expand-collapse-content.js';
	</script>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-expand-collapse-content">

		<h2>Default</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-button primary>Toggle</d2l-button>
				<d2l-expand-collapse-content>
					<p>
					Yar Pirate Ipsum
					Crow's nest chase guns coxswain belay coffer jib Shiver me timbers tackle piracy Buccaneer. Overhaul topsail Cat o'nine
					tails lee wherry Sink me smartly ballast Sail ho hardtack. Bowsprit aft quarterdeck killick pirate black jack hands
					crimp interloper yawl.
					</p>
					<ul>
						<li>Coffee</li>
						<li>Tea</li>
						<li>Milk</li>
					</ul>
					<p>
					Me trysail gangplank Plate Fleet Sink me hang the jib lanyard parrel square-rigged stern. Gangplank chandler brigantine
					spyglass scurvy rope's end plunder lugger topmast trysail. Admiral of the Black cackle fruit hearties maroon bounty
					Blimey yo-ho-ho sutler pillage boom.
					</p>
				</d2l-expand-collapse-content>
				<script type="module">
					const button = document.querySelector('d2l-button');
					button.addEventListener('click', () => {
						const section = document.querySelector('d2l-expand-collapse-content');
						section.expanded = !section.expanded;
						button.setAttribute('aria-expanded', section.expanded ? 'true' : 'false');
					});
				</script>
			</template>
		</d2l-demo-snippet>

	</d2l-demo-page>

</body>

</html>
