<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../../dialog/dialog-confirm.js';
			import '../switch.js';
			import '../switch-visibility.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-switch">

			<h2>On/Off</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-switch text="Dark Mode" on></d2l-switch>
					<script>
						document.querySelector('d2l-switch').addEventListener('change', (e) => {
							console.log('switch changed', e.target.on);
						});
					</script>
				</template>
			</d2l-demo-snippet>

			<h2>On/Off (text-position)</h2>

			<d2l-demo-snippet>
				<template>
					<div><d2l-switch text="Dark Mode" text-position="start"></d2l-switch></div>
					<div><d2l-switch text="Dark Mode" text-position="end"></d2l-switch></div>
					<div><d2l-switch text="Dark Mode" text-position="hidden"></d2l-switch></div>
				</template>
			</d2l-demo-snippet>

			<h2>On/Off (disabled)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-switch text="Dark Mode" on disabled></d2l-switch>
				</template>
			</d2l-demo-snippet>

			<h2>Visibility</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-switch-visibility></d2l-switch-visibility>
				</template>
			</d2l-demo-snippet>

			<h2>Visibility (with conditions)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-switch-visibility>
						These are some conditions that must be met for the activity to be visible.
						<ul>
							<li> Condition 1 </li>
							<li> Condition 2 </li>
							<li> Condition 3 </li>
						</ul>
					</d2l-switch-visibility>
				</template>
			</d2l-demo-snippet>

			<h2>On/Off (confirm)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-switch id="switch-with-confirm" text="Dark Mode"></d2l-switch>
					<d2l-dialog-confirm id="confirm" title-text="Confirm" text="Are you sure you want to change?">
						<d2l-button slot="footer" primary data-dialog-action="yes">Yes</d2l-button>
						<d2l-button slot="footer" data-dialog-action="no">No</d2l-button>
					</d2l-dialog-confirm>
					<script>
						const elem = document.querySelector('#switch-with-confirm');
						elem.addEventListener('d2l-switch-before-change', async e => {
							e.preventDefault();
							const confirmResult = await document.querySelector('#confirm').open();
							if (confirmResult === 'yes') e.detail.update(!elem.on);
						});
						elem.addEventListener('change', e => console.log('switch changed', e.target.on));
					</script>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
