<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import './table-test.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-table">

			<h2>Default</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-test-table type="default" sticky-controls></d2l-test-table>
				</template>
			</d2l-demo-snippet>

			<h2>Default, Sticky</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-test-table type="default" sticky-headers sticky-controls></d2l-test-table>
				</template>
			</d2l-demo-snippet>

			<h2>Light</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-test-table type="light" sticky-controls></d2l-test-table>
				</template>
			</d2l-demo-snippet>

			<h2>Light, Sticky</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-test-table type="light" sticky-headers sticky-controls></d2l-test-table>
				</template>
			</d2l-demo-snippet>

			<h2>Default, Paging</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-test-table type="default" sticky-controls paging></d2l-test-table>
				</template>
			</d2l-demo-snippet>

			<h2>Default, Visible controls background</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-test-table type="default" sticky-headers sticky-controls visible-background></d2l-test-table>
				</template>
			</d2l-demo-snippet>

			<h2>Default, Sticky columns</h2>
			<d2l-demo-snippet overflow-hidden>
				<template>
					<div style="overflow: auto; width: 400px;">
						<d2l-test-table type="default" sticky-headers sticky-controls></d2l-test-table>
					</div>
				</template>
			</d2l-demo-snippet>

			<h2>Default with Scroll-Wrapper (no sticky)</h2>
			<d2l-demo-snippet overflow-hidden>
				<template>
					<div style="height: 400px; overflow: auto;">
						<d2l-test-table type="default" sticky-controls style="width: 400px;"></d2l-test-table>
					</div>
				</template>
			</d2l-demo-snippet>

			<h2>Scroll-wrapper + sticky</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-test-table sticky-headers sticky-controls sticky-headers-scroll-wrapper style="width: 400px;"></d2l-test-table>
				</template>
			</d2l-demo-snippet>
			<div style="margin-bottom: 1000px;"></div>
		</d2l-demo-page>
	</body>
</html>
