@import '../colors/colors.scss';

@mixin d2l-link() {
	&,
	&:visited,
	&:link,
	&:active {
		color: var(--d2l-color-link);
		text-decoration: none;
		cursor: pointer;
	}
	&:hover,
	&:focus,
	&.d2l-link-focus {
		color: var(--d2l-color-link-active);
		text-decoration: underline;
		outline-width: 0;
	}
	&[main] {
		font-weight: 700;
	}
	&[small] {
		font-size: 0.7rem;
		line-height: 1.05rem;
		letter-spacing: 0.01rem;
	}
	@media print {
		&, &:visited, &:link, &:active {
			color: $d2l-color-ferrite; /* todo: dark-mode - this should probably stay ferrite */
		}
	}
}
