@import '../colors/colors.scss';

@mixin d2l-link() {
	&,
	&:visited,
	&:link,
	&:active {
		color: $d2l-color-celestine;
		text-decoration: none;
		cursor: pointer;
	}
	&:hover {
		color: $d2l-color-celestine-minus-1;
		text-decoration: underline;
	}
	&:focus-visible {
		border-radius: 2px;
		outline: 2px solid $d2l-color-celestine;
		outline-offset: 1px;
		text-decoration: underline;
	}
	.d2l-focus-visible-not-supported &:focus {
		border-radius: 2px;
		outline: 2px solid $d2l-color-celestine;
		outline-offset: 1px;
		text-decoration: underline;
	}

	&[main] {
		font-weight: 700;
	}
	&[small] {
		font-size: 0.7rem;
		line-height: 1.05rem;
		letter-spacing: 0.01rem;
	}
	@media print {
		&, &:visited, &:link, &:active {
			color: $d2l-color-ferrite;
		}
	}
}
