<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script>
			const rtl = (window.location.search.indexOf('dir=rtl') !== -1);
			if (rtl) document.documentElement.setAttribute('dir', 'rtl');
		</script>
		<script type="module">
			import '../../typography/typography.js';
			import '../demo/scroll-wrapper-test.js';
		</script>
		<title>d2l-scroll-wrapper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<style>
			.visual-diff {
				margin-bottom: 75px;
				max-width: 300px;
				padding: 0 15px;
			}
		</style>
	</head>
	<body class="d2l-typography">
		<div class="visual-diff" id="show-actions-smaller">
			<d2l-test-scroll-wrapper width="200"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="show-actions-same">
			<d2l-test-scroll-wrapper width="300"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="show-actions-overflow-right">
			<d2l-test-scroll-wrapper width="400"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="show-actions-overflow-both">
			<d2l-test-scroll-wrapper width="400" scroll="50"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="show-actions-overflow-left">
			<d2l-test-scroll-wrapper width="400" scroll="100"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="hide-actions-smaller">
			<d2l-test-scroll-wrapper hide-actions width="200"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="hide-actions-same">
			<d2l-test-scroll-wrapper hide-actions width="300"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="hide-actions-overflow-right">
			<d2l-test-scroll-wrapper hide-actions width="400"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="hide-actions-overflow-both">
			<d2l-test-scroll-wrapper hide-actions width="400" scroll="50"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="hide-actions-overflow-left">
			<d2l-test-scroll-wrapper hide-actions width="400" scroll="100"></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="split-scrollers-smaller">
			<d2l-test-scroll-wrapper width="200" split-scrollers></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="split-scrollers-same">
			<d2l-test-scroll-wrapper width="300" split-scrollers></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="split-scrollers-overflow-right">
			<d2l-test-scroll-wrapper width="400" split-scrollers></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="split-scrollers-overflow-both">
			<d2l-test-scroll-wrapper width="400" scroll="50" split-scrollers></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="split-scrollers-overflow-left">
			<d2l-test-scroll-wrapper width="400" scroll="100" split-scrollers></d2l-test-scroll-wrapper>
		</div>
		<div class="visual-diff" id="split-scrollers-secondary-focus-scroll">
			<d2l-test-scroll-wrapper width="400" split-scrollers></d2l-test-scroll-wrapper>
		</div>
	</body>
</html>
