<!DOCTYPE html>
<html lang="en">
	<head>
		<script type="module">
			import '../../typography/typography.js';
			import '../tag-list.js';
			import '../tag-list-item.js';
			import './tag-list-item-mixin-consumer.js';
		</script>
		<title>tag-list visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<style>
			.visual-diff {
				padding-bottom: 3rem;
			}
		</style>
	</head>
	<body class="d2l-typography">
		<div class="visual-diff">
			<d2l-tag-list description="A bunch of example tags" id="default">
				<d2l-tag-list-item text="Example Tag"></d2l-tag-list-item>
				<d2l-tag-list-item text="Longer Example Tag - much much much much much much much much longer"></d2l-tag-list-item>
				<d2l-tag-list-item text="Another Example Tag"></d2l-tag-list-item>
				<d2l-tag-list-item-mixin-consumer name="Custom Tag List Item"></d2l-tag-list-item-mixin-consumer>
				<d2l-tag-list-item text="Example Tag 5 - a longer tag"></d2l-tag-list-item>
				<d2l-tag-list-item text="Example Tag 6 - another longer tag" clearable></d2l-tag-list-item>
				<d2l-tag-list-item text="Example Tag 7"></d2l-tag-list-item>
			</d2l-tag-list>
		</div>

		<div class="visual-diff">
			<d2l-tag-list description="A bunch of example tags" id="clearable" clearable>
				<d2l-tag-list-item text="Example Tag"></d2l-tag-list-item>
				<d2l-tag-list-item text="Longer Example Tag - much much much much much much much much longer"></d2l-tag-list-item>
				<d2l-tag-list-item text="Another Example Tag"></d2l-tag-list-item>
				<d2l-tag-list-item-mixin-consumer name="Custom Tag List Item"></d2l-tag-list-item-mixin-consumer>
				<d2l-tag-list-item text="Example Tag 5 - a longer tag"></d2l-tag-list-item>
				<d2l-tag-list-item text="Example Tag 6 - another longer tag"></d2l-tag-list-item>
				<d2l-tag-list-item text="Example Tag 7"></d2l-tag-list-item>
			</d2l-tag-list>
		</div>
		<script>
			document.addEventListener('d2l-tag-list-item-cleared', (e) => {
				e.target.deleteItem();
			});
		</script>
	</body>
</html>
