version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # update-package-lock workflow aready handles minor/patch updates
      - dependency-name: "*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]
      - dependency-name: "@formatjs/intl-pluralrules"
