<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script>
			const rtl = (window.location.search.indexOf('dir=rtl') !== -1);
			if (rtl) document.documentElement.setAttribute('dir', 'rtl');
		</script>
		<script type="module">
			import '../../typography/typography.js';
			import '../../../node_modules/d2l-table/d2l-table-wrapper.js';
			import '../../inputs/input-number.js';
			import '../../inputs/input-text.js';
		</script>
		<title>d2l-table (sticky headers)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<custom-style>
			<style include="d2l-table-style"></style>
		</custom-style>
		<style>
			.visual-diff {
				margin-bottom: 300px;
				max-width: 600px;
			}
			html {
				--d2l-input-position: static; /* emulates what grades is doing in the LMS */
			}
		</style>
	</head>
	<body class="d2l-typography">

		<div class="visual-diff">
			<d2l-table-wrapper sticky-headers id="one-row-thead">
				<table class="d2l-table">
					<thead>
						<tr class="top">
							<th>Header A</th>
							<th>Header B</th>
							<th>Header C</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Cell 1-A</td>
							<td>Cell 1-B</td>
							<td>Cell 1-C</td>
						</tr>
						<tr class="down">
							<td>Cell 2-A</td>
							<td><d2l-input-text label="label" label-hidden value="Cell 2-B" input-width="100px"></d2l-input-text></td>
							<td class="over">Cell 2-C</td>
						</tr>
						<tr>
							<td>Cell 3-A</td>
							<td>Cell 3-B</td>
							<td>Cell 3-C</td>
						</tr>
					</tbody>
				</table>
			</d2l-table-wrapper>
		</div>
		<div class="visual-diff">
			<d2l-table-wrapper sticky-headers id="one-row-no-thead">
				<table class="d2l-table">
					<tr header class="top">
						<th>Header A</th>
						<th>Header B</th>
						<th>Header C</th>
					</tr>
					<tr>
						<td>Cell 1-A</td>
						<td>Cell 1-B</td>
						<td>Cell 1-C</td>
					</tr>
					<tr class="down">
						<td>Cell 2-A</td>
						<td><d2l-input-text label="label" label-hidden value="Cell 2-B" input-width="100px"></d2l-input-text></td>
						<td class="over">Cell 2-C</td>
					</tr>
					<tr>
						<td>Cell 3-A</td>
						<td>Cell 3-B</td>
						<td>Cell 3-C</td>
					</tr>
				</table>
			</d2l-table-wrapper>
		</div>
		<div class="visual-diff">
			<d2l-table-wrapper sticky-headers id="multi-row-thead">
				<table class="d2l-table">
					<thead>
						<tr>
							<th rowspan="2" style="width: 1%" class="top"><input type="checkbox"></th>
							<th rowspan="2">Country</th>
							<th colspan="5">Fruit Production (tons)</th>
						</tr>
						<tr>
							<th>Apples</th>
							<th>Oranges</th>
							<th>Bananas</th>
							<th>Peaches</th>
							<th>Grapes</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="down"><input type="checkbox"></td>
							<th>Canada</th>
							<td>356,863</td>
							<td>0</td>
							<th>0</th>
							<td>23,239</td>
							<td class="over">90,911</td>
						</tr>
						<tr selected>
							<td><input type="checkbox" checked></td>
							<th>Australia</th>
							<td>308,298</td>
							<td>398,610</td>
							<td><d2l-input-number label="label" label-hidden value="354241"></d2l-input-number></td>
							<td>80,807</td>
							<td>1,772,911</td>
						</tr>
						<tr>
							<td><input type="checkbox"></td>
							<th>Mexico</th>
							<td>716,931</td>
							<td>4,603,253</td>
							<td>2,384,778</td>
							<td>176,909</td>
							<td>351,310</td>
						</tr>
					</tbody>
				</table>
			</d2l-table-wrapper>
		</div>
		<div class="visual-diff">
			<d2l-table-wrapper sticky-headers id="multi-row-no-thead">
				<table class="d2l-table">
					<tr header>
						<th rowspan="2" style="width: 1%" class="top"><input type="checkbox"></th>
						<th rowspan="2">Country</th>
						<th colspan="5">Fruit Production (tons)</th>
					</tr>
					<tr header>
						<th>Apples</th>
						<th>Oranges</th>
						<th>Bananas</th>
						<th>Peaches</th>
						<th>Grapes</th>
					</tr>
					<tr>
						<td class="down"><input type="checkbox"></td>
						<th>Canada</th>
						<td>356,863</td>
						<td>0</td>
						<th>0</th>
						<td>23,239</td>
						<td class="over">90,911</td>
					</tr>
					<tr selected>
						<td><input type="checkbox" checked></td>
						<th>Australia</th>
						<td>308,298</td>
						<td>398,610</td>
						<td><d2l-input-number label="label" label-hidden value="354241"></d2l-input-number></td>
						<td>80,807</td>
						<td>1,772,911</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<th>Mexico</th>
						<td>716,931</td>
						<td>4,603,253</td>
						<td>2,384,778</td>
						<td>176,909</td>
						<td>351,310</td>
					</tr>
				</table>
			</d2l-table-wrapper>
		</div>
		<div class="visual-diff">
			<d2l-table-wrapper sticky-headers id="fixed-column">
				<table class="d2l-table">
					<thead>
						<tr>
							<th rowspan="2" style="width: 1%" class="top"><input type="checkbox"></th>
							<th rowspan="2" sticky>Country</th>
							<th colspan="5">Fruit Production (tons)</th>
						</tr>
						<tr>
							<th>Apples</th>
							<th>Oranges</th>
							<th>Bananas</th>
							<th>Peaches</th>
							<th>Grapes</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="down"><input type="checkbox"></td>
							<th sticky>Canada</th>
							<td>356,863</td>
							<td>0</td>
							<th>0</th>
							<td>23,239</td>
							<td class="over">90,911</td>
						</tr>
						<tr selected>
							<td><input type="checkbox" checked></td>
							<th sticky>Australia</th>
							<td><d2l-input-number label="label" label-hidden value="308298"></d2l-input-number></td>
							<td>398,610</td>
							<td>354,241</td>
							<td>80,807</td>
							<td>1,772,911</td>
						</tr>
						<tr>
							<td><input type="checkbox"></td>
							<th sticky>Mexico</th>
							<td>716,931</td>
							<td>4,603,253</td>
							<td>2,384,778</td>
							<td>176,909</td>
							<td>351,310</td>
						</tr>
					</tbody>
				</table>
			</d2l-table-wrapper>
		</div>
		<script>
			const url = new URL(window.location.href);
			const type = url.searchParams.get('type') ?? 'default';
			document.querySelectorAll('d2l-table-wrapper').forEach((wrapper) => {
				wrapper.setAttribute('type', type);
			});
		</script>
	</body>
</html>
