<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../view-switcher.js';
			import '../view-switcher-item-button.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-view-switcher">

			<h2>Segmented Button</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-view-switcher label="Save Options">
						<d2l-view-switcher-button selected key="saveAsDraft" text="Save as Draft"></d2l-view-switcher-button>
						<d2l-view-switcher-button key="saveAndClose" text="Save and Close"></d2l-view-switcher-button>
						<d2l-view-switcher-button key="saveAndNew" text="Save and New"></d2l-view-switcher-button>
					</d2l-view-switcher>
				</template>
			</d2l-demo-snippet>



		</d2l-demo-page>

	</body>
</html>
