<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../demo/demo-page.js';
			import '../backdrop.js';
		</script>
		<style>
			#target {
				position: relative;
				z-index: 1000;
			}
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-backdrop">

			<h2>Backdrop</h2>

			<d2l-demo-snippet>
				<template>
					<div id="target"><button>toggle backdrop</button></div>
					<div>
						<input type="checkbox" id="slow-transition" name="slow-transition">
						<label for="slow-transition">slow transition</label>
					</div>
					<div>
						<input type="checkbox" id="no-animate-hide" name="no-animate-hide">
						<label for="no-animate-hide">no animation on hide</label>
					</div>
					<d2l-backdrop for-target="target"></d2l-backdrop>
					<script>
						const backdrop = document.querySelector('d2l-backdrop');
						document.querySelector('#target > button').addEventListener('click', () => {
							backdrop.shown = !backdrop.shown;
						});
						document.querySelector('#no-animate-hide').addEventListener('change', () => {
							backdrop.noAnimateHide = !backdrop.noAnimateHide;
						});
						document.querySelector('#slow-transition').addEventListener('change', e => {
							if (e.target.checked) {
								backdrop.setAttribute('slow-transition', true);
							} else {
								backdrop.removeAttribute('slow-transition');
							}
						});
					</script>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
