<script type="module">
	import '../../demo/demo-page.js';
	import '../../button/button.js';
	import '../backdrop-loading.js';

	const loadingBackdrop = document.querySelector('d2l-backdrop-loading');
	document.querySelector('#target > d2l-button').addEventListener('click', () => {
		loadingBackdrop.shown = !loadingBackdrop.shown;

		setTimeout(() => {
			document.querySelectorAll('.grade').forEach((grade) => {
				grade.innerHTML = `${Math.round(Math.random() * 100).toString()}%`;
			});
			loadingBackdrop.shown = !loadingBackdrop.shown;
		}, 5000);
	});

</script>
<style>
	th, td {
		border-bottom: 1px solid #dddddd;
		padding: 30px;
		text-align: left;
	}
	#grade-container {
		position: relative;
		width: fit-content;
	}
</style>
<div id="target"><d2l-button primary>Refresh Content</d2l-button></div>
<div id="grade-container">
	<table>
		<thead>
			<th>Course</th>
			<th>Grade</th>
			<th>Hours Spent in Content</th>
		</thead>
		<tr>
			<td>Math</td>
			<td class="grade">85%</td>
			<td>100</td>
		</tr>
		<tr>
			<td>Art</td>
			<td class="grade">98%</td>
			<td>10</td>
		</tr>
	</table>
	<d2l-backdrop-loading></d2l-backdrop-loading>
</div>
