<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import './scroll-wrapper-test.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-scroll-wrapper">

			<h2>Actions</h2>
			<d2l-demo-snippet>
				<template>
					<div style="max-width: 700px;">
						<d2l-test-scroll-wrapper width="1000"></d2l-test-scroll-wrapper>
					</div>
				</template>
			</d2l-demo-snippet>

			<h2>Hide Actions</h2>
			<d2l-demo-snippet>
				<template>
					<div style="max-width: 700px;">
						<d2l-test-scroll-wrapper width="1000" hide-actions></d2l-test-scroll-wrapper>
					</div>
				</template>
			</d2l-demo-snippet>

			<h2>Split scrollers</h2>
			<d2l-demo-snippet>
				<template>
					<div style="max-width: 700px;">
						<d2l-test-scroll-wrapper width="1000" split-scrollers></d2l-test-scroll-wrapper>
					</div>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
