<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script type="module">
			import '../../typography/typography.js';
			import '../button.js';
		</script>
		<title>d2l-button</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff">
			<d2l-button id="normal">Normal Button</d2l-button>
		</div>
		<div class="visual-diff">
			<d2l-button id="primary" primary>Primary Button</d2l-button>
		</div>
		<div class="visual-diff">
			<d2l-button id="disabled" disabled>Disabled Button</d2l-button>
		</div>
		<div class="visual-diff">
			<d2l-button id="primary-disabled" disabled primary>Disabled Primary Button</d2l-button>
		</div>
	</body>
</html>
