<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import '../button-move.js';
	</script>
	<title>d2l-button-move</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-button-move id="normal" text="Reorder Item"></d2l-button-move>
	</div>
	<div class="visual-diff">
		<d2l-button-move id="disabled" text="Reorder Item" disabled></d2l-button-move>
	</div>
	<div class="visual-diff" id="disabled-tooltip" style="height: 100px; padding: 0 90px; width: 20px;">
		<d2l-button-move text="Reorder Item" disabled disabled-tooltip="Optional disabled tooltip"></d2l-button-move>
	</div>
</body>
</html>
