<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import '../button-icon.js';
	</script>
	<title>d2l-button-icon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		.translucent-container {
			height: 80px;
			width: 200px;
		}
		.translucent-container > d2l-button-icon {
			margin: 12px;
		}
		#custom {
			--d2l-button-icon-min-height: 1.5rem;
			--d2l-button-icon-min-width: 1.5rem;
			--d2l-button-icon-border-radius: 4px;
			--d2l-button-icon-focus-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #006fbf;
			--d2l-button-icon-fill-color: var(--d2l-color-celestine);
			--d2l-button-icon-fill-color-hover: var(--d2l-color-celestine-minus-1);
		}
	</style>
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-button-icon id="normal" icon="tier1:gear" text="Icon Button"></d2l-button-icon>
	</div>
	<div class="visual-diff">
		<d2l-button-icon id="disabled" icon="tier1:gear" text="Icon Button" disabled></d2l-button-icon>
	</div>
	<div class="visual-diff">
		<div class="translucent-container visual-diff-translucent">
			<d2l-button-icon id="translucent-enabled" icon="tier1:gear" text="Icon Button" translucent></d2l-button-icon>
		</div>
	</div>
	<div class="visual-diff">
		<div class="translucent-container visual-diff-translucent">
			<d2l-button-icon id="translucent-disabled" icon="tier1:gear" text="Icon Button" disabled translucent></d2l-button-icon>
		</div>
	</div>
	<div class="visual-diff">
		<div class="translucent-container visual-diff-dark">
			<d2l-button-icon id="dark" icon="tier1:gear" text="Icon Button" theme="dark"></d2l-button-icon>
		</div>
	</div>
	<div class="visual-diff">
		<div class="translucent-container visual-diff-dark">
			<d2l-button-icon id="dark-disabled" icon="tier1:gear" text="Icon Button" disabled theme="dark"></d2l-button-icon>
		</div>
	</div>
	<div class="visual-diff">
		<d2l-button-icon id="custom" icon="tier1:gear" text="Icon Button"></d2l-button-icon>
	</div>
</body>
</html>
