<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import '../button-subtle.js';
	</script>
	<title>d2l-button-subtle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-button-subtle id="default-normal" text="Subtle Button"></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle id="default-disabled" text="Subtle Button" disabled></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle id="default-with-icon" icon="tier1:bookmark-hollow" text="Subtle Button"></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle id="default-icon-right" icon="tier1:chevron-down" text="Subtle Button" icon-right></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle id="default-with-icon-rtl" dir="rtl" icon="tier1:bookmark-hollow" text="Subtle Button"></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle id="default-icon-right-rtl" dir="rtl" icon="tier1:chevron-down" text="Subtle Button" icon-right></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle slim id="slim-normal" text="Subtle Button"></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle slim id="slim-disabled" text="Subtle Button" disabled></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle slim id="slim-with-icon" icon="tier1:bookmark-hollow" text="Subtle Button"></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle slim id="slim-icon-right" icon="tier1:chevron-down" text="Subtle Button" icon-right></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle slim id="slim-with-icon-rtl" dir="rtl" icon="tier1:bookmark-hollow" text="Subtle Button"></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-button-subtle slim id="slim-icon-right-rtl" dir="rtl" icon="tier1:chevron-down" text="Subtle Button" icon-right></d2l-button-subtle>
	</div>
	<div class="visual-diff">
		<div id="h-align">
			<d2l-button-subtle icon="tier1:gear" text="Button Edge Aligned (default)"></d2l-button-subtle>
			<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
			<d2l-button-subtle icon="tier1:gear" text="Button Content Aligned" h-align="text"></d2l-button-subtle>
			<br>
			<d2l-button-subtle slim icon="tier1:gear" text="Slim Button Content Aligned" h-align="text"></d2l-button-subtle>
			<br>
			<d2l-button-subtle id="icon-right" icon="tier1:chevron-down" text="Subtle Button" icon-right h-align="text"></d2l-button-subtle>
			<br>
			<d2l-button-subtle slim id="icon-right" icon="tier1:chevron-down" text="Slim Subtle Button" icon-right h-align="text"></d2l-button-subtle>
		</div>
	</div>
</body>
</html>
