<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import '../button-move.js';
	</script>
	<title>d2l-button-move</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-button-move id="normal-normal" text="Reorder Item"></d2l-button-move>
	</div>
	<div class="visual-diff">
		<d2l-button-move id="normal-disabled-up" text="Reorder Item" disabled-up></d2l-button-move>
	</div>
	<div class="visual-diff">
		<d2l-button-move id="normal-disabled-down" text="Reorder Item" disabled-down></d2l-button-move>
	</div>
	<div class="visual-diff">
		<d2l-button-move id="normal-disabled" text="Reorder Item" disabled></d2l-button-move>
	</div>
	<div class="visual-diff" id="normal-disabled-tooltip" style="height: 100px; padding: 0 90px; width: 20px;">
		<d2l-button-move text="Reorder Item" disabled disabled-tooltip="Optional disabled tooltip"></d2l-button-move>
	</div>

	<div class="visual-diff-dark" style="padding: 20px;">
		<div class="visual-diff">
			<d2l-button-move id="dark-normal" text="Reorder Item" theme="dark"></d2l-button-move>
		</div>
		<div class="visual-diff">
			<d2l-button-move id="dark-disabled-up" text="Reorder Item" theme="dark" disabled-up></d2l-button-move>
		</div>
		<div class="visual-diff">
			<d2l-button-move id="dark-disabled-down" text="Reorder Item" theme="dark" disabled-down></d2l-button-move>
		</div>
		<div class="visual-diff">
			<d2l-button-move id="dark-disabled" text="Reorder Item" theme="dark" disabled></d2l-button-move>
		</div>
		<div class="visual-diff" id="dark-disabled-tooltip" style="height: 100px; padding: 0 90px; width: 20px;">
			<d2l-button-move text="Reorder Item" theme="dark" disabled disabled-tooltip="Optional disabled tooltip"></d2l-button-move>
		</div>
	</div>
</body>
</html>
