<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../typography/typography.js';
		import '../../demo/demo-snippet.js';
		import '../button.js';
		import '../floating-buttons.js';
	</script>
	<title>d2l-floating-buttons</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
	<style>
	</style>
</head>
<body class="d2l-typography">
		<d2l-demo-snippet code-view-hidden id="floating-buttons-short">
			<div id="floating-buttons-short-content">
				<p>I love Coffee!</p>
			</div>
			<d2l-floating-buttons id="floating-buttons-short-buttons">
				<d2l-button primary>Brew more Coffee!</d2l-button>
			</d2l-floating-buttons>
		</d2l-demo-snippet>

		<d2l-demo-snippet code-view-hidden id="floating-buttons-rtl">
			<div dir="rtl">
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
				<p>I love Coffee!</p>
			</div>
			<d2l-floating-buttons dir="rtl" id="floating-buttons-rtl-buttons">
				<d2l-button primary>Primary Button</d2l-button>
				<d2l-button>Secondary Button</d2l-button>
			</d2l-floating-buttons>
		</d2l-demo-snippet>

		<d2l-demo-snippet code-view-hidden id="floating-buttons">
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<d2l-floating-buttons id="floating-buttons-buttons">
				<d2l-button primary>Primary Button</d2l-button>
				<d2l-button>Secondary Button</d2l-button>
			</d2l-floating-buttons>
		</d2l-demo-snippet>
		<div id="floating-buttons-bottom"></div>

		<d2l-demo-snippet code-view-hidden id="floating-buttons-always-float">
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<p>I love Coffee!</p>
			<d2l-floating-buttons always-float>
				<d2l-button primary>Primary Button</d2l-button>
				<d2l-button>Secondary Button</d2l-button>
			</d2l-floating-buttons>
		</d2l-demo-snippet>
		<div id="floating-buttons-always-float-bottom"></div>
</body>
</html>
