<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../test/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>d2l-empty-state-illustrated-button</title>
    <script type="module">
        import '../../typography/typography.js';
        import '../empty-state-illustrated-button.js';
     </script>
</head>
<body class="d2l-typography">

    <div class="visual-diff">
        <d2l-empty-state-illustrated-button id="default-normal" illustration="tumbleweed" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path." action-text="Create Learning Paths"></d2l-empty-state-illustrated-button>
    </div>
    
    <div class="visual-diff">
        <d2l-empty-state-illustrated-button id="default-custom-svg" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path." action-text="Create Learning Paths">
            <svg width="400" height="100">
                <rect width="400" height="100" style="fill: rgb(0, 0, 255); stroke: rgb(0, 0, 0); stroke-width: 3;" />
            </svg>
        </d2l-empty-state-illustrated-button>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-illustrated-button id="default-no-svg" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path." action-text="Create Learning Paths"></d2l-empty-state-illustrated-button>
    </div>

	<div class="visual-diff">
        <d2l-empty-state-illustrated-button id="default-no-action" illustration="tumbleweed" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path."></d2l-empty-state-illustrated-button>
    </div>

</body>
</html>
