<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>d2l-empty-state-illustrated-link</title>
	<script type="module">
		import '../../typography/typography.js';
		import '../empty-state-illustrated-link.js';
	</script>
	<style>
		.container-small {
			width: 350px;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-empty-state-illustrated-link
			id="normal" illustration-name="desert-road"
			title-text="No Learning Paths Yet"
			description="Get started by clicking below to create your first learning path."
			action-text="Create Learning Paths"
			action-href="https://www.d2l.com/">
		</d2l-empty-state-illustrated-link>
	</div>

	<div class="visual-diff container-small">
		<d2l-empty-state-illustrated-link
			id="small"
			illustration-name="desert-road"
			title-text="No Learning Paths Yet"
			description="Get started by clicking below to create your first learning path."
			action-text="Create Learning Paths"
			action-href="https://www.d2l.com/">
		</d2l-empty-state-illustrated-link>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-illustrated-link
			id="custom-svg"
			title-text="No Learning Paths Yet"
			description="Get started by clicking below to create your first learning path."
			action-text="Create Learning Paths"
			action-href="https://www.d2l.com/">
				<svg width="400" height="100">
					<rect width="400" height="100" style="fill: rgb(0, 0, 255); stroke: rgb(0, 0, 0); stroke-width: 3;" />
				</svg>
		</d2l-empty-state-illustrated-link>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-illustrated-link
			id="no-svg"
			title-text="No Learning Paths Yet"
			description="Get started by clicking below to create your first learning path."
			action-text="Create Learning Paths"
			action-href="https://www.d2l.com/">
		</d2l-empty-state-illustrated-link>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-illustrated-link
			id="no-action-text"
			illustration-name="desert-road"
			title-text="No Learning Paths Yet"
			description="Get started by clicking below to create your first learning path."
			action-href="https://www.d2l.com/">
		</d2l-empty-state-illustrated-link>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-illustrated-link
			id="no-action-href"
			illustration-name="desert-road"
			title-text="No Learning Paths Yet"
			description="Get started by clicking below to create your first learning path."
			action-text="Create Learning Paths">
		</d2l-empty-state-illustrated-link>
	</div>

</body>
</html>
