<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../test/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>d2l-empty-state-simple-link</title>
	<script>
		const rtl = (window.location.search.indexOf('dir=rtl') !== -1);
		if (rtl) document.documentElement.setAttribute('dir', 'rtl');
	</script>
    <script type="module">
        import '../..//typography/typography.js';
        import '../empty-state-simple-link.js';
    </script>
</head>
<body class="d2l-typography">

    <div class="visual-diff">
        <d2l-empty-state-simple-link id="normal" description="There are no assignments to display." action-text="Create New Assignment" action-href="https://www.d2l.com/"></d2l-empty-state-simple-link>
    </div>
    <div class="visual-diff">
        <d2l-empty-state-simple-link id="link-wrap" description="There are no assignments to display. Adding additional text here to wrap the link to the next line." action-text="Create New Assignment" action-href="https://www.d2l.com/"></d2l-empty-state-simple-link>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-link id="wrap" description="There are no assignments to display. Adding additional text here to wrap the link and the text to the next line." action-text="Create New Assignment" action-href="https://www.d2l.com/"></d2l-empty-state-simple-link>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-link id="no-description" action-text="Create New Assignment" action-href="https://www.d2l.com/"></d2l-empty-state-simple-link>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-link id="no-link" description="There are no assignments to display. Adding additional text here to wrap the button and the text to the next line."></d2l-empty-state-simple-link>
    </div>

</body>
</html>
