<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../test/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>d2l-empty-state-simple-link</title>
    <script type="module">
        import '../..//typography/typography.js';
        import '../empty-state-simple-link.js';
    </script>
</head>
<body class="d2l-typography">

    <div class="visual-diff">
        <d2l-empty-state-simple-link id="default-normal" description="There are currently no courses." action-text="Create a Course" action-href="https://www.d2l.com/"></d2l-empty-state-simple-link>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-link id="default-link-wrap" description="There are currently no courses. Adding additional text here to wrap the link to the next line." action-text="Create a Course" action-href="https://www.d2l.com/"></d2l-empty-state-simple-link>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-link id="default-wrap" description="There are currently no courses. Adding additional text here to wrap the link and the text to the next line." action-text="Create a Course" action-href="https://www.d2l.com/"></d2l-empty-state-simple-link>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-link id="default-no-description" action-text="Create a Course" action-href="https://www.d2l.com/"></d2l-empty-state-simple-link>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-link id="default-no-link" description="There are currently no courses. Adding additional text here to wrap the button and the text to the next line."></d2l-empty-state-simple-link>
    </div>

</body>
</html>
