<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>d2l-empty-state-simple</title>
	<script>
		const rtl = (window.location.search.indexOf('dir=rtl') !== -1);
		if (rtl) document.documentElement.setAttribute('dir', 'rtl');
	</script>
	<script type="module">
		import '../empty-state-action-button.js';
		import '../empty-state-action-link.js';
		import '../empty-state-simple.js';
		import '../../typography/typography.js';
	</script>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-empty-state-simple
			id="normal" 
			description="There are no assignments to display.">
		</d2l-empty-state-simple>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-simple
			id="normal-button" 
			description="There are no assignments to display.">
			<d2l-empty-state-action-button
				text="Create New Assignment">
			</d2l-empty-state-action-button>
		</d2l-empty-state-simple>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-simple
			id="normal-button-primary-blocked" 
			description="There are no assignments to display.">
			<d2l-empty-state-action-button
				text="Create New Assignment"
				primary>
			</d2l-empty-state-action-button>
		</d2l-empty-state-simple>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-simple
			id="normal-link" 
			description="There are no assignments to display.">
			<d2l-empty-state-action-link
				text="Create New Assignment"
				href="#">
			</d2l-empty-state-action-link>
		</d2l-empty-state-simple>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-simple
			id="wrap"
			description="There are no assignments to display. Adding additional text here to wrap the text to the next line.">
		</d2l-empty-state-simple>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-simple
			id="wrap-button"
			description="There are no assignments to display. Adding additional text to wrap to the next line.">
			<d2l-empty-state-action-button
				text="Create New Assignment">
			</d2l-empty-state-action-button>
		</d2l-empty-state-simple>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-simple
			id="wrap-link"
			description="There are no assignments to display. Adding additional text to wrap to the next line.">
			<d2l-empty-state-action-link
				text="Create New Assignment"
				href="#">
			</d2l-empty-state-action-link>
		</d2l-empty-state-simple>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-simple
			id="no-description-button">
			<d2l-empty-state-action-button
				text="Create New Assignment">
			</d2l-empty-state-action-button>
		</d2l-empty-state-simple>
	</div>

	<div class="visual-diff">
		<d2l-empty-state-simple
			id="no-description-link">
			<d2l-empty-state-action-link
				text="Create New Assignment"
				href="#">
			</d2l-empty-state-action-link>
		</d2l-empty-state-simple>
	</div>

</body>
</html>
