<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../test/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>d2l-empty-state-simple-button</title>
    <script type="module">
        import '../../typography/typography.js';
        import '../empty-state-simple-button.js';
    </script>
</head>
<body class="d2l-typography">

    <div class="visual-diff">
        <d2l-empty-state-simple-button id="default-normal" description="There are currently no courses." action-text="Create a Course"></d2l-empty-state-simple-button>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-button id="default-button-wrap" description="There are currently no courses. Adding additional text here to wrap the button to the next line." action-text="Create a Course"></d2l-empty-state-simple-button>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-button id="default-wrap" description="There are currently no courses. Adding additional text here to wrap the button and the text to the next line." action-text="Create a Course"></d2l-empty-state-simple-button>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-button id="default-no-description" action-text="Create a Course"></d2l-empty-state-simple-button>
    </div>

    <div class="visual-diff">
        <d2l-empty-state-simple-button id="default-no-action" description="There are currently no courses. Adding additional text here to wrap the button and the text to the next line."></d2l-empty-state-simple-button>
    </div>

</body>
</html>
