<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
	<title>d2l-dropdown unit tests</title>
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script src="/node_modules/mocha/mocha.js"></script>
	<script src="/node_modules/chai/chai.js"></script>
	<script src="/node_modules/@polymer/test-fixture/test-fixture.js"></script>
	<script src="/node_modules/wct-mocha/wct-mocha.js"></script>
	<script type="module" src="../dropdown.js"></script>
	<script type="module" src="../dropdown-content.js"></script>
</head>

<body>

	<test-fixture id="dropdown">
		<template>
			<div>
				<div id="optionallyFocusable">
					<d2l-dropdown>
						<button class="d2l-dropdown-opener"></button>
						<d2l-dropdown-content>
							<p id="non_focusable_inside">a</p>
							<a id="focusable_inside" href="http://www.desire2learn.com">b</a>
						</d2l-dropdown-content>
					</d2l-dropdown>
					<p id="non_focusable_outside">c</p>
					<button id="focusable_outside">out here</button>
				</div>
			</div>
		</template>
	</test-fixture>

	<script type="module">
		describe('d2l-dropdown', () => {

			let dropdown, opener, content;

			beforeEach(() => {
				dropdown = fixture('dropdown');
				opener = dropdown.querySelector('.d2l-dropdown-opener');
				content = dropdown.querySelector('d2l-dropdown-content');
			});

			describe('events', () => {

				it('fires open event when open attribute is added', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						expect(content.opened).to.be.true;
						done();
					});
					content.setAttribute('opened', true);
				});

				it('fires close event when open attribute is removed', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						content.removeAttribute('opened');
					});
					content.addEventListener('d2l-dropdown-close', () => {
						expect(content.opened).to.be.false;
						done();
					});
					content.setAttribute('opened', true);
				});

			});

			describe('toggleOpen', () => {

				it('opens dropdown when closed', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						expect(content.opened).to.be.true;
						done();
					});
					content.toggleOpen();
				});

				it('closes dropdown when open', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						content.toggleOpen();
					});
					content.addEventListener('d2l-dropdown-close', () => {
						expect(content.opened).to.be.false;
						done();
					});
					content.toggleOpen();
				});

			});

			describe('scrollTo', () => {
				it('sets scrollTop to specified value', done => {
					content.addEventListener('d2l-dropdown-position', () => {
						expect(content.__content.scrollTop).to.equal(0);
						content.scrollTo(1);
						// Rounded because on systems using display scaling, scrollTop may give you a decimal value.
						expect(Math.round(content.__content.scrollTop)).to.equal(1);
						done();
					});

					content.boundary = {
						below: 1,
						above: 1
					};
					content.opened = true;
				});
			});

			describe('auto-focus', () => {

				it('focuses on descendant when opened', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						requestAnimationFrame(() => {
							expect(document.activeElement).to.equal(content.querySelector('#focusable_inside'));
							done();
						});
					});
					content.setAttribute('opened', true);
				});

				it('does not focus on descendant when opened and no-auto-focus attribute is specified', done => {
					const activeElement = document.activeElement;
					content.addEventListener('d2l-dropdown-open', () => {
						requestAnimationFrame(() => {
							expect(document.activeElement).to.equal(activeElement);
							done();
						});
					});
					content.setAttribute('no-auto-focus', true);
					content.setAttribute('opened', true);
				});

			});

			describe('auto-close', () => {

				it('should close when focus element outside receives focus', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						requestAnimationFrame(() => {
							dropdown.querySelector('#focusable_outside').focus();
						});
					});
					content.addEventListener('d2l-dropdown-close', () => {
						expect(content.opened).to.be.false;
						done();
					});
					content.setAttribute('opened', true);
				});

				it('should close when element outside is clicked', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						dropdown.querySelector('#non_focusable_outside').click();
					});
					content.addEventListener('d2l-dropdown-close', () => {
						done();
					});
					content.setAttribute('opened', true);
				});

				it('should close when ESC key is pressed', (done) => {
					content.addEventListener('d2l-dropdown-open', async() => {
						setTimeout(() => {
							const eventObj = document.createEvent('Events');
							eventObj.initEvent('keyup', true, true);
							eventObj.keyCode = 27;
							document.dispatchEvent(eventObj);
						}, 0);
					});
					content.addEventListener('d2l-dropdown-close', () => done());
					content.setAttribute('opened', true);
				});

				it('should not close when element outside receives focus and no-auto-close is set', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						requestAnimationFrame(() => {
							dropdown.querySelector('#focusable_outside').focus();
							setTimeout(() => {
								expect(content.opened).to.be.true;
								done();
							}, 100);
						});
					});
					content.setAttribute('no-auto-close', true);
					content.setAttribute('opened', true);
				});

				it('should not close when element inside receives focus', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						requestAnimationFrame(() => {
							content.querySelector('#focusable_inside').focus();
							setTimeout(() => {
								expect(content.opened).to.be.true;
								done();
							}, 100);
						});
					});
					content.setAttribute('opened', true);
				});

				it('should not close when activeElement becomes body', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						// this simulates a click on an element inside the dropdown,
						// which causes focus to be lost and activeElement to become
						// document.body
						requestAnimationFrame(() => {
							document.body.setAttribute('tabindex', '-1');
							document.body.focus();
							setTimeout(() => {
								expect(content.opened).to.be.true;
								done();
							}, 100);
						});
					});
					content.setAttribute('opened', true);
				});

				it('should not close when activeElement becomes focusable ancestor', done => {
					const focusableAncestor = dropdown.querySelector('#optionallyFocusable');
					focusableAncestor.setAttribute('tabindex', '-1');

					content.addEventListener('d2l-dropdown-open', () => {
						requestAnimationFrame(() => {
							// this simulates a click on an element inside the dropdown,
							// which causes focus to be lost and activeElement to become
							// the focusable ancestor of the dropdown
							focusableAncestor.focus();
							setTimeout(() => {
								expect(content.opened).to.be.true;
								done();
							}, 100);
						});
					});
					content.setAttribute('opened', true);
				});

				it('should not close when element inside is clicked', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						dropdown.querySelector('#non_focusable_inside').click();
						setTimeout(() => {
							expect(content.opened).to.be.true;
							done();
						}, 100);
					});
					content.setAttribute('opened', true);
				});

				it('should not close when element outside is clicked and no-auto-close is set', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						dropdown.querySelector('#non_focusable_outside').click();
						setTimeout(() => {
							expect(content.opened).to.be.true;
							done();
						}, 100);
					});
					content.setAttribute('no-auto-close', true);
					content.setAttribute('opened', true);
				});

				it('should focus on container when opened and no focusable light descendant exists', done => {
					content.addEventListener('d2l-dropdown-open', () => {
						const contentContainer = content.__getContentContainer();
						expect(contentContainer.getAttribute('tabindex')).to.equal('-1');
						if (content.shadowRoot) {
							expect(document.activeElement).to.equal(content);
							expect(content.shadowRoot.activeElement).to.equal(contentContainer);
						} else {
							expect(document.activeElement).to.equal(contentContainer);
						}
						done();
					});
					content.renderContent = true;
					content.updateComplete.then(() => {
						content.querySelector('#focusable_inside').setAttribute('tabindex', '-1');
						content.setAttribute('opened', true);
					});
				});

			});

			describe('aria-expanded', () => {
				it('should set aria-expanded on the opener', done => {
					content.addEventListener('d2l-dropdown-open', async() => {
						await opener.updateComplete;
						expect(opener.getAttribute('aria-expanded')).to.equal('true');
						content.opened = false;
					});
					content.addEventListener('d2l-dropdown-close', async() => {
						await opener.updateComplete;
						expect(opener.getAttribute('aria-expanded')).to.equal('false');
						done();
					});
					content.setAttribute('opened', true);
				});
			});

		});
	</script>
</body>

</html>