<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../typography/typography.js';
		import '../dropdown-button.js';
		import '../dropdown-button-subtle.js';
		import '../dropdown-context-menu.js';
		import '../dropdown-content.js';
	</script>
	<title>d2l-dropdown-openers</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
</head>

<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-dropdown-button text="Open!" id="button">
			<d2l-dropdown-content>
				<div>This is button content.</div>
			</d2l-dropdown-content>
		</d2l-dropdown-button>
	</div>
	<div class="visual-diff">
		<d2l-dropdown-button text="Open!" primary id="button-primary">
			<d2l-dropdown-content>
			</d2l-dropdown-content>
		</d2l-dropdown-button>
	</div>
	<div class="visual-diff">
		<d2l-dropdown-button-subtle text="Open!" id="button-subtle">
			<d2l-dropdown-content>
				<div>This is subtle content.</div>
			</d2l-dropdown-content>
		</d2l-dropdown-button-subtle>
	</div>
	<div class="visual-diff">
		<d2l-dropdown-button text="Open!" id="button-rtl" dir="rtl">
			<d2l-dropdown-content dir="rtl">
			</d2l-dropdown-content>
		</d2l-dropdown-button>
	</div>
	<div class="visual-diff">
		<d2l-dropdown-context-menu id="context-menu">
			<d2l-dropdown-content>
				<div>This is context content.</div>
			</d2l-dropdown-content>
		</d2l-dropdown-context-menu>
	</div>
	<div class="visual-diff">
		<d2l-dropdown-context-menu id="context-menu-translucent" translucent>
			<d2l-dropdown-content>
			</d2l-dropdown-content>
		</d2l-dropdown-context-menu>
	</div>
	<div class="visual-diff">
		<d2l-dropdown-context-menu id="context-menu-disabled" disabled>
			<d2l-dropdown-content>
			</d2l-dropdown-content>
		</d2l-dropdown-context-menu>
	</div>
	<div class="visual-diff">
		<d2l-dropdown-context-menu id="context-menu-translucent-disabled" translucent disabled>
			<d2l-dropdown-content>
			</d2l-dropdown-content>
		</d2l-dropdown-context-menu>
	</div>
</body>

</html>