<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../tag-list.js';
			import '../tag-list-item.js';
			import '../test/tag-list-item-mixin-consumer.js';
		</script>
		<style>
			.actions {
				margin-bottom: 1rem;
			}
		</style>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-tag-list">

			<h2>Basic Tag List</h2>

			<div class="actions">
				<button id="add">add tag (first)</button>
				<button id="remove">remove tag (first)</button>
			</div>
			<script>
				let addIndex = 0;
				document.querySelector('#add').addEventListener('click', () => {
					const tag = document.createElement('d2l-tag-list-item');
					tag.text = `Added Tag ${++addIndex}`;
					document.querySelector('d2l-tag-list').insertBefore(tag, document.querySelector('d2l-tag-list').children[0]);
				});

				document.querySelector('#remove').addEventListener('click', () => {
					const children = document.querySelector('d2l-tag-list').children;
					if (children.length === 0) return;
					document.querySelector('d2l-tag-list').removeChild(children[0]);
				});

			</script>
			<d2l-demo-snippet full-width>
				<d2l-tag-list description="A bunch of example tags">
					<d2l-tag-list-item text="Example 1"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 2 - much much much much much much much much longer"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 3"></d2l-tag-list-item>
					<d2l-tag-list-item-mixin-consumer name="Custom Tag List Item"></d2l-tag-list-item-mixin-consumer>
					<d2l-tag-list-item text="Example 5"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 6" description="this is a description"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 7"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 8"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 9"></d2l-tag-list-item>
				</d2l-tag-list>
			</d2l-demo-snippet>

			<h2>Clearable Tag List</h2>
			<d2l-demo-snippet full-width>
				<d2l-tag-list description="A bunch of example tags" clearable>
					<d2l-tag-list-item text="Example 1"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 2 - much much much much much much much much longer"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 3"></d2l-tag-list-item>
					<d2l-tag-list-item-mixin-consumer name="Custom Tag List Item"></d2l-tag-list-item-mixin-consumer>
					<d2l-tag-list-item text="Example 5"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 6" description="this is a description"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 7"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 8"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example 9"></d2l-tag-list-item>
				</d2l-tag-list>
				<script type="module">
					import { getNextFocusable } from '../../../helpers/focus.js';

					document.addEventListener('d2l-tag-list-item-clear', (e) => {
						console.log(`d2l-tag-list-item-clear event dispatched. Value: ${e.target.text}`);
						e.target.parentNode.removeChild(e.target);
					});

					document.addEventListener('d2l-tag-list-clear', (e) => {
						console.log('d2l-tag-list-clear event dispatched.', e.target);
						const nextFocusable = getNextFocusable(e.target, true, true, true);
						[...e.target.children].forEach(tag => {
							e.target.removeChild(tag);
						});
						// consumer must move focus someplace logical
						nextFocusable?.focus();
					});
				</script>
			</d2l-demo-snippet>

			<h2>Tag List with Interactive</h2>
			<d2l-demo-snippet full-width>
				<div grid>
					<d2l-tag-list description="A bunch of example tags" clearable>
						<d2l-tag-list-item text="Example Tag"></d2l-tag-list-item>
						<d2l-tag-list-item text="Longer Example Tag - much much much much much longer"></d2l-tag-list-item>
						<d2l-tag-list-item text="Another Example Tag"></d2l-tag-list-item>
						<d2l-tag-list-item-mixin-consumer name="Custom Tag List Item"></d2l-tag-list-item-mixin-consumer>
						<d2l-tag-list-item text="Example Tag 5"></d2l-tag-list-item>
						<d2l-tag-list-item text="Example Tag 6"></d2l-tag-list-item>
						<d2l-tag-list-item text="Example Tag 7"></d2l-tag-list-item>
					</d2l-tag-list>
				</div>
			</d2l-demo-snippet>

			<h2>Tag List - Custom Tooltip Description</h2>
			<d2l-demo-snippet full-width>
				<d2l-tag-list description="A bunch of example tags">
					<d2l-tag-list-item text="Longer Example Tag - much much much much much longer" description="display text and description value when truncated"></d2l-tag-list-item>
					<d2l-tag-list-item text="Example Tag 5" description="custom tooltip text - display description only when not truncated"></d2l-tag-list-item>
					<d2l-tag-list-item text="Truncated list item without a custom tooltip description"></d2l-tag-list-item>
					<d2l-tag-list-item text="No tooltip"></d2l-tag-list-item>
				</d2l-tag-list>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
