<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../typography/typography.js';
		import '../status-indicator.js';
	</script>
	<title>d2l-status-indicator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-status-indicator id="no-state-subtle" text="due today"></d2l-status-indicator>
	</div>
	<div class="visual-diff">
		<d2l-status-indicator id="default-subtle" state="default" text="due today"></d2l-status-indicator>
	</div>
	<div class="visual-diff">
		<d2l-status-indicator id="success-subtle" state="success" text="complete"></d2l-status-indicator>
	</div>
	<div class="visual-diff">
		<d2l-status-indicator id="alert-subtle" state="alert" text="overdue"></d2l-status-indicator>
	</div>
	<div class="visual-diff">
		<d2l-status-indicator id="none-subtle" state="none" text="closed"></d2l-status-indicator>
	</div>
	<div class="visual-diff">
		<d2l-status-indicator id="no-state-bold" text="due today" bold></d2l-status-indicator>
	</div>
	<div class="visual-diff">
		<d2l-status-indicator id="default-bold" state="default" text="due today" bold></d2l-status-indicator>
	</div>
	<div class="visual-diff">
		<d2l-status-indicator id="success-bold" state="success" text="complete" bold></d2l-status-indicator>
	</div>
	<div class="visual-diff">
		<d2l-status-indicator id="alert-bold" state="alert" text="overdue" bold></d2l-status-indicator>
	</div>
	<div class="visual-diff">
		<d2l-status-indicator id="none-bold" state="none" text="closed" bold></d2l-status-indicator>
	</div>
</body>
</html>