<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../demo/demo-page.js';
			import '../hierarchical-view.js';
		</script>
		<style>
			#view1, #view2a, #view2b, #view3, #view4 {
				border-radius: 0.3rem;
				box-sizing: border-box;
				font-size: 1rem;
			}
			#view1 > div, #view2a > div, #view2b > div, #view3 > div, #view4 > div {
				box-sizing: border-box;
				padding: 1rem;
			}
			#view1 {
				background-color: #c0dfd9;
				border: 1px solid black;
				border-radius: 0.3rem;
			}
			#view2a {
				background-color: #e9ece5;
			}
			#view2b {
				background-color: #b3c2bf;
			}
			#view3 {
				background-color: #3b3a36;
				color: white;
			}
			#view4 {
				background-color: orange;
				color: white;
			}
			#config_buttons > button {
				margin-right: 0.5rem;
			}
			.content {
				border: 1px dotted black;
				font-size: 0.8rem;
			}
			.buttons {
				float: right;
			}
			.info {
				font-size: 0.7rem;
			}
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-hierarchical-view">

			<h2>Hierarchical View</h2>

			<div id="config_buttons">
				<button id="btn-append-content">Append Content</button>
			</div>

			<d2l-demo-snippet>
				<d2l-hierarchical-view id="view1">
					<div style="min-height: 200px;">
						<div class="buttons">
							<button id="btn-view-2a">view 2a</button>
							<button id="btn-view-2b">view 2b</button>
						</div>
						view 1
						<div class="info">min-height: 200</div>
						<div>
							<d2l-hierarchical-view id="view2a">
								<div style="min-height: 400px;">
									<div class="buttons">
										<button id="btn-parent-view-2a">view 1 (parent)</button>
										<button id="btn-view-3">view 3</button>
									</div>
									view 2a
									<div class="info">min-height: 400</div>
									<d2l-hierarchical-view id="view3">
										<div style="min-height: 300px;">
											<div class="buttons">
												<button id="btn-parent-view-3">view 2a (parent)</button>
												<button id="btn-view-4">view 4</button>
											</div>
											view 3
											<div class="info">min-height: 300</div>
											<d2l-hierarchical-view id="view4">
												<div style="min-height: 300px;">
													<div class="buttons">
														<button id="btn-parent-view-4">view 3 (parent)</button>
													</div>
													view 4
													<div class="info">min-height: 300</div>
												</div>
											</d2l-hierarchical-view>
										</div>
									</d2l-hierarchical-view>
								</div>
							</d2l-hierarchical-view>
							<d2l-hierarchical-view id="view2b">
								<div style="min-height: 200px;">
									<div class="buttons">
										<button id="btn-parent-view-2b">view 1 (parent)</button>
									</div>
									view 2b
									<div class="info">min-height: 200</div>
								</div>
							</d2l-hierarchical-view>
						</div>
					</div>
				</d2l-hierarchical-view>
			</d2l-demo-snippet>
		</d2l-demo-page>

		<script>
			window.requestAnimationFrame(() => {
				const focusFirstButton = function(e) {
					const button = e.detail.activeView.querySelector('button');
					if (button) {
						button.focus();
					}
				};
				const rootView = document.getElementById('view1');
				rootView.addEventListener('d2l-hierarchical-view-show-complete', (e) => {
					focusFirstButton(e);
				});
				rootView.addEventListener('d2l-hierarchical-view-hide-complete', (e) => {
					focusFirstButton(e);
				});
				const config_buttons = document.getElementById('config_buttons');
				const views = document.querySelectorAll('d2l-hierarchical-view');
				for (let i = 0; i < views.length; i++) {
					const button = document.createElement('button');
					button.appendChild(document.createTextNode(`show ${views[i].id}`));
					button.setAttribute('data-view-id', views[i].id);
					button.addEventListener('click', (e) => {
						document.getElementById(e.target.getAttribute('data-view-id')).show();
					});
					config_buttons.appendChild(button);
				}
				document.getElementById('btn-view-2a').addEventListener('click', () => {
					showSubView('view2a');
				});
				document.getElementById('btn-view-2b').addEventListener('click', () => {
					showSubView('view2b');
				});
				document.getElementById('btn-view-3').addEventListener('click', () => {
					showSubView('view3');
				});
				document.getElementById('btn-view-4').addEventListener('click', () => {
					showSubView('view4');
				});
				document.getElementById('btn-parent-view-2a').addEventListener('click', () => {
					showParentView('view2a');
				});
				document.getElementById('btn-parent-view-3').addEventListener('click', () => {
					showParentView('view3');
				});
				document.getElementById('btn-parent-view-4').addEventListener('click', () => {
					showParentView('view4');
				});
				document.getElementById('btn-parent-view-2b').addEventListener('click', () => {
					showParentView('view2b');
				});
				document.getElementById('btn-append-content').addEventListener('click', () => {
					appendContent('view1');
				});
			});

			function showSubView(id) {
				const view = document.getElementById(id);
				view.show();
			}
			function showParentView(id) {
				const view = document.getElementById(id);
				view.hide();
			}
			function appendContent(id) {
				const content = document.createElement('div');
				content.className = 'content';
				content.appendChild(document.createTextNode('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'));
				const view = document.getElementById(id);
				const activeView = view.getActiveView();
				activeView.appendChild(content);
			}
		</script>
	</body>
</html>
