<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script>
			if (window.location.search.includes('dir=rtl')) {
				document.documentElement.setAttribute('dir', 'rtl');
			}
		</script>
		<script type="module">
			import '../../typography/typography.js';
			import '../demo/demo-list-nested-iterations-helper.js';
		</script>
		<title>d2l-list-nested</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">

		<div class="visual-diff">
			<d2l-demo-list-nested-iterations-helper id="non-draggable"></d2l-demo-list-nested-iterations-helper>
		</div>

		<div class="visual-diff">
			<d2l-demo-list-nested-iterations-helper id="draggable" draggable></d2l-demo-list-nested-iterations-helper>
		</div>

	</body>
</html>
