<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script>
			if (window.location.search.includes('dir=rtl')) {
				document.documentElement.setAttribute('dir', 'rtl');
			}
		</script>
		<script type="module">
			import '../../colors/colors.js';
			import '../../button/button-icon.js';
			import '../../dropdown/dropdown.js';
			import '../../dropdown/dropdown-content.js';
			import '../../link/link.js';
			import '../../paging/pager-load-more.js';
			import '../../tooltip/tooltip.js';
			import '../../typography/typography.js';
			import '../list.js';
			import '../list-controls.js';
			import '../list-item.js';
			import '../list-item-button.js';
			import '../list-item-content.js';
		</script>
		<title>d2l-list</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<style>
			.clamp-single {
				overflow: hidden;
				overflow-wrap: anywhere;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.clamp-multi {
				-webkit-box-orient: vertical;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				overflow: hidden;
				overflow-wrap: anywhere;
			}
		</style>
	</head>
	<body class="d2l-typography">

		<div style="width: 400px;">
			<div class="visual-diff" id="stickyControls">
				<div style="height: 200px; overflow: scroll;">
					<d2l-list style="padding: 0 20px;">
						<d2l-list-controls slot="controls"></d2l-list-controls>
						<d2l-list-item label="Item 1" selectable key="1">
							<d2l-list-item-content>
								<div>Item 1</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="Item 2" selectable key="2">
							<d2l-list-item-content>
								<div>Item 2</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="Item 3" selectable key="3">
							<d2l-list-item-content>
								<div>Item 3</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</div>
			</div>

			<div class="visual-diff" id="stickyControlsColor">
				<div style="height: 200px; overflow: scroll;">
					<d2l-list style="padding: 0 20px;">
						<d2l-list-controls slot="controls"></d2l-list-controls>
						<d2l-list-item label="Item 1" selectable key="1" color="#ff0000">
							<d2l-list-item-content>
								<div>Item 1</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="Item 2" selectable key="2">
							<d2l-list-item-content>
								<div>Item 2</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="Item 3" selectable key="3">
							<d2l-list-item-content>
								<div>Item 3</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</div>
			</div>

			<div class="visual-diff" id="stickyControlsSeparatorsExtended">
				<div style="height: 200px; overflow: scroll;">
					<d2l-list style="padding: 0 20px;" extend-separators>
						<d2l-list-controls slot="controls"></d2l-list-controls>
						<d2l-list-item label="Item 1" selectable key="1">
							<d2l-list-item-content>
								<div>Item 1</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="Item 2" selectable key="2">
							<d2l-list-item-content>
								<div>Item 2</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="Item 3" selectable key="3">
							<d2l-list-item-content>
								<div>Item 3</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</div>
			</div>

			<div class="visual-diff" id="stickyControlsSeparatorsExtendedColor">
				<div style="height: 200px; overflow: scroll;">
					<d2l-list style="padding: 0 20px;" extend-separators>
						<d2l-list-controls slot="controls"></d2l-list-controls>
						<d2l-list-item label="Item 1" selectable key="1">
							<d2l-list-item-content>
								<div>Item 1</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="Item 2" selectable key="2" color="#00ff00">
							<d2l-list-item-content>
								<div>Item 2</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="Item 3" selectable key="3">
							<d2l-list-item-content>
								<div>Item 3</div>
								<div slot="supporting-info">Supporting info</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</div>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="simple">
				<d2l-list>
					<d2l-list-item color="#0000ff">Item 1</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="noPadding">
				<d2l-list>
					<d2l-list-item padding-type="no-padding">Item 1</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="illustration">
				<d2l-list>
					<d2l-list-item>
						<div>Item 1</div>
						<div slot="illustration" style="background-color: blue; height: 400px; width: 400px;"></div>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="separatorsNone">
				<d2l-list separators="none">
					<d2l-list-item color="#00ff00">Item 1</d2l-list-item>
					<d2l-list-item color="#00ff00">Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="separatorsAll">
				<d2l-list separators="all">
					<d2l-list-item>Item 1</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="separatorsBetween">
				<d2l-list separators="between">
					<d2l-list-item>Item 1</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="separatorsExtended">
				<d2l-list extend-separators>
					<d2l-list-item color="#00ff00">Item 1</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="actions">
				<d2l-list>
					<d2l-list-item>
						<div>Item 1</div>
						<div slot="actions">
							<d2l-link href="http://www.d2l.com">Action 1</d2l-link>
							<d2l-button-icon text="Action 2" icon="tier1:preview"></d2l-button-icon>
						</div>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="actionsSeparatorsExtended">
				<d2l-list extend-separators>
					<d2l-list-item>
						<div>Item 1</div>
						<div slot="actions">
							<d2l-link href="http://www.d2l.com">Action 1</d2l-link>
							<d2l-button-icon text="Action 2" icon="tier1:preview"></d2l-button-icon>
						</div>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="actionsRtl" dir="rtl">
				<d2l-list dir="rtl">
					<d2l-list-item dir="rtl">
						<div slot="illustration" style="background-color: blue; height: 400px; width: 400px;"></div>
						<div>Item 1</div>
						<div slot="actions">
							<d2l-button-icon text="Action 1" icon="tier1:preview"></d2l-button-icon>
							<d2l-button-icon text="Action 2" icon="tier1:more"></d2l-button-icon>
						</div>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="pager">
				<d2l-list>
					<d2l-list-item label="Item 1" selectable key="1">
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="supporting-info">Supporting info</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item label="Item 2" selectable key="2">
						<d2l-list-item-content>
							<div>Item 2</div>
							<div slot="supporting-info">Supporting info</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-pager-load-more slot="pager" has-more page-size="5"></d2l-pager-load-more>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="pagerSeparatorsExtended">
				<d2l-list extend-separators>
					<d2l-list-item label="Item 1" selectable key="1">
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="supporting-info">Supporting info</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item label="Item 2" selectable key="2">
						<d2l-list-item-content>
							<div>Item 2</div>
							<div slot="supporting-info">Supporting info</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-pager-load-more slot="pager" has-more page-size="5"></d2l-pager-load-more>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="itemContent">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="secondary">Secondary Info for item 1</div>
							<div slot="supporting-info">Supporting info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="itemContentNoPadding">
				<d2l-list>
					<d2l-list-item padding-type="none">
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="secondary">Secondary Info for item 1</div>
							<div slot="supporting-info">Supporting info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="itemContentLongWrap">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<div>Overflow: wrap. Primary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div>
							<div slot="secondary">Overflow: wrap. Secondary Info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div>
							<div slot="supporting-info">Overflow: wrap. Supporting Info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="itemContentLongSingleLineEllipsis">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<div class="clamp-single">Overflow: single-line, ellipsis. Primary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div>
							<div slot="secondary" class="clamp-single">Overflow: single-line, ellipsis. Secondary Info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div>
							<div slot="supporting-info" class="clamp-single">Overflow: single-line, ellipsis. Supporting Info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="itemContentLongUnbreakableSingleLineEllipsis">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<div class="clamp-single">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
							<div slot="secondary" class="clamp-single">bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</div>
							<div slot="supporting-info" class="clamp-single">ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="itemContentLongSingleLineEllipsisNested">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<div><div class="clamp-single">Overflow: single-line, ellipsis. Primary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div></div>
							<div slot="secondary"><div class="clamp-single">Overflow: single-line, ellipsis. Secondary Info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div></div>
							<div slot="supporting-info"><div class="clamp-single">Overflow: single-line, ellipsis. Supporting Info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div></div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="itemContentShortSingleLineEllipsis">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<div class="clamp-single">Overflow: single-line, ellipsis. Primary text.</div>
							<div slot="secondary" class="clamp-single">Overflow: single-line, ellipsis. Secondary Info.</div>
							<div slot="supporting-info" class="clamp-single">Overflow: single-line, ellipsis. Supporting Info.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="itemContentLongMultiLineEllipsis">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<div class="clamp-multi">Overflow: multi-line, ellipsis. Primary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div>
							<div slot="secondary" class="clamp-multi">Overflow: multi-line, ellipsis. Secondary Info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div>
							<div slot="supporting-info" class="clamp-multi">Overflow: multi-line, ellipsis. Supporting Info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="href">
				<d2l-list>
					<d2l-list-item href="http://www.d2l.com">
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="supporting-info">Secondary info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="button">
				<d2l-list>
					<d2l-list-item-button>
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="supporting-info">Secondary info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item-button>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="buttonDisabled">
				<d2l-list>
					<d2l-list-item-button button-disabled>
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="supporting-info">Secondary info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item-button>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectable">
				<d2l-list>
					<d2l-list-item label="Item 1" selectable key="1" color="#00ff00">Item 1</d2l-list-item>
					<d2l-list-item label="Item 2" selection-disabled selectable key="2">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableHref">
				<d2l-list>
					<d2l-list-item href="http://www.d2l.com" selectable key="href" label="Introductory Earth Sciences">
						<d2l-list-item-content>Introductory Earth Sciences</d2l-list-item-content>
						<div slot="actions">
						  <d2l-button-icon text="My Button" icon="tier1:more"></d2l-button-icon>
						</div>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableButton">
				<d2l-list>
					<d2l-list-item-button label="Item 2" selection-disabled selectable key="2">Item 3</d2l-list-item-button>
					<d2l-list-item-button label="Item 2" selection-disabled button-disabled selectable key="2">Item 4</d2l-list-item-button>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="draggable">
				<d2l-list>
					<d2l-list-item label="Item 1" draggable key="1">Item 1</d2l-list-item>
					<d2l-list-item label="Item 2" draggable key="2">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="draggableSelectable">
				<d2l-list>
					<d2l-list-item label="Item 1" draggable selectable key="1" href="http://www.d2l.com">Item 1</d2l-list-item>
					<d2l-list-item label="Item 1" draggable selectable key="2" href="http://www.d2l.com">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="draggableColorIndicator">
				<d2l-list>
					<d2l-list-item label="Item 1" draggable key="1" color="#ff0000">Item 1</d2l-list-item>
					<d2l-list-item label="Item 2" draggable key="2">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="draggableSelectableColorIndicator">
				<d2l-list>
					<d2l-list-item label="Item 1" draggable selectable key="1" href="http://www.d2l.com" color="#ff0000aa">Item 1</d2l-list-item>
					<d2l-list-item label="Item 1" draggable selectable key="2" href="http://www.d2l.com">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="draggableSeparatorsExtended">
				<d2l-list extend-separators>
					<d2l-list-item label="Item 1" draggable selectable key="1">Item 1</d2l-list-item>
					<d2l-list-item label="Item 2" draggable selectable key="2" color="#00ff00">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableControls">
				<d2l-list>
					<d2l-list-controls slot="controls" no-sticky></d2l-list-controls>
					<d2l-list-item label="Item 1" selectable key="1">Item 1</d2l-list-item>
					<d2l-list-item label="Item 2" selection-disabled selectable key="2">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="noSelectableControls">
				<d2l-list>
					<d2l-list-controls slot="controls" no-selection no-sticky>
						<d2l-button-subtle text="Action"></d2l-button-subtle>
					</d2l-list-controls>
					<d2l-list-item label="Item 1">Item 1</d2l-list-item>
					<d2l-list-item label="Item 2">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableSelected">
				<d2l-list>
					<d2l-list-item label="Item 1" selectable key="1" selected>Item 1</d2l-list-item>
					<d2l-list-item label="Item 2" selection-disabled selectable key="2" selected color="#00ff00">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableSomeSelectedControls">
				<d2l-list>
					<d2l-list-controls slot="controls" no-sticky></d2l-list-controls>
					<d2l-list-item label="Item 1" selectable key="1" selected>Item 1</d2l-list-item>
					<d2l-list-item label="Item 2" selection-disabled selectable key="2" color="#00ff00">Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableAllSelectedControls">
				<d2l-list>
					<d2l-list-controls slot="controls" no-sticky></d2l-list-controls>
					<d2l-list-item label="Item 1" selectable key="1" selected>Item 1</d2l-list-item>
					<d2l-list-item label="Item 2" selection-disabled selectable key="2" selected>Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableAllSelectedControlsPages">
				<d2l-list item-count="50">
					<d2l-list-controls slot="controls" select-all-pages-allowed no-sticky></d2l-list-controls>
					<d2l-list-item label="Item 1" selectable key="1" selected>Item 1</d2l-list-item>
					<d2l-list-item label="Item 2" selection-disabled selectable key="2" selected>Item 2</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableItemContent">
				<d2l-list>
					<d2l-list-item label="Item 1" selectable key="1">
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="supporting-info">Secondary info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableSkeleton">
				<d2l-list>
					<d2l-list-item label="Item 1" selectable key="1" skeleton>
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="supporting-info">Secondary info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px;">
			<div class="visual-diff" id="selectableSeparatorsExtended">
				<d2l-list extend-separators>
					<d2l-list-item label="Item 1" selectable key="1">Item 1</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 900px;">
			<div class="visual-diff" id="breakpoint-842">
				<d2l-list>
					<d2l-list-item color="#00ff00">
						<div style="background: blue; height: 400px; width: 400px;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="supporting-info">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item>
						<div style="background: blue; height: 42px; width: 42px;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="supporting-info">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 700px;">
			<div class="visual-diff" id="breakpoint-636">
				<d2l-list>
					<d2l-list-item>
						<div style="background: blue; height: 400px; width: 400px;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="supporting-info">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item>
						<div style="background: blue; height: 42px; width: 42px;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="supporting-info">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="breakpoint-580">
				<d2l-list>
					<d2l-list-item>
						<div style="background: blue; height: 400px; width: 400px;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="supporting-info">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item>
						<div style="background: blue; height: 42px; width: 42px;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="supporting-info">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 490px;">
			<div class="visual-diff" id="breakpoint-0">
				<d2l-list>
					<d2l-list-item>
						<div style="background: blue; height: 400px; width: 400px;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="supporting-info">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item>
						<div style="background: blue; height: 42px; width: 42px;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="supporting-info">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="height: 200px; width: 400px;">
			<div class="visual-diff" id="dropdown-tooltips">
				<d2l-list>
					<d2l-list-item>
						Item 1
						<div slot="actions">
							<d2l-dropdown id="open-down">
								<button id="dropdown-btn-down" class="d2l-dropdown-opener">Open</button>
								<d2l-tooltip for="dropdown-btn-down" position="bottom">Cookie pie apple pie</d2l-tooltip>
								<d2l-dropdown-content>
									donut gummies
								</d2l-dropdown-content>
							</d2l-dropdown>
						</div>
					</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>
						Item 3
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="nested-none-selected">
				<d2l-list>
					<d2l-list-controls slot="controls" no-sticky></d2l-list-controls>
					<d2l-list-item selectable key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm.</div>
						</d2l-list-item-content>
						<div slot="actions">
							<button>action 1</button>
							<button>action 2</button>
						</div>
						<d2l-list slot="nested" separators="between">
							<d2l-list-item selectable key="L2-1" color="#00ff00">
								<d2l-list-item-content>
									<div>Level 2, Item 1</div>
									<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
								</d2l-list-item-content>
							</d2l-list-item>
							<d2l-list-item selectable key="L2-2">
								<d2l-list-item-content>
									<div>Level 2, Item 2</div>
									<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested" separators="between">
									<d2l-list-item selectable key="L3-1">
										<d2l-list-item-content>
											<div>Level 3, Item 1</div>
											<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
										</d2l-list-item-content>
									</d2l-list-item>
									<d2l-list-item selectable key="L3-2">
										<d2l-list-item-content>
											<div>Level 3, Item 2</div>
											<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
										</d2l-list-item-content>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="nested-some-selected">
				<d2l-list>
					<d2l-list-controls slot="controls" no-sticky></d2l-list-controls>
					<d2l-list-item selectable key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm.</div>
						</d2l-list-item-content>
						<div slot="actions">
							<button>action 1</button>
							<button>action 2</button>
						</div>
						<d2l-list slot="nested" separators="between">
							<d2l-list-item selectable key="L2-1">
								<d2l-list-item-content>
									<div>Level 2, Item 1</div>
									<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
								</d2l-list-item-content>
							</d2l-list-item>
							<d2l-list-item selectable key="L2-2">
								<d2l-list-item-content>
									<div>Level 2, Item 2</div>
									<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested" separators="between">
									<d2l-list-item selectable key="L3-1">
										<d2l-list-item-content>
											<div>Level 3, Item 1</div>
											<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
										</d2l-list-item-content>
									</d2l-list-item>
									<d2l-list-item selectable selected key="L3-2" color="#00ff00">
										<d2l-list-item-content>
											<div>Level 3, Item 2</div>
											<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
										</d2l-list-item-content>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="nested-all-selected">
				<d2l-list>
					<d2l-list-controls slot="controls" no-sticky></d2l-list-controls>
					<d2l-list-item selectable key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm.</div>
						</d2l-list-item-content>
						<div slot="actions">
							<button>action 1</button>
							<button>action 2</button>
						</div>
						<d2l-list slot="nested" separators="between">
							<d2l-list-item selectable selected key="L2-1">
								<d2l-list-item-content>
									<div>Level 2, Item 1</div>
									<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
								</d2l-list-item-content>
							</d2l-list-item>
							<d2l-list-item selectable key="L2-2">
								<d2l-list-item-content>
									<div>Level 2, Item 2</div>
									<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested" separators="between">
									<d2l-list-item selectable selected key="L3-1">
										<d2l-list-item-content>
											<div>Level 3, Item 1</div>
											<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
										</d2l-list-item-content>
									</d2l-list-item>
									<d2l-list-item selectable selected key="L3-2">
										<d2l-list-item-content>
											<div>Level 3, Item 2</div>
											<div slot="supporting-info">Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl.</div>
										</d2l-list-item-content>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="expand-collapse-default">
				<d2l-list>
					<d2l-list-item expandable key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Supporting text for top level list item</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="expand-collapse-skeleton">
				<d2l-list>
					<d2l-list-item skeleton expandable key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Supporting text for top level list item</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="expand-collapse-default-expanded">
				<d2l-list>
					<d2l-list-item expandable expanded key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Supporting text for top level list item</div>
						</d2l-list-item-content>
						<d2l-list slot="nested">
							<d2l-list-item key="L2-1">
								<d2l-list-item-content>
									<div>Level 2, Item 1</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
							</d2l-list-item>
							<d2l-list-item expandable expanded key="L2-2">
								<d2l-list-item-content>
									<div>Level 2, Item 2</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested">
									<d2l-list-item key="L3-1">
										<d2l-list-item-content>
											<div>Level 3, Item 1</div>
										</d2l-list-item-content>
									</d2l-list-item>
									<d2l-list-item key="L3-2">
										<d2l-list-item-content>
											<div>Level 3, Item 2</div>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="expand-collapse-default-expanded-multiple-nested-lists">
				<d2l-list>
					<d2l-list-item expandable expanded key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Supporting text for top level list item</div>
						</d2l-list-item-content>
						<d2l-list slot="nested">
							<d2l-list-item key="L2-1">
								<d2l-list-item-content>
									<div>Level 2, Item 1</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
							</d2l-list-item>
							<d2l-list-item expandable expanded key="L2-2" color="#ff0000">
								<d2l-list-item-content>
									<div>Level 2, Item 2</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested">
									<d2l-list-item key="L3-1">
										<d2l-list-item-content>
											<div>Level 3, Item 1</div>
										</d2l-list-item-content>
									</d2l-list-item>
									<d2l-list-item key="L3-2">
										<d2l-list-item-content>
											<div>Level 3, Item 2</div>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
							<d2l-list-item expandable expanded key="L2-3">
								<d2l-list-item-content>
									<div>Level 2, Item 3</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested">
									<d2l-list-item key="L3-1b">
										<d2l-list-item-content>
											<div>Level 3, Item 1b</div>
										</d2l-list-item-content>
									</d2l-list-item>
									<d2l-list-item key="L3-2b">
										<d2l-list-item-content>
											<div>Level 3, Item 2b</div>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="expand-collapse-selectable">
				<d2l-list>
					<d2l-list-item expandable expanded selectable key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Supporting text for top level list item</div>
						</d2l-list-item-content>
						<d2l-list slot="nested">
							<d2l-list-item selectable key="L2-1">
								<d2l-list-item-content>
									<div>Level 2, Item 1</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
							</d2l-list-item>
							<d2l-list-item expandable expanded selectable key="L2-2">
								<d2l-list-item-content>
									<div>Level 2, Item 2</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested">
									<d2l-list-item selectable key="L3-1">
										<d2l-list-item-content>
											<div>Level 3, Item 1</div>
										</d2l-list-item-content>
									</d2l-list-item>
									<d2l-list-item selectable key="L3-2">
										<d2l-list-item-content>
											<div>Level 3, Item 2</div>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="expand-collapse-draggable">
				<d2l-list>
					<d2l-list-item expandable expanded draggable key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Supporting text for top level list item</div>
						</d2l-list-item-content>
						<d2l-list slot="nested">
							<d2l-list-item draggable key="L2-1" color="#0000ff">
								<d2l-list-item-content>
									<div>Level 2, Item 1</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
							</d2l-list-item>
							<d2l-list-item expandable expanded draggable key="L2-2">
								<d2l-list-item-content>
									<div>Level 2, Item 2</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested">
									<d2l-list-item draggable key="L3-1">
										<d2l-list-item-content>
											<div>Level 3, Item 1</div>
										</d2l-list-item-content>
									</d2l-list-item>
									<d2l-list-item draggable key="L3-2">
										<d2l-list-item-content>
											<div>Level 3, Item 2</div>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="expand-collapse-selectable-draggable">
				<d2l-list>
					<d2l-list-item expandable expanded selectable draggable key="L1-1">
						<d2l-list-item-content>
							<div>Level 1, Item 1</div>
							<div slot="supporting-info">Supporting text for top level list item</div>
						</d2l-list-item-content>
						<d2l-list slot="nested">
							<d2l-list-item selectable draggable key="L2-1">
								<d2l-list-item-content>
									<div>Level 2, Item 1</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
							</d2l-list-item>
							<d2l-list-item expandable expanded selectable draggable key="L2-2" color="#129044">
								<d2l-list-item-content>
									<div>Level 2, Item 2</div>
									<div slot="supporting-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer enim.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested">
									<d2l-list-item selectable draggable key="L3-1">
										<d2l-list-item-content>
											<div>Level 3, Item 1</div>
										</d2l-list-item-content>
									</d2l-list-item>
									<d2l-list-item selectable draggable key="L3-2">
										<d2l-list-item-content>
											<div>Level 3, Item 2</div>
										</d2l-list-item-content>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="color-extend-separators-nested">
				<d2l-list extend-separators>
					<d2l-list-item key="L1-1" label="Label for L1-1">
						<d2l-list-item-content>
							<div>Biology (L1)</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item key="L1-2" label="Label for L1-2" color="#00ff00ab" expandable expanded>
						<d2l-list-item-content>
							<div>Earth Sciences (L1)</div>
							<div slot="supporting-info">Earth science or geoscience includes all fields of natural science related to planet Earth. This is a branch of science dealing with the physical and chemical constitution of Earth and its atmosphere. Earth science can be considered to be a branch of planetary science, but with a much older history.</div>
						</d2l-list-item-content>
						<d2l-list slot="nested" grid separators="all" extend-separators>
							<d2l-list-item key="L2-1" label="Label for L2-1" color="#ffba59" >
								<d2l-list-item-content>
									<div>Introductory Earth Sciences (L2)</div>
									<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain building, glaciation and weathering. Students will gain an appreciation of how these processes have controlled the evolution of our planet and the role of geology in meeting society's current and future demand for sustainable energy and mineral resources.</div>
								</d2l-list-item-content>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="color-extend-separators-nested-selectable">
				<d2l-list extend-separators>
					<d2l-list-controls slot="controls">
						<d2l-selection-action icon="tier1:bookmark-hollow" text="Bookmark" requires-selection></d2l-selection-action>
						<d2l-selection-action icon="tier1:gear" text="Settings"></d2l-selection-action>
					</d2l-list-controls>
					<d2l-list-item key="L1-1" label="Label for L1-1" selectable>
						<d2l-list-item-content>
							<div>Biology (L1)</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item key="L1-2" label="Label for L1-2" color="#00ff00ab" expandable expanded selectable>
						<d2l-list-item-content>
							<div>Earth Sciences (L1)</div>
							<div slot="supporting-info">Earth science or geoscience includes all fields of natural science related to planet Earth. This is a branch of science dealing with the physical and chemical constitution of Earth and its atmosphere. Earth science can be considered to be a branch of planetary science, but with a much older history.</div>
						</d2l-list-item-content>
						<d2l-list slot="nested" grid separators="all" extend-separators>
							<d2l-list-item key="L2-1" label="Label for L2-1" color="#ffba59" selectable>
								<d2l-list-item-content>
									<div>Introductory Earth Sciences (L2)</div>
									<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain building, glaciation and weathering. Students will gain an appreciation of how these processes have controlled the evolution of our planet and the role of geology in meeting society's current and future demand for sustainable energy and mineral resources.</div>
								</d2l-list-item-content>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px;">
			<div class="visual-diff" id="color-extend-separators-nested-selectable-draggable">
				<d2l-list extend-separators>
					<d2l-list-controls slot="controls">
						<d2l-selection-action icon="tier1:bookmark-hollow" text="Bookmark" requires-selection></d2l-selection-action>
						<d2l-selection-action icon="tier1:gear" text="Settings"></d2l-selection-action>
					</d2l-list-controls>
					<d2l-list-item selectable key="L1-1" label="Label for L1-1" draggable>
						<d2l-list-item-content>
							<div>Biology (L1)</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item selectable key="L1-2" label="Label for L1-2" expandable expanded color="#00ff00ab" draggable>
						<d2l-list-item-content>
							<div>Earth Sciences (L1)</div>
							<div slot="supporting-info">Earth science or geoscience includes all fields of natural science related to planet Earth. This is a branch of science dealing with the physical and chemical constitution of Earth and its atmosphere. Earth science can be considered to be a branch of planetary science, but with a much older history.</div>
						</d2l-list-item-content>
						<d2l-list slot="nested" grid separators="all" extend-separators>
							<d2l-list-item selectable key="L2-1" label="Label for L2-1" color="#ffba59" expandable draggable>
								<d2l-list-item-content>
									<div>Introductory Earth Sciences (L2)</div>
									<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain building, glaciation and weathering. Students will gain an appreciation of how these processes have controlled the evolution of our planet and the role of geology in meeting society's current and future demand for sustainable energy and mineral resources.</div>
								</d2l-list-item-content>
								<d2l-list slot="nested" grid separators="all">
									<d2l-list-item selectable key="L3-1" label="Label for L3-1" color="#ffba59" draggable>
										<d2l-list-item-content>
											<div>Glaciation (L3)</div>
											<div slot="supporting-info">Supporting Info</div>
										</d2l-list-item-content>
									</d2l-list-item>
								</d2l-list>
							</d2l-list-item>
							<d2l-list-item selectable key="L2-2" label="Label for L2-2" color="#ffba59" draggable>
								<d2l-list-item-content>
									<div>GlaciationB (L2)</div>
									<div slot="supporting-info">Supporting Info</div>
								</d2l-list-item-content>
							</d2l-list-item>
						</d2l-list>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

	</body>
</html>
