<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script type="module">
			import '../list-item-drag-image.js';
		</script>
		<title>d2l-list-item-drag-image</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<script type="module">
			import '../../typography/typography.js';
		</script>
		<style>
			.visual-diff {
				height: 80px;
				position: relative;
				width: 350px;
			}
			d2l-list-item-drag-image {
				left: 0 !important;
			}
		</style>
	</head>
	<body class="d2l-typography">
		<div class="visual-diff" id="one-digit">
			<d2l-list-item-drag-image count="1"></d2l-list-item-drag-image>
		</div>
		<div class="visual-diff" id="two-digit">
			<d2l-list-item-drag-image count="10"></d2l-list-item-drag-image>
		</div>
		<div class="visual-diff" id="four-digit">
			<d2l-list-item-drag-image count="1000"></d2l-list-item-drag-image>
		</div>
		<div class="visual-diff" id="rtl">
			<d2l-list-item-drag-image count="1000" dir="rtl"></d2l-list-item-drag-image>
		</div>
	</body>
</html>
