<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../list-item-drag-handle.js';
		</script>
		<title>d2l-list-item-drag-handel</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff" id="drag-handle" style="width: 50px">
			<d2l-list-item-drag-handle></d2l-list-item-drag-handle>
		</div>
	</body>
</html>
