<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../colors/colors.js';
			import '../../button/button-icon.js';
			import '../../dropdown/dropdown.js';
			import '../../dropdown/dropdown-content.js';
			import '../../link/link.js';
			import '../../tooltip/tooltip.js';
			import '../../typography/typography.js';
			import '../list.js';
			import '../list-item.js';
			import '../list-item-content.js';
		</script>
		<title>d2l-list</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">

		<div style="width: 400px">
			<div class="visual-diff" id="simple">
				<d2l-list>
					<d2l-list-item>Item 1</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="actions">
				<d2l-list>
					<d2l-list-item>
						<div>Item 1</div>
						<div slot="actions">
							<d2l-link href="http://www.d2l.com">Action 1</d2l-link>
							<d2l-button-icon text="Action 2" icon="d2l-tier1:preview"></d2l-button-icon>
						</div>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="illustration">
				<d2l-list>
					<d2l-list-item>
						<div>Item 1</div>
						<div slot="illustration" style="height: 400px; width: 400px; background-color: blue;"></div>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="rtl" dir="rtl">
				<d2l-list dir="rtl">
					<d2l-list-item dir="rtl">
						<div slot="illustration" style="height: 400px; width: 400px; background-color: blue;"></div>
						<div>Item 1</div>
						<div slot="actions">
							<d2l-button-icon text="Action 1" icon="d2l-tier1:preview"></d2l-button-icon>
							<d2l-button-icon text="Action 2" icon="d2l-tier1:more"></d2l-button-icon>
						</div>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="separatorsNone">
				<d2l-list separators="none">
					<d2l-list-item>Item 1</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="separatorsAll">
				<d2l-list separators="all">
					<d2l-list-item>Item 1</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="separatorsBetween">
				<d2l-list separators="between">
					<d2l-list-item>Item 1</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="separatorsExtended">
				<d2l-list extend-separators>
					<d2l-list-item>Item 1</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>Item 3</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="itemContent">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="secondary">Secondary info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="itemContentNoSecondary">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<div>Item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="href">
				<d2l-list>
					<d2l-list-item href="http://www.d2l.com">
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="secondary">Secondary info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="selectable">
				<d2l-list>
					<d2l-list-item selectable key="1">Item 1</d2l-list-item>
					<d2l-list-item disabled selectable key="2">Item 1</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="selectableSelected">
				<d2l-list>
					<d2l-list-item selectable key="1" selected>Item 1</d2l-list-item>
					<d2l-list-item disabled selectable key="2" selected>Item 1</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px">
			<div class="visual-diff" id="selectableItemContent">
				<d2l-list>
					<d2l-list-item selectable key="1">
						<d2l-list-item-content>
							<div>Item 1</div>
							<div slot="secondary">Secondary info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 900px">
			<div class="visual-diff" id="breakpoint-842">
				<d2l-list>
					<d2l-list-item>
						<div style="height: 400px; width: 400px; background: blue;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="secondary">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item>
						<div style="height: 42px; width: 42px; background: blue;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="secondary">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 700px">
			<div class="visual-diff" id="breakpoint-636">
				<d2l-list>
					<d2l-list-item>
						<div style="height: 400px; width: 400px; background: blue;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="secondary">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item>
						<div style="height: 42px; width: 42px; background: blue;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="secondary">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 600px">
			<div class="visual-diff" id="breakpoint-580">
				<d2l-list>
					<d2l-list-item>
						<div style="height: 400px; width: 400px; background: blue;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="secondary">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item>
						<div style="height: 42px; width: 42px; background: blue;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="secondary">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 490px">
			<div class="visual-diff" id="breakpoint-0">
				<d2l-list>
					<d2l-list-item>
						<div style="height: 400px; width: 400px; background: blue;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="secondary">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item>
						<div style="height: 42px; width: 42px; background: blue;" slot="illustration"></div>
						<d2l-list-item-content>
							<div>Introductory Pirate Ipsum</div>
							<div slot="secondary">Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

		<div style="width: 400px; height: 200px">
			<div class="visual-diff" id="dropdown-tooltips">
				<d2l-list>
					<d2l-list-item>
						Item 1
						<div slot="actions">
							<d2l-dropdown id="dropdown-down">
								<button id="dropdown-btn-down" class="d2l-dropdown-opener">Open</button>
								<d2l-tooltip for="dropdown-btn-down" position="bottom">Cookie pie apple pie</d2l-tooltip>
								<d2l-dropdown-content>
									donut gummies
								</d2l-dropdown-content>
							</d2l-dropdown>
						</div>
					</d2l-list-item>
					<d2l-list-item>Item 2</d2l-list-item>
					<d2l-list-item>
						Item 3
					</d2l-list-item>
				</d2l-list>
			</div>
		</div>

	</body>
</html>
