<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import '../demo/description-list-test.js';
	</script>
	<title>d2l-dl-wrapper</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		body {
			margin: 0;
		}
	</style>
</head>
<body class="d2l-typography">
	<div class="visual-diff" id="default">
		<d2l-test-dl></d2l-test-dl>
	</div>

	<div class="visual-diff" id="long">
		<d2l-test-dl type="long" breakpoint="300"></d2l-test-dl>
	</div>

	<div class="visual-diff" id="stacked">
		<d2l-test-dl type="long" force-stacked></d2l-test-dl>
	</div>

	<div class="visual-diff" id="stacked-with-breakpoint">
		<d2l-test-dl type="long" breakpoint="300" force-stacked></d2l-test-dl>
	</div>

	<div class="visual-diff" id="activity-display">
		<d2l-test-dl type="activity-display"></d2l-test-dl>
	</div>

	<div class="visual-diff" id="bulk-course-import">
		<d2l-test-dl type="bulk-course-import"></d2l-test-dl>
	</div>

	<div class="visual-diff" id="slotted">
		<d2l-test-dl type="slotted"></d2l-test-dl>
	</div>
</body>
</html>
