<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
			import '../breadcrumb.js';
			import '../breadcrumb-current-page.js';
			import '../breadcrumbs.js';
		</script>
		<title>d2l-breadcrumbs</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">

		<div class="visual-diff">
			<d2l-breadcrumbs id="default-mode">
				<d2l-breadcrumb href="#" text="Basic Item 1"></d2l-breadcrumb>
				<d2l-breadcrumb href="#" text="Basic Item 2" aria-label="Aria for Item 3"></d2l-breadcrumb>
				<d2l-breadcrumb-current-page text="Current Page" ></d2l-breadcrumb-current-page>
			</d2l-breadcrumbs>
		</div>

		<div class="visual-diff">
			<d2l-breadcrumbs id="constrained-width" style="max-width: 250px;">
				<d2l-breadcrumb href="#" text="Truncate Basic Item 1"></d2l-breadcrumb>
				<d2l-breadcrumb href="#" text="Truncate Basic Item 2"></d2l-breadcrumb>
			</d2l-breadcrumbs>
		</div>

		<div class="visual-diff">
			<d2l-breadcrumbs id="compact" compact>
				<d2l-breadcrumb href="#" text="Compact Item 1"></d2l-breadcrumb>
				<d2l-breadcrumb href="#" text="Compact Item 2"></d2l-breadcrumb>
				<d2l-breadcrumb-current-page text="Current Page"></d2l-breadcrumb-current-page>
			</d2l-breadcrumbs>
		</div>

	</body>
</html>