<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script>
		const preferNative = (window.location.search.indexOf('preferNative=false') === -1);
		window.D2L = { DialogMixin: { preferNative: preferNative } };
	</script>
	<script type="module">
		import '../../typography/typography.js';
		import '../../button/button.js';
		import '../../tabs/tabs.js';
		import '../../tabs/tab-panel.js';
		import '../dialog-fullscreen.js';
	</script>
	<title>d2l-dialog-fullscreen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<d2l-button id="open">Open Dialog</d2l-button>

	<d2l-dialog-fullscreen id="dialog" title-text="Dialog Title">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Bottom</div>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer" id="cancel">Cancel</d2l-button>
	</d2l-dialog-fullscreen>

	<d2l-dialog-fullscreen id="dialogRtl" title-text="Dialog Title" dir="rtl">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Bottom</div>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer">Cancel</d2l-button>
	</d2l-dialog-fullscreen>

	<d2l-dialog-fullscreen id="dialogNoFooterContent" title-text="Dialog Title">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Line 5</div>
		<div>Line 6</div>
		<div>Line 7</div>
		<div>Line 8</div>
		<div>Line 9</div>
		<div>Line 10</div>
		<div>Line 11</div>
		<div>Line 12</div>
		<div>Line 13</div>
		<div>Bottom</div>
	</d2l-dialog-fullscreen>

	<d2l-dialog-fullscreen id="dialogNoPadding" title-text="Dialog Title" no-padding>
		<div style="background-color: var(--d2l-color-citrine); height: 100%; width: 100%;">No padding!</div>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer" id="cancel">Cancel</d2l-button>
	</d2l-dialog-fullscreen>

	<d2l-dialog-fullscreen id="dialogLong" title-text="Dialog Title">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Line 5</div>
		<div>Line 6</div>
		<div>Line 7</div>
		<div>Line 8</div>
		<div>Line 9</div>
		<div>Line 10</div>
		<div>Line 11</div>
		<div>Line 12</div>
		<div id="bottom">Bottom</div>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer">Cancel</d2l-button>
	</d2l-dialog-fullscreen>

	<d2l-dialog-fullscreen id="dialogHorizontalOverflow" title-text="Dialog Title">
		<d2l-tabs>
			<d2l-tab-panel text="S18">Tab content for S18</d2l-tab-panel>
			<d2l-tab-panel text="W18">Tab content for W18</d2l-tab-panel>
			<d2l-tab-panel text="F17">Tab content for F17</d2l-tab-panel>
			<d2l-tab-panel text="S17">Tab content for S17</d2l-tab-panel>
			<d2l-tab-panel text="W17">Tab content for W17</d2l-tab-panel>
			<d2l-tab-panel text="F16">Tab content for F16</d2l-tab-panel>
			<d2l-tab-panel text="S16">Tab content for S16</d2l-tab-panel>
			<d2l-tab-panel text="W16">Tab content for W16</d2l-tab-panel>
			<d2l-tab-panel text="F15">Tab content for F15</d2l-tab-panel>
			<d2l-tab-panel text="S15">Tab content for S15</d2l-tab-panel>
			<d2l-tab-panel text="W15">Tab content for W15</d2l-tab-panel>
			<d2l-tab-panel text="F14">Tab content for F14</d2l-tab-panel>
			<d2l-tab-panel text="S14">Tab content for S14</d2l-tab-panel>
			<d2l-tab-panel text="W14">Tab content for W14</d2l-tab-panel>
			<d2l-tab-panel text="F13">Tab content for F13</d2l-tab-panel>
			<d2l-tab-panel text="S13">Tab content for S13</d2l-tab-panel>
			<d2l-tab-panel text="W13">Tab content for W13</d2l-tab-panel>
			<d2l-tab-panel text="F12">Tab content for F12</d2l-tab-panel>
			<d2l-tab-panel text="S12">Tab content for S12</d2l-tab-panel>
			<d2l-tab-panel text="W12">Tab content for W12</d2l-tab-panel>
			<d2l-tab-panel text="F11">Tab content for F11</d2l-tab-panel>
			<d2l-tab-panel text="S11">Tab content for S11</d2l-tab-panel>
		</d2l-tabs>
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Bottom</div>
	</d2l-dialog-fullscreen>

	<d2l-dialog-fullscreen id="dialogSetWidth" width="1200" title-text="Dialog Title">
		<d2l-tabs>
			<d2l-tab-panel text="S18">Tab content for S18</d2l-tab-panel>
			<d2l-tab-panel text="W18">Tab content for W18</d2l-tab-panel>
			<d2l-tab-panel text="F17">Tab content for F17</d2l-tab-panel>
			<d2l-tab-panel text="S17">Tab content for S17</d2l-tab-panel>
			<d2l-tab-panel text="W17">Tab content for W17</d2l-tab-panel>
			<d2l-tab-panel text="F16">Tab content for F16</d2l-tab-panel>
			<d2l-tab-panel text="S16">Tab content for S16</d2l-tab-panel>
			<d2l-tab-panel text="W16">Tab content for W16</d2l-tab-panel>
			<d2l-tab-panel text="F15">Tab content for F15</d2l-tab-panel>
			<d2l-tab-panel text="S15">Tab content for S15</d2l-tab-panel>
			<d2l-tab-panel text="W15">Tab content for W15</d2l-tab-panel>
			<d2l-tab-panel text="F14">Tab content for F14</d2l-tab-panel>
			<d2l-tab-panel text="S14">Tab content for S14</d2l-tab-panel>
			<d2l-tab-panel text="W14">Tab content for W14</d2l-tab-panel>
			<d2l-tab-panel text="F13">Tab content for F13</d2l-tab-panel>
			<d2l-tab-panel text="S13">Tab content for S13</d2l-tab-panel>
			<d2l-tab-panel text="W13">Tab content for W13</d2l-tab-panel>
			<d2l-tab-panel text="F12">Tab content for F12</d2l-tab-panel>
			<d2l-tab-panel text="S12">Tab content for S12</d2l-tab-panel>
			<d2l-tab-panel text="W12">Tab content for W12</d2l-tab-panel>
			<d2l-tab-panel text="F11">Tab content for F11</d2l-tab-panel>
			<d2l-tab-panel text="S11">Tab content for S11</d2l-tab-panel>
		</d2l-tabs>
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Bottom</div>
	</d2l-dialog-fullscreen>

	<d2l-dialog-fullscreen id="dialogSetWidthBelowMin" width="200" title-text="Dialog Title">
		<d2l-tabs>
			<d2l-tab-panel text="S18">Tab content for S18</d2l-tab-panel>
			<d2l-tab-panel text="W18">Tab content for W18</d2l-tab-panel>
			<d2l-tab-panel text="F17">Tab content for F17</d2l-tab-panel>
			<d2l-tab-panel text="S17">Tab content for S17</d2l-tab-panel>
			<d2l-tab-panel text="W17">Tab content for W17</d2l-tab-panel>
			<d2l-tab-panel text="F16">Tab content for F16</d2l-tab-panel>
			<d2l-tab-panel text="S16">Tab content for S16</d2l-tab-panel>
			<d2l-tab-panel text="W16">Tab content for W16</d2l-tab-panel>
			<d2l-tab-panel text="F15">Tab content for F15</d2l-tab-panel>
			<d2l-tab-panel text="S15">Tab content for S15</d2l-tab-panel>
			<d2l-tab-panel text="W15">Tab content for W15</d2l-tab-panel>
			<d2l-tab-panel text="F14">Tab content for F14</d2l-tab-panel>
			<d2l-tab-panel text="S14">Tab content for S14</d2l-tab-panel>
			<d2l-tab-panel text="W14">Tab content for W14</d2l-tab-panel>
			<d2l-tab-panel text="F13">Tab content for F13</d2l-tab-panel>
			<d2l-tab-panel text="S13">Tab content for S13</d2l-tab-panel>
			<d2l-tab-panel text="W13">Tab content for W13</d2l-tab-panel>
			<d2l-tab-panel text="F12">Tab content for F12</d2l-tab-panel>
			<d2l-tab-panel text="S12">Tab content for S12</d2l-tab-panel>
			<d2l-tab-panel text="W12">Tab content for W12</d2l-tab-panel>
			<d2l-tab-panel text="F11">Tab content for F11</d2l-tab-panel>
			<d2l-tab-panel text="S11">Tab content for S11</d2l-tab-panel>
		</d2l-tabs>
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Bottom</div>
	</d2l-dialog-fullscreen>
	<d2l-dialog-fullscreen id="dialogSetWidthAboveMax" width="4000" title-text="Dialog Title">
		<d2l-tabs>
			<d2l-tab-panel text="S18">Tab content for S18</d2l-tab-panel>
			<d2l-tab-panel text="W18">Tab content for W18</d2l-tab-panel>
			<d2l-tab-panel text="F17">Tab content for F17</d2l-tab-panel>
			<d2l-tab-panel text="S17">Tab content for S17</d2l-tab-panel>
			<d2l-tab-panel text="W17">Tab content for W17</d2l-tab-panel>
			<d2l-tab-panel text="F16">Tab content for F16</d2l-tab-panel>
			<d2l-tab-panel text="S16">Tab content for S16</d2l-tab-panel>
			<d2l-tab-panel text="W16">Tab content for W16</d2l-tab-panel>
			<d2l-tab-panel text="F15">Tab content for F15</d2l-tab-panel>
			<d2l-tab-panel text="S15">Tab content for S15</d2l-tab-panel>
			<d2l-tab-panel text="W15">Tab content for W15</d2l-tab-panel>
			<d2l-tab-panel text="F14">Tab content for F14</d2l-tab-panel>
			<d2l-tab-panel text="S14">Tab content for S14</d2l-tab-panel>
			<d2l-tab-panel text="W14">Tab content for W14</d2l-tab-panel>
			<d2l-tab-panel text="F13">Tab content for F13</d2l-tab-panel>
			<d2l-tab-panel text="S13">Tab content for S13</d2l-tab-panel>
			<d2l-tab-panel text="W13">Tab content for W13</d2l-tab-panel>
			<d2l-tab-panel text="F12">Tab content for F12</d2l-tab-panel>
			<d2l-tab-panel text="S12">Tab content for S12</d2l-tab-panel>
			<d2l-tab-panel text="W12">Tab content for W12</d2l-tab-panel>
			<d2l-tab-panel text="F11">Tab content for F11</d2l-tab-panel>
			<d2l-tab-panel text="S11">Tab content for S11</d2l-tab-panel>
		</d2l-tabs>
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Bottom</div>
	</d2l-dialog-fullscreen>

</body>
</html>
