<!DOCTYPE html>
<html lang="en">
<head>
	<script>
		const preferNative = (window.location.search.indexOf('preferNative=false') === -1);
		window.D2L = { DialogMixin: { preferNative: preferNative } };
	</script>
	<script type="module">
		import '../../typography/typography.js';
		import '../../button/button.js';
		import '../dialog.js';
	</script>
	<title>d2l-dialog-ifrau</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		html {
			font-size: 20px;
		}
		body {
			padding: 30px;
		}
	</style>
</head>
<body class="d2l-typography">
	<d2l-button id="open">Open Dialog</d2l-button>

	<d2l-dialog id="ifrau-dialog" title-text="Title" width="400" opened>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<d2l-button slot="footer" primary>Yes</d2l-button>
		<d2l-button slot="footer" id="cancel">No</d2l-button>
	</d2l-dialog>
</body>
</html>
