<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script>
		const preferNative = (window.location.search.indexOf('preferNative=false') === -1);
		window.D2L = { DialogMixin: { preferNative: preferNative } };
	</script>
	<script type="module">
		import '../../typography/typography.js';
		import '../../button/button.js';
		import '../../dropdown/dropdown-button-subtle.js';
		import '../../dropdown/dropdown-content.js';
		import '../../filter/filter.js';
		import '../../filter/filter-dimension-set.js';
		import '../../filter/filter-dimension-set-value.js';
		import '../dialog.js';
		import '../dialog-fullscreen.js';
	</script>
	<title>d2l-dialog with mobile dropdown tray</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<d2l-button id="open">Open Dialog</d2l-button>

	<d2l-dialog id="dialog" title-text="Dialog Title">
		<div>Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Bottom</div>
		<d2l-dropdown-button-subtle class="left" text="Left">
			<d2l-dropdown-content mobile-tray="left">
				<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
				<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
				<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
			</d2l-dropdown-content>
		</d2l-dropdown-button-subtle>
		<d2l-dropdown-button-subtle class="bottom" text="Bottom">
			<d2l-dropdown-content mobile-tray="bottom">
				<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
				<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
			</d2l-dropdown-content>
		</d2l-dropdown-button-subtle>
		<d2l-filter>
			<d2l-filter-dimension-set key="course" text="Course" select-all>
				<d2l-filter-dimension-set-value key="art" text="Art"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="astronomy" text="Astronomy" selected></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="biology" text="Biology"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="chemistry" text="Chemistry"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="drama" text="Drama"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="english" text="English"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="how-to" text="How To Write a How To Article With a Flashy Title"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="math" text="Math"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="physics" text="Physics"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="stats" text="Statistics"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft"></d2l-filter-dimension-set-value>
			</d2l-filter-dimension-set>
		</d2l-filter>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer">Cancel</d2l-button>
	</d2l-dialog>

	<d2l-dialog-fullscreen id="dialog-fullscreen" title-text="Dialog Title">
		<div>Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Bottom</div>
		<d2l-dropdown-button-subtle class="left" text="Left">
			<d2l-dropdown-content mobile-tray="left">
				<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
				<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
				<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
			</d2l-dropdown-content>
		</d2l-dropdown-button-subtle>
		<d2l-dropdown-button-subtle class="bottom" text="Bottom">
			<d2l-dropdown-content mobile-tray="bottom">
				<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
				<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
			</d2l-dropdown-content>
		</d2l-dropdown-button-subtle>
		<d2l-filter>
			<d2l-filter-dimension-set key="course" text="Course" select-all>
				<d2l-filter-dimension-set-value key="art" text="Art"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="astronomy" text="Astronomy" selected></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="biology" text="Biology"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="chemistry" text="Chemistry"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="drama" text="Drama"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="english" text="English"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="how-to" text="How To Write a How To Article With a Flashy Title"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="math" text="Math"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="physics" text="Physics"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="stats" text="Statistics"></d2l-filter-dimension-set-value>
				<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft"></d2l-filter-dimension-set-value>
			</d2l-filter-dimension-set>
		</d2l-filter>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer">Cancel</d2l-button>
	</d2l-dialog-fullscreen>

	<d2l-dialog-fullscreen id="dialog-nested" title-text="Dialog Title">
		<div id="top">Parent</div>
		<d2l-dialog id="dialog-nested-child" title-text="Child Dialog" width="400">
			<div>Child</div>
			<div>Line 1</div>
			<div>Line 2</div>
			<div>Line 3</div>
			<div>Line 4</div>
			<div>Bottom</div>
			<d2l-dropdown-button-subtle class="left" text="Left">
				<d2l-dropdown-content mobile-tray="left">
					<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
					<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
					<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
				</d2l-dropdown-content>
			</d2l-dropdown-button-subtle>
			<d2l-dropdown-button-subtle class="bottom" text="Bottom">
				<d2l-dropdown-content mobile-tray="bottom">
					<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
					<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
				</d2l-dropdown-content>
			</d2l-dropdown-button-subtle>
			<d2l-filter>
				<d2l-filter-dimension-set key="course" text="Course" select-all>
					<d2l-filter-dimension-set-value key="art" text="Art"></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="astronomy" text="Astronomy" selected></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="biology" text="Biology"></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="chemistry" text="Chemistry"></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="drama" text="Drama"></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="english" text="English"></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="how-to" text="How To Write a How To Article With a Flashy Title"></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="math" text="Math"></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="physics" text="Physics"></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="stats" text="Statistics"></d2l-filter-dimension-set-value>
					<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft"></d2l-filter-dimension-set-value>
				</d2l-filter-dimension-set>
			</d2l-filter>
		</d2l-dialog>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer">Cancel</d2l-button>
	</d2l-dialog-fullscreen>

</body>
</html>
