<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script>
		const preferNative = (window.location.search.indexOf('preferNative=false') === -1);
		window.D2L = { DialogMixin: { preferNative: preferNative } };
	</script>
	<script type="module">
		import '../../typography/typography.js';
		import '../../button/button.js';
		import '../dialog.js';
	</script>
	<title>d2l-dialog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<d2l-button id="open">Open Dialog</d2l-button>

	<div id="wideContainer"></div>

	<d2l-dialog id="dialog" title-text="Dialog Title" width="400">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div id="bottom">Bottom</div>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer" id="cancel">Cancel</d2l-button>
	</d2l-dialog>

	<d2l-dialog id="dialogRtl" title-text="Dialog Title" width="400" dir="rtl">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div id="bottom">Bottom</div>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer">Cancel</d2l-button>
	</d2l-dialog>

	<d2l-dialog id="dialogLong" title-text="Dialog Title" width="400">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Line 5</div>
		<div>Line 6</div>
		<div>Line 7</div>
		<div>Line 8</div>
		<div>Line 9</div>
		<div>Line 10</div>
		<div>Line 11</div>
		<div>Line 12</div>
		<div id="bottom">Bottom</div>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer">Cancel</d2l-button>
	</d2l-dialog>

	<d2l-dialog id="dialogResize" title-text="Dialog Title" width="400">
		<div style="background-color: orange;">Line 1</div>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer" id="cancel">Cancel</d2l-button>
	</d2l-dialog>

	<d2l-dialog id="dialogNoFooterContent" title-text="Dialog Title" width="400">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div>Line 5</div>
		<div>Line 6</div>
		<div>Line 7</div>
		<div>Line 8</div>
		<div>Line 9</div>
		<div>Line 10</div>
		<div>Line 11</div>
		<div>Line 12</div>
		<div>Line 13</div>
		<div id="bottom">Bottom</div>
	</d2l-dialog>

	<d2l-dialog id="dialogFullHeight" full-height title-text="Dialog Title" width="400">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div>Line 2</div>
		<div>Line 3</div>
		<div>Line 4</div>
		<div id="bottom">Bottom</div>
		<d2l-button slot="footer" primary>Primary</d2l-button>
		<d2l-button slot="footer" id="cancel">Cancel</d2l-button>
	</d2l-dialog>

	<d2l-dialog id="dialogFullHeightNarrow" full-height title-text="Dialog Title" width="150">
		<div id="top">Top</div>
		<div>Line 1</div>
		<div id="bottom">Bottom</div>
	</d2l-dialog>

</body>
</html>
