<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<title>d2l-dialog-ifrau</title>
	<script type="module">
		import '../../typography/typography.js';
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div id="ifrau-dialog-container" style="width: 650px;"></div>

	<script type="module">
		import { Host } from 'ifrau/host.js';

		window.ifrauAvailableHeight;
		window.ifrauTop;

		const iframeSrc = decodeURIComponent(window.location.search.split('=')[1]);
		const iframeOrigin = new URL(iframeSrc).origin;
		const getContainer = () => document.getElementById('ifrau-dialog-container');

		const verifyPostMessage = (evt, expectedData) => {
			return evt && evt.data === expectedData && iframeOrigin === evt.origin;
		};

		const handleIsFramedRequest = evt => {
			if (!verifyPostMessage(evt, 'isFramedRequest')) return;
			evt.source.postMessage({ isFramed: true }, iframeSrc);
		};

		window.addEventListener('message', handleIsFramedRequest, false);

		const marshalDialogOpenEvent = evt => {
			if (!verifyPostMessage(evt, 'ifrau-dialog-open')) return;
			getContainer().dispatchEvent(new CustomEvent('ifrau-dialog-open'));
		};

		window.addEventListener('message', marshalDialogOpenEvent, false);

		const marshalDialogCloseEvent = evt => {
			if (!verifyPostMessage(evt, 'ifrau-dialog-close')) return;
			getContainer().dispatchEvent(new CustomEvent('ifrau-dialog-close'));
		};

		window.addEventListener('message', marshalDialogCloseEvent, false);

		const ifrauHost = new Host(
			getContainer,
			iframeSrc,
			{ height: '450px' }
		);

		await ifrauHost.registerService('dialogWC', '0.1', {
			showBackdrop: () => {
				return {
					availableHeight: window.ifrauAvailableHeight,
					top: window.ifrauTop
				};
			},
			hideBackdrop: async() => {}
		});

		await ifrauHost.connect();
	</script>

</body>
</html>
