@import '../colors/colors.scss';

@keyframes d2lLoadingShimmer {
	0% {
		fill: $d2l-color-sylvite;
		background-color: $d2l-color-sylvite;
	}
	50% {
		fill: $d2l-color-regolith;
		background-color: $d2l-color-regolith;
	}
	75% {
		fill: $d2l-color-sylvite;
		background-color: $d2l-color-sylvite;
	}
	100% {
		fill: $d2l-color-sylvite;
		background-color: $d2l-color-sylvite;
	}
}

@-webkit-keyframes d2lLoadingShimmer {
	0% {
		fill: $d2l-color-sylvite;
		background-color: $d2l-color-sylvite;
	}
	50% {
		fill: $d2l-color-regolith;
		background-color: $d2l-color-regolith;
	}
	75% {
		fill: $d2l-color-sylvite;
		background-color: $d2l-color-sylvite;
	}
	100% {
		fill: $d2l-color-sylvite;
		background-color: $d2l-color-sylvite;
	}
}

@mixin d2l-skeleton() {
	animation: d2lLoadingShimmer 1.8s linear infinite;
	-webkit-animation: d2lLoadingShimmer 1.8s linear infinite;
	display: block;
	border-radius: 4px;
	background-color: $d2l-color-sylvite;
	fill: $d2l-color-sylvite;
	overflow: hidden;
	position: relative;

	&[hidden] {
		display: none;
	}
}
