<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
			import '../../demo/demo-page.js';
			import '../../button/button.js';
			import '../../button/button-subtle.js';
			import '../../menu/menu.js';
			import '../../menu/menu-item.js';
			import '../../menu/menu-item-separator.js';
			import '../../menu/menu-item-link.js';
			import '../../dropdown/dropdown-button.js';
			import '../../dropdown/dropdown-button-subtle.js';
			import '../../dropdown/dropdown-menu.js';
			import '../../dropdown/dropdown.js';
			import '../../link/link.js';
			import '../overflow-group.js';
		</script>
		<title>d2l-overflow-group</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">

		<!-- min/max to show tests -->
		<div id="less-than-min-to-show-container" class="visual-diff">
			<d2l-overflow-group id="less-than-min-to-show" min-to-show="3">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
			</d2l-overflow-group>
		</div>

		<div id="between-min-max-to-show-container" class="visual-diff">
			<d2l-overflow-group id="between-min-max-to-show" min-to-show="2" max-to-show="4">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
			</d2l-overflow-group>
		</div>

		<div id="exactly-max-to-show-container" class="visual-diff">
			<d2l-overflow-group id="exactly-max-to-show" min-to-show="2" max-to-show="4">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
				<d2l-button>Button 4</d2l-button>
			</d2l-overflow-group>
		</div>

		<div id="more-than-max-to-show-container" style="height: 200px;" class="visual-diff">
			<d2l-overflow-group id="more-than-max-to-show" min-to-show="2" max-to-show="3">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
				<d2l-button>Button 4</d2l-button>
				<d2l-button>Button 5</d2l-button>
			</d2l-overflow-group>
		</div>

		<!-- hidden button -->
		<div class="visual-diff" id="ignores-hidden-button-container">
			<div style="width: 500px;">
				<d2l-overflow-group id="ignores-hidden-button" min-to-show="1" max-to-show="2">
					<d2l-button style="display: none;">Button 1</d2l-button>
					<d2l-button>Button 2</d2l-button>
					<d2l-button>Button 3</d2l-button>
				</d2l-overflow-group>
			</div>
		</div>

		<div id="auto-show-container" class="visual-diff" style="height: 200px; width: 500px;">
			<d2l-overflow-group id="auto-show" auto-show>
				<d2l-button>Button 1</d2l-button>
				<d2l-button class="d2l-overflow-group-show">Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
				<d2l-button id="last" class="d2l-overflow-group-no-show">Button 4</d2l-button>
			</d2l-overflow-group>
		</div>

		<div id="auto-show-small-container" class="visual-diff"  style="height: 300px; width: 300px;">
			<d2l-overflow-group id="auto-show-small" style="height: 200px; width: 200px;" auto-show>
				<d2l-button>Button 1</d2l-button>
				<d2l-button class="d2l-overflow-group-show">Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
				<d2l-button id="last" class="d2l-overflow-group-no-show">Button 4</d2l-button>
			</d2l-overflow-group>
		</div>

		<!-- overflow menu turns to mini when not enough space -->
		<div id="mini-overflow-menu-container" class="visual-diff">
			<d2l-overflow-group id="mini-overflow-menu" max-to-show="2">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
			</d2l-overflow-group>
		</div>

		<!-- overflow menu is mini when openerType = 'icon' -->
		<div id="opener-type-mini-menu-container" class="visual-diff">
			<d2l-overflow-group style="width: 500px;" id="opener-type-mini-menu" opener-type='icon'>
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
			</d2l-overflow-group>
		</div>
		<div id="opener-type-overflow-open-menu-container" class="visual-diff">
			<div style="height: 200px; width: 400px;">
				<d2l-overflow-group id="opener-type-overflow-open-menu" opener-type='icon' max-to-show="2">
					<d2l-button>Button 1</d2l-button>
					<d2l-button>Button 2</d2l-button>
					<d2l-button>Button 3</d2l-button>
				</d2l-overflow-group>
			</div>
		</div>
		<div id="opener-type-subtle-overflow-menu-container" class="visual-diff">
			<div style="width: 400px;">
				<d2l-overflow-group id="opener-type-subtle-overflow-menu" opener-style="subtle" max-to-show="2">
					<d2l-button-subtle text="Button 1"></d2l-button-subtle>
					<d2l-button-subtle text="Button 2"></d2l-button-subtle>
					<d2l-button-subtle text="Button 3"></d2l-button-subtle>
				</d2l-overflow-group>
			</div>
		</div>
		<div id="opener-type-subtle-overflow-menu-open-container" class="visual-diff">
			<div style="height: 200px; width: 400px;">
				<d2l-overflow-group id="opener-type-subtle-overflow-menu-open" opener-type='icon' opener-style='subtle' max-to-show="2">
					<d2l-button-subtle text="Button 1"></d2l-button-subtle>
					<d2l-button-subtle text="Button 2"></d2l-button-subtle>
					<d2l-button-subtle text="Button 3"></d2l-button-subtle>
				</d2l-overflow-group>
			</div>
		</div>
		<div id="all-item-types-container" class="visual-diff">
			<div style="height: 400px; width: 400px;">
				<d2l-overflow-group style="margin-left: 20px;" id="all-item-types" min-to-show="0" max-to-show="0">
					<d2l-button>Button 1</d2l-button>
					<d2l-button-subtle text="Button subtle"></d2l-button-subtle>
					<d2l-dropdown>
						<d2l-dropdown-button text="dropdown" class="d2l-dropdown-opener"></d2l-dropdown-button>
						<d2l-dropdown-menu id="dropdown">
							<d2l-menu label="Astronomy">
								<d2l-menu-item text="Introduction"></d2l-menu-item>
								<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
								<d2l-menu-item text="The Solar System"></d2l-menu-item>
								<d2l-menu-item text="Stars &amp; Galaxies"></d2l-menu-item>
								<d2l-menu-item text="The Night Sky"></d2l-menu-item>
								<d2l-menu-item text="The Universe"></d2l-menu-item>
							</d2l-menu>
						</d2l-dropdown-menu>
					</d2l-dropdown>
					<d2l-dropdown>
						<d2l-dropdown-button-subtle text="dropdown subtle" class="d2l-dropdown-opener"></d2l-dropdown-button-subtle>
						<d2l-dropdown-menu id="dropdown">
							<d2l-menu label="Astronomy">
								<d2l-menu-item text="Introduction"></d2l-menu-item>
								<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
								<d2l-menu-item text="The Solar System"></d2l-menu-item>
								<d2l-menu-item text="Stars &amp; Galaxies"></d2l-menu-item>
								<d2l-menu-item text="The Night Sky"></d2l-menu-item>
								<d2l-menu-item text="The Universe"></d2l-menu-item>
							</d2l-menu>
						</d2l-dropdown-menu>
					</d2l-dropdown>
					<div role="separator"></div>
					<d2l-link text="link" href="https://d2l.com">Link</d2l-link>
				</d2l-overflow-group>
			</div>
		</div>
	</body>
</html>
