<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../../dropdown/dropdown-menu.js';
			import '../../menu/menu.js';
			import '../../paging/pager-load-more.js';
			import '../selection-action.js';
			import '../selection-action-dropdown.js';
			import '../selection-action-menu-item.js';
			import '../selection-controls.js';
			import '../selection-input.js';
			import '../selection-select-all.js';
			import '../selection-summary.js';
			import './demo-selection.js';
		</script>
		<style>
			ul {
				padding: 0;
			}
			li {
				list-style-type: none;
			}
			d2l-selection-input {
				margin-right: 10px;
			}
			[dir="rtl"] d2l-selection-input {
				margin-left: 10px;
				margin-right: 0;
			}
			.d2l-selection-collections {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
			.d2l-selection-collection {
				display: flex;
				flex-basis: 45%;
				flex-direction: column;
			}
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="Selection Components">

			<h2>Multiple Selection</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-selection>
						<d2l-selection-controls>
							<d2l-selection-action text="Bookmark" icon="tier1:bookmark-hollow" requires-selection></d2l-selection-action>
							<d2l-selection-action text="Settings" icon="tier1:gear"></d2l-selection-action>
							<d2l-selection-action-dropdown text="Actions 1" requires-selection>
								<d2l-dropdown-menu>
									<d2l-menu label="Actions">
										<d2l-selection-action-menu-item text="Action 1"></d2l-selection-action-menu-item>
										<d2l-selection-action-menu-item text="Action 2"></d2l-selection-action-menu-item>
									</d2l-menu>
								</d2l-dropdown-menu>
							</d2l-selection-action-dropdown>
						</d2l-selection-controls>

						<ul>
							<li><d2l-selection-input key="geo" label="Geography" selected></d2l-selection-input>Geography</li>
							<li><d2l-selection-input key="sci" label="Science"></d2l-selection-input>Science</li>
							<li><d2l-selection-input key="mth" label="Math"></d2l-selection-input>Math</li>
						</ul>
					</d2l-demo-selection>
				</template>
			</d2l-demo-snippet>

			<h2>Single Selection</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-selection selection-single>
						<d2l-selection-controls>
							<d2l-selection-action text="Bookmark" icon="tier1:bookmark-hollow" requires-selection></d2l-selection-action>
							<d2l-selection-action text="Settings" icon="tier1:gear"></d2l-selection-action>
						</d2l-selection-controls>

						<ul>
							<li><d2l-selection-input key="geo" label="Geography"></d2l-selection-input>Geography</li>
							<li><d2l-selection-input key="sci" label="Science"></d2l-selection-input>Science</li>
							<li><d2l-selection-input key="mth" label="Math"></d2l-selection-input>Math</li>
						</ul>
					</d2l-demo-selection>
				</template>
			</d2l-demo-snippet>

			<h2>Selection controls with pageable + selection</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-selection-pageable item-count="5">
						<d2l-selection-controls select-all-pages-allowed>
							<d2l-selection-action text="Bookmark" icon="tier1:bookmark-hollow" requires-selection></d2l-selection-action>
							<d2l-selection-action text="Settings" icon="tier1:gear"></d2l-selection-action>
						</d2l-selection-controls>

						<ul>
							<li><d2l-selection-input key="geo" label="Geography"></d2l-selection-input>Geography</li>
							<li><d2l-selection-input key="sci" label="Science"></d2l-selection-input>Science</li>
							<li><d2l-selection-input key="mth" label="Math"></d2l-selection-input>Math</li>
						</ul>
						<d2l-pager-load-more has-more page-size="1"></d2l-pager-load-more>
					</d2l-demo-selection-pageable>
				</template>
			</d2l-demo-snippet>

			<h2>Selection controls with pageable (no selection)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-pageable item-count="5">
						<d2l-selection-controls>
							<d2l-selection-action text="Bookmark" icon="tier1:bookmark-hollow" requires-selection></d2l-selection-action>
							<d2l-selection-action text="Settings" icon="tier1:gear"></d2l-selection-action>
						</d2l-selection-controls>

						<ul>
							<li><d2l-selection-input key="geo" label="Geography"></d2l-selection-input>Geography</li>
							<li><d2l-selection-input key="sci" label="Science"></d2l-selection-input>Science</li>
							<li><d2l-selection-input key="mth" label="Math"></d2l-selection-input>Math</li>
						</ul>
						<d2l-pager-load-more has-more page-size="1"></d2l-pager-load-more>
					</d2l-demo-pageable>
				</template>
			</d2l-demo-snippet>

			<h2>No-sticky selection controls</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-selection>
						<d2l-selection-controls no-sticky>
							<d2l-selection-action text="Bookmark" icon="tier1:bookmark-hollow" requires-selection></d2l-selection-action>
							<d2l-selection-action text="Settings" icon="tier1:gear"></d2l-selection-action>
						</d2l-selection-controls>

						<ul>
							<li><d2l-selection-input key="geo" label="Geography"></d2l-selection-input>Geography</li>
							<li><d2l-selection-input key="sci" label="Science"></d2l-selection-input>Science</li>
							<li><d2l-selection-input key="mth" label="Math"></d2l-selection-input>Math</li>
						</ul>
					</d2l-demo-selection>
				</template>
			</d2l-demo-snippet>

			<h2>Selection Components Outside of Collection</h2>

			<d2l-demo-snippet>
				<template>
					<div class="d2l-selection-collections">
						<div class="d2l-selection-collection">
							Pick Your Toppings
							<d2l-selection-controls selection-for="collection-1" pageable-for="collection-1" select-all-pages-allowed>
								<d2l-selection-action selection-for="collection-1" text="Add Note" icon="tier1:add-message"></d2l-selection-action>
							</d2l-selection-controls>

							<d2l-demo-selection-pageable id="collection-1" item-count="5">
								<ul>
									<li><d2l-selection-input key="let" label="Lettuce" selected></d2l-selection-input>Lettuce</li>
									<li><d2l-selection-input key="tom" label="Tomato"></d2l-selection-input>Tomato</li>
									<li><d2l-selection-input key="onion" label="Onion"></d2l-selection-input>Onion</li>
								</ul>
							</d2l-demo-selection-pageable>
							<d2l-pager-load-more has-more page-size="1" pageable-for="collection-1"></d2l-pager-load-more>
							<d2l-selection-action selection-for="collection-1" text="Save" requires-selection></d2l-selection-action>
						</div>

						<div class="d2l-selection-collection">
							Pick Your Bread
							<d2l-selection-controls selection-for="collection-2">
								<d2l-selection-action selection-for="collection-2" text="Add Note" icon="tier1:add-message"></d2l-selection-action>
							</d2l-selection-controls>
							<d2l-demo-selection id="collection-2" selection-single>
								<ul>
									<li><d2l-selection-input key="it" label="Italian"></d2l-selection-input>Italian</li>
									<li><d2l-selection-input key="ww" label="Whole Wheat"></d2l-selection-input>Whole Wheat</li>
									<li><d2l-selection-input key="herb" label="Herb and Garlic"></d2l-selection-input>Herb and Garlic</li>
								</ul>
							</d2l-demo-selection>
							<d2l-selection-action selection-for="collection-2" text="Save" requires-selection></d2l-selection-action>
						</div>
					</div>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
