<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../selection-action.js';
			import '../selection-input.js';
			import '../selection-select-all.js';
			import '../selection-summary.js';
			import { css, html, LitElement } from 'lit-element/lit-element.js';
			import { SelectionMixin } from '../selection-mixin.js';

			class DemoSelection extends SelectionMixin(LitElement) {
				static get styles() {
					return css`
						:host {
							display: block;
						}
					`;
				}
				render() {
					return html`
						<slot></slot>
					`;
				}
			}
			customElements.define('d2l-demo-selection', DemoSelection);

		</script>
		<style>
			ul {
				padding: 0;
			}
			li {
				list-style-type: none;
			}
			d2l-selection-input {
				margin-right: 10px;
			}
			[dir="rtl"] d2l-selection-input {
				margin-left: 10px;
				margin-right: 0;
			}
			.d2l-selection-collections {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
			.d2l-selection-collection {
				display: flex;
				flex-basis: 45%;
				flex-direction: column;
			}
			.d2l-selection-header {
				align-items: center;
				display: flex;
				flex-wrap: wrap;
			}
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="Selection Components">

			<h2>Multiple Selection</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-selection>
						<div class="d2l-selection-header">
							<div style="flex: auto;">
								<d2l-selection-select-all></d2l-selection-select-all>
								<d2l-selection-action text="Bookmark" icon="tier1:bookmark-hollow" requires-selection></d2l-selection-action>
								<d2l-selection-action text="Settings" icon="tier1:gear"></d2l-selection-action>
							</div>
							<d2l-selection-summary style="flex: none;"></d2l-selection-summary>
						</div>
						<ul>
							<li><d2l-selection-input key="geo" label="Geography" selected></d2l-selection-input>Geography</li>
							<li><d2l-selection-input key="sci" label="Science"></d2l-selection-input>Science</li>
							<li><d2l-selection-input key="mth" label="Math"></d2l-selection-input>Math</li>
						</ul>
					</d2l-demo-selection>
				</template>
			</d2l-demo-snippet>

			<h2>Single Selection</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-selection selection-single>
						<div class="d2l-selection-header">
							<div style="flex: auto;">
								<d2l-selection-action text="Bookmark" icon="tier1:bookmark-hollow" requires-selection></d2l-selection-action>
								<d2l-selection-action text="Settings" icon="tier1:gear"></d2l-selection-action>
							</div>
							<d2l-selection-summary style="flex: none;"></d2l-selection-summary>
						</div>
						<ul>
							<li><d2l-selection-input key="geo" label="Geography"></d2l-selection-input>Geography</li>
							<li><d2l-selection-input key="sci" label="Science"></d2l-selection-input>Science</li>
							<li><d2l-selection-input key="mth" label="Math"></d2l-selection-input>Math</li>
						</ul>
					</d2l-demo-selection>
				</template>
			</d2l-demo-snippet>

			<h2>Selection Components Outside of Collection</h2>

			<d2l-demo-snippet>
				<template>
					<div class="d2l-selection-collections">
						<div class="d2l-selection-collection">
							Pick Your Toppings
							<div class="d2l-selection-header">
								<d2l-selection-select-all selection-for="collection-1"></d2l-selection-select-all>
								<d2l-selection-action selection-for="collection-1" text="Add Note" icon="tier1:add-message" style="padding: 0 0.5rem; flex: 1;"></d2l-selection-action>
								<d2l-selection-summary selection-for="collection-1"></d2l-selection-summary>
							</div>
							<d2l-demo-selection id="collection-1">
								<ul>
									<li><d2l-selection-input key="let" label="Lettuce" selected></d2l-selection-input>Lettuce</li>
									<li><d2l-selection-input key="tom" label="Tomato"></d2l-selection-input>Tomato</li>
									<li><d2l-selection-input key="onion" label="Onion"></d2l-selection-input>Onion</li>
								</ul>
							</d2l-demo-selection>
							<d2l-selection-action selection-for="collection-1" text="Save" requires-selection></d2l-selection-action>
						</div>

						<div class="d2l-selection-collection">
							Pick Your Bread 
							<div class="d2l-selection-header">
								<d2l-selection-select-all selection-for="collection-2"></d2l-selection-select-all>
								<d2l-selection-action selection-for="collection-2" text="Add Note" icon="tier1:add-message"></d2l-selection-action>
								<d2l-selection-summary selection-for="collection-2"></d2l-selection-summary>
							</div>
							<d2l-demo-selection id="collection-2" selection-single>
								<ul>
									<li><d2l-selection-input key="it" label="Italian"></d2l-selection-input>Italian</li>
									<li><d2l-selection-input key="ww" label="Whole Wheat"></d2l-selection-input>Whole Wheat</li>
									<li><d2l-selection-input key="herb" label="Herb and Garlic"></d2l-selection-input>Herb and Garlic</li>
								</ul>
							</d2l-demo-selection>
							<d2l-selection-action selection-for="collection-2" text="Save" requires-selection></d2l-selection-action>
						</div>
					</div>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
