<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../heading-stack.js';
			import './heading-stack-test.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-heading-stack">

			<h2>Test</h2>
			<d2l-heading-stack>
				<d2l-demo-snippet>
					<template>
						<d2l-test-heading-stack></d2l-test-heading-stack>
					</template>
				</d2l-demo-snippet>
			</d2l-heading-stack>

		</d2l-demo-page>
	</body>
</html>
