<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../../test/typography-preload.js';
		import '../tooltip-help.js';
	</script>
	<title>d2l-tooltip-help</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		html, body {
			box-sizing: border-box;
			height: 100%;
			margin: 0;
			width: 350px;
			word-wrap: break-word;
		}
		.visual-diff {
			padding-bottom: 10rem;
			padding-left: 20px;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-tooltip-help id="help-tooltip-basic" text="More information.">
			Here is some more information
		</d2l-tooltip-help>
	</div>

	<div class="visual-diff">
		<d2l-tooltip-help id="help-tooltip-unordered-list" text="More information.">
			Unordered List
			<ul>
				<li> Bullet 1 </li>
				<li> Bullet 2 </li>
				<li> Bullet 3 </li>
			</ul>
		</d2l-tooltip-help>
	</div>

	<div class="visual-diff">
		<d2l-tooltip-help id="help-tooltip-ordered-list" text="More information.">
			Ordered List
			<ol>
				<li> Point 1 </li>
				<li> Point 2 </li>
				<li> Point 3 </li>
			</ol>
		</d2l-tooltip-help>
	</div>

	<div class="visual-diff">
		<p id="help-tooltip-in-sentence" class="d2l-body-small">
			This is some sample text.
			<d2l-tooltip-help text="Helpful label." inherit-font-style>Contents should elaborate on the label (be short and concise)</d2l-tooltip-help>
		</p>
	</div>

	<div class="visual-diff">
		<p id="help-tooltip-in-paragraph" class="d2l-body-compact">
			This is some sample text. This is some more text.
			<d2l-tooltip-help text="Helpful label." inherit-font-style>Contents should elaborate on the label (be short and concise)</d2l-tooltip-help>
			Now we have some more text. And here's a bit more text.
		</p>
	</div>

	<div class="visual-diff">
		<d2l-tooltip-help id="help-tooltip-skeleton" text="More information." skeleton>
			Here is some more information
		</d2l-tooltip-help>
	</div>

</body>
</html>
