<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../colors/colors.js';
		import '../../typography/typography.js';
		import '../meter-circle.js';
	</script>
	<title>d2l-meter-circle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		.dark-background {
			background-color: var(--d2l-color-celestine);
			padding: 1rem;
		}
		.visual-diff {
			width: 90px;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-meter-circle id="no-progress" value="0" max="10"></d2l-meter-circle>
	</div>
	<div class="visual-diff">
		<d2l-meter-circle id="progress" value="16" max="47"></d2l-meter-circle>
	</div>
	<div class="visual-diff">
		<d2l-meter-circle id="progress-rtl" dir="rtl" value="16" max="47"></d2l-meter-circle>
	</div>
	<div class="visual-diff">
		<d2l-meter-circle id="complete" value="5" max="5"></d2l-meter-circle>
	</div>
	<div class="visual-diff">
		<d2l-meter-circle id="percent" value="16" max="47" percent></d2l-meter-circle>
	</div>
	<div class="visual-diff">
		<d2l-meter-circle id="percent-rtl" dir="rtl" value="16" max="47" percent></d2l-meter-circle>
	</div>
	<div class="visual-diff">
		<d2l-meter-circle id="round-to-zero" value="0.004" max="100"></d2l-meter-circle>
	</div>
	<div class="visual-diff">
		<d2l-meter-circle id="max-zero-with-value" value="10" max="0"></d2l-meter-circle>
	</div>
	<div class="visual-diff dark-background">
		<d2l-meter-circle id="foreground-light" value="16" max="47" foreground-light></d2l-meter-circle>
	</div>
	<div class="visual-diff">
		<d2l-meter-circle id="scaled-larger" value="16" max="47" style="width: 300%;"></d2l-meter-circle>
	</div>
	<div class="visual-diff">
		<d2l-meter-circle id="scaled-smaller" value="16" max="47" style="width: 30%;"></d2l-meter-circle>
	</div>

</body>
</html>
