<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../colors/colors.js';
		import '../../typography/typography.js';
		import '../meter-radial.js';
	</script>
	<title>d2l-meter-radial</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		.dark-background {
			background-color: var(--d2l-color-celestine);
			padding: 1rem;
		}
		.visual-diff {
			width: 90px;
		}
		d2l-meter-radial {
			display: block;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-meter-radial id="no-progress" value="0" max="10"></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="progress" value="16" max="47"></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="progress-rtl" dir="rtl" value="16" max="47"></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="complete" value="256" max="256"></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="percent" value="16" max="47" percent></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="percent-rtl" dir="rtl" value="16" max="47" percent></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="text" value="10" max="10" percent text="Completed"></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="text-rtl" dir="rtl" value="10" max="10" percent text="Completed"></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="round-to-zero" value="0.004" max="100" percent></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="max-zero-with-value" value="10" max="0"></d2l-meter-radial>
	</div>
	<div class="visual-diff dark-background">
		<d2l-meter-radial id="foreground-light" value="16" max="47" foreground-light text="Keep going!"></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="scaled-larger" value="16" max="47" text="Keep going!" style="width: 300%;"></d2l-meter-radial>
	</div>
	<div class="visual-diff">
		<d2l-meter-radial id="scaled-smaller" value="16" max="47" style="width: 30%;"></d2l-meter-radial>
	</div>

</body>
</html>
