<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../colors/colors.js';
		import '../meter-linear.js';
	</script>
	<title>d2l-meter-linear</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		.dark-background {
			background-color: var(--d2l-color-celestine);
			padding: 1rem;
		}
		.visual-diff {
			width: 250px;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-meter-linear id="normal-no-progress" value="0" max="10"></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-progress" value="4" max="10"></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-complete" value="10" max="10"></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-percent" value="4" max="10" percent></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-text" value="4" max="10" text="You're doing great!"></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-text-fraction" value="4" max="10" text="Visited: {x/y}" percent></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-text-percent" value="4" max="10" text="Visited: {%}"></d2l-meter-linear>
	</div>
	<div class="visual-diff dark-background">
		<d2l-meter-linear id="normal-foreground-light" value="4" max="10" text="Visited: {%}" foreground-light></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-text-fraction-rtl" dir="rtl" value="4" max="10" text="Visited: {x/y}" percent></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-text-percent-rtl" dir="rtl" value="4" max="10" text="Visited: {%}"></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-max-zero-value-zero" value="0" max="0" text="Visited: {x/y}" percent></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-round-to-zero" value="0.004" max="10" text="Visited: {x/y}" percent></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-over-100" value="15" max="10" text="Visited: {x/y}" percent></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="normal-max-zero-with-value" value="5" max="0" text="Visited: {x/y}" percent></d2l-meter-linear>
	</div>

	<div class="visual-diff">
		<d2l-meter-linear id="text-inline-no-progress" value="0" max="10" text-inline></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="text-inline-progress" value="4" max="10" text-inline></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="text-inline-complete" value="10" max="10" text-inline></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="text-inline-percent" value="4" max="10" text-inline percent></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="text-inline-text-fraction" value="4" max="10" text-inline text="Visited"></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="text-inline-text-percent" value="4" max="10" text-inline text="Visited" percent></d2l-meter-linear>
	</div>
	<div class="visual-diff dark-background">
		<d2l-meter-linear id="text-inline-foreground-light" value="4" max="10" text-inline text="Visited" percent foreground-light></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="text-inline-text-fraction-rtl" dir="rtl" value="4" max="10" text-inline text="Visited"></d2l-meter-linear>
	</div>
	<div class="visual-diff">
		<d2l-meter-linear id="text-inline-text-percent-rtl" dir="rtl" value="4" max="10" text-inline text="Visited" percent></d2l-meter-linear>
	</div>

</body>
</html>
