<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import '../../button/button.js';
		import '../dropdown.js';
		import '../dropdown-content.js';
	</script>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-dropdown">

		<h2>Generic Dropdown</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
					<d2l-dropdown-content max-width="400">
						<a href="https://youtu.be/9ze87zQFSak">Google</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</p>
						<a href="http://www.desire2learn.com">D2L</a>
					</d2l-dropdown-content>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

		<h2>Generic Dropdown With Header/Footer</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
					<d2l-dropdown-content max-width="400">
						<div slot="header">
							<h3>Scrolling is Fun</h3>
						</div>
						<a href="https://youtu.be/9ze87zQFSak">Google</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.Vestibulum vel sem non orci pretium fringilla sed eget augue. Vestibulum malesuada tortor
							vitae odio elementum eleifend. Quisque ligula quam, ornare id malesuada ut, malesuada eleifend sem. Nulla porta
							in arcu quis gravida. Duis ac sagittis felis, in condimentum libero. In dolor risus, semper vel iaculis vitae,
							pellentesque efficitur lorem. Nunc a lacus malesuada, rhoncus risus aliquam, sodales nulla. Sed in varius elit.
							Duis sagittis, turpis ut vehicula elementum, velit mi tincidunt turpis, sit amet sagittis quam urna ut justo.
							Nunc interdum urna augue, ac pretium dui pulvinar eu. Proin vehicula placerat est, sed venenatis purus viverra
							eget. Suspendisse imperdiet nulla eget velit sodales, sit amet tempus metus dignissim. Sed ac luctus leo, a
							ornare nisl. Proin non sapien eu orci gravida aliquam. Praesent placerat auctor lacus sit amet faucibus.
							Suspendisse sit amet dui sed turpis vestibulum dignissim.</p>
						<div slot="footer">
							<a href="http://www.desire2learn.com">D2L</a>
						</div>
					</d2l-dropdown-content>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

		<h2>Dropdown with trap-focus option</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
					<d2l-dropdown-content trap-focus mobile-tray="right">
						<div slot="header">
							<h3>Header</h3>
						</div>
						<d2l-button class="d2l-dropdown-opener">Focused on opening!</d2l-button>
						<a href="https://youtu.be/9ze87zQFSak">Google</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloretum, velit mi tincidunt turpis, sit amet sagittis quam urna ut justo.
							Nunc interdum urna augue, ac pretium dui pulvinar eu. Proin vehicula placerat est, sed venenatis purus viverra
							eget. Suspendisse imperdiet nulla eget velit sodales, sit amet tempus metus dignissim. Sed ac luctus leo, a
							ornare nisl. Proin non sapien eu orci gravida aliquam. Praesent placerat auctor lacus sit amet faucibus.
							Suspendisse sit amet dui sed turpis vestibulum dignissim.</p>
						<div slot="footer">
							<a href="http://www.desire2learn.com">D2L</a>
						</div>
					</d2l-dropdown-content>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

		<h2>Constrained Height</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
					<d2l-dropdown-content max-width="800" max-height="300">
						<div slot="header">
							Scrolling is fun!
						</div>
						<a href="https://youtu.be/9ze87zQFSak">Google</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.Vestibulum vel sem non orci pretium fringilla sed eget augue. Vestibulum malesuada tortor
							vitae odio elementum eleifend.</p>
						<p>Quisque ligula quam, ornare id malesuada ut, malesuada eleifend sem. Nulla porta
							in arcu quis gravida. Duis ac sagittis felis, in condimentum libero. In dolor risus, semper vel iaculis vitae,
							pellentesque efficitur lorem. Nunc a lacus malesuada, rhoncus risus aliquam, sodales nulla. Sed in varius elit.
							Duis sagittis, turpis ut vehicula elementum, velit mi tincidunt turpis, sit amet sagittis quam urna ut justo.
							Nunc interdum urna augue, ac pretium dui pulvinar eu.</p>
						<p>Proin vehicula placerat est, sed venenatis purus viverra
							eget. Suspendisse imperdiet nulla eget velit sodales, sit amet tempus metus dignissim. Sed ac luctus leo, a
							ornare nisl. Proin non sapien eu orci gravida aliquam. Praesent placerat auctor lacus sit amet faucibus.
							Suspendisse sit amet dui sed turpis vestibulum dignissim.</p>
					</d2l-dropdown-content>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>


		<h2>Mobile Tray Style - Right</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
					<d2l-dropdown-content max-width="400" mobile-tray="right">
						<a href="https://youtu.be/9ze87zQFSak">Google</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</p>
						<a href="http://www.desire2learn.com">D2L</a>
					</d2l-dropdown-content>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

	<h2>Mobile Tray Style - Left (No close button)</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
					<d2l-dropdown-content mobile-tray="left" no-mobile-close-button>
						<a href="https://youtu.be/9ze87zQFSak">Google</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</p>
						<a href="http://www.desire2learn.com">D2L</a>
					</d2l-dropdown-content>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

	<h2>Mobile Tray Style - Bottom</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
					<d2l-dropdown-content max-width="400" mobile-tray="bottom">
						<div slot="header">
							<h3>Scrolling is Fun</h3>
						</div>
						<a href="https://youtu.be/9ze87zQFSak">Google</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborumLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum..</p>
						<a href="http://www.desire2learn.com">D2L</a>
						<div slot="footer">
							Scrolling is Fun
						</div>
					</d2l-dropdown-content>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

		<h2>Generic Dropdown, wide opener with brief content, end align</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<d2l-button class="d2l-dropdown-opener">Lorem ipsum dolor sit amet consectetur adipiscing elit</d2l-button>
					<d2l-dropdown-content align="end">
						<p>Content</p>
					</d2l-dropdown-content>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>
	</d2l-demo-page>

</body>

</html>
