<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import '../../button/button.js';
		import '../../button/button-subtle.js';
		import '../../dialog/dialog.js';
		import '../dropdown.js';
		import '../dropdown-content-popover.js';
		import { css, html, LitElement } from 'lit';

		class MutationDemo extends LitElement {

			static get properties() {
				return {
					count: { type: Number }
				};
			}

			static get styles() {
				return css`
					:host {
						border: 1px solid var(--d2l-color-tungsten);
						border-radius: 6px;
						display: block;
						margin: 1rem;
						position: relative;
					}
					div::before {
						border-bottom: 1px solid black;
						border-left: 1px solid black;
						content: 'WC';
						font-size: 0.7rem;
						padding: 0 0.2rem;
						position: absolute;
						right: 0;
						top: 0;
					}
					p {
						margin: 0.5rem;
					}
				`;
			}

			constructor() {
				super();
				this.count = 1;
			}

			render() {
				const elems = [];
				for(let i=0; i<this.count; i++) {
					const newContent = document.createElement('p');
					newContent.innerText = 'Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway.';
					elems.push(newContent);
				}
				return html`<div>${elems}</div>`;
			}

		}
		customElements.define('d2l-demo-mutation', MutationDemo);

	</script>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-dropdown (fixed position)">

		<h2>Dropdown (mutation testing)</h2>

		<d2l-demo-snippet>
			<template>
				<div style="border: 1px solid var(--d2l-color-tungsten); border-radius: 6px; height: 600px; overflow: scroll;">
					<d2l-demo-mutation count="1"></d2l-demo-mutation>
					<div style="padding: 25px; position: relative;">
						<d2l-dropdown>
							<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
							<d2l-dropdown-content-popover max-width="400" popover>
								<d2l-button-subtle id="add-content1">Add to Light</d2l-button-subtle>
								<d2l-button-subtle id="add-content2">Add to Shadow</d2l-button-subtle>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
									magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat. </p>
								<a href="http://www.desire2learn.com">D2L</a>
							</d2l-dropdown-content-popover>
						</d2l-dropdown>
						<br><br><br><br><br><br>
					</div>
				</div>
				<script>
					document.querySelector('#add-content1').addEventListener('click', e => {
						const dropdown = e.target.parentNode.parentNode;
						const newContent = document.createElement('p');
						newContent.innerText = 'Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow\'s nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.';
						dropdown.parentNode.insertBefore(newContent, dropdown);
					});
					document.querySelector('#add-content2').addEventListener('click', e => {
						const mutationDemo = document.querySelector('d2l-demo-mutation');
						mutationDemo.count += 1;
					});
				</script>
			</template>
		</d2l-demo-snippet>

		<h2>Dropdown (transform container)</h2>

		<d2l-demo-snippet>
			<template>

				<div style="padding: 25px; transform: translate(0);">
					<d2l-dropdown>
						<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
						<d2l-dropdown-content-popover max-width="400" popover>
							<a href="https://youtu.be/9ze87zQFSak">Google</a>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
								magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
								commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
								anim id est laborum.</p>
							<a href="http://www.desire2learn.com">D2L</a>
						</d2l-dropdown-content-popover>
					</d2l-dropdown>
				</div>

			</template>
		</d2l-demo-snippet>

		<h2>Dropdown (in a dialog)</h2>

		<d2l-demo-snippet>
			<template>
				<d2l-button id="openDialog1">Show Dialog</d2l-button>
				<d2l-dialog id="dialog1" title-text="Dialog Title">
					<div>
						<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
						<d2l-dropdown>
							<d2l-button class="d2l-dropdown-opener">Open it!</d2l-button>
							<d2l-dropdown-content-popover max-width="400" popover>
								<a href="https://youtu.be/9ze87zQFSak">Google</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
									magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
									nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
									anim id est laborum.</p>
								<a href="http://www.desire2learn.com">D2L</a>
							</d2l-dropdown-content-popover>
						</d2l-dropdown>
					</div>
					<d2l-button slot="footer" primary data-dialog-action="ok">Click Me!</d2l-button>
					<d2l-button slot="footer" data-dialog-action>Cancel</d2l-button>
				</d2l-dialog>
				<script>
					document.querySelector('#openDialog1').addEventListener('click', () => {
						document.querySelector('#dialog1').opened = true;
					});
				</script>
			</template>
		</d2l-demo-snippet>

	</d2l-demo-page>

</body>

</html>
