<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import '../../menu/menu.js';
		import '../../menu/menu-item.js';
		import '../../menu/menu-item-link.js';
		import '../../menu/menu-item-radio.js';
		import '../dropdown.js';
		import '../dropdown-menu.js';
		import '../../tooltip/tooltip.js';
	</script>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-dropdown-menu">

		<h2>Normal</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<button class="d2l-dropdown-opener">Open it!</button>
					<d2l-dropdown-menu id="dropdown">
						<d2l-menu label="Astronomy">
							<d2l-menu-item id="m-intro" text="Introduction"></d2l-menu-item>
							<d2l-tooltip for="m-intro">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker.</d2l-tooltip>
							<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
							<d2l-menu-item id="m-solar" text="The Solar System">
								<d2l-menu>
									<d2l-menu-item text="Formation"></d2l-menu-item>
									<d2l-menu-item text="Modern Solar System"></d2l-menu-item>
									<d2l-menu-item text="Future Solar System"></d2l-menu-item>
									<d2l-menu-item text="The Planets">
										<d2l-menu>
											<d2l-menu-item text="Mercury"></d2l-menu-item>
											<d2l-menu-item text="Venus"></d2l-menu-item>
											<d2l-menu-item text="Earth"></d2l-menu-item>
											<d2l-menu-item text="Mars"></d2l-menu-item>
											<d2l-menu-item text="Jupiter"></d2l-menu-item>
											<d2l-menu-item text="Saturn"></d2l-menu-item>
											<d2l-menu-item text="Uranus"></d2l-menu-item>
											<d2l-menu-item text="Neptune"></d2l-menu-item>
											<d2l-menu-item text="Dwarf Planets"></d2l-menu-item>
										</d2l-menu>
									</d2l-menu-item>
									<d2l-menu-item text="The Sun"></d2l-menu-item>
									<d2l-menu-item text="Solar &amp; Lunar Eclipses"></d2l-menu-item>
									<d2l-menu-item text="Meteors &amp; Meteorites"></d2l-menu-item>
									<d2l-menu-item text="Asteroids"></d2l-menu-item>
									<d2l-menu-item text="Comets"></d2l-menu-item>
								</d2l-menu>
							</d2l-menu-item>
							<d2l-tooltip for="m-solar">Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</d2l-tooltip>
							<d2l-menu-item text="Stars &amp; Galaxies">
								<d2l-menu>
									<d2l-menu-item text="What is a Star?"></d2l-menu-item>
									<d2l-menu-item id="m-lifecycle" text="Lifecycle of a Star"></d2l-menu-item>
									<d2l-tooltip for="m-lifecycle">Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</d2l-tooltip>
									<d2l-menu-item text="Binaries &amp; Multiples"></d2l-menu-item>
									<d2l-menu-item text="Star Clusters"></d2l-menu-item>
									<d2l-menu-item text="Star Death">
										<d2l-menu>
											<d2l-menu-item text="Supernovae"></d2l-menu-item>
											<d2l-menu-item text="Black Holes"></d2l-menu-item>
										</d2l-menu>
									</d2l-menu-item>
									<d2l-menu-item text="Star Clusters"></d2l-menu-item>
									<d2l-menu-item text="Galaxies">
										<d2l-menu>
											<d2l-menu-item text="Classification"></d2l-menu-item>
											<d2l-menu-item text="Birth &amp; Evolution"></d2l-menu-item>
											<d2l-menu-item text="Spiral"></d2l-menu-item>
											<d2l-menu-item text="Elliptical"></d2l-menu-item>
											<d2l-menu-item text="Lenticular"></d2l-menu-item>
											<d2l-menu-item text="Irregular"></d2l-menu-item>
											<d2l-menu-item text="Active &amp; Radio"></d2l-menu-item>
											<d2l-menu-item text="Quasars"></d2l-menu-item>
											<d2l-menu-item text="Galaxy Clusters"></d2l-menu-item>
										</d2l-menu>
									</d2l-menu-item>
								</d2l-menu>
							</d2l-menu-item>
							<d2l-menu-item text="The Night Sky">
								<d2l-menu>
									<d2l-menu-item text="Constellations"></d2l-menu-item>
									<d2l-menu-item text="Mapping the Heavens"></d2l-menu-item>
									<d2l-menu-item text="Reading Star Maps"></d2l-menu-item>
									<d2l-menu-item text="Telescopes"></d2l-menu-item>
								</d2l-menu>
							</d2l-menu-item>
							<d2l-menu-item text="Aliens, The Search Extraterrestrial Life, Unidentified Flying Objects, and Other Astronomical Phenomenon"></d2l-menu-item>
							<d2l-menu-item id="m-universe" text="The Universe"></d2l-menu-item>
							<d2l-tooltip for="m-universe">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker.</d2l-tooltip>
						</d2l-menu>
					</d2l-dropdown-menu>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

		<h2>With Header/Footer</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<button class="d2l-dropdown-opener">Open it!</button>
					<d2l-dropdown-menu id="dropdown" no-padding-footer>
						<div slot="header" style="font-weight: bold; text-align: center; width: 100%;">Physics Topics</div>
						<d2l-menu label="Physics Topics">
							<d2l-menu-item text="Introduction"></d2l-menu-item>
							<d2l-menu-item text="Matter"></d2l-menu-item>
							<d2l-menu-item text="Speed"></d2l-menu-item>
							<d2l-menu-item text="Velocity"></d2l-menu-item>
							<d2l-menu-item text="Acceleration"></d2l-menu-item>
							<d2l-menu-item text="Jerk"></d2l-menu-item>
							<d2l-menu-item text="Jounce"></d2l-menu-item>
							<d2l-menu-item text="Friction"></d2l-menu-item>
							<d2l-menu-item text="Centrifugal Force"></d2l-menu-item>
							<d2l-menu-item text="Centripetal Force"></d2l-menu-item>
							<d2l-menu-item text="Torque"></d2l-menu-item>
							<d2l-menu-item text="Inertia"></d2l-menu-item>
							<d2l-menu-item text="Momentum"></d2l-menu-item>
							<d2l-menu-item text="Potential Energy"></d2l-menu-item>
							<d2l-menu-item text="Gravity"></d2l-menu-item>
							<d2l-menu-item text="Magnetism"></d2l-menu-item>
						</d2l-menu>
						<div slot="footer" style="font-size: 0.75rem; text-align: center; width: 100%;">And <a href="#">More</a>!</div>
					</d2l-dropdown-menu>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

		<h2>Long Menu with Right Mobile Tray</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<button class="d2l-dropdown-opener">Open it!</button>
					<d2l-dropdown-menu id="dropdown" no-padding-footer mobile-tray="right" max-height="300">
						<div slot="header" style="font-weight: bold; text-align: center; width: 100%;">Physics Topics</div>
						<d2l-menu label="Physics Topics">
							<d2l-menu-item text="Introduction"></d2l-menu-item>
							<d2l-menu-item text="Matter"></d2l-menu-item>
							<d2l-menu-item text="Speed"></d2l-menu-item>
							<d2l-menu-item text="Velocity"></d2l-menu-item>
							<d2l-menu-item text="Acceleration"></d2l-menu-item>
							<d2l-menu-item text="Jerk"></d2l-menu-item>
							<d2l-menu-item text="Jounce"></d2l-menu-item>
							<d2l-menu-item text="Friction"></d2l-menu-item>
							<d2l-menu-item text="Centrifugal Force"></d2l-menu-item>
							<d2l-menu-item text="Centripetal Force"></d2l-menu-item>
							<d2l-menu-item text="Torque"></d2l-menu-item>
							<d2l-menu-item text="Inertia"></d2l-menu-item>
							<d2l-menu-item text="Momentum"></d2l-menu-item>
							<d2l-menu-item text="Potential Energy"></d2l-menu-item>
							<d2l-menu-item text="Gravity"></d2l-menu-item>
							<d2l-menu-item text="Magnetism"></d2l-menu-item>
						</d2l-menu>
						<div slot="footer" style="font-size: 0.75rem; text-align: center; width: 100%;">And <a href="#">More</a>!</div>
					</d2l-dropdown-menu>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

		<h2>With Radio Menu</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<button class="d2l-dropdown-opener">Open it!</button>
					<d2l-dropdown-menu id="dropdown" no-padding-footer>
						<div slot="header" style="font-weight: bold; text-align: center; width: 100%;">Study Guide</div>
						<d2l-menu label="Study Guide">
							<d2l-menu-item-radio text="Introduction" value=0></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 1" value=1></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 2" value=2></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 3" value=3></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 4" value=4></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 5" value=5 selected></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 6" value=6></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 7" value=7></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 8" value=8></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 9" value=9></d2l-menu-item-radio>
							<d2l-menu-item-radio text="Chapter 10" value=10></d2l-menu-item-radio>
						</d2l-menu>
					</d2l-dropdown-menu>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

		<h2>With Links</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown>
					<button class="d2l-dropdown-opener">Open it!</button>
					<d2l-dropdown-menu no-padding-footer>
						<div slot="header" style="font-weight: bold; text-align: center; width: 100%;">Helpful Links</div>
						<d2l-menu label="Helpful Links">
							<d2l-menu-item-link text="menu.js (View)" href="../../menu/menu.js"></d2l-menu-item-link>
							<d2l-menu-item-link text="menu.js (Download)" href="../../menu/menu.js" target="_blank" download></d2l-menu-item-link>
						</d2l-menu>
					</d2l-dropdown-menu>
				</d2l-dropdown>
			</template>
		</d2l-demo-snippet>

	</d2l-demo-page>

</body>

</html>
