<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import '../dropdown-context-menu.js';
		import '../dropdown-content.js';
	</script>
	<style>
		.ancestor-container {
			padding: 0.5rem;
			position: relative;
		}
		.ancestor-container::before {
			background-color: rgba(0, 0, 0, 0.03);
			box-sizing: border-box;
			content: "visible-on-ancestor-target";
			font-size: 0.7rem;
			height: 100%;
			left: 0;
			padding: 0.5rem;
			position: absolute;
			text-align: right;
			top: 0;
			width: 100%;
		}
		.translucent-container {
			height: 150px;
			position: relative;
		}
		.translucent-container > img {
			border-radius: 6px;
			height: 100%;
			max-width: 400px;
			position: absolute;
			width: 100%;
		}
		.translucent-container > d2l-dropdown-context-menu {
			margin-left: 12px;
			margin-top: 12px;
			padding-right: 0;
		}
	</style>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-dropdown-context-menu">

		<h2>Normal</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown-context-menu text="Open!">
					<d2l-dropdown-content max-width="400">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
							ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
							deserunt mollit anim id est laborum.</p>
						<a href="http://www.desire2learn.com">D2L</a>
					</d2l-dropdown-content>
				</d2l-dropdown-context-menu>
			</template>
		</d2l-demo-snippet>

		<h2>Translucent</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-dropdown-context-menu text="Open!" translucent>
					<d2l-dropdown-content max-width="400">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
							et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum.</p>
						<a href="http://www.desire2learn.com">D2L</a>
					</d2l-dropdown-content>
				</d2l-dropdown-context-menu>
			</template>
		</d2l-demo-snippet>

		<h2>Visible on Ancestor</h2>
		<d2l-demo-snippet>
			<template>
				<div class="ancestor-container d2l-visible-on-ancestor-target">
					<d2l-dropdown-context-menu text="Open!" visible-on-ancestor>
						<d2l-dropdown-content max-width="400">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
								culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="http://www.desire2learn.com">D2L</a>
						</d2l-dropdown-content>
					</d2l-dropdown-context-menu>
				</div>
			</template>
		</d2l-demo-snippet>

		<h2>Translucent + Visible on Ancestor</h2>
		<d2l-demo-snippet>
			<template>
				<div class="translucent-container d2l-visible-on-ancestor-target">
					<img alt="" src="https://s.brightspace.com/course-images/images/e4fbb461-4cd9-4512-8304-44f2c2b741f1/tile-low-density-max-size.jpg">
					<d2l-dropdown-context-menu text="Open!" translucent visible-on-ancestor>
						<d2l-dropdown-content max-width="400">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
								labore
								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
								ut
								aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
								culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="http://www.desire2learn.com">D2L</a>
						</d2l-dropdown-content>
					</d2l-dropdown-context-menu>
				</div>
			</template>
		</d2l-demo-snippet>

	</d2l-demo-page>

</body>

</html>
