<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../button/button-icon.js';
			import '../../demo/demo-page.js';
			import '../../dropdown/dropdown-menu.js';
			import '../../dropdown/dropdown-more.js';
			import '../../menu/menu.js';
			import '../../menu/menu-item.js';
			import '../../tooltip/tooltip.js';
			import '../list-item-content.js';
			import '../list-item.js';
			import '../list.js';
			import '../../tag-list/tag-list.js';
			import '../../tag-list/tag-list-item.js';
			import './demo-list.js';
		</script>
		<style>
			img {
				height: 500px;
				object-fit: cover;
			}
			d2l-tag-list {
				margin-top: 0.3rem;
			}
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-list">

			<h2>Basic List</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Identify categories of physical activities</div>
								<div slot="secondary">Secondary Information</div>
								<div slot="supporting-info">Specific Expectation A1.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Apply a decision-making process to assess risks and make safe decisions in a variety of situations</div>
								<div slot="secondary">Secondary Information</div>
								<div slot="supporting-info">Specific Expectation B2.1</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Retain objects of various shapes and sizes in different ways, while moving around others and equipment</div>
								<div slot="secondary">Secondary Information</div>
								<div slot="supporting-info">Specific Expectation B2.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

			<h2>List (with all the stuff)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-list></d2l-demo-list>
				</template>
			</d2l-demo-snippet>

			<h2>List with Grid Actions</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-list grid></d2l-demo-list>
				</template>
			</d2l-demo-snippet>

			<h2>List with Interactive Content</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list grid>
						<d2l-list-item no-primary-action selectable key="1" label="Introductory Earth Sciences">
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/38e839b1-37fa-470c-8830-b189ce4ae134/tile-high-density-max-size.jpg"></img>
							<div>
								<d2l-list-item-content>
									<div>Introductory Earth Sciences</div>
								</d2l-list-item-content>
								<d2l-tag-list description="Tags for this course">
									<d2l-tag-list-item text="Science" description="This is a description for the Science tag that is really really really long and will overflow onto the next line."></d2l-tag-list-item>
									<d2l-tag-list-item text="Environment" description="This is a description for the Environment tag."></d2l-tag-list-item>
									<d2l-tag-list-item text="Earth" description="This is a description for the Earth tag."></d2l-tag-list-item>
								</d2l-tag-list>
							</div>
							<div slot="actions">
								<d2l-button-icon id="tooltip-btn-1" text="My Button" icon="tier1:preview"></d2l-button-icon>
								<d2l-tooltip for="tooltip-btn-1">Preview</d2l-tooltip>
								<d2l-dropdown-more text="Open!">
									<d2l-dropdown-menu>
										<d2l-menu label="Astronomy">
											<d2l-menu-item text="Introduction"></d2l-menu-item>
											<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
										</d2l-menu>
									</d2l-dropdown-menu>
								</d2l-dropdown-more>
							</div>
						</d2l-list-item>
						<d2l-list-item no-primary-action selectable key="2" selected label="Engineering Materials for Energy Systems">
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/e5fd575a-bc14-4a80-89e1-46f349a76178/tile-high-density-max-size.jpg"></img>
							<div>
								<d2l-list-item-content>
									<div>Engineering Materials for Energy Systems</div>
								</d2l-list-item-content>
								<d2l-tag-list description="Tags for this course">
									<d2l-tag-list-item text="Engineering" description="This is a description for the Engineering tag."></d2l-tag-list-item>
									<d2l-tag-list-item text="Energy Systems" description="This is a description for the Energy Systems tag."></d2l-tag-list-item>
								</d2l-tag-list>
							</div>
							<div slot="actions">
								<d2l-button-icon id="tooltip-btn-1" text="My Button" icon="tier1:preview"></d2l-button-icon>
								<d2l-tooltip for="tooltip-btn-1">Preview</d2l-tooltip>
								<d2l-dropdown-more text="Open!">
									<d2l-dropdown-menu>
										<d2l-menu label="Astronomy">
											<d2l-menu-item text="Introduction"></d2l-menu-item>
											<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
										</d2l-menu>
									</d2l-dropdown-menu>
								</d2l-dropdown-more>
							</div>
						</d2l-list-item>
						<d2l-list-item no-primary-action selectable key="3" label="Geomorphology and GIS">
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/63b162ab-b582-4bf9-8c1d-1dad04714121/tile-high-density-max-size.jpg"></img>
							<div>
								<d2l-list-item-content>
									<div>Geomorphology and GIS</div>
								</d2l-list-item-content>
								<d2l-tag-list description="Tags for this course">
									<d2l-tag-list-item text="Geology" description="This is a description for the Geology tag."></d2l-tag-list-item>
									<d2l-tag-list-item text="GIS" description="This is a description for the GIS tag."></d2l-tag-list-item>
									<d2l-tag-list-item text="Earth Sciences" description="This is a description for the Earth Sciences tag."></d2l-tag-list-item>
								</d2l-tag-list>
							</div>
							<div slot="actions">
								<d2l-button-icon id="tooltip-btn-1" text="My Button" icon="tier1:preview"></d2l-button-icon>
								<d2l-tooltip for="tooltip-btn-1">Preview</d2l-tooltip>
								<d2l-dropdown-more text="Open!">
									<d2l-dropdown-menu>
										<d2l-menu label="Astronomy">
											<d2l-menu-item text="Introduction"></d2l-menu-item>
											<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
										</d2l-menu>
									</d2l-dropdown-menu>
								</d2l-dropdown-more>
							</div>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

	</body>
</html>
