<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import './list-drag-and-drop-position.js';
		import './demo-list-nested.js';
	</script>
</head>
<body unresolved>

	<d2l-demo-page page-title="d2l-list (with drag & drop)">

		<h2>Position Change Event</h2>

		<d2l-demo-snippet>
			<template>
				<d2l-demo-list-drag-and-drop-position grid selectable hrefs></d2l-demo-list-drag-and-drop-position>
			</template>
		</d2l-demo-snippet>

		<h2>Add Button</h2>

		<d2l-demo-snippet>
			<template>
				<d2l-demo-list-drag-and-drop-position add-button selectable></d2l-demo-list-drag-and-drop-position>
			</template>
		</d2l-demo-snippet>

		<h2>Move Event</h2>

		<d2l-demo-snippet>
			<template>
				<d2l-demo-list-nested demo-item-key="imgPrimaryAndSupporting" is-draggable selectable disable-expand-feature></d2l-demo-list-nested>
			</template>
		</d2l-demo-snippet>

		<h2>Add Button</h2>

		<d2l-demo-snippet>
			<template>
				<d2l-demo-list-nested add-button demo-item-key="imgPrimaryAndSupporting" is-draggable selectable></d2l-demo-list-nested>
			</template>
		</d2l-demo-snippet>


	</d2l-demo-page>

	<script>
		document.body.addEventListener('d2l-list-items-move', e => {
			console.log('d2l-list-items-move', e.detail);
		});
	</script>

</body>
</html>
