<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../../button/button-subtle.js';
			import '../../button/button-toggle.js';
			import '../list-item-content.js';
			import '../list-item.js';
			import '../list.js';
		</script>
		<style>
			d2l-button-toggle {
				margin-block-end: 0.9rem;
			}
		</style>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-list">

			<h2>Layout</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-toggle pressed>
						<d2l-button-subtle slot="not-pressed" icon="tier1:tile-view" text="Tiles"></d2l-button-subtle>
						<d2l-button-subtle slot="pressed" icon="tier1:list-view" text="List"></d2l-button-subtle>
					</d2l-button-toggle>
					<d2l-list layout="tiles">
						<d2l-list-item label="item 1">
							<d2l-list-item-content>
								<div>Identify categories of physical activities</div>
								<div slot="secondary">Secondary Information</div>
								<div slot="supporting-info">Specific Expectation A1.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="item 2">
							<d2l-list-item-content>
								<div>Apply a decision-making process to assess risks and make safe decisions in a variety of situations</div>
								<div slot="secondary">Secondary Information</div>
								<div slot="supporting-info">Specific Expectation B2.1</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item label="item 3">
							<d2l-list-item-content>
								<div>Retain objects of various shapes and sizes in different ways, while moving around others and equipment</div>
								<div slot="secondary">Secondary Information</div>
								<div slot="supporting-info">Specific Expectation B2.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
					<script data-demo-hide>
						(demo => {
							demo.querySelector('d2l-button-toggle').addEventListener('d2l-button-toggle-change', e => {
								demo.querySelector('d2l-list').layout = (e.target.pressed ? 'tiles' : 'list');
							});
						})(document.currentScript.parentNode);
					</script>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
