<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../button/button-subtle.js';
			import '../../button/button-icon.js';
			import '../../demo/demo-page.js';
			import '../../dropdown/dropdown-menu.js';
			import '../../dropdown/dropdown-more.js';
			import '../../icons/icon.js';
			import '../list-item-button.js';
			import '../list-item-content.js';
			import './list-item-custom.js';
			import '../list-item.js';
			import '../list-item-nav-button.js';
			import '../list-controls.js';
			import '../list.js';
			import '../../menu/menu.js';
			import '../../menu/menu-item.js';
			import '../../paging/pager-load-more.js';
			import '../../selection/selection-action.js';
			import '../../switch/switch.js';
			import '../../tooltip/tooltip-help.js';

			import './demo-list-nav.js';
			import './demo-list-nested-iterations-helper.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-list (nested)">

			<h2>Side nav list (more complex with drag & drop)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-demo-list-nav></d2l-demo-list-nav>
					</template>
			</d2l-demo-snippet>

			<h2>All Iterations</h2>

			<d2l-demo-snippet full-width>
				<template>
					<d2l-switch id="draggable-switch" text="Draggable"></d2l-switch>
					<d2l-demo-list-nested-iterations-helper></d2l-demo-list-nested-iterations-helper>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

		<script>
			setTimeout(() => {
				document.querySelectorAll('d2l-list').forEach(list => {
					list.addEventListener('d2l-list-selection-changes', (e) => {
						console.log('d2l-list-selection-changes', e.detail);
					});
				});

				document.querySelectorAll('d2l-pager-load-more').forEach(pager => {
					pager.addEventListener('d2l-pager-load-more', (e) => {
						console.log('Load more requested!');
						setTimeout(() => e.detail.complete(), 2000);
					});
				});

				const setupSwitch = () => {
					const draggableSwitch = document.querySelector('#draggable-switch');
					if (!draggableSwitch) {
						setTimeout(setupSwitch, 1000);
					} else {
						draggableSwitch.addEventListener('change', (e) => {
							const listIterations = document.querySelector('d2l-demo-list-nested-iterations-helper');
							listIterations.isDraggable = e.target.on;
						});
					}
				};

				setupSwitch();
			}, 1000);
		</script>

	</body>
</html>
