<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../list-header.js';
			import '../list-item-content.js';
			import '../list-item.js';
			import '../list.js';
			import '../../paging/pager-load-more.js';
		</script>
		<style>
			img {
				height: 500px;
				object-fit: cover;
			}
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-list (paging)">

			<h2>Load-More Paging</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list item-count="50">
						<d2l-list-header slot="header" select-all-pages-allowed></d2l-list-header>
						<d2l-list-item href="http://www.d2l.com" selectable key="1" label="Introductory Earth Sciences">
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/38e839b1-37fa-470c-8830-b189ce4ae134/tile-high-density-max-size.jpg"></img>
							<d2l-list-item-content>
								<div>Introductory Earth Sciences</div>
								<div slot="supporting-info">This course explores the geological process of the Earth's interior and surface. These include volcanism, earthquakes, mountains...</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item href="http://www.d2l.com" selectable key="2" label="Engineering Materials for Energy Systems">
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/e5fd575a-bc14-4a80-89e1-46f349a76178/tile-high-density-max-size.jpg"></img>
							<d2l-list-item-content>
								<div>Engineering Materials for Energy Systems</div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item href="http://www.d2l.com" selectable key="3" label="Geomorphology and GIS">
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/63b162ab-b582-4bf9-8c1d-1dad04714121/tile-high-density-max-size.jpg"></img>
							<d2l-list-item-content>
								<div>Geomorphology and GIS</div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-pager-load-more slot="pager" has-more count="50"></d2l-pager-load-more>
					</d2l-list>
					<script>
						const loadMorePageSize = 5;
						let loadMoreItemCount = 0;

						document.querySelector('d2l-pager-load-more').addEventListener('d2l-pager-load-more-load', (e) => {
							setTimeout(() => {
								for(let i = 0; i < loadMorePageSize; i++) {
									loadMoreItemCount += 1;

									const item = document.createElement('d2l-list-item');
									item.selectable = true;
									item.key = `${loadMoreItemCount}`;
									item.label = `New Item ${loadMoreItemCount}`;
									item.innerHTML = `
										<img slot="illustration" src="https://s.brightspace.com/course-images/images/38e839b1-37fa-470c-8830-b189ce4ae134/tile-high-density-max-size.jpg"></img>
										<d2l-list-item-content>
											<div>New Item ${loadMoreItemCount}</div>
											<div slot="supporting-info">Supporting Info</div>
										</d2l-list-item-content>
									`;
									e.target.parentNode.appendChild(item);
								}
								e.detail.complete();
							}, 3000);
						});
					</script>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

	</body>
</html>
