<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../button/button-icon.js';
			import '../../demo/demo-page.js';
			import '../list-item-button.js';
			import '../list-item-content.js';
			import '../list-item.js';
			import '../list.js';
			import '../../tooltip/tooltip-help.js';
		</script>
		<style>
			img {
				height: 500px;
				object-fit: cover;
			}
			.overflow-type {
				font-weight: 700;
			}
			.clamp-single {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.clamp-multi {
				-webkit-box-orient: vertical;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				overflow: hidden;
				overflow-wrap: anywhere;
			}
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-list-item (layouts)">

			<h2>Primary, Secondary, and Supporting Info</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Primary text</div>
								<div slot="secondary">Secondary text</div>
								<div slot="supporting-info">Supporting info A1.1</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Primary text</div>
								<div slot="secondary">Secondary text</div>
								<div slot="supporting-info">Supporting info A1.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Primary text</div>
								<div slot="secondary">Secondary text</div>
								<div slot="supporting-info">Supporting info A1.3</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

			<h2>Overflow Behaviour</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list>
						<d2l-list-item>
							<d2l-list-item-content>
								<div><span class="overflow-type">Overflow: wrap</span>. Primary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail. <d2l-tooltip-help text="Help tooltip." inherit-font-style>Bowsprit measured fer yer chains Cat o'nine tails ballast topsail hulk Plate Fleet chantey warp hail-shot. Deadlights league yard chase guns Gold Road pink case shot fathom mutiny hempen halter.</d2l-tooltip-help></div>
								<div slot="secondary"><span class="overflow-type">Overflow: wrap</span>. Secondary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail. <d2l-tooltip-help text="Help tooltip." inherit-font-style>Bowsprit measured fer yer chains Cat o'nine tails ballast topsail hulk Plate Fleet chantey warp hail-shot. Deadlights league yard chase guns Gold Road pink case shot fathom mutiny hempen halter.</d2l-tooltip-help></div>
								<div slot="supporting-info"><span class="overflow-type">Overflow: wrap</span>. Supporting info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail. <d2l-tooltip-help text="Help tooltip." inherit-font-style>Bowsprit measured fer yer chains Cat o'nine tails ballast topsail hulk Plate Fleet chantey warp hail-shot. Deadlights league yard chase guns Gold Road pink case shot fathom mutiny hempen halter.</d2l-tooltip-help></div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div class="clamp-single"><span class="overflow-type">Overflow: clamp single-line</span>. Primary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail.</div>
								<div slot="secondary" class="clamp-single"><span class="overflow-type">Overflow: clamp single-line</span>. Secondary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail.</div>
								<div slot="supporting-info" class="clamp-single"><span class="overflow-type">Overflow: clamp single-line</span>. Supporting info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail.</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div class="clamp-multi"><span class="overflow-type">Overflow: clamp multi-line</span>. Primary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail.</div>
								<div slot="secondary" class="clamp-multi"><span class="overflow-type">Overflow: clamp multi-line</span>. Secondary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail.</div>
								<div slot="supporting-info" class="clamp-multi"><span class="overflow-type">Overflow: clamp multi-line</span>. Supporting info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail.</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div><div class="clamp-single"><span class="overflow-type">Overflow: clamp single-line, nested</span>. Primary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail.</div></div>
								<div slot="secondary"><div class="clamp-single"><span class="overflow-type">Overflow: clamp single-line, nested</span>. Secondary text. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail.</div></div>
								<div slot="supporting-info"><div class="clamp-single"><span class="overflow-type">Overflow: clamp single-line, nested</span>. Supporting info. Lookout take a caulk rope's end Jack Ketch Admiral of the Black yard jury mast barque no prey, no pay port. Carouser salmagundi rigging handsomely draft cog mizzen haul wind no prey, no pay lugsail.</div></div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

			<h2>Separators: between</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list separators="between">
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Identify categories of physical activities</div>
								<div slot="supporting-info">Specific Expectation A1.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Apply a decision-making process to assess risks and make safe decisions in a variety of situations</div>
								<div slot="supporting-info">Specific Expectation B2.1</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Retain objects of various shapes and sizes in different ways, while moving around others and equipment</div>
								<div slot="supporting-info">Specific Expectation B2.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

			<h2>Separators: none</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list separators="none">
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Identify categories of physical activities</div>
								<div slot="supporting-info">Specific Expectation A1.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Apply a decision-making process to assess risks and make safe decisions in a variety of situations</div>
								<div slot="supporting-info">Specific Expectation B2.1</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Retain objects of various shapes and sizes in different ways, while moving around others and equipment</div>
								<div slot="supporting-info">Specific Expectation B2.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

			<h2>Extend Separators</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list extend-separators>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Identify categories of physical activities</div>
								<div slot="supporting-info">Specific Expectation A1.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Apply a decision-making process to assess risks and make safe decisions in a variety of situations</div>
								<div slot="supporting-info">Specific Expectation B2.1</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Retain objects of various shapes and sizes in different ways, while moving around others and equipment</div>
								<div slot="supporting-info">Specific Expectation B2.2</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

			<h2>Secondary Actions</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Introductory Earth Sciences</div>
								<div slot="supporting-info">This course explores the geological process of the Earth's interior and surface. These include volcanism, earthquakes, mountains...</div>
							</d2l-list-item-content>
							<div slot="actions">
								<d2l-button-icon text="My Button" icon="tier1:preview"></d2l-button-icon>
								<d2l-button-icon text="My Button" icon="tier1:more"></d2l-button-icon>
							</div>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Engineering Materials for Energy Systems</div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
							<div slot="actions">
								<d2l-button-icon text="My Button" icon="tier1:preview"></d2l-button-icon>
								<d2l-button-icon text="My Button" icon="tier1:more"></d2l-button-icon>
							</div>
						</d2l-list-item>
						<d2l-list-item>
							<d2l-list-item-content>
								<div>Geomorphology and GIS </div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
							<div slot="actions">
								<d2l-button-icon text="My Button" icon="tier1:preview"></d2l-button-icon>
								<d2l-button-icon text="My Button" icon="tier1:more"></d2l-button-icon>
							</div>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

			<h2>Illustration</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list>
						<d2l-list-item>
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/38e839b1-37fa-470c-8830-b189ce4ae134/tile-high-density-max-size.jpg"></img>
							<d2l-list-item-content>
								<div>Introductory Earth Sciences</div>
								<div slot="supporting-info">This course explores the geological process of the Earth's interior and surface. These include volcanism, earthquakes, mountains...</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/e5fd575a-bc14-4a80-89e1-46f349a76178/tile-high-density-max-size.jpg"></img>
							<d2l-list-item-content>
								<div>Engineering Materials for Energy Systems</div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item>
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/63b162ab-b582-4bf9-8c1d-1dad04714121/tile-high-density-max-size.jpg"></img>
							<d2l-list-item-content>
								<div>Geomorphology and GIS</div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

			<h2>Selectable</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list>
						<d2l-list-item selectable key="1" label="Introductory Earth Sciences">
							<d2l-list-item-content>
								<div>Introductory Earth Sciences</div>
								<div slot="supporting-info">This course explores the geological process of the Earth's interior and surface. These include volcanism, earthquakes, mountains...</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item selectable key="2" selected label="Engineering Materials for Energy Systems">
							<d2l-list-item-content>
								<div>Engineering Materials for Energy Systems</div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
						</d2l-list-item>
						<d2l-list-item selectable key="3" label="Geomorphology and GIS">
							<d2l-list-item-content>
								<div>Geomorphology and GIS</div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

			<h2>Selectable, Illustration, Secondary Actions</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-list>
						<d2l-list-item selectable key="1" label="Introductory Earth Sciences">
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/38e839b1-37fa-470c-8830-b189ce4ae134/tile-high-density-max-size.jpg"></img>
							<d2l-list-item-content>
								<div>Introductory Earth Sciences</div>
								<div slot="supporting-info">This course explores the geological process of the Earth's interior and surface. These include volcanism, earthquakes, mountains...</div>
							</d2l-list-item-content>
							<div slot="actions">
								<d2l-button-icon text="My Button" icon="tier1:preview"></d2l-button-icon>
								<d2l-button-icon text="My Button" icon="tier1:more"></d2l-button-icon>
							</div>
						</d2l-list-item>
						<d2l-list-item selectable key="2" selected label="Engineering Materials for Energy Systems">
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/e5fd575a-bc14-4a80-89e1-46f349a76178/tile-high-density-max-size.jpg"></img>
							<d2l-list-item-content>
								<div>Engineering Materials for Energy Systems</div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
							<div slot="actions">
								<d2l-button-icon text="My Button" icon="tier1:preview"></d2l-button-icon>
								<d2l-button-icon text="My Button" icon="tier1:more"></d2l-button-icon>
							</div>
						</d2l-list-item>
						<d2l-list-item selectable key="3" label="Geomorphology and GIS">
							<img slot="illustration" src="https://s.brightspace.com/course-images/images/63b162ab-b582-4bf9-8c1d-1dad04714121/tile-high-density-max-size.jpg"></img>
							<d2l-list-item-content>
								<div>Geomorphology and GIS</div>
								<div slot="supporting-info">This course explores the geological processes of the Earth's interior and surface. These include volcanism, earthquakes, mountain...</div>
							</d2l-list-item-content>
							<div slot="actions">
								<d2l-button-icon text="My Button" icon="tier1:preview"></d2l-button-icon>
								<d2l-button-icon text="My Button" icon="tier1:more"></d2l-button-icon>
							</div>
						</d2l-list-item>
					</d2l-list>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

	</body>
</html>
