<!DOCTYPE html>
<html lang="en" data-timezone='{"name": "est", "identifier": "America/Toronto"}'>
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../typography/typography.js';
		import '../calendar.js';
		import sinon from 'sinon';

		const newToday = new Date('2018-02-12T12:00Z');
		sinon.useFakeTimers({now: newToday.getTime(), toFake: ['Date']});
	</script>
	<title>d2l-calendar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-calendar id="contains-today-diff-selected" selected-value="2018-02-14"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="no-selected"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="today-selected" selected-value="2018-02-12"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="dec-2019" selected-value="2019-12-01"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="max" max-value="2017-02-27"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="min" min-value="2020-01-31"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="min-max" min-value="2018-01-31" max-value="2018-02-27" selected-value="2018-02-14"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="min-max-no-selected" min-value="2017-08-31" max-value="2017-10-27" ></d2l-calendar>
	</div>
</body>
</html>
