<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../typography/typography.js';
		import '../calendar.js';

		const oldDate = Date;

		// eslint-disable-next-line no-global-assign
		Date = function(input1, input2, input3) {
			if (!input1) return new oldDate('2018-02-12T12:00Z');
			return (input2 !== 0 && !input2) ? new oldDate(input1) : new oldDate(input1, input2, input3);
		};
		Date.prototype = oldDate.prototype;
	</script>
	<title>d2l-calendar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-calendar id="no-selected"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="contains-today-diff-selected" selected-value="2018-02-14T12:00Z"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="today-selected" selected-value="2018-02-12T12:00Z"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="dec-2019" selected-value="2019-12-01T12:00Z"></d2l-calendar>
	</div>
	<div class="visual-diff">
		<d2l-calendar id="nov-2019" selected-value="2019-11-15T12:00Z"></d2l-calendar>
	</div>
</body>
</html>
