<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../icon-custom.js';
			import { css, html, LitElement } from 'lit';
			import { bodyCompactStyles } from '../../typography/styles.js';
			import { unsafeHTML } from 'lit/directives/unsafe-html.js';

			class IconWrapper extends LitElement {
				static properties = {
					svg: { type: String },
					text: { type: String }
				};
				static styles = [bodyCompactStyles, css`
					:host {
						align-items: center;
						display: flex;
						gap: 1rem;
						margin-block-end: 0.5rem;
					}
				`];
				render() {
					return html`
						<d2l-icon-custom size="tier1">${unsafeHTML(this.svg)}</d2l-icon-custom>
						<div class="d2l-body-compact">${this.text}</div>
					`;
				}
			}
			customElements.define('d2l-demo-icon-wrapper', IconWrapper);
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="Editor Icons">

			<h3>Icons</h3>
			<d2l-demo-snippet code-view-hidden>
				<template>
					<div id="container"></div>
					<script data-demo-hide type="module">
						import * as editorIcons from '../editor-icons.js';

						const container = document.querySelector('#container');

						for (const [name, svg] of Object.entries(editorIcons)) {
							const icon = document.createElement('d2l-demo-icon-wrapper');
							icon.size = 'tier1';
							icon.svg = svg;
							icon.text = name;
							container.appendChild(icon);
						}
					</script>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
