<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../typography/typography.js';
		import '../menu.js';
		import '../menu-item.js';
		import '../menu-item-link.js';
		import '../menu-item-separator.js';
	</script>
	<title>d2l-menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-menu id="normal">
			<d2l-menu-item text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."></d2l-menu-item>
			<d2l-menu-item-separator></d2l-menu-item-separator>
			<d2l-menu-item text="b"></d2l-menu-item>
			<d2l-menu-item text="c"></d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="hidden">
			<d2l-menu-item text="a" hidden></d2l-menu-item>
			<d2l-menu-item text="b"></d2l-menu-item>
			<d2l-menu-item text="c"></d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="disabled">
			<d2l-menu-item text="a"></d2l-menu-item>
			<d2l-menu-item text="b" disabled></d2l-menu-item>
			<d2l-menu-item-separator></d2l-menu-item-separator>
			<d2l-menu-item-link text="c" href="https://en.wikipedia.org/wiki/Universe"></d2l-menu-item-link>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="nested">
			<d2l-menu-item text="a"></d2l-menu-item>
			<d2l-menu-item id="b1" text="b">
				<d2l-menu id="nestedMenu">
					<d2l-menu-item text="a2" id="a2"></d2l-menu-item>
					<d2l-menu-item text="b2" id="b2"></d2l-menu-item>
				</d2l-menu>
			</d2l-menu-item>
			<d2l-menu-item text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
				<d2l-menu>
					<d2l-menu-item text="a3"></d2l-menu-item>
					<d2l-menu-item text="b3"></d2l-menu-item>
				</d2l-menu>
			</d2l-menu-item>
			<d2l-menu-item text="c"></d2l-menu-item>
		</d2l-menu>
	</div>
</body>
</html>
