<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import '../menu.js';
		import '../menu-item-radio.js';
	</script>
	<title>d2l-menu (radio)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-menu id="normal">
			<d2l-menu-item-radio value="1" id="normal-a" text="a"></d2l-menu-item-radio>
			<d2l-menu-item-radio value="2" id="normal-b" text="b"></d2l-menu-item-radio>
		</d2l-menu>
	</div>

	<div class="visual-diff">
		<d2l-menu id="selected">
			<d2l-menu-item-radio value="1" text="a"></d2l-menu-item-radio>
			<d2l-menu-item-radio value="3" selected text="b"></d2l-menu-item-radio>
		</d2l-menu>
	</div>

	<div class="visual-diff">
		<d2l-menu id="disabled">
			<d2l-menu-item-radio value="1" text="a"></d2l-menu-item-radio>
			<d2l-menu-item-radio disabled id="disabled-b" value="3" text="b"></d2l-menu-item-radio>
		</d2l-menu>
	</div>

	<div class="visual-diff">
		<d2l-menu id="supporting">
			<d2l-menu-item-radio value="1" text="a">
				<div slot="supporting">supporting</div>
			</d2l-menu-item-radio>
			<d2l-menu-item-radio value="3" text="b" selected>
				<div slot="supporting">supporting</div>
			</d2l-menu-item-radio>
		</d2l-menu>
	</div>

	<div class="visual-diff">
		<d2l-menu id="long">
			<d2l-menu-item-radio selected text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."></d2l-menu-item-radio>
		</d2l-menu>
	</div>

	<div class="visual-diff">
		<d2l-menu id="dark" theme="dark">
			<d2l-menu-item-radio value="1" text="normal"></d2l-menu-item-radio>
			<d2l-menu-item-radio value="2" text="selected" selected></d2l-menu-item-radio>
			<d2l-menu-item-radio value="3" text="disabled" disabled></d2l-menu-item-radio>
			<d2l-menu-item-radio value="4" text="supporting">
				<div slot="supporting">supporting</div>
			</d2l-menu-item-radio>
		</d2l-menu>
	</div>
</body>
</html>
