<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import './custom-view.js';
		import '../menu.js';
		import '../menu-item.js';
		import '../menu-item-link.js';
		import '../menu-item-separator.js';
	</script>
	<title>d2l-menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-menu id="normal">
			<d2l-menu-item id="normal-first" text="a"></d2l-menu-item>
			<d2l-menu-item id="normal-b" text="b"></d2l-menu-item>
			<d2l-menu-item id="normal-last" text="c"></d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="separator">
			<d2l-menu-item text="a"></d2l-menu-item>
			<d2l-menu-item-separator></d2l-menu-item-separator>
			<d2l-menu-item text="b"></d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="long">
			<d2l-menu-item text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."></d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="long-unbreakable">
			<d2l-menu-item text="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"></d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="hidden">
			<d2l-menu-item text="a" hidden></d2l-menu-item>
			<d2l-menu-item text="b"></d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="disabled">
			<d2l-menu-item id="disabled-item" text="a" disabled></d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="link">
			<d2l-menu-item-link text="c" href="https://en.wikipedia.org/wiki/Universe"></d2l-menu-item-link>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="link-long">
			<d2l-menu-item-link text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." href="https://en.wikipedia.org/wiki/Universe"></d2l-menu-item-link>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="nested">
			<d2l-menu-item id="nested-item" text="b">
				<d2l-menu id="nested-menu">
					<d2l-menu-item text="b2" id="b2"></d2l-menu-item>
				</d2l-menu>
			</d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="nested-long">
			<d2l-menu-item id="nested-item-long" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
				<d2l-menu>
					<d2l-menu-item text="a3"></d2l-menu-item>
				</d2l-menu>
			</d2l-menu-item>
			<d2l-menu-item text="b"></d2l-menu-item>
			<d2l-menu-item text="c"></d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="custom-view">
			<d2l-menu-item id="custom-view-item" text="a">
				<d2l-custom-view></d2l-custom-view>
			</d2l-menu-item>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="supporting">
			<d2l-menu-item text="nested">
				<div slot="supporting">supporting</div>
				<d2l-menu>
					<d2l-menu-item text="a3"></d2l-menu-item>
				</d2l-menu>
			</d2l-menu-item>
			<d2l-menu-item text="normal">
				<div slot="supporting">supporting</div>
			</d2l-menu-item>
			<d2l-menu-item-link text="link" href="https://en.wikipedia.org/wiki/Universe">
				<div slot="supporting">supporting</div>
			</d2l-menu-item-link>
		</d2l-menu>
	</div>
	<div class="visual-diff">
		<d2l-menu id="dark" theme="dark">
			<d2l-menu-item text="nested">
				<d2l-menu theme="dark">
					<d2l-menu-item text="a3"></d2l-menu-item>
				</d2l-menu>
			</d2l-menu-item>
			<d2l-menu-item text="normal" id="dark-item"></d2l-menu-item>
			<d2l-menu-item text="disabled" disabled></d2l-menu-item>
			<d2l-menu-item-separator></d2l-menu-item-separator>
			<d2l-menu-item-link text="link" href="https://en.wikipedia.org/wiki/Universe"></d2l-menu-item-link>
			<d2l-menu-item text="supporting">
				<div slot="supporting">supporting</div>
			</d2l-menu-item>
		</d2l-menu>
	</div>
</body>
</html>
