<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
		<title>d2l-menu unit tests</title>
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script src="/node_modules/mocha/mocha.js"></script>
		<script src="/node_modules/chai/chai.js"></script>
		<script src="/node_modules/@polymer/test-fixture/test-fixture.js"></script>
		<script src="/node_modules/wct-mocha/wct-mocha.js"></script>
		<script type="module" src="../menu.js"></script>
		<script type="module" src="../menu-item.js"></script>
	</head>
	<body>

		<test-fixture id="basic">
			<template>
				<d2l-menu id="menu" label="menu label">
					<d2l-menu-item></d2l-menu-item>
					<d2l-menu-item></d2l-menu-item>
				</d2l-menu>
			</template>
		</test-fixture>

		<test-fixture id="focus">
			<template>
				<d2l-menu id="menu">
					<d2l-menu-item id="hidden_a" text="a" hidden></d2l-menu-item>
					<d2l-menu-item id="a1" text="a"></d2l-menu-item>
					<d2l-menu-item id="b1" text="b" disabled></d2l-menu-item>
					<d2l-menu-item id="a2" text="a"></d2l-menu-item>
					<d2l-menu-item id="c1" text="c"></d2l-menu-item>
					<d2l-menu-item id="d1" text="d"></d2l-menu-item>
				</d2l-menu>
			</template>
		</test-fixture>

		<test-fixture id="nested">
			<template>
				<d2l-menu id="menu">
					<d2l-menu-item id="a1"></d2l-menu-item>
					<d2l-menu-item id="b1" text="b">
						<d2l-menu id="nestedMenu">
							<d2l-menu-item id="a2"></d2l-menu-item>
							<d2l-menu-item id="b2"></d2l-menu-item>
						</d2l-menu>
					</d2l-menu-item>
					<d2l-menu-item id="c1"></d2l-menu-item>
				</d2l-menu>
			</template>
		</test-fixture>

		<script type="module">
			import { runAxe } from '../../../tools/a11y-test-helper.js';

			describe('d2l-menu', () => {
				let menu;
				describe('basic', () => {
					beforeEach(async() => {
						menu = fixture('basic');
						await menu.updateComplete;
					});

					it('should pass all axe tests for d2l-menu', async() => {
						await runAxe(menu);
					});

					it('has role="menu"', () => {
						expect(menu.getAttribute('role')).to.equal('menu');
					});

					it('has aria-label equal to label text', () => {
						expect(menu.getAttribute('aria-label')).to.equal('menu label');
					});

					it('has 2 menu items', () => {
						expect(menu.querySelectorAll('d2l-menu-item').length).to.equal(2);
					});
				});

				describe('nested menu', () => {

					beforeEach(async() => {
						menu = fixture('nested');
						await menu.updateComplete;
					});

					it('sets label for nested menu to the opener item text', () => {
						expect(menu.querySelector('#nestedMenu').getAttribute('aria-label')).to.equal('b');
					});

					it('shows nested menu when opener is clicked', (done) => {
						menu.addEventListener('d2l-hierarchical-view-show-complete', () => {
							expect(menu.querySelector('#nestedMenu').isActive()).to.be.true;
							done();
						});
						menu.querySelector('#b1').click();
					});

					it('sets focus to d2l-menu-item-return when nested menu is displayed', (done) => {
						menu.addEventListener('d2l-hierarchical-view-show-complete', () => {
							let focused = (document.activeElement.tagName === 'D2L-MENU-ITEM-RETURN');
							if (!focused) {
								focused = (document.activeElement === menu.querySelector('#nestedMenu'));
							}
							expect(focused).to.be.true;
							done();
						});
						menu.querySelector('#b1').click();
					});

					it('shows nested menu when right arrow is pressed on opener', (done) => {
						menu.addEventListener('d2l-hierarchical-view-show-complete', () => {
							expect(menu.querySelector('#nestedMenu').isActive()).to.be.true;
							done();
						});
						fireKeyEvent(menu.querySelector('#b1'), 39);
					});

					it('hides nested menu when left arrow is pressed in nested menu', (done) => {
						menu.addEventListener('d2l-hierarchical-view-hide-complete', () => {
							expect(menu.isActive()).to.be.true;
							done();
						});
						menu.addEventListener('d2l-hierarchical-view-show-complete', () => {
							fireKeyEvent(menu.querySelector('#b2'), 37);
						});
						menu.querySelector('#b1').click();
					});

					it.skip('hides nested menu when escape is pressed in nested menu', (done) => {
						menu.addEventListener('d2l-hierarchical-view-hide-complete', () => {
							expect(menu.isActive()).to.be.true;
							done();
						});
						menu.addEventListener('d2l-hierarchical-view-show-complete', () => {
							fireKeyEvent(menu.querySelector('#b2'), 27);
						});
						menu.querySelector('#b1').click();
					});

					it('hides nested menu when d2l-menu-item-return is clicked', (done) => {
						menu.addEventListener('d2l-hierarchical-view-hide-complete', () => {
							expect(menu.isActive()).to.be.true;
							done();
						});
						menu.addEventListener('d2l-hierarchical-view-show-complete', () => {
							const returnItem = menu.querySelector('#nestedMenu')._getMenuItemReturn();
							returnItem.click();
						});
						menu.querySelector('#b1').click();
					});

				});

				describe('focus management', () => {

					/* helper needed since MockInteractions does not set charCode */
					// const keyPressOn = function(target, keyCode) {
					// 	var e = MockInteractions.keyboardEventFor('keypress', keyCode);
					// 	e.charCode = keyCode;
					// 	target.dispatchEvent(e);
					// };

					beforeEach(async() => {
						menu = fixture('focus');
						await menu.updateComplete;
					});

					it('sets tabindex equal to 0 for first menu item', () => {
						expect(menu.querySelector('#a1').getAttribute('tabindex')).to.equal('0');
					});

					it('sets tabindex equal to -1 for hidden menu item', () => {
						expect(menu.querySelector('#hidden_a').getAttribute('tabindex')).to.equal('-1');
					});

					it('sets tabindex equal to -1 for menu items after first menu item', () => {
						const items = menu.querySelector('d2l-menu-item');
						for (let i = 1; i < items.length; i++) {
							expect(items[i].getAttribute('tabindex')).to.equal('-1');
						}
					});

					it('focus method sets focus to first visible menu item', () => {
						menu.focus();
						expect(document.activeElement).to.equal(menu.querySelector('#a1'));
					});

					it('down arrow moves focus to next focusable item', () => {
						fireKeyEvent(menu.querySelector('#c1'), 40);
						expect(document.activeElement).to.equal(menu.querySelector('#d1'));
					});

					it('up arrow moves focus to previous focusable item', () => {
						fireKeyEvent(menu.querySelector('#d1'), 38);
						expect(document.activeElement).to.equal(menu.querySelector('#c1'));
					});

					it('down arrow on last focusable item moves focus to first focusable item', () => {
						fireKeyEvent(menu.querySelector('#d1'), 40);
						expect(document.activeElement).to.equal(menu.querySelector('#a1'));
					});

					it('up arrow on first focusable item moves focus to last focusable item', () => {
						fireKeyEvent(menu.querySelector('#a1'), 38);
						expect(document.activeElement).to.equal(menu.querySelector('#d1'));
					});

					// fails in IE11
					it('sets focus to disabled menu items', () => {
						fireKeyEvent(menu.querySelector('#a1'), 40);
						expect(document.activeElement).to.equal(menu.querySelector('#b1'));
					});

					it.skip('sets focus to next item that starts with character pressed', () => {
						// keyPressOn(menu.querySelector('#a1'), 99); /* "c" */
						fireKeyEvent(menu.querySelector('#a1'), 99);
						expect(document.activeElement).to.equal(menu.querySelector('#c1'));
					});

					// fails in IE11
					it.skip('sets focus by rolling over to beginning of menu when searching if necessary', () => {
						// keyPressOn(menu.querySelector('#c1'), 98); /* "b" */
						fireKeyEvent(menu.querySelector('#c1'), 98);
						expect(document.activeElement).to.equal(menu.querySelector('#b1'));
					});

				});
			});

			function fireKeyEvent(el, key) {
				if (document.createEventObject) {
					const eventObj = document.createEventObject();
					eventObj.keyCode = key;
					el.fireEvent('onkeydown', eventObj);
				} else if (document.createEvent) {
					const eventObj = document.createEvent('Events');
					eventObj.initEvent('keydown', true, true);
					eventObj.which = key;
					eventObj.keyCode = key;
					eventObj.charCode = key;
					el.dispatchEvent(eventObj);
				}
			}
		</script>
	</body>
</html>
