<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../empty-state-action-button.js';
			import '../empty-state-action-link.js';
			import '../empty-state-illustrated.js';
			import '../empty-state-simple.js';
			import '../../demo/demo-page.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-empty-state">

			<h2>Empty State Simple</h2>

			<h5>No Action</h5>
			<d2l-demo-snippet>
				<template>
					<d2l-empty-state-simple description="There are no assignments to display."></d2l-empty-state-simple>
				</template>
			</d2l-demo-snippet>

			<h5>Empty State Action Button</h5>
			<d2l-demo-snippet>
				<template>
					<d2l-empty-state-simple description="There are no assignments to display.">
						<d2l-empty-state-action-button text="Create New Assignment"></d2l-empty-state-action-button>
					</d2l-empty-state-simple>
				</template>
			</d2l-demo-snippet>

			<h5>Empty State Action Link</h5>
			<d2l-demo-snippet>
				<template>
					<d2l-empty-state-simple description="There are no assignments to display.">
						<d2l-empty-state-action-link text="Create New Assignment" href="https://d2l.com"></d2l-empty-state-action-link>
					</d2l-empty-state-simple>
				</template>
			</d2l-demo-snippet>

			<h5>Empty State Only Button</h5>
			<d2l-demo-snippet>
				<template>
					<d2l-empty-state-simple>
						<d2l-empty-state-action-link text="Create New Assignment" href="https://d2l.com"></d2l-empty-state-action-link>
					</d2l-empty-state-simple>
				</template>
			</d2l-demo-snippet>

			<h2>Empty State Illustrated</h2>

			<h5>No Action</h5>
			<d2l-demo-snippet>
				<template>
					<d2l-empty-state-illustrated illustration-name="fish-hook" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path."></d2l-empty-state-illustrated>
				</template>
			</d2l-demo-snippet>

			<h5>Empty State Action Button</h5>
			<d2l-demo-snippet>
				<template>
					<d2l-empty-state-illustrated illustration-name="fish-hook" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path.">
						<d2l-empty-state-action-button text="Create Learning Paths" primary></d2l-empty-state-action-button>
					</d2l-empty-state-illustrated>
				</template>
			</d2l-demo-snippet>

			<h5>Empty State Action Link</h5>
			<d2l-demo-snippet>
				<template>
					<d2l-empty-state-illustrated illustration-name="fish-hook" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path.">
						<d2l-empty-state-action-link text="Create Learning Paths" href="https://d2l.com"></d2l-empty-state-action-link>
					</d2l-empty-state-illustrated>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

	</body>
</html>
