				<template>
					<d2l-state-illustrated illustration-name="fish-hook" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path.">
						<d2l-state-action-button text="Create Learning Paths" primary></d2l-state-action-button>
					</d2l-state-illustrated>
				</template>
			</d2l-demo-snippet>

			<h5>State Action Link</h5>
			<d2l-demo-snippet>
				<template>
					<d2l-state-illustrated illustration-name="fish-hook" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path.">
						<d2l-state-action-link text="Create Learning Paths" href="https://d2l.com"></d2l-state-action-link>
					</d2l-state-illustrated>
				</template>
			</d2l-demo-snippet>

			<h5>State Action Link + target</h5>
			<d2l-demo-snippet>
				<template>
					<d2l-state-illustrated illustration-name="fish-hook" title-text="No Learning Paths Yet" description="Get started by clicking below to create your first learning path.">
						<d2l-state-action-link text="Create Learning Paths" href="https://d2l.com" target="_blank"></d2l-state-action-link>
					</d2l-state-illustrated>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

	</body>
</html>
