<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';

			import '../object-property-list.js';
			import '../object-property-list-item.js';
			import '../object-property-list-item-link.js';
			import '../object-property-list-item-tooltip-help.js';
			import '../../icons/icon-custom.js';
			import '../../status-indicator/status-indicator.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-object-property-list">

			<h2>Object Property List: Single item</h2>

			<d2l-demo-snippet overflow-hidden>
				<template>
					<d2l-object-property-list>
						<d2l-object-property-list-item text="Example item"></d2l-object-property-list-item>
					</d2l-object-property-list>
				</template>
			</d2l-demo-snippet>

			<h2>Object Property List: All item variants</h2>

			<d2l-demo-snippet overflow-hidden>
				<template>
					<d2l-object-property-list>
						<d2l-status-indicator slot="status" state="default" text="Status"></d2l-status-indicator>
						<d2l-object-property-list-item text="Example item"></d2l-object-property-list-item>
						<d2l-object-property-list-item text="Example item with icon" icon="tier1:grade"></d2l-object-property-list-item>
						<d2l-object-property-list-item-link text="Example link" href="https://www.d2l.com/"></d2l-object-property-list-item-link>
						<d2l-object-property-list-item-link target="_blank" text="Example new tab link" href="https://www.d2l.com/"></d2l-object-property-list-item-link>
						<d2l-object-property-list-item-link text="Example link with icon" href="https://www.d2l.com/" icon="tier1:alert"></d2l-object-property-list-item-link>
						<d2l-object-property-list-item-tooltip-help text="Example tooltip">This are extra details</d2l-object-property-list-item-tooltip-help>
						<d2l-object-property-list-item-tooltip-help text="Example tooltip with icon" icon="tier1:alert">This are extra details</d2l-object-property-list-item-tooltip-help>
						<d2l-object-property-list-item-tooltip-help text="Example tooltip with custom icon">
							This are extra details
							<d2l-icon-custom slot="icon">
								<svg xmlns="http://www.w3.org/2000/svg" mirror-in-rtl="true">
									 <path fill="#494c4e" d="M18 12v5a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-5a1 1 0 0 1 2 0v4h14v-4a1 1 0 0 1 2 0z"/>
									 <path fill="#494c4e" d="M13.85 3.15l-2.99-3A.507.507 0 0 0 10.5 0H5.4A1.417 1.417 0 0 0 4 1.43v11.14A1.417 1.417 0 0 0 5.4 14h7.2a1.417 1.417 0 0 0 1.4-1.43V3.5a.47.47 0 0 0-.15-.35zM7 2h1a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2zm4 10H7a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zm0-4H7a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2z"/>
								 </svg>
							</d2l-icon-custom>
						</d2l-object-property-list-item-tooltip-help>
					</d2l-object-property-list>
				</template>
			</d2l-demo-snippet>

			<h2>Object Property List: Long items to demonstrate word-wrap</h2>

			<d2l-demo-snippet overflow-hidden>
				<template>
					<d2l-object-property-list>
						<d2l-object-property-list-item icon="tier1:grade" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellat cum totam! Enim, sunt."></d2l-object-property-list-item>
						<d2l-object-property-list-item icon="tier1:alert" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellat cum totam! Enim, sunt."></d2l-object-property-list-item>
					</d2l-object-property-list>
				</template>
			</d2l-demo-snippet>

			<h2>Object Property List: Skeleton item count set</h2>

			<d2l-demo-snippet overflow-hidden>
				<template>
					<d2l-object-property-list skeleton-count="3"></d2l-object-property-list>
				</template>
			</d2l-demo-snippet>

			<h2>Object Property List: Hidden items</h2>

			<d2l-demo-snippet overflow-hidden>
				<template>
					<d2l-object-property-list>
						<d2l-object-property-list-item text="Item 1"></d2l-object-property-list-item>
						<d2l-object-property-list-item text="Item 2 (Hidden)" hidden></d2l-object-property-list-item>
						<d2l-object-property-list-item text="Item 3"></d2l-object-property-list-item>
						<d2l-object-property-list-item text="Item 4 (Hidden)" hidden></d2l-object-property-list-item>
					</d2l-object-property-list>
				</template>
			</d2l-demo-snippet>

			<h2>Object Property List: No external whitespace (still contains internal whitespace in the component renderers)</h2>

			<d2l-demo-snippet overflow-hidden>
				<template>
					<d2l-object-property-list><d2l-status-indicator slot="status" state="default" text="Status"></d2l-status-indicator><d2l-object-property-list-item text="Example item"></d2l-object-property-list-item><d2l-object-property-list-item text="Example item with icon" icon="tier1:grade"></d2l-object-property-list-item><d2l-object-property-list-item-link text="Example link" href="https://www.d2l.com/"></d2l-object-property-list-item-link><d2l-object-property-list-item-link text="Example link with icon" href="https://www.d2l.com/" icon="tier1:alert"></d2l-object-property-list-item-link></d2l-object-property-list>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
