<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script>
			//window.D2L = { DialogMixin: { preferNative: false } };
		</script>
		<script type="module">
			import '../../demo/demo-page.js';
			import '../../button/button.js';
			import '../../dropdown/dropdown-button-subtle.js';
			import '../../dropdown/dropdown-content.js';
			import '../../filter/filter.js';
			import '../../filter/filter-dimension-set.js';
			import '../../filter/filter-dimension-set-value.js';
			import '../../list/demo/demo-list.js';
			import '../dialog.js';
			import './dialog-async-content.js';
			import './dialog-container.js';
		</script>
		<style>
			.d2l-typography p:first-child { margin-top: 0; }
			.d2l-typography p:last-child { margin-bottom: 0; }
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-dialog">

			<h2>Dialog</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button id="open">Show Dialog</d2l-button>
					<d2l-dialog id="dialog" title-text="Dialog Title">
						<div>
							<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
							<d2l-demo-list></d2l-demo-list>
							<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
							<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
							<d2l-dropdown-button-subtle text="More">
								<d2l-dropdown-content mobile-tray="right">
									<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
									<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
									<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
								</d2l-dropdown-content>
							</d2l-dropdown-button-subtle>
							<d2l-filter>
								<d2l-filter-dimension-set key="course" text="Course" select-all>
									<d2l-filter-dimension-set-value key="art" text="Art"></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="astronomy" text="Astronomy" selected></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="biology" text="Biology"></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="chemistry" text="Chemistry"></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="drama" text="Drama"></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="english" text="English"></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="how-to" text="How To Write a How To Article With a Flashy Title"></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="math" text="Math"></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="physics" text="Physics"></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="stats" text="Statistics"></d2l-filter-dimension-set-value>
									<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft"></d2l-filter-dimension-set-value>
								</d2l-filter-dimension-set>
							</d2l-filter>
						</div>
						<d2l-button slot="footer" primary data-dialog-action="ok">Click Me!</d2l-button>
						<d2l-button slot="footer" data-dialog-action>Cancel</d2l-button>
					</d2l-dialog>
					<script>
						document.querySelector('#open').addEventListener('click', () => {
							document.querySelector('#dialog').opened = true;
						});
						document.querySelector('#dialog').addEventListener('d2l-dialog-open', (e) => {
							console.log('dialog open', e);
						});
						document.querySelector('#dialog').addEventListener('d2l-dialog-close', (e) => {
							console.log('dialog close', e.detail.action);
						});
					</script>
				</template>
			</d2l-demo-snippet>

			<h2>Dialog (with promise)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button id="openPromise">Show Dialog</d2l-button>
					<d2l-dialog id="dialogPromise" title-text="Dialog Title">
						<div>
							<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
							<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
							<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
						</div>
						<d2l-button slot="footer" primary data-dialog-action="ok">Click Me!</d2l-button>
						<d2l-button slot="footer" data-dialog-action>Cancel</d2l-button>
					</d2l-dialog>
					<script>
						document.querySelector('#openPromise').addEventListener('click', async() => {
							const action = await document.querySelector('#dialogPromise').open();
							console.log('dialog action:', action);
						});
					</script>
				</template>
			</d2l-demo-snippet>

			<h2>Dialog (declarative)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-dialog-demo-container></d2l-dialog-demo-container>
				</template>
			</d2l-demo-snippet>

			<h2>Dialog (async)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button id="openAsync">Show Dialog</d2l-button>
					<d2l-dialog id="dialogAsync" title-text="Dialog Title" async>
						<d2l-dialog-demo-async-content></d2l-dialog-demo-async-content>
						<d2l-button slot="footer" primary data-dialog-action="ok">Click Me!</d2l-button>
						<d2l-button slot="footer" data-dialog-action>Cancel</d2l-button>
					</d2l-dialog>
					<script>
						document.querySelector('#openAsync').addEventListener('click', () => {
							document.querySelector('#dialogAsync').opened = true;
							document.querySelector('d2l-dialog-demo-async-content').href = 'some-href';
						});
						document.querySelector('#dialogAsync').addEventListener('d2l-dialog-close', (e) => {
							console.log('dialog action:', e.detail.action);
						});
					</script>
				</template>
			</d2l-demo-snippet>

			<h2>Dialog (intercept closing)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button id="openInterceptClosing">Show Dialog</d2l-button>
					<d2l-dialog id="dialogInterceptClosing" title-text="Dialog Prevent Closing">
						<div>
							<p>This dialog is prevented from closing by listening "d2l-dialog-before-close" event.</p>
							<d2l-dialog id="dialogConfirmClose" title-text="Comfirm close">
								<div>
									<p>Do you really want to close the previous dialog?</p>
								</div>
								<d2l-button slot="footer" primary data-dialog-action="confirm">Yes</d2l-button>
								<d2l-button slot="footer" data-dialog-action="deny">No</d2l-button>
							</d2l-dialog>
						</div>
						<d2l-button slot="footer" primary data-dialog-action="ok">Close Me!</d2l-button>
						<d2l-button slot="footer" data-dialog-action="close">Close without confirmation</d2l-button>
						<d2l-button slot="footer" data-dialog-action="cancel">Cancel</d2l-button>
					</d2l-dialog>
					<script>
						let canBeClosed = false;
						document.querySelector('#openInterceptClosing').addEventListener('click', () => {
							document.querySelector('#dialogInterceptClosing').opened = true;
						});
						document.querySelector('#dialogInterceptClosing').addEventListener('d2l-dialog-open', () => {
							canBeClosed = false;
						});
						document.querySelector('#dialogInterceptClosing').addEventListener('d2l-dialog-close', (e) => {
							console.log('dialog action:', e.detail.action);
						});
						document.querySelector('#dialogConfirmClose').addEventListener('d2l-dialog-close', (e) => {
							e.stopPropagation();
						});
						document.querySelector('#dialogInterceptClosing').addEventListener('d2l-dialog-before-close', async(e) => {

							if (e.detail.action === 'close' || canBeClosed) return;

							e.preventDefault();
							const action = await document.querySelector('#dialogConfirmClose').open();

							console.log('dialog action:', e.detail.action, ', confirm dialog action:', action);
							if (action === 'confirm') {
								canBeClosed = true;
								e.detail.closeDialog();
							}
						});
					</script>
				</template>
			</d2l-demo-snippet>

			<h2>Dialog (critical)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button id="openCritical">Show Dialog</d2l-button>
					<d2l-dialog id="dialogCritical" title-text="Dialog Title" critical>
						<div>
							<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
							<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
							<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
						</div>
						<d2l-button slot="footer" primary data-dialog-action="ok">Click Me!</d2l-button>
						<d2l-button slot="footer" data-dialog-action>Cancel</d2l-button>
					</d2l-dialog>
					<script>
						document.querySelector('#openCritical').addEventListener('click', () => {
							document.querySelector('#dialogCritical').opened = true;
						});
					</script>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
