<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script>
			//window.D2L = { DialogMixin: { preferNative: false } };
		</script>
		<script type="module">
			import '../../demo/demo-page.js';
			import '../../button/button.js';
			import '../dialog-fullscreen.js';
			import './dialog-async-content.js';
			import '../../dropdown/dropdown.js';
			import '../../dropdown/dropdown-more.js';
			import '../../dropdown/dropdown-menu.js';
			import '../../dropdown/dropdown-content.js';
			import '../../dropdown/dropdown-context-menu.js';
			import '../../menu/menu.js';
			import '../../menu/menu-item.js';
		</script>
		<style>
			.d2l-typography p:first-child { margin-top: 0; }
			.d2l-typography p:last-child { margin-bottom: 0; }
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-dialog-fullscreen">

			<h2>Fullscreen Dialog</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button id="open">Show Dialog</d2l-button>
					<d2l-dropdown-more text="Open!">
						<d2l-dropdown-menu>
							<d2l-menu label="Dialog">
								<d2l-menu-item id="dropdown" text="See dialog"></d2l-menu-item>
							</d2l-menu>
						</d2l-dropdown-menu>
					</d2l-dropdown-more>
					<d2l-dropdown-context-menu text="Open!">
						<d2l-dropdown-content max-width="400">
						  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
							ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
							deserunt mollit anim id est laborum.</p>
						  <button id="menu">D2L</button>
						</d2l-dropdown-content>
					  </d2l-dropdown-context-menu>
					<d2l-dialog-fullscreen id="dialogFullscreen" title-text="Fullscreen Title">
						<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
						<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
						<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
						<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
						<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
						<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
						<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
						<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
						<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
						<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker</p>
						<p>Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
						<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
						<d2l-button slot="footer" primary data-dialog-action="save">Save</d2l-button>
						<d2l-button slot="footer" data-dialog-action>Cancel</d2l-button>
					</d2l-dialog-fullscreen>
					<script>
						document.querySelector('#open').addEventListener('click', () => {
							document.querySelector('#dialogFullscreen').opened = true;
						});
						document.querySelector('#dropdown').addEventListener('click', () => {
							document.querySelector('#dialogFullscreen').opened = true;
						});
						document.querySelector('#menu').addEventListener('click', () => {
							document.querySelector('#dialogFullscreen').opened = true;
						});
						document.querySelector('#dialogFullscreen').addEventListener('d2l-dialog-close', (e) => {
							console.log('confirm action:', e.detail.action);
						});
					</script>
				</template>
			</d2l-demo-snippet>

			<h2>Fullscreen Dialog (async)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button id="openAsync">Show Dialog</d2l-button>
					<d2l-dialog-fullscreen id="dialogAsync" title-text="Fullscreen Title" async>
						<d2l-dialog-demo-async-content></d2l-dialog-demo-async-content>
						<d2l-button slot="footer" primary data-dialog-action="save">Save</d2l-button>
						<d2l-button slot="footer" data-dialog-action>Cancel</d2l-button>
					</d2l-dialog-fullscreen>
					<script>
						document.querySelector('#openAsync').addEventListener('click', () => {
							document.querySelector('#dialogAsync').opened = true;
							document.querySelector('d2l-dialog-demo-async-content').href = 'some-href';
						});
						document.querySelector('#dialogAsync').addEventListener('d2l-dialog-close', (e) => {
							console.log('dialog action:', e.detail.action);
						});
					</script>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
