<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../demo/demo-page.js';
			import '../../button/button.js';
			import '../dialog.js';
		</script>
		<style>
			.d2l-typography p:first-child { margin-top: 0; }
			.d2l-typography p:first-child { margin-bottom: 0; }
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page title="d2l-dialog">

			<h2>Dialog</h2>

			<d2l-demo-snippet>
				<d2l-button id="open">Show Dialog</d2l-button>
				<d2l-dialog id="dialog" title="Dialog Title">
					<p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
					<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
					<d2l-button slot="footer" id="cancel">Cancel</d2l-button>
				</d2l-dialog>
				<script>
					document.querySelector('#open').addEventListener('click', () => {
						document.querySelector('#dialog').opened = true;
					});
					document.querySelector('#cancel').addEventListener('click', () => {
						document.querySelector('#dialog').opened = false;
					});
				</script>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
