<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import '../../tooltip/tooltip.js';
		import '../card-footer-link.js';
	</script>
	<title>d2l-card-footer-link</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		body {
			margin: 0;
		}
		.visual-diff {
			padding-bottom: 3rem;
			width: 300px;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-card-footer-link id="no-secondary" icon="tier1:gear" text="Settings" href="https://www.d2l.com">
			<d2l-tooltip slot="tooltip" for="no-secondary">No new settings</d2l-tooltip>
		</d2l-card-footer-link>
	</div>

	<div class="visual-diff">
		<d2l-card-footer-link id="secondary-notification" icon="tier1:gear" text="Settings" href="https://www.d2l.com" secondary-count="100" secondary-count-type="notification">
			<d2l-tooltip slot="tooltip" for="secondary-notification">100 new settings</d2l-tooltip>
		</d2l-card-footer-link>
	</div>

	<div class="visual-diff">
		<d2l-card-footer-link id="secondary-count" icon="tier1:gear" tooltip-text="text here" text="Settings" href="https://www.d2l.com" secondary-count="100" secondary-count-max-digits="2" secondary-count-type="count">
			<d2l-tooltip slot="tooltip" for="secondary-count">100 settings applied</d2l-tooltip>
		</d2l-card-footer-link>
	</div>

	<div class="visual-diff">
		<d2l-card-footer-link id="no-secondary-focus" icon="tier1:gear" text="Settings" href="https://www.d2l.com">
			<d2l-tooltip slot="tooltip" force-show for="no-secondary-focus" position="bottom">No new settings</d2l-tooltip>
		</d2l-card-footer-link>
	</div>

	<div class="visual-diff">
		<d2l-card-footer-link id="secondary-notification-focus" icon="tier1:gear" text="Settings" href="https://www.d2l.com" secondary-count="100" secondary-count-type="notification">
			<d2l-tooltip slot="tooltip" force-show for="secondary-notification-focus" position="bottom">100 new settings</d2l-tooltip>
		</d2l-card-footer-link>
	</div>

	<div class="visual-diff">
		<d2l-card-footer-link id="secondary-count-focus" icon="tier1:gear" tooltip-text="text here" text="Settings" href="https://www.d2l.com" secondary-count="100" secondary-count-max-digits="2" secondary-count-type="count">
			<d2l-tooltip slot="tooltip" force-show for="secondary-count-focus" position="bottom">100 settings applied</d2l-tooltip>
		</d2l-card-footer-link>
	</div>

</body>
</html>
