<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../button/button.js';
		import '../../button/button-icon.js';
		import '../../dropdown/dropdown-more.js';
		import '../../dropdown/dropdown-content.js';
		import '../../tooltip/tooltip.js';
		import '../../typography/typography.js';
		import '../card.js';
	</script>
	<title>d2l-card</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		body {
			margin: 0;
		}
		.visual-diff {
			width: 300px;
		}
		.subtle {
			background-color: #f6f7f8;
			padding: 20px;
		}
		d2l-card {
			height: 260px;
			width: 210px;
		}
		[slot="header"] {
			background-color: orange;
			height: 95px;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-card id="header-content">
			<div slot="header">Header</div>
			<div slot="content">Content</div>
		</d2l-card>
	</div>

	<div class="visual-diff">
		<d2l-card id="footer">
			<div slot="header">Header</div>
			<div slot="content">Content</div>
			<div slot="footer">Footer</div>
		</d2l-card>
	</div>

	<div class="visual-diff">
		<d2l-card id="align-center" align-center>
			<div slot="header">Header</div>
			<div slot="content">Content</div>
			<div slot="footer">Footer</div>
		</d2l-card>
	</div>

	<div class="visual-diff">
		<d2l-card id="badge">
			<div slot="header">Header</div>
			<div slot="content">Content</div>
			<div slot="badge">
				<div style="background-color: white; border: 1px solid black; border-radius: 6px; display: inline-block; line-height: 1rem; padding: 0.3rem; width: 60px;">Badge</div>
			</div>
		</d2l-card>
	</div>

	<div class="visual-diff">
		<d2l-card id="actions">
			<div slot="header"></div>
			<d2l-button-icon slot="actions" translucent text="gear" icon="tier1:gear"></d2l-button-icon>
			<d2l-button-icon slot="actions" translucent text="pin" icon="tier1:pin-filled"></d2l-button-icon>
			<div slot="content">Content</div>
		</d2l-card>
	</div>

	<div class="visual-diff">
		<d2l-card id="actions-rtl" dir="rtl">
			<div slot="header"></div>
			<d2l-button-icon slot="actions" translucent text="gear" icon="tier1:gear"></d2l-button-icon>
			<d2l-button-icon slot="actions" translucent text="pin" icon="tier1:pin-filled"></d2l-button-icon>
			<div slot="content">Content</div>
		</d2l-card>
	</div>

	<div class="visual-diff subtle">
		<d2l-card id="subtle" subtle>
			<div slot="header">Header</div>
			<div slot="content">Content</div>
		</d2l-card>
	</div>

	<div class="visual-diff">
		<d2l-card id="link" text="Link Text" href="https://www.d2l.com">
			<div slot="header"></div>
			<d2l-button-icon slot="actions" translucent text="gear" icon="tier1:gear"></d2l-button-icon>
			<div slot="content">Content</div>
			<d2l-button slot="footer" style="width: 100%;">Shiny</d2l-button>
		</d2l-card>
	</div>

	<div class="visual-diff" id="with-dropdown" style="width: 500px;">
		<d2l-card text="Link Text" href="https://www.d2l.com">
			<div slot="header">Header 1</div>
			<d2l-dropdown-more slot="actions" translucent text="Open!">
					<d2l-dropdown-content>
						<div>Super fancy dropdown features that should overlap the adjacent card. It should also overlap this card's content and footer.</div>
					</d2l-dropdown-content>
			</d2l-dropdown-more>
			<div slot="content">Content 1</div>
			<div slot="footer">Footer 1</div>
		</d2l-card>
		<d2l-card text="Link Text" href="https://www.d2l.com">
			<div slot="header">Header 2</div>
			<div slot="content">Content 2</div>
			<div slot="footer">Footer 2</div>
		</d2l-card>
	</div>

	<div class="visual-diff" id="with-dropdown-adjacent-hover" style="width: 500px;">
		<d2l-card text="Link Text" href="https://www.d2l.com">
			<div slot="header">Header 1</div>
			<d2l-dropdown-more slot="actions" translucent text="Open!">
					<d2l-dropdown-content>
						<div>Super fancy dropdown features that should overlap the adjacent card. It should also overlap this card's content and footer.</div>
					</d2l-dropdown-content>
			</d2l-dropdown-more>
			<div slot="content">Content 1</div>
			<div slot="footer">Footer 1</div>
		</d2l-card>
		<d2l-card text="Link Text" href="https://www.d2l.com">
			<div id="hover-target" slot="header">Header 2</div>
			<div slot="content">Content 2</div>
			<div slot="footer">Footer 2</div>
		</d2l-card>
	</div>

	<div class="visual-diff" id="with-tooltip" style="width: 500px;">
		<d2l-card text="Link Text" href="https://www.d2l.com">
			<div slot="header">Header 1</div>
			<div slot="content">Content 1</div>
			<div slot="footer">
				<d2l-button id="shiny-button" style="width: 100%;">Shiny</d2l-button>
				<d2l-tooltip position="top" for="shiny-button">Shiny tooltip text that should overlap the adjacent card.</d2l-tooltip>
			</div>
		</d2l-card>
		<d2l-card text="Link Text" href="https://www.d2l.com">
			<div slot="header">Header 2</div>
			<div slot="content">Content 2</div>
			<d2l-button slot="footer" style="width: 100%;">Shiny</d2l-button>
		</d2l-card>
	</div>

</body>
</html>
