<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';

			import './description-list-test.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-description-list">

			<h2>Short</h2>
			<d2l-demo-snippet full-width>
				<d2l-test-dl></d2l-test-dl>
			</d2l-demo-snippet>

			<h2>Long</h2>
			<d2l-demo-snippet full-width>
				<d2l-test-dl type="long" breakpoint="300"></d2l-test-dl>
			</d2l-demo-snippet>

			<h2>Stacked</h2>
			<d2l-demo-snippet fullscreen>
				<d2l-test-dl type="long" force-stacked></d2l-test-dl>
			</d2l-demo-snippet>

			<h2>Activity Display</h2>
			<d2l-demo-snippet full-width>
				<d2l-test-dl type="activity-display"></d2l-test-dl>
			</d2l-demo-snippet>

			<h2>Bulk Course Import</h2>
			<d2l-demo-snippet full-width>
				<d2l-test-dl type="bulk-course-import"></d2l-test-dl>
			</d2l-demo-snippet>

			<h2>Slotted content</h2>
			<d2l-demo-snippet full-width>
				<d2l-test-dl type="slotted"></d2l-test-dl>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
