<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../overflow-group.js';
			import '../../button/button.js';
			import '../../button/button-subtle.js';
			import '../../menu/menu.js';
			import '../../menu/menu-item.js';
			import '../../menu/menu-item-link.js';
			import '../../dropdown/dropdown-button.js';
			import '../../dropdown/dropdown-menu.js';
			import '../../dropdown/dropdown.js';
			import '../../link/link.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-overflow-group">

			<h2>Overflow Group (min/max)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-overflow-group min-to-show="2" max-to-show="3">
						<d2l-button primary>New</d2l-button>
						<d2l-button>Delete</d2l-button>
						<d2l-button>Copy</d2l-button>
						<d2l-button>Import</d2l-button>
						<d2l-button>Export</d2l-button>
					</d2l-overflow-group>
				</template>
			</d2l-demo-snippet> 

			<h2>Overflow Group (min max with autoShow)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-overflow-group auto-show>
						<d2l-button  disabled primary="">New</d2l-button>
						<d2l-dropdown class="d2l-button-group-show">
							<d2l-dropdown-button text="Explore Topics" class="d2l-dropdown-opener"></d2l-dropdown-button>
							<d2l-dropdown-menu id="dropdown">
								<d2l-menu label="Astronomy">
									<d2l-menu-item text="Introduction"></d2l-menu-item>
									<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
									<d2l-menu-item text="The Solar System"></d2l-menu-item>
									<d2l-menu-item text="Stars &amp; Galaxies"></d2l-menu-item>
									<d2l-menu-item text="The Night Sky"></d2l-menu-item>
									<d2l-menu-item text="The Universe"></d2l-menu-item>
								</d2l-menu>
							</d2l-dropdown-menu>
						</d2l-dropdown>
						<d2l-button>Copy</d2l-button>
						<d2l-button description="For screen readers">Import</d2l-button>
						<d2l-button class="d2l-button-group-no-show">Delete</d2l-button>
						<d2l-link href="http://www.desire2learn.com">D2L</d2l-link>
					</d2l-overflow-group>
				</template>
			</d2l-demo-snippet>
			
			<h2>Subtle Overflow Group</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-overflow-group opener-style="subtle">
						<d2l-button-subtle primary="" text="New"></d2l-button-subtle>
						<d2l-button-subtle text="Copy"></d2l-button-subtle>
						<d2l-button-subtle text="Import"></d2l-button-subtle>
						<d2l-button-subtle text="Edit"></d2l-button-subtle>
						<d2l-button-subtle text="Manage!"></d2l-button-subtle>
						<d2l-dropdown class="d2l-button-group-show">
							<d2l-dropdown-button-subtle text="Explore Topics" class="d2l-dropdown-opener"></d2l-dropdown-button-subtle>
							<d2l-dropdown-menu id="dropdown">
								<d2l-menu label="Astronomy">
									<d2l-menu-item text="Introduction"></d2l-menu-item>
									<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
									<d2l-menu-item text="The Solar System"></d2l-menu-item>
									<d2l-menu-item text="Stars &amp; Galaxies"></d2l-menu-item>
									<d2l-menu-item text="The Night Sky"></d2l-menu-item>
									<d2l-menu-item text="The Universe"></d2l-menu-item>
								</d2l-menu>
							</d2l-dropdown-menu>
						</d2l-dropdown>
						<d2l-button-subtle text="Delete"></d2l-button-subtle>
					</d2l-overflow-group>
				</template>
			</d2l-demo-snippet>
			
			<h2>Subtle Overflow Group (more icon)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-overflow-group min-to-show="0" opener-style="subtle" opener-type="icon" max-to-show="3">
						<d2l-button-subtle primary="" text="New"></d2l-button-subtle>
						<d2l-button-subtle text="Copy"></d2l-button-subtle>
						<d2l-button-subtle text="Import"></d2l-button-subtle>
						<d2l-button-subtle text="Delete"></d2l-button-subtle>
					</d2l-overflow-group>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
