<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../calendar.js';
			import '../calendar-event.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-calendar">

			<h2>Calendar (Sept 8 2018 selected)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-calendar selected-value="2018-09-08"></d2l-calendar>
				</template>
			</d2l-demo-snippet>

			<h2>Calendar (no selected date)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-calendar></d2l-calendar>
				</template>
			</d2l-demo-snippet>

			<h2>Calendar (min and max value)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-calendar min-value="2018-08-27" max-value="2018-09-30" selected-value="2018-09-08"></d2l-calendar>
				</template>
			</d2l-demo-snippet>

			<h2>Calendar (with events)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-calendar id="eventsCalendar" selected-value="2024-09-16">
						<d2l-calendar-event start-value="2024-09-04" end-value="2024-09-04"></d2l-calendar-event> <!-- single day -->
						<d2l-calendar-event start-value="2024-09-18" end-value="2024-09-20"></d2l-calendar-event> <!-- overlapping multi-day -->
						<d2l-calendar-event start-value="2024-09-20" end-value="2024-09-21"></d2l-calendar-event> <!-- overlapping multi-day -->
						<d2l-calendar-event start-value="2024-09-28" end-value="2024-10-02"></d2l-calendar-event> <!-- next month -->
					</d2l-calendar>
					<script>
						const calendar = document.querySelector('#eventsCalendar');
						calendar.addEventListener('d2l-calendar-view-change', e => {
							console.log('View changed - load more events!', `${e.detail.minValue.toDateString()} to ${e.detail.maxValue.toDateString()}`);
						});
					</script>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
