<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import '../object-property-list.js';
		import '../object-property-list-item.js';
		import '../object-property-list-item-link.js';
		import '../../status-indicator/status-indicator.js';
	</script>
	<title>d2l-object-property-list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		body {
			margin: 0;
		}
		.visual-diff {
			width: 300px;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff" id="single">
		<d2l-object-property-list>
			<d2l-object-property-list-item text="Example item"></d2l-object-property-list-item>
		</d2l-object-property-list>
	</div>

	<div class="visual-diff" id="all-types">
		<d2l-object-property-list>
			<d2l-status-indicator slot="status" state="default" text="Status"></d2l-status-indicator>
			<d2l-object-property-list-item text="Example item"></d2l-object-property-list-item>
			<d2l-object-property-list-item text="Example item with icon" icon="tier1:grade"></d2l-object-property-list-item>
			<d2l-object-property-list-item-link text="Example link" href="https://www.d2l.com/"></d2l-object-property-list-item-link>
			<d2l-object-property-list-item-link text="Example link with icon" href="https://www.d2l.com/" icon="tier1:alert"></d2l-object-property-list-item-link>
		</d2l-object-property-list>
	</div>

	<div class="visual-diff" id="word-wrap">
		<d2l-object-property-list>
			<d2l-object-property-list-item icon="tier1:grade" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellat cum totam! Enim, sunt."></d2l-object-property-list-item>
			<d2l-object-property-list-item icon="tier1:alert" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellat cum totam! Enim, sunt."></d2l-object-property-list-item>
		</d2l-object-property-list>
	</div>

	<div class="visual-diff" id="rtl">
		<d2l-object-property-list dir="rtl">
			<d2l-status-indicator slot="status" state="default" text="Status" dir="rtl"></d2l-status-indicator>
			<d2l-object-property-list-item text="Example item" dir="rtl"></d2l-object-property-list-item>
			<d2l-object-property-list-item text="Example item with icon" icon="tier1:grade" dir="rtl"></d2l-object-property-list-item>
			<d2l-object-property-list-item-link text="Example link" href="https://www.d2l.com/" dir="rtl"></d2l-object-property-list-item-link>
			<d2l-object-property-list-item-link text="Example link with icon" href="https://www.d2l.com/" icon="tier1:alert" dir="rtl"></d2l-object-property-list-item-link>
		</d2l-object-property-list>
	</div>

	<div class="visual-diff" id="list-skeleton">
		<d2l-object-property-list skeleton skeleton-count="3"></d2l-object-property-list>
	</div>

	<div class="visual-diff" id="item-skeleton">
		<d2l-object-property-list>
			<d2l-object-property-list-item text="Example item" skeleton></d2l-object-property-list-item>
			<d2l-object-property-list-item text="Example item with icon" icon="tier1:grade" skeleton></d2l-object-property-list-item>
			<d2l-object-property-list-item-link text="Example link" href="https://www.d2l.com/" skeleton></d2l-object-property-list-item-link>
			<d2l-object-property-list-item-link text="Example link with icon" href="https://www.d2l.com/" icon="tier1:alert" skeleton></d2l-object-property-list-item-link>
		</d2l-object-property-list>
	</div>

	<div class="visual-diff" id="hidden-items">
		<d2l-object-property-list>
			<d2l-object-property-list-item text="Item 1"></d2l-object-property-list-item>
			<d2l-object-property-list-item text="Item 2 (Hidden)" hidden></d2l-object-property-list-item>
			<d2l-object-property-list-item text="Item 3"></d2l-object-property-list-item>
			<d2l-object-property-list-item text="Item 4 (Hidden)" hidden></d2l-object-property-list-item>
		</d2l-object-property-list>
	</div>

</body>
</html>
