<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import './pageable-component.js';
		import '../pager-load-more.js';
	</script>
	<title>d2l-pager-load-more</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		body {
			margin: 0;
		}
		.visual-diff {
			width: 400px;
		}
		a {
			outline: none;
			text-decoration: none;
		}
		a:focus {
			text-decoration: underline;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff" id="no-more">
		<d2l-test-pageable item-count="15">
			<ul>
				<li><a href="https://some-website">item 1</a></li>
				<li><a href="https://some-website">item 2</a></li>
			</ul>
			<d2l-pager-load-more slot="pager" page-size="3"></d2l-pager-load-more>
		</d2l-test-pageable>
	</div>

	<div class="visual-diff" id="item-count">
		<d2l-test-pageable item-count="15">
			<ul>
				<li><a href="https://some-website">item 1</a></li>
				<li><a href="https://some-website">item 2</a></li>
			</ul>
			<d2l-pager-load-more slot="pager" has-more page-size="3"></d2l-pager-load-more>
		</d2l-test-pageable>
	</div>

	<div class="visual-diff" id="no-item-count">
		<d2l-test-pageable>
			<ul>
				<li><a href="https://some-website">item 1</a></li>
				<li><a href="https://some-website">item 2</a></li>
			</ul>
			<d2l-pager-load-more slot="pager" has-more page-size="3"></d2l-pager-load-more>
		</d2l-test-pageable>
	</div>

	<div class="visual-diff" id="load-more">
		<d2l-test-pageable item-count="15">
			<ul>
				<li><a href="https://some-website">item 1</a></li>
				<li><a href="https://some-website">item 2</a></li>
			</ul>
			<d2l-pager-load-more slot="pager" has-more page-size="3"></d2l-pager-load-more>
		</d2l-test-pageable>
	</div>

	<script>
		document.querySelectorAll('d2l-pager-load-more').forEach(pager => {
			pager.addEventListener('d2l-pager-load-more', e => {
				const list = e.target.parentNode.querySelector('ul');
				for (let i = 0; i < e.target.pageSize; i++) {
					const newItem = list.lastElementChild.cloneNode(true);
					newItem.querySelector('a').textContent = `item ${list.children.length + 1}`;
					list.appendChild(newItem);
				}
				e.detail.complete();
			});
		});
	</script>
</body>
</html>
