<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../demo/demo-page.js';
			import '../loading-spinner.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-loading-spinner">

			<h2>Default</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-loading-spinner></d2l-loading-spinner>
				</template>
			</d2l-demo-snippet>

			<h2>Color Override (attribute)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-loading-spinner color="#cd2026"></d2l-loading-spinner>
					<d2l-loading-spinner color="var(--d2l-color-cinnabar)"></d2l-loading-spinner>
				</template>
			</d2l-demo-snippet>

			<h2>Size Override (attribute)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-loading-spinner size="30"></d2l-loading-spinner>
					<d2l-loading-spinner size="70"></d2l-loading-spinner>
					<d2l-loading-spinner size="100"></d2l-loading-spinner>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

	</body>
</html>
