<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script type="module">
			import '../../typography/typography.js';
			import '../../filter/filter.js';
			import '../../filter/filter-dimension-set.js';
			import '../../filter/filter-dimension-set-value.js';
			import '../../filter/filter-overflow-group.js';
		</script>
		<title>d2l-filter-overflow-group</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">

		<div id="less-than-min-to-show-container" class="visual-diff">
			<d2l-filter-overflow-group id="less-than-min-to-show" min-to-show="3">
				<d2l-filter>
					<d2l-filter-dimension-set key="less-1" text="Skill 1">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="less-2" text="Skill 2">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</d2l-filter-overflow-group>
		</div>

		<div id="between-min-max-to-show-container" class="visual-diff">
			<d2l-filter-overflow-group id="between-min-max-to-show" min-to-show="2" max-to-show="4">
				<d2l-filter>
					<d2l-filter-dimension-set key="between-1" text="Skill 1">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="between-2" text="Skill 2">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="between-3" text="Skill 3">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</d2l-filter-overflow-group>
		</div>

		<div id="exactly-max-to-show-container" class="visual-diff">
			<d2l-filter-overflow-group id="exactly-max-to-show" min-to-show="2" max-to-show="4">
				<d2l-filter>
					<d2l-filter-dimension-set key="exactly-1" text="Skill 1">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="exactly-2" text="Skill 2">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="exactly-3" text="Skill 3">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="exactly-4" text="Skill 4">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</d2l-filter-overflow-group>
		</div>

		<div id="more-than-max-to-show-container" class="visual-diff">
			<d2l-filter-overflow-group  id="more-than-max-to-show" min-to-show="2" max-to-show="3">
				<d2l-filter>
					<d2l-filter-dimension-set key="more-1" text="Skill 1">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="more-2" text="Skill 2">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="more-3" text="Skill 3">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="more-4" text="Skill 4">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="more-5" text="Skill 5">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</d2l-filter-overflow-group>
		</div>

		<div id="one-more-than-max-to-show-container" class="visual-diff">
			<d2l-filter-overflow-group  id="one-more-than-max-to-show" min-to-show="2" max-to-show="3">
				<d2l-filter>
					<d2l-filter-dimension-set key="one-more-1" text="Skill 1">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="one-more-2" text="Skill 2">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="one-more-3" text="Skill 3">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="one-more-4" text="Skill 4">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</d2l-filter-overflow-group>
		</div>

		<div class="visual-diff" id="ignores-hidden-filter-container">
			<div style="width: 500px;">
				<d2l-filter-overflow-group id="ignores-hidden-filter" min-to-show="1" max-to-show="2">
					<d2l-filter style="display: none;">
						<d2l-filter-dimension-set key="ignores-1" text="Skill 1">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter>
						<d2l-filter-dimension-set key="ignores-2" text="Skill 2">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter>
						<d2l-filter-dimension-set key="ignores-3" text="Skill 3">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
				</d2l-filter-overflow-group>
			</div>
		</div>

		<div id="small-width-container" class="visual-diff" style="width: 300px;">
			<d2l-filter-overflow-group id="small-width">
				<d2l-filter>
					<d2l-filter-dimension-set key="small-width-1" text="Skill 1">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="small-width-2" text="Skill 2">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="small-width-3" text="Skill 3">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="small-width-4" text="Skill 4">
						<d2l-filter-dimension-set-value key="communication" text="Communication" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</d2l-filter-overflow-group>
		</div>

		<div id="basic-container" class="visual-diff">
			<d2l-filter-overflow-group id="basic">
				<d2l-filter>
					<d2l-filter-dimension-set key="basic-1" text="Skill 1">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="basic-2" text="Skill 2">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="basic-3" text="Skill 3">
						<d2l-filter-dimension-set-value key="communication" text="Communication" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
					<d2l-filter-dimension-set key="basic-4" text="Skill 4">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="basic-5" text="Skill 5">
						<d2l-filter-dimension-set-value key="communication" text="Communication" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</d2l-filter-overflow-group>
		</div>

		<div id="tags-container" class="visual-diff">
			<d2l-filter-overflow-group id="tags" tags>
				<d2l-filter>
					<d2l-filter-dimension-set key="tags-1" text="Skill 1">
						<d2l-filter-dimension-set-value key="communication" text="Communication" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="tags-2" text="Skill 2">
						<d2l-filter-dimension-set-value key="communication" text="Communication" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership" selected></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter>
					<d2l-filter-dimension-set key="tags-2" text="Skill 3">
						<d2l-filter-dimension-set-value key="communication" text="Communication"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="leadership" text="Leadership" selected></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</d2l-filter-overflow-group>
		</div>
	</body>
</html>
