<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script>
			const rtl = (window.location.search.indexOf('dir=rtl') !== -1);
			if (rtl) document.documentElement.setAttribute('dir', 'rtl');
		</script>
		<script type="module">
			import '../../../test/typography-preload.js';
			import '../filter.js';
			import '../filter-dimension-set.js';
			import '../filter-dimension-set-value.js';
			import '../filter-tags.js';
		</script>
		<title>d2l-filter</title>
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
		<meta charset="UTF-8">
		<style>
			.visual-diff {
				display: flex;
				justify-content: space-between;
			}
			d2l-filter-tags.single-line {
				align-self: center;
				position: relative;
				width: 100%;
			}
		</style>
	</head>
	<body class="d2l-typography">
		<div>
			<div class="visual-diff" id="basic">
				<d2l-filter-tags filter-ids="filter" class="single-line"></d2l-filter-tags>
				<d2l-filter id="filter">
					<d2l-filter-dimension-set key="1" text="Category 1">
						<d2l-filter-dimension-set-value selected text="Value 1 - 1" key="1"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value text="Value 1 - 2" key="2"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value selected text="Value 1 - 3" key="3"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value selected text="Value 1 - 4" key="4"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value selected text="Value 1 - 5" key="5"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value selected text="Value 1 - 6" key="6"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
					<d2l-filter-dimension-set key="2" text="Category 2" value-only-active-filter-text>
						<d2l-filter-dimension-set-value selected text="Value 2 - 1" key="1"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value text="Value 2 - 2" key="2"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value selected text="Value 2 - 3" key="3"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</div>
			<div class="visual-diff" id="two-filters">
				<d2l-filter-tags filter-ids="filter-1 filter-2" class="single-line"></d2l-filter-tags>
				<d2l-filter id="filter-1">
					<d2l-filter-dimension-set key="1" text="Category 1">
						<d2l-filter-dimension-set-value selected text="Value 1 - 1" key="1"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
					<d2l-filter-dimension-set key="2" text="Category 2">
						<d2l-filter-dimension-set-value text="Value 2 - 1" key="1"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-filter id="filter-2">
					<d2l-filter-dimension-set key="1" text="Category" value-only-active-filter-text>
						<d2l-filter-dimension-set-value selected text="Value" key="1"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</div>
			<div class="visual-diff" id="flex-end" style="display: flex; justify-content: flex-end;">
				<d2l-filter-tags filter-ids="filter"></d2l-filter-tags>
			</div>
		</div>
	</body>
</html>
