<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script>
			const rtl = (window.location.search.indexOf('dir=rtl') !== -1);
			if (rtl) document.documentElement.setAttribute('dir', 'rtl');
		</script>
		<script type="module">
			import '../offscreen.js';
			import '../demo/offscreen-demo.js';
		</script>
		<title>d2l-offscreen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="visual-diff">
			<div id="wc">
				<p>Offscreen text:</p>
				<d2l-offscreen>This message will only be visible to assistive technology, such as a screen reader.</d2l-offscreen>
			</div>
		</div>
		<div class="visual-diff">
			<div id="style">
				<p>Offscreen text:</p>
				<d2l-offscreen-demo></d2l-offscreen-demo>
			</div>
		</div>
		<div class="visual-diff">
			<div id="sass">
				<p>Offscreen text:</p>
				<p class="d2l-test-offscreen">This message will only be visible to assistive technology, such as a screen reader.</p>
			</div>
		</div>
	</body>
</html>
