<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import '../footer.js';
	</script>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-footer">

		<h2>Default</h2>
		<d2l-demo-snippet no-padding>
			<template>
				<footer>
					<d2l-footer></d2l-footer>
				</footer>
			</template>
		</d2l-demo-snippet>

		<h2>Default where page has different background color</h2>
		<d2l-demo-snippet no-padding>
			<template>
				<div style="background-color: purple;">
					<footer>
						<d2l-footer></d2l-footer>
					</footer>
				</div>
			</template>
		</d2l-demo-snippet>

		<h2>Background color</h2>
		<d2l-demo-snippet no-padding>
			<template>
				<footer>
					<d2l-footer color></d2l-footer>
				</footer>
			</template>
		</d2l-demo-snippet>

	</d2l-demo-page>

	<footer>
		<d2l-footer></d2l-footer>
	</footer>
</body>

</html>
