<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
			import '../../demo/demo-page.js';
			import '../../button/button.js';
			import '../../button/button-subtle.js';
			import '../../menu/menu.js';
			import '../../menu/menu-item.js';
			import '../../menu/menu-item-link.js';
			import '../../dropdown/dropdown-content.js';
			import '../../dropdown/dropdown-button.js';
			import '../../dropdown/dropdown-menu.js';
			import '../../dropdown/dropdown.js';
			import '../../link/link.js';
			import '../button-group.js';
		</script>
		<style>
		</style>
		<title>d2l-button-group</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">

		<!-- min/max to show tests -->
		<div id="less-than-min-to-show-container" class="visual-diff">
			<d2l-button-group id="less-than-min-to-show" min-to-show="3">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
			</d2l-button-group>
		</div>

		<div id="between-min-max-to-show-container" class="visual-diff">
			<d2l-button-group id="between-min-max-to-show" min-to-show="2" max-to-show="4">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
			</d2l-button-group>
		</div>

		<div id="exactly-max-to-show-container" class="visual-diff">
			<d2l-button-group id="exactly-max-to-show" min-to-show="2" max-to-show="4">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
				<d2l-button>Button 4</d2l-button>
			</d2l-button-group>
		</div>

		<div id="more-than-max-to-show-container" style="height: 200px;" class="visual-diff">
			<d2l-button-group id="more-than-max-to-show" min-to-show="2" max-to-show="4">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
				<d2l-button>Button 4</d2l-button>
				<d2l-button>Button 5</d2l-button>
			</d2l-button-group>
		</div>

		<!-- hidden button -->
		<div class="visual-diff" id="ignores-hidden-button-container">
			<div style="width: 500px;">
				<d2l-button-group id="ignores-hidden-button" min-to-show="1" max-to-show="2">
					<d2l-button style="display: none;">Button 1</d2l-button>
					<d2l-button>Button 2</d2l-button>
					<d2l-button>Button 3</d2l-button>
				</d2l-button-group>
			</div>
		</div>

		<div id="auto-show-container" class="visual-diff" style="height: 200px; width: 500px;">
			<d2l-button-group id="auto-show" auto-show>
				<d2l-button>Button 1</d2l-button>
				<d2l-button class="d2l-button-group-show">Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
				<d2l-button id="last" class="d2l-button-group-no-show">Button 4</d2l-button>
			</d2l-button-group>
		</div>

		<div id="auto-show-small-container" class="visual-diff"  style="height: 300px; width: 300px;">
			<d2l-button-group id="auto-show-small" style="height: 200px; width: 200px;" auto-show>
				<d2l-button>Button 1</d2l-button>
				<d2l-button class="d2l-button-group-show">Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
				<d2l-button id="last" class="d2l-button-group-no-show">Button 4</d2l-button>
			</d2l-button-group>
		</div>

		<!-- remove a node to see if it hides the overflow -->
		<div id="width-overflowing" class="visual-diff">
			<div style="width: 210px;">
				<d2l-button-group>
					<d2l-button>Button 1</d2l-button>
					<d2l-button>Button 2</d2l-button>
					<d2l-button id="last">Button 3</d2l-button>
				</d2l-button-group>
			</div>
		</div>

		<!-- add a node to see if it shows the overflow -->
		<div id="width-not-overflowing" class="visual-diff">
			<template>
					<div style="width: 160px;">
						<d2l-button-group>
							<d2l-button>Button 1</d2l-button>
							<d2l-button id="last">Button 2</d2l-button>
						</d2l-button-group>
					</div>
			</template>
		</div>

		<!-- overflow menu turns to mini when not enough space -->
		<div id="mini-overflow-menu-container" class="visual-diff">
			<d2l-button-group id="mini-overflow-menu" max-to-show="2">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
			</d2l-button-group>
		</div>

		<!-- overflow menu is mini when openerType = 'icon' -->
		<div id="opener-type-mini-menu-container" class="visual-diff">
			<d2l-button-group style="width: 400px;" id="opener-type-mini-menu" opener-type='icon' min-to-show="2">
				<d2l-button>Button 1</d2l-button>
				<d2l-button>Button 2</d2l-button>
				<d2l-button>Button 3</d2l-button>
			</d2l-button-group>
		</div>

		<div id="opener-type-overflow-open-menu-container" class="visual-diff">
			<div style="height: 200px; width: 400px;">
				<d2l-button-group id="opener-type-overflow-open-menu" opener-type='icon' max-to-show="2">
					<d2l-button>Button 1</d2l-button>
					<d2l-button>Button 2</d2l-button>
					<d2l-button>Button 3</d2l-button>
				</d2l-button-group>
			</div>
		</div>
		<div id="opener-type-subtle-overflow-menu-container" class="visual-diff">
			<div style="height: 200px; width: 400px;">
				<d2l-button-group id="opener-type-subtle-overflow-menu" opener-type='icon' subtle max-to-show="2">
					<d2l-button-subtle text="Button 1"></d2l-button-subtle>
					<d2l-button-subtle text="Button 2"></d2l-button-subtle>
					<d2l-button-subtle text="Button 3"></d2l-button-subtle>
				</d2l-button-group>
			</div>
		</div>

		<div id="opener-type-subtle-overflow-menu-open-container" class="visual-diff">
			<div style="height: 200px; width: 400px;">
				<d2l-button-group id="opener-type-subtle-overflow-menu-open" opener-type='icon' subtle max-to-show="2">
					<d2l-button-subtle text="Button 1"></d2l-button-subtle>
					<d2l-button-subtle text="Button 2"></d2l-button-subtle>
					<d2l-button-subtle text="Button 3"></d2l-button-subtle>
				</d2l-button-group>
			</div>
		</div>
		<div id="add-button-container" class="visual-diff">
			<div style="height: 200px; width: 400px;">
				<d2l-button-group id="add-button" opener-type='icon' subtle max-to-show="2">
					<d2l-button-subtle text="Button 1"></d2l-button-subtle>
					<d2l-button-subtle text="Button 2"></d2l-button-subtle>
					<d2l-button-subtle text="Button 3"></d2l-button-subtle>
				</d2l-button-group>
			</div>
		</div>
		 <!-- maybebebebebe -->
		<div id="over-max-container" class="visual-diff">
			<d2l-button-group id="over-max" max-to-show="3">
				<d2l-button>one</d2l-button>
				<d2l-button class="d2l-button-group-show">two</d2l-button>
				<d2l-button>three</d2l-button>
				<d2l-button class="d2l-button-group-no-show">four</d2l-button>
				<d2l-button>five</d2l-button>
			</d2l-button-group>
		</div>

		<div class="visual-diff">
			<d2l-button-group id="min-max-auto-large" auto-show>
				<d2l-button>one</d2l-button>
				<d2l-button class="d2l-button-group-show">two</d2l-button>
				<d2l-button>three</d2l-button>
				<d2l-button class="d2l-button-group-no-show">four</d2l-button>
				<d2l-button>five</d2l-button>
			</d2l-button-group>
		</div>
		<div id="min-auto-container" class="visual-diff">
			<d2l-button-group id="min-auto" auto-show>
				<d2l-button>one</d2l-button>
				<d2l-button>two</d2l-button>
				<d2l-button class="d2l-button-group-show">three</d2l-button>
				<d2l-button>four</d2l-button>
				<d2l-button >five</d2l-button>
			</d2l-button-group>
		</div>
		<div class="visual-diff">
			<d2l-button-group id="max-auto" auto-show>
				<d2l-button>one</d2l-button>
				<d2l-button>two</d2l-button>
				<d2l-button class="d2l-button-group-no-show">three</d2l-button>
				<d2l-button>five</d2l-button>
				<d2l-button>five</d2l-button>
				<d2l-button>five</d2l-button>
				<d2l-button>five</d2l-button>
				<d2l-button>five</d2l-button>
			</d2l-button-group>
		</div>
		<div class="visual-diff">
			<d2l-button-group id="one-item" auto-show>
				<d2l-button>one</d2l-button>
			</d2l-button-group>
		</div>
		<div id="min-auto-container" class="visual-diff small">
			<d2l-button-group id="more-icon-opener" opener-type="icon" maxToShow="3">
				<d2l-button>one</d2l-button>
				<d2l-button>two</d2l-button>
				<d2l-button>three</d2l-button>
				<d2l-button>four</d2l-button>
			</d2l-button-group>
		</div>

		<!-- 
			autoshow
			min
			max
			subtle
			more icon
			more subtle

		-->
	</body>
</html>
