<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
			import '../../demo/demo-page.js';
			import '../../button/button.js';
			import '../../menu/menu.js';
			import '../../menu/menu-item.js';
			import '../../menu/menu-item-link.js';
			import '../../dropdown/dropdown-content.js';
			import '../../dropdown/dropdown-button.js';
			import '../../dropdown/dropdown-menu.js';
			import '../../dropdown/dropdown.js';
			import '../../link/link.js';
			import '../button-group.js';
		</script>
		<style>
			#min {
				width: 350px;
			}
			#min-max-auto-small {
				width: 300px;
			}
			#min-max-auto-large {
				width: 700px;
			}
		</style>
		<title>d2l-button-group</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff">
			<!-- no properties -->
			<d2l-button-group id="noProps">
				<d2l-button>New</d2l-button>
				<d2l-dropdown>
					<d2l-dropdown-button text="Explore Topics" class="d2l-dropdown-opener" ></button>
					<d2l-dropdown-menu id="dropdown" >
						<d2l-menu label="Astronomy">
							<d2l-menu-item text="Introduction"></d2l-menu-item>
							<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
							<d2l-menu-item text="The Solar System"></d2l-menu-item>
							<d2l-menu-item text="Stars &amp; Galaxies"></d2l-menu-item>
							<d2l-menu-item text="The Night Sky"></d2l-menu-item>
							<d2l-menu-item text="The Universe"></d2l-menu-item>
						</d2l-menu>
					</d2l-dropdown-menu>
				</d2l-dropdown>
				<d2l-button>Copy</d2l-button>
				<d2l-button>Import</d2l-button>
				<d2l-button>Delete</d2l-button>
				<d2l-link href="http://www.desire2learn.com">D2L</d2l-link>
			</d2l-button-group>
		</div>
		<div class="visual-diff">
			<!-- no properties -->
			<d2l-button-group id="min" min-to-show="3">
				<d2l-button>New</d2l-button>
				<d2l-dropdown>
					<d2l-dropdown-button text="Explore Topics" class="d2l-dropdown-opener" ></button>
					<d2l-dropdown-menu id="dropdown" >
						<d2l-menu label="Astronomy">
							<d2l-menu-item text="Introduction"></d2l-menu-item>
							<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
							<d2l-menu-item text="The Solar System"></d2l-menu-item>
							<d2l-menu-item text="Stars &amp; Galaxies"></d2l-menu-item>
							<d2l-menu-item text="The Night Sky"></d2l-menu-item>
							<d2l-menu-item text="The Universe"></d2l-menu-item>
						</d2l-menu>
					</d2l-dropdown-menu>
				</d2l-dropdown>
				<d2l-button>Copy</d2l-button>
				<d2l-button>Import</d2l-button>
				<d2l-button>Delete</d2l-button>
				<d2l-link href="http://www.desire2learn.com">D2L</d2l-link>
			</d2l-button-group>
		</div>
		<div class="visual-diff">
			<d2l-button-group id="max" max-to-show="2">
				<d2l-button>New</d2l-button>
						<d2l-dropdown>
							<d2l-dropdown-button text="Explore Topics" class="d2l-dropdown-opener" ></button>
							<d2l-dropdown-menu id="dropdown" >
								<d2l-menu label="Astronomy">
									<d2l-menu-item text="Introduction"></d2l-menu-item>
									<d2l-menu-item text="Searching for the Heavens "></d2l-menu-item>
									<d2l-menu-item text="The Solar System"></d2l-menu-item>
									<d2l-menu-item text="Stars &amp; Galaxies"></d2l-menu-item>
									<d2l-menu-item text="The Night Sky"></d2l-menu-item>
									<d2l-menu-item text="The Universe"></d2l-menu-item>
								</d2l-menu>
							</d2l-dropdown-menu>
						</d2l-dropdown>
						<d2l-button>Copy</d2l-button>
						<d2l-button>Import</d2l-button>
						<d2l-button>Delete</d2l-button>
						<d2l-link href="http://www.desire2learn.com">D2L</d2l-link>
			</d2l-button-group>
		</div>
		<div class="visual-diff">
			<d2l-button-group id="min-max-auto-small" auto-show>
				<d2l-button>one</d2l-button>
				<d2l-button class="d2l-button-group-show">two</d2l-button>
				<d2l-button>three</d2l-button>
				<d2l-button class="d2l-button-group-no-show">four</d2l-button>
				<d2l-button>five</d2l-button>
			</d2l-button-group>
		</div>
		<div class="visual-diff">
			<d2l-button-group id="min-max-auto-large" auto-show>
				<d2l-button>one</d2l-button>
				<d2l-button class="d2l-button-group-show">two</d2l-button>
				<d2l-button>three</d2l-button>
				<d2l-button class="d2l-button-group-no-show">four</d2l-button>
				<d2l-button>five</d2l-button>
			</d2l-button-group>
		</div>
		<div class="visual-diff">
			<d2l-button-group id="min-auto" auto-show>
				<d2l-button>one</d2l-button>
				<d2l-button class="d2l-button-group-show">two</d2l-button>
				<d2l-button>three</d2l-button>
				<d2l-button>four</d2l-button>
				<d2l-button>five</d2l-button>
			</d2l-button-group>
		</div>
		<div class="visual-diff">
			<d2l-button-group id="max-auto" auto-show>
				<d2l-button>one</d2l-button>
				<d2l-button>two</d2l-button>
				<d2l-button class="d2l-button-group-no-show">three</d2l-button>
				<d2l-button>four</d2l-button>
				<d2l-button>five</d2l-button>
			</d2l-button-group>
		</div>
		<div class="visual-diff">
			<d2l-button-group id="one-item" auto-show>
				<d2l-button>one</d2l-button>
			</d2l-button-group>
		</div>
	</body>
</html>
