<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../colors/colors.js';
		import '../typography.js';
	</script>
	<title>d2l-typography</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
	<style>.visual-diff { overflow: auto; }</style>
</head>
<body class="d2l-typography">
	<div class="visual-diff" style="max-width: 320px;" id="heading-1">
		<h1 class="d2l-heading-1">Heading 1</h1>
	</div>
	<div class="visual-diff" style="max-width: 320px;" id="heading-2">
		<h1 class="d2l-heading-2">Heading 2</h1>
	</div>
	<div class="visual-diff" style="max-width: 320px;" id="heading-3">
		<h1 class="d2l-heading-3">Heading 3</h1>
	</div>
	<div class="visual-diff" style="max-width: 320px;" id="heading-4">
		<h1 class="d2l-heading-4">Heading 4</h1>
	</div>
	<div class="visual-diff d2l-body-standard" style="max-width: 320px;" id="standard-body">
		Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.
	</div>
	<div class="visual-diff d2l-body-compact" style="max-width: 320px;" id="compact-body">
		Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.
	</div>
	<div class="visual-diff d2l-body-small" style="max-width: 320px;" id="small-body">
		Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.
	</div>
	<div class="visual-diff" style="max-width: 320px;" id="paragraph">
		<p>Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
		<p>The five boxing wizards jump quickly.</p>
		<p>The wizard quickly jinxed the gnomes before they vaporized.</p>
	</div>
	<div class="visual-diff d2l-label-text" style="max-width: 320px;" id="label">
		Some wonky label
	</div>
</body>
</html>
