<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../menu.js';
			import '../menu-item-checkbox.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-menu (checkbox)">

			<h2>Checkbox Menu</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-menu label="Checkbox Menu" style="max-width: 400px;">
						<d2l-menu-item-checkbox text="Checkbox 1 with an extremely long title that will only be cut off with an ellipsis after two lines" value="1"></d2l-menu-item-checkbox>
						<d2l-menu-item-checkbox text="Checkbox 2" value="2"></d2l-menu-item-checkbox>
						<d2l-menu-item-checkbox text="Checkbox 3" value="3"></d2l-menu-item-checkbox>
					</d2l-menu>

					<script>
						document.body.addEventListener('d2l-menu-item-change', (e) => {
							console.log('item selection changed:', e.target);
						});
					</script>
				</template>
			</d2l-demo-snippet>

			<h2>Supporting Slot</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-menu label="Checkbox Menu" style="max-width: 400px;">
						<d2l-menu-item-checkbox text="Checkbox 1" value="1">
							<div slot="supporting">1 point</div>
						</d2l-menu-item-checkbox>
						<d2l-menu-item-checkbox text="Checkbox 2" value="2">
							<div slot="supporting">2 points</div>
						</d2l-menu-item-checkbox>
						<d2l-menu-item-checkbox text="Checkbox 3" value="3">
							<div slot="supporting">3 points</div>
						</d2l-menu-item-checkbox>
					</d2l-menu>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
