<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import './custom-menu-item.js';
			import './custom-view.js';
			import '../menu.js';
			import '../menu-item.js';
			import '../menu-item-link.js';
			import '../menu-item-separator.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-menu">

			<h2>Menu</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-menu label="Astronomy" style="max-width: 400px;">
						<d2l-menu-item text="Introduction"></d2l-menu-item>
						<d2l-menu-item-separator></d2l-menu-item-separator>
						<d2l-menu-item text="Searching the Heavens"></d2l-menu-item>
						<d2l-menu-item text="The Solar System"></d2l-menu-item>
						<d2l-menu-item text="Stars &amp; Galaxies"></d2l-menu-item>
						<d2l-menu-item disabled text="The Night Sky"></d2l-menu-item>
						<d2l-menu-item text="Aliens, The Search Extraterrestrial Life, Unidentified Flying Objects, and Other Astronomical Phenomenon"></d2l-menu-item>
						<d2l-menu-item text="The Universe"></d2l-menu-item>
					</d2l-menu>
				</template>
			</d2l-demo-snippet>

			<h2>Custom View</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-menu label="Astronomy" style="max-width: 400px;">
						<d2l-menu-item text="Introduction"></d2l-menu-item>
						<d2l-menu-item text="Searching the Heavens">
							<d2l-custom-view>Searching the Heavens</d2l-custom-view>
						</d2l-menu-item>
						<d2l-custom-menu-item text="The Solar System (Custom)"></d2l-custom-menu-item>
						<d2l-menu-item text="Stars &amp; Galaxies"></d2l-menu-item>
						<d2l-menu-item text="The Night Sky"></d2l-menu-item>
						<d2l-menu-item-link href="https://en.wikipedia.org/wiki/Universe" text="The Universe (link)"></d2l-menu-item-link>
						<d2l-menu-item-link href="https://en.wikipedia.org/wiki/Universe" text="Aliens, The Search Extraterrestrial Life, Unidentified Flying Objects, and Other Astronomical Phenomenon"></d2l-menu-item-link>
					</d2l-menu>
				</template>
			</d2l-demo-snippet>

			<h2>Nested Menu</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-menu label="Astronomy" style="max-width: 400px;">
						<d2l-menu-item text="Introduction"></d2l-menu-item>
						<d2l-menu-item-separator></d2l-menu-item-separator>
						<d2l-menu-item text="Searching the Heavens"></d2l-menu-item>
						<d2l-menu-item text="The Solar System">
							<d2l-menu>
								<d2l-menu-item text="Formation"></d2l-menu-item>
								<d2l-menu-item text="Modern Solar System"></d2l-menu-item>
								<d2l-menu-item text="Future Solar System"></d2l-menu-item>
								<d2l-menu-item text="The Planets">
									<d2l-menu>
										<d2l-menu-item text="Mercury"></d2l-menu-item>
										<d2l-menu-item text="Venus"></d2l-menu-item>
										<d2l-menu-item text="Earth"></d2l-menu-item>
										<d2l-menu-item text="Mars"></d2l-menu-item>
										<d2l-menu-item text="Jupiter"></d2l-menu-item>
										<d2l-menu-item text="Saturn"></d2l-menu-item>
										<d2l-menu-item text="Uranus"></d2l-menu-item>
										<d2l-menu-item text="Neptune"></d2l-menu-item>
										<d2l-menu-item text="Dwarf Planets"></d2l-menu-item>
									</d2l-menu>
								</d2l-menu-item>
								<d2l-menu-item text="The Sun"></d2l-menu-item>
								<d2l-menu-item text="Solar &amp; Lunar Eclipses"></d2l-menu-item>
								<d2l-menu-item text="Meteors &amp; Meteorites"></d2l-menu-item>
								<d2l-menu-item text="Asteroids"></d2l-menu-item>
								<d2l-menu-item text="Comets"></d2l-menu-item>
							</d2l-menu>
						</d2l-menu-item>
						<d2l-menu-item text="Stars &amp; Galaxies">
							<d2l-menu>
								<d2l-menu-item text="What is a Star?"></d2l-menu-item>
								<d2l-menu-item text="Lifecycle of a Star"></d2l-menu-item>
								<d2l-menu-item text="Binaries &amp; Multiples"></d2l-menu-item>
								<d2l-menu-item text="Star Clusters"></d2l-menu-item>
								<d2l-menu-item text="Star Death">
									<d2l-menu>
										<d2l-menu-item text="Supernovae"></d2l-menu-item>
										<d2l-menu-item text="Black Holes"></d2l-menu-item>
									</d2l-menu>
								</d2l-menu-item>
								<d2l-menu-item text="Star Clusters"></d2l-menu-item>
								<d2l-menu-item text="Galaxies">
									<d2l-menu>
										<d2l-menu-item text="Classification"></d2l-menu-item>
										<d2l-menu-item text="Birth &amp; Evolution"></d2l-menu-item>
										<d2l-menu-item text="Spiral"></d2l-menu-item>
										<d2l-menu-item text="Elliptical"></d2l-menu-item>
										<d2l-menu-item text="Lenticular"></d2l-menu-item>
										<d2l-menu-item text="Irregular"></d2l-menu-item>
										<d2l-menu-item text="Active &amp; Radio"></d2l-menu-item>
										<d2l-menu-item text="Quasars"></d2l-menu-item>
										<d2l-menu-item text="Galaxy Clusters"></d2l-menu-item>
									</d2l-menu>
								</d2l-menu-item>
							</d2l-menu>
						</d2l-menu-item>
						<d2l-menu-item text="Aliens, The Search Extraterrestrial Life, Unidentified Flying Objects, and Other Astronomical Phenomenon">
							<d2l-menu>
								<d2l-menu-item text="Constellations"></d2l-menu-item>
								<d2l-menu-item text="Mapping the Heavens"></d2l-menu-item>
								<d2l-menu-item text="Reading Star Maps"></d2l-menu-item>
								<d2l-menu-item text="Telescopes"></d2l-menu-item>
							</d2l-menu>
						</d2l-menu-item>
						<d2l-menu-item text="The Universe"></d2l-menu-item>
					</d2l-menu>
				</template>
			</d2l-demo-snippet>

			<h2>Supporting Slot</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-menu label="The Solar System" style="max-width: 400px;">
						<d2l-menu-item text="Mercury">
							<span slot="supporting">0.39 AU</span>
						</d2l-menu-item>
						<d2l-menu-item text="Venus">
							<span slot="supporting">0.72 AU</span>
						</d2l-menu-item>
						<d2l-menu-item text="Earth">
							<span slot="supporting">1 AU</span>
						</d2l-menu-item>
						<d2l-menu-item text="Mars">
							<span slot="supporting">1.5 AU</span>
						</d2l-menu-item>
						<d2l-menu-item text="Jupiter">
							<span slot="supporting">5.2 AU</span>
						</d2l-menu-item>
						<d2l-menu-item text="Saturn">
							<span slot="supporting">9.5 AU</span>
						</d2l-menu-item>
						<d2l-menu-item text="Uranus">
							<span slot="supporting">19.2 AU</span>
						</d2l-menu-item>
						<d2l-menu-item text="Neptune" description="The farthest planet">
							<span slot="supporting">30 AU</span>
						</d2l-menu-item>
						<d2l-menu-item-link text="Dwarf Planets (link)" href="https://en.wikipedia.org/wiki/Dwarf_planet">
							<span slot="supporting">39+ AU</span>
						</d2l-menu-item-link>
						<d2l-menu-item-link text="Dwarf Planets (link to download)" description="Dwarf Planets Download (link)" href="../menu.js" target="_blank" download>
							<span slot="supporting">Something</span>
						</d2l-menu-item-link>
					</d2l-menu>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
