<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
		<title>d2l-more-less unit tests</title>
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script src="/node_modules/mocha/mocha.js"></script>
		<script src="/node_modules/chai/chai.js"></script>
		<script src="/node_modules/@polymer/test-fixture/test-fixture.js"></script>
		<script src="/node_modules/wct-mocha/wct-mocha.js"></script>
		<script type="module" src="../more-less.js"></script>
	</head>
	<body>

		<test-fixture id="basic">
			<template>
				<d2l-more-less>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum venenatis arcu sit amet varius. Maecenas posuere magna arcu, quis maximus odio fringilla ac. Integer ligula lorem, faucibus sit amet cursus vel, pellentesque a justo. Aliquam urna metus, molestie at tempor eget, vestibulum a purus. Donec aliquet rutrum mi. Duis ornare congue tempor. Nullam sed massa fermentum, tincidunt leo eu, vestibulum orci. Sed ultrices est in lacus venenatis, posuere suscipit arcu scelerisque. In aliquam ipsum rhoncus, lobortis ligula ut, molestie orci. Proin scelerisque tempor posuere. Phasellus consequat, lorem quis hendrerit tempor, sem lectus sagittis nunc, in tristique dui arcu non arcu. Nunc aliquam nisi et sapien commodo lacinia. Quisque iaculis orci vel odio varius porta. Fusce tincidunt dolor enim, vitae sollicitudin purus suscipit eu.</p>

					<p>Aliquam accumsan at augue ac auctor. Nullam suscipit consectetur maximus. Suspendisse luctus ac est non placerat. Nam lobortis nisl nec augue vehicula, eget finibus mi sagittis. In congue lacus a arcu sollicitudin, at lacinia purus suscipit. Phasellus finibus placerat ex, sit amet finibus felis. Proin non iaculis ipsum. Morbi sed feugiat lacus. Sed eget ante accumsan, hendrerit ex in, volutpat mi. Mauris tempus id nulla at blandit. Maecenas nunc neque, cursus vitae dapibus a, sagittis in justo. <a href>Vestibulum</a> sed felis eget ipsum aliquet tincidunt.</p>

					<p>Donec sed tristique sapien, id interdum sem. Phasellus sit amet ante leo. Phasellus arcu arcu, viverra ut lacus non, semper posuere est. Vivamus eu efficitur ante, ac feugiat eros. Cras id ex eget massa ornare maximus sit amet nec nisi. Quisque maximus vehicula ligula ac venenatis. Curabitur tortor tellus, consequat nec porttitor ut, lobortis a lorem. Donec tincidunt rutrum pretium. Mauris at enim dolor. Integer a tincidunt augue, nec condimentum lectus.</p>

					<p>In lobortis, tortor eget gravida tincidunt, odio urna euismod mauris, a scelerisque libero elit in ex. Phasellus a mattis ante, a convallis magna. Proin enim purus, pulvinar quis iaculis quis, finibus et nibh. Integer eu tellus urna. Suspendisse ornare augue eget nisl congue imperdiet. Pellentesque mauris magna, scelerisque eget eros at, vulputate semper neque. Integer tincidunt tellus a felis accumsan tincidunt. Fusce nec malesuada mi, non tristique lacus. Sed nec tellus vitae massa placerat pellentesque. Aenean purus libero, lobortis id nisl quis, convallis posuere neque. Duis enim magna, venenatis id ornare rhoncus, commodo id libero. Curabitur feugiat leo dui, vel viverra massa posuere non. Praesent at tortor et lorem efficitur dictum. Maecenas at euismod ex. Nam in semper ipsum. <a href>Nulla facilisi.</a></p>

					<p>Mauris in libero cursus, iaculis sapien quis, semper felis. Maecenas convallis gravida libero euismod vehicula. Morbi quis lectus dui. Praesent non congue purus, at vehicula metus. Quisque vitae tempus elit. Aenean a aliquet nunc, nec blandit metus. Duis mattis odio vel erat eleifend volutpat. Cras eget augue et ligula vehicula ultrices. Ut vitae hendrerit nibh, id interdum nisl. Ut vestibulum tellus sed nulla bibendum aliquam. Maecenas quis sapien enim.</p>
				</d2l-more-less>
			</template>
		</test-fixture>

		<test-fixture id="expanded-dynamic">
			<template>
				<d2l-more-less expanded>
					<p id="clone-target">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum venenatis arcu sit amet varius. Maecenas posuere magna arcu, quis maximus odio fringilla ac. Integer ligula lorem, faucibus sit amet cursus vel, pellentesque a justo. Aliquam urna metus, molestie at tempor eget, vestibulum a purus. Donec aliquet rutrum mi. Duis ornare congue tempor. Nullam sed massa fermentum, tincidunt leo eu, vestibulum orci. Sed ultrices est in lacus venenatis, posuere suscipit arcu scelerisque. In aliquam ipsum rhoncus, lobortis ligula ut, molestie orci. Proin scelerisque tempor posuere. Phasellus consequat, lorem quis hendrerit tempor, sem lectus sagittis nunc, in tristique dui arcu non arcu. Nunc aliquam nisi et sapien commodo lacinia. <a href>Quisque</a> iaculis orci vel odio varius porta. Fusce tincidunt dolor enim, vitae sollicitudin purus suscipit eu.</p>
				</d2l-more-less>
			</template>
		</test-fixture>

		<script type="module">
			import { runAxe } from '../../../tools/a11y-test-helper.js';

			describe('d2l-more-less', () => {
				let moreless, content;

				function waitForHeight() {
					return new Promise((resolve) => {
						function check() {
							content = moreless.shadowRoot.querySelector('.more-less-content');
							if (content.style.height === '') {
								setTimeout(() => check(), 10);
							} else {
								// Need the second timeout here to give the transition a chance to finish
								setTimeout(() => resolve(), 400);
							}
						}
						check();
					});
				}

				function waitForRender() {
					return new Promise((resolve) => {
						moreless.addEventListener('d2l-element-render', () => {
							resolve();
						});
					});
				}

				describe('basic', () => {

					beforeEach(async() => {
						moreless = fixture('basic');
						await waitForRender();
						await waitForHeight();
					});

					it('should pass all axe tests', async() => {
						await runAxe(moreless);
					});

				});

				describe('expanded', () => {

					beforeEach(async() => {
						moreless = fixture('expanded-dynamic');
						await waitForRender();
						await waitForHeight();
					});

					it('should pass all axe tests when expanded', async() => {
						await runAxe(moreless);
					});

					it('should expand when more content is dynamically added', async() => {

						const previousContentHeight = content.scrollHeight;
						expect(moreless.offsetHeight).to.be.above(content.scrollHeight);

						const p = document.getElementById('clone-target');
						content.appendChild(p.cloneNode(true));

						await waitForHeight();

						expect(content.scrollHeight).to.be.above(previousContentHeight);
						expect(moreless.offsetHeight).to.be.above(content.scrollHeight);

					});

				});

			});
		</script>
	</body>
</html>
