<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../button/button.js';
			import '../../demo/demo-page.js';
			import '../../form/form.js';
			import '../input-radio.js';
			import '../input-radio-group.js';
			import './input-radio-label-test.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-input-radio">

			<h2>Simple radio group with labels</h2>
			<d2l-demo-snippet>
				<d2l-input-radio-group label="Bread">
					<d2l-input-radio label="Whole wheat"></d2l-input-radio>
					<d2l-input-radio label="White"></d2l-input-radio>
					<d2l-input-radio label="Gluten free"></d2l-input-radio>
				</d2l-input-radio-group>
			</d2l-demo-snippet>

			<h2>Required radio group</h2>
			<d2l-demo-snippet>
				<d2l-form>
					<d2l-input-radio-group label="Bread" required>
						<d2l-input-radio label="Whole wheat"></d2l-input-radio>
						<d2l-input-radio label="White"></d2l-input-radio>
						<d2l-input-radio label="Gluten free"></d2l-input-radio>
					</d2l-input-radio-group>
					<d2l-button primary style="margin-top: 20px">Save</d2l-button>
				</d2l-form>
				<script>
					(demo => {
						const form = demo.querySelector('d2l-form');
						const button = demo.querySelector('d2l-button');
						button.addEventListener('click', () => form.submit());
					})(document.currentScript.parentNode);
				</script>
			</d2l-demo-snippet>

			<h2>Disabled item</h2>
			<d2l-demo-snippet>
				<d2l-input-radio-group label="Bread">
					<d2l-input-radio label="Whole wheat"></d2l-input-radio>
					<d2l-input-radio label="White" disabled checked></d2l-input-radio>
					<d2l-input-radio label="Gluten free"></d2l-input-radio>
				</d2l-input-radio-group>
			</d2l-demo-snippet>

			<h2>Radio group with labels</h2>
			<d2l-demo-snippet>
				<d2l-test-input-radio-label></d2l-test-input-radio-label>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
