<!DOCTYPE html>
<html lang="en" data-timezone='{"name":"Canada - Toronto", "identifier":"America/Toronto"}'>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../input-date-time-range.js';
			import './custom-range.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-input-date-time-range">

			<h2>Custom Range - Bug Demo</h2>
			<d2l-demo-snippet>
				<template>
					<custom-range-demo></custom-range-demo>
				</template>
			</d2l-demo-snippet>

			<h2>Simple</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates"></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Auto Shift Dates</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates" auto-shift-dates></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Hidden Label</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates" label-hidden></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Inclusive</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates" inclusive-date-range></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Labels Specified</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates" start-label="A really really long start date label explanation" end-label="Finish"></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Min and Max Value</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates" min-value="2018-08-27T12:30:00Z" max-value="2018-09-30T12:30:00Z"></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Required</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates" required></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Start/End Labels Hidden</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates" child-labels-hidden end-value="2020-10-31T20:00:00"></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Values Specified</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates" start-value="2019-02-01T12:00:00Z" end-value="2020-10-31T20:00:00"></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Disabled</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates" disabled></d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Slotted Content</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date-time-range label="Assignment Dates">
						<div slot="start">
							First slot content
						</div>
						<div slot="end">
							Second slot content
						</div>
					</d2l-input-date-time-range>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
