<!DOCTYPE html>
<html lang="en" data-timezone='{"name":"Canada - Toronto", "identifier":"America/Toronto"}'>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../input-time.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-input-time">

			<h2>Simple</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time label="Start Time" value="18:00:00"></d2l-input-time>
				</template>
			</d2l-demo-snippet>

			<h2>Hidden Label</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time label="Start Time" label-hidden></d2l-input-time>
				</template>
			</d2l-demo-snippet>

			<h2>Disabled</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time label="Start Time" disabled></d2l-input-time>
				</template>
			</d2l-demo-snippet>

			<h2>Required</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time label="Start Time" required></d2l-input-time>
				</template>
			</d2l-demo-snippet>

			<h2>Custom Interval</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time label="Start Time" time-interval="sixty" enforce-time-intervals></d2l-input-time>
				</template>
			</d2l-demo-snippet>

			<h2>Custom Default Time</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time label="Start Time" default-value="09:00:00"></d2l-input-time>
				</template>
			</d2l-demo-snippet>

			<h2>Inline help text</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time label="Start Time" default-value="09:00:00">
						<div slot="inline-help">
							<b>Inline</b> help text!
						</div>
					</d2l-input-time>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
