<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../input-date.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-input-date">

			<h2>Simple</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date label="Date"></d2l-input-date>
				</template>
			</d2l-demo-snippet>

			<h2>Value Specified</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date label="Date" value="2019-12-20"></d2l-input-date>
				</template>
			</d2l-demo-snippet>

			<h2>Min and Max Value</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date label="Date" max-value="2018-09-30" min-value="2018-08-27" value="2018-09-08"></d2l-input-date>
				</template>
			</d2l-demo-snippet>

			<h2>Hidden Label</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date label="Date" label-hidden></d2l-input-date>
				</template>
			</d2l-demo-snippet>

			<h2>Disabled</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date label="Date (disabled)" disabled></d2l-input-date>
				</template>
			</d2l-demo-snippet>

			<h2>Empty Text</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date label="Reminder Date" empty-text="No reminder date ever entered"></d2l-input-date>
				</template>
			</d2l-demo-snippet>

			<h2>Required</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date label="Date" required></d2l-input-date>
				</template>
			</d2l-demo-snippet>

			<h2>Inline Help</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date label="Date">
						<div slot="inline-help">
							Help text <b>right here</b>!
						</div>
					</d2l-input-date>
				</template>
			</d2l-demo-snippet>

			<h2>Inline Help (multiline)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-date label="Date">
						<div slot="inline-help">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</d2l-input-date>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
