<!DOCTYPE html>
<html lang="en" data-timezone='{"name":"Canada - Toronto", "identifier":"America/Toronto"}'>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../input-time-range.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-input-time-range">

			<h2>Inline Help</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" style="width: 100%;">
						<div slot="inline-help">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</d2l-input-time-range>
					<div style="height: 100px; background-color: var(--d2l-color-gypsum); display: flex; align-items: center; justify-content: center;">
						<div>This is the content below.</div>
					</div>
				</template>
			</d2l-demo-snippet>

			<h2>Simple</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range"></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Auto Shift Times</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" auto-shift-times></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Custom Interval</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" time-interval="sixty" enforce-time-intervals></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Custom Interval (Issue #1751)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" start-value="15:15" time-interval="ten" enforce-time-intervals></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Hidden Label</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" label-hidden></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Inclusive</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" inclusive-time-range></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Labels Specified</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" start-label="A long start time label explanation" end-label="Finish"></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Required</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" required></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Start/End Labels Hidden</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range child-labels-hidden label="Time Range"></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Values Specified</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" start-value="08:30:00" end-value="23:00:00"></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>

			<h2>Disabled</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-time-range label="Time Range" disabled></d2l-input-time-range>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
