<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../input-number.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-input-number">

			<h2>Simple</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Age" value="18"></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Hidden Label</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Age" label-hidden></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Required</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Age" required></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Disabled</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Age (disabled)" disabled></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Placeholder</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Age" label-hidden placeholder="Age"></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Min and Max Values</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Grade" value="0" min="0" max="100"></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Min and Max Exclusive</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Grade" value="10" min="0" max="100" min-exclusive max-exclusive></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Min and Max Fraction Digits</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Points" value="1.23456" min-fraction-digits="1" max-fraction-digits="2"></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Integer Only</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Age" value="18" max-fraction-digits="0" max="150" min="0"></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>After Slot</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Help Text">
						<d2l-button-icon icon="tier1:help" text="help" slot="after"></d2l-button-icon>
					</d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Custom Input Width</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Custom Width" input-width="10rem"></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Trailing Zeroes</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Trailing Zeroes" value-trailing-zeroes="1.00" trailing-zeroes></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Denominator</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number max="5" min="0" label="Grade" label-hidden required unit="/5" unit-label="out of 5" value="3" value-align="end"></d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Inline Help</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Age" value="18">
						<div slot="inline-help">
							Help text <b>right here</b>!
						</div>
					</d2l-input-number>
				</template>
			</d2l-demo-snippet>

			<h2>Inline Help (multiline)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-number label="Age" value="18">
						<div slot="inline-help">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
							qui officia deserunt mollit anim id est laborum.
						</div>
					</d2l-input-number>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
		<script>
			document.body.addEventListener('change', e => console.log('change', e.srcElement.value));
		</script>
	</body>
</html>
