<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../input-textarea.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-input-textarea">

			<h2>Default (show min 5 lines, max 11 lines)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description"></d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h2>No Min/Max-Lines</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description" rows="1" max-rows="-1"></d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h2>Hidden Label</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description" label-hidden></d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h2>Required</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description" required></d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h2>Disabled</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description (disabled)" disabled></d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h2>Placeholder</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description" placeholder="Enter a description of your favorite cartoon character. It must be between 30 and 60 characters in length.  Good luck!"></d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h3>Invalid</h3>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description" aria-invalid="true"></d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h3>Min/Max-Length</h3>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description" minlength="10" maxlength="30"></d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h3>No Border, No Padding</h3>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description" no-border no-padding></d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h3>Inline Help</h3>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description">
						<div slot="inline-help">
							Help text <b>right here</b>!
						</div>
					</d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

			<h3>Inline Help (multiline)</h3>
			<d2l-demo-snippet>
				<template>
					<d2l-input-textarea label="Description">
						<div slot="inline-help">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
							qui officia deserunt mollit anim id est laborum.
						</div>
					</d2l-input-textarea>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
		<script>
			document.body.addEventListener('input', e => {
				console.log('input', e.target);
			});
			document.body.addEventListener('change', e => {
				console.log('change', e.target);
			});
		</script>
	</body>
</html>
