<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../input-search.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-input-search">

			<h2>Search Input</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-search label="Search" value="apples" placeholder="Search for some stuff">
					</d2l-input-search>
				</template>
			</d2l-demo-snippet>

			<h2>Search Input (No Clear)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-search label="Search" value="Clear button will never appear" placeholder="Search for some stuff" no-clear>
					</d2l-input-search>
				</template>
			</d2l-demo-snippet>

			<h2>Search Input (Search on Input)</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-search label="Search" value="Will dispatch search after every input" placeholder="Search for some stuff" search-on-input>
					</d2l-input-search>
				</template>
			</d2l-demo-snippet>

			<h2>Search Input with Inline Help</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-input-search label="Search" value="apples" placeholder="Search for some stuff">
						<div slot="inline-help">
							Help text <b>right here</b>!
						</div>
					</d2l-input-search>
				</template>
			</d2l-demo-snippet>

			<script>
				document.body.addEventListener('d2l-input-search-searched', (e) => {
					// eslint-disable-next-line no-console
					console.log(e);
				});
			</script>

		</d2l-demo-page>
	</body>
</html>
