<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
			import '../demo/skeleton-test-box.js';
			import '../demo/skeleton-test-heading.js';
			import '../demo/skeleton-test-link.js';
			import '../demo/skeleton-test-paragraph.js';
			import '../demo/skeleton-test-width.js';
		</script>
		<title>d2l-skeleton</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-standard" type="standard" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-compact" type="compact" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-small" type="small" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-label" type="label" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-standard-paragraph-2" type="standard" lines="2" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-standard-paragraph-3" type="standard" lines="3" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-standard-paragraph-5" type="standard" lines="5" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-compact-paragraph-2" type="compact" lines="2" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-compact-paragraph-3" type="compact" lines="3" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-compact-paragraph-5" type="compact" lines="5" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-small-paragraph-2" type="small" lines="2" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-small-paragraph-3" type="small" lines="3" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-paragraph id="typography-small-paragraph-5" type="small" lines="5" skeleton></d2l-test-skeleton-paragraph>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-link id="link-normal" type="normal" skeleton></d2l-test-skeleton-link>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-link id="link-main" type="main" skeleton></d2l-test-skeleton-link>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-link id="link-small" type="small" skeleton></d2l-test-skeleton-link>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-heading id="heading-1" level="1" skeleton>Heading 1</d2l-test-skeleton-heading>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-heading id="heading-2" level="2" skeleton>Heading 2</d2l-test-skeleton-heading>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-heading id="heading-3" level="3" skeleton>Heading 3</d2l-test-skeleton-heading>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-heading id="heading-4" level="4" skeleton>Heading 4</d2l-test-skeleton-heading>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-heading id="heading-1-multiline" level="1" skeleton>Heading 1<br>on multiple lines</d2l-test-skeleton-heading>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-heading id="heading-2-multiline" level="2" skeleton>Heading 2<br>on multiple lines</d2l-test-skeleton-heading>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-heading id="heading-3-multiline" level="3" skeleton>Heading 3<br>on multiple lines</d2l-test-skeleton-heading>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-heading id="heading-4-multiline" level="4" skeleton>Heading 4<br>on multiple lines</d2l-test-skeleton-heading>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-box id="box" skeleton></d2l-test-skeleton-box>
		</div>
		<div class="visual-diff">
			<d2l-test-skeleton-width id="width" skeleton></d2l-test-skeleton-width>
		</div>
	</body>
</html>
