<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script type="module">
			import '../../typography/typography.js';
			import '../../collapsible-panel/collapsible-panel.js';
			import '../../collapsible-panel/collapsible-panel-group.js';
			import '../../inputs/input-checkbox.js';
			import '../../inputs/input-text.js';
			import '../../list/list.js';
			import '../../list/list-item.js';
			import '../demo/skeleton-group-wrapper.js';

			import { html, LitElement } from 'lit';
			import { SkeletonGroupMixin } from '../skeleton-group-mixin.js';

			class SkeletonGroupTestWrapper extends SkeletonGroupMixin(LitElement) {
				render() {
					return html`<slot></slot>`;
				}
			}
			customElements.define('d2l-skeleton-group-test-wrapper', SkeletonGroupTestWrapper);
		</script>
		<style>
			.visual-diff {
				width: 300px;
			}
			d2l-input-text,
			d2l-list {
				margin-bottom: 0.6rem;
			}
		</style>
		<title>d2l-skeleton-group</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff" id="all-skeleton">
			<d2l-skeleton-group-test-wrapper>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel skeleton panel-title="Title 1"></d2l-collapsible-panel>
					<d2l-collapsible-panel skeleton panel-title="Title 2"></d2l-collapsible-panel>
					<d2l-collapsible-panel skeleton panel-title="Title 3"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="one-skeleton">
			<d2l-skeleton-group-test-wrapper>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel skeleton panel-title="Title 1"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 2"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 3"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="no-skeleton">
			<d2l-skeleton-group-test-wrapper>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title 1"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 2"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 3"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="make-one-skeleton">
			<d2l-skeleton-group-test-wrapper>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title 1"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 2"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 3"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="make-one-not-skeleton">
			<d2l-skeleton-group-test-wrapper>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel skeleton panel-title="Title 1"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 2"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 3"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="add-element">
			<d2l-skeleton-group-test-wrapper>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title 1"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 2"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 3"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="remove-element">
			<d2l-skeleton-group-test-wrapper>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel skeleton panel-title="Title 1" id="to-remove"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 2"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title 3"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="mixed-elements">
			<d2l-skeleton-group-test-wrapper>
				<d2l-input-text label="Label"></d2l-input-text>
				<d2l-input-checkbox class="to-skeleton">Item</d2l-input-checkbox>
				<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="nested-groups-inner">
			<d2l-skeleton-group-test-wrapper>
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<d2l-input-text label="Label"></d2l-input-text>
							<d2l-input-checkbox class="skeleton-element">Item</d2l-input-checkbox>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="nested-groups-middle">
			<d2l-skeleton-group-test-wrapper>
				<d2l-list class="skeleton-element">
					<d2l-list-item>
						<d2l-list-item-content>
							<d2l-input-text label="Label"></d2l-input-text>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="nested-groups-outer">
			<d2l-skeleton-group-test-wrapper class="skeleton-element">
				<d2l-list>
					<d2l-list-item>
						<d2l-list-item-content>
							<d2l-input-text label="Label"></d2l-input-text>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="nested-groups-remove-inner">
			<d2l-skeleton-group-test-wrapper skeleton>
				<d2l-list skeleton>
					<d2l-list-item>
						<d2l-list-item-content>
							<d2l-input-text label="Label"></d2l-input-text>
							<d2l-input-checkbox id="to-remove" skeleton>Item</d2l-input-checkbox>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="nested-groups-remove-middle">
			<d2l-skeleton-group-test-wrapper skeleton>
				<d2l-list id="to-remove" skeleton>
					<d2l-list-item>
						<d2l-list-item-content>
							<d2l-input-text label="Label"></d2l-input-text>
							<d2l-input-checkbox skeleton>Item</d2l-input-checkbox>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="nested-groups-remove-outer">
			<d2l-skeleton-group-test-wrapper skeleton>
				<d2l-list skeleton>
					<d2l-list-item>
						<d2l-list-item-content>
							<d2l-input-text label="Label"></d2l-input-text>
							<d2l-input-checkbox id="to-remove" skeleton>Item</d2l-input-checkbox>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
		<div class="visual-diff" id="nested-groups-remove-all">
			<d2l-skeleton-group-test-wrapper class="to-remove" skeleton>
				<d2l-list class="to-remove" skeleton>
					<d2l-list-item>
						<d2l-list-item-content>
							<d2l-input-text label="Label"></d2l-input-text>
							<d2l-input-checkbox class="to-remove" skeleton>Item</d2l-input-checkbox>
							<d2l-input-checkbox>Item</d2l-input-checkbox>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
				<d2l-collapsible-panel-group>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
					<d2l-collapsible-panel panel-title="Title"></d2l-collapsible-panel>
				</d2l-collapsible-panel-group>
			</d2l-skeleton-group-test-wrapper>
		</div>
	</body>
</html>
