<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../link.js';
		</script>
		<style>
			.truncate-container {
				border: 1px solid var(--d2l-color-mica);
				border-radius: 6px;
				max-width: 400px;
				padding: 0.6rem;
			}
			.block {
				display: block;
			}
		</style>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-link">

			<h2>Standard Link</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-link href="https://www.d2l.com">Standard Link</d2l-link>
				</template>
			</d2l-demo-snippet>

			<h2>Main Link</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-link main href="https://www.d2l.com">Main Link</d2l-link>
				</template>
			</d2l-demo-snippet>

			<h2>Small Link</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-link small href="https://www.d2l.com">Small Link</d2l-link>
				</template>
			</d2l-demo-snippet>

			<h2>Inline</h2>
			<d2l-demo-snippet>
				<template>
					<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. <d2l-link href="https://www.d2l.com">Standard Link</d2l-link> Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
				</template>
			</d2l-demo-snippet>

			<h2>Block Wrap</h2>
			<d2l-demo-snippet>
				<template>
					<div class="truncate-container">
						<d2l-link class="block" href="https://www.d2l.com">A really long link that will wrap in its container to the next line.</d2l-link>
					</div>
				</template>
			</d2l-demo-snippet>

			<h2>Clamp - One Line</h2>
			<d2l-demo-snippet>
				<template>
					<div class="truncate-container">
						<d2l-link href="https://www.d2l.com" lines="1">A really long link that will overflow its container and display an ellipsis.</d2l-link>
					</div>
				</template>
			</d2l-demo-snippet>

			<h2>Clamp - Two Lines</h2>
			<d2l-demo-snippet>
				<template>
					<div class="truncate-container">
						<d2l-link href="https://www.d2l.com" lines="2">A really really long link that wraps in its container and then truncates after two lines of text like this.</d2l-link>
					</div>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
