<!DOCTYPE html>
<html lang="en" data-timezone='{"name":"Canada - Toronto", "identifier":"America/Toronto"}'>

<head>
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import '../../button/button.js';
		import '../../filter/filter.js';
		import '../../filter/filter-dimension-set.js';
		import '../../filter/filter-dimension-set-empty-state.js';
		import '../../filter/filter-dimension-set-value.js';
		import '../../filter/filter-dimension-set-date-text-value.js';
		import '../../filter/filter-dimension-set-date-time-range-value.js';
		import './filter-search-demo.js';
		import './filter-load-more-demo.js';
	</script>
	<script>
	//	window.D2L = { LP: { Web: { UI: { Flags: { Flag: () => true } } } } };
	</script>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
    <meta charset="UTF-8">
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-filter">

		<h2>Date Filter</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter id="filter-single">
					<d2l-filter-dimension-set key="dates" text="Dates">
						<d2l-filter-dimension-set-date-time-range-value key="custom"></d2l-filter-dimension-set-date-time-range-value>
						<d2l-filter-dimension-set-value key="lastweek" text="Last 7 days"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-date-text-value key="lastHour" range="lastHour" selected></d2l-filter-dimension-set-date-text-value>
						<d2l-filter-dimension-set-date-text-value key="48hours" range="48hours" disabled></d2l-filter-dimension-set-date-text-value>
						<d2l-filter-dimension-set-date-text-value key="today" range="today"></d2l-filter-dimension-set-date-text-value>
						<d2l-filter-dimension-set-date-text-value key="6months" range="6months"></d2l-filter-dimension-set-date-text-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</template>
		</d2l-demo-snippet>
	</d2l-demo-page>

	<script type="module">
		document.addEventListener('d2l-filter-change', e => {
			if (e.detail.dimensions.length === 1) {
				console.log(`Filter selection(s) changed for dimension "${e.detail.dimensions[0].dimensionKey}":`, e.detail.dimensions[0].changes); // eslint-disable-line no-console
				if (e.detail.dimensions[0].cleared) console.log(`(Dimension "${e.detail.dimensions[0].dimensionKey}" cleared)`); // eslint-disable-line no-console
			} else {
				console.log('Multiple dimension selections changed:', e.detail.dimensions); // eslint-disable-line no-console
			}

			if (e.detail.allCleared) {
				console.log('(All dimensions cleared)'); // eslint-disable-line no-console
			}
		});

		document.addEventListener('d2l-filter-dimension-first-open', e => {
			console.log(`Filter dimension opened for the first time: ${e.detail.key}`);
		});
	</script>

</body>
</html>
