<!DOCTYPE html>
<html lang="en" data-timezone='{"name":"Canada - Toronto", "identifier":"America/Toronto"}'>

<head>
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import '../../button/button.js';
		import '../../filter/filter.js';
		import '../../filter/filter-dimension-set.js';
		import '../../filter/filter-dimension-set-empty-state.js';
		import '../../filter/filter-dimension-set-value.js';
		import '../../filter/filter-dimension-set-date-text-value.js';
		import './filter-search-demo.js';
		import './filter-load-more-demo.js';
	</script>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
    <meta charset="UTF-8">
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-filter">

		<h2>Single Set Dimension</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter id="filter-single">
					<d2l-filter-dimension-set key="course" introductory-text="Filter content by courses. Start typing any course name to explore." text="Course" select-all>
						<d2l-filter-dimension-set-value key="art" text="Art" count="12"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="astronomy" text="Astronomy" count="2" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="biology" text="Biology" count="15"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="chemistry" text="Chemistry" count="1"disabled></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="drama" text="Drama" count="23" disabled></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="english" text="English" count="100"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="how-to" text="How To Write a How To Article With a Flashy Title" count="100"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="math" text="Math" count="50"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="physics" text="Physics" count="23"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="stats" text="Statistics" count="333"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft" count="2211"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-empty-state slot="search-empty-state" description="Search returned no results." action-text="Do something"></d2l-filter-dimension-set-empty-state>
						<d2l-filter-dimension-set-empty-state slot="set-empty-state" description="There are no available items." action-text="Add an item"></d2l-filter-dimension-set-empty-state>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</template>
		</d2l-demo-snippet>

		<h2>Single Set Dimension - Single Selection</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter>
					<d2l-filter-dimension-set key="semester" text="Semester" selection-single>
						<d2l-filter-dimension-set-value key="fall" text="Fall"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="winter" text="Winter" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="spring" text="Spring" disabled></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="summer" text="Summer"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</template>
		</d2l-demo-snippet>

		<h2>Single Set Dimension - Header Text and Selected First</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter id="filter-single">
					<d2l-filter-dimension-set key="course" introductory-text="Filter content by courses. Start typing any course name to explore." header-text="Skills Promoted at Your Company" text="Course" select-all selected-first>
						<d2l-filter-dimension-set-value key="art" text="Art" count="12"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="astronomy" text="Astronomy" count="2" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="biology" text="Biology" count="15"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="chemistry" text="Chemistry" count="1"disabled></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="drama" text="Drama" count="23" disabled></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="english" text="English" count="100"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="physics" text="Physics" count="23"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="stats" text="Statistics" count="333"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft" count="2211"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</template>
		</d2l-demo-snippet>

		<h2>Multiple Dimensions</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter>
					<d2l-filter-dimension-set key="course" introductory-text="Filter content by courses. Start typing any course name to explore." header-text="Skills Promoted at Your Company" text="Course" select-all>
						<d2l-filter-dimension-set-value key="art" text="Art" count="0"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="astronomy" text="Astronomy" count="1" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="biology" text="Biology" count="-12"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="chemistry" text="Chemistry" count="12.35"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="drama" text="Drama" count="xxx"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="english" text="English" count="881"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="how-to" text="How To Write a How To Article With a Flashy Title" count="100"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="math" text="Math" count="23909"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="physics" text="Physics" count="1012"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="stats" text="Statistics" count="2"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-empty-state slot="search-empty-state" description="Search returned no results." action-text="Do something" action-href="https://d2l.com/"></d2l-filter-dimension-set-empty-state>
					</d2l-filter-dimension-set>
					<d2l-filter-dimension-set key="role" text="Role" selected-first>
						<d2l-filter-dimension-set-value key="admin" text="Admin" count="0"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="instructor" text="Instructor" count="22"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="student" text="Student" count="50"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
					<d2l-filter-dimension-set key="semester" text="Semester" selection-single>
						<d2l-filter-dimension-set-value key="fall" text="Fall"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="winter" text="Winter" selected></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="spring" text="Spring"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="summer" text="Summer"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</template>
		</d2l-demo-snippet>

		<h2>Loading and Empty State</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter>
					<d2l-filter-dimension-set key="course" text="Course" loading select-all>
						<d2l-filter-dimension-set-value key="art" text="Art"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="astronomy" text="Astronomy"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="biology" text="Biology"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="chemistry" text="Chemistry"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="drama" text="Drama"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="english" text="English"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="how-to" text="How To Write a How To Article With a Flashy Title"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="math" text="Math"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="physics" text="Physics"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="stats" text="Statistics"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
					
				</d2l-filter>
				<d2l-filter text="More Filters">
					<d2l-filter-dimension-set key="course" text="Course" loading select-all></d2l-filter-dimension-set>
					<d2l-filter-dimension-set key="role" text="Role" loading>
						<d2l-filter-dimension-set-value key="admin" text="Admin"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="instructor" text="Instructor"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-value key="student" text="Student"></d2l-filter-dimension-set-value>
					</d2l-filter-dimension-set>
					<d2l-filter-dimension-set key="semester" text="Semester" loading selection-single></d2l-filter-dimension-set>
				</d2l-filter>
				<d2l-button id="finish-loading">Finish loading (in 5 seconds)</d2l-button>
			</template>
		</d2l-demo-snippet>

		<h2>Load More</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter-load-more-demo></d2l-filter-load-more-demo>
			</template>
		</d2l-demo-snippet>

		<h2>Search</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter-search-demo></d2l-filter-search-demo>
			</template>
		</d2l-demo-snippet>

		<h2>Date Filter</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter id="filter-single">
					<d2l-filter-dimension-set key="dates" text="Dates">
						<d2l-filter-dimension-set-value key="lastweek" text="Last Week"></d2l-filter-dimension-set-value>
						<d2l-filter-dimension-set-date-text-value key="24Hours" range="24hours" selected></d2l-filter-dimension-set-date-text-value>
						<d2l-filter-dimension-set-date-text-value key="48Hours" range="6months"></d2l-filter-dimension-set-date-text-value>
					</d2l-filter-dimension-set>
				</d2l-filter>
			</template>
		</d2l-demo-snippet>
	</d2l-demo-page>

	<script type="module">
		document.addEventListener('d2l-filter-change', e => {
			if (e.detail.dimensions.length === 1) {
				console.log(`Filter selection(s) changed for dimension "${e.detail.dimensions[0].dimensionKey}":`, e.detail.dimensions[0].changes); // eslint-disable-line no-console
				if (e.detail.dimensions[0].cleared) console.log(`(Dimension "${e.detail.dimensions[0].dimensionKey}" cleared)`); // eslint-disable-line no-console
			} else {
				console.log('Multiple dimension selections changed:', e.detail.dimensions); // eslint-disable-line no-console
			}

			if (e.detail.allCleared) {
				console.log('(All dimensions cleared)'); // eslint-disable-line no-console
			}
		});

		document.addEventListener('d2l-filter-dimension-first-open', e => {
			console.log(`Filter dimension opened for the first time: ${e.detail.key}`);
		});

		document.querySelector('#filter-single').addEventListener('d2l-filter-dimension-empty-state-action', e => {
			console.log(`Filter dimension empty state action clicked:\nkey: ${e.detail.key}\ntype: ${e.detail.type}`);
		});

		requestAnimationFrame(() => {
			document.getElementById('finish-loading').addEventListener('click', e => {
				e.target.disabled = true;
				setTimeout(() => {
					const loadingFilters = document.querySelectorAll('d2l-filter-dimension-set[loading]');
					loadingFilters.forEach(filter => {
						filter.loading = false;
					});
					e.target.textContent = 'Done Loading';
				}, 5000);
			});
		});
	</script>

</body>
</html>
