<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import '../../filter/filter.js';
		import '../../filter/filter-dimension-set.js';
		import '../../filter/filter-dimension-set-value.js';
		import '../../filter/filter-overflow-group.js';
		import '../../filter/filter-tags.js';
		import '../demo/filter-demo.js';
	</script>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
    <meta charset="UTF-8">
	<style>
		d2l-filter-tags {
			padding-top: 1rem;
		}
	</style>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-filter-overflow-group">

		<h2>Filter Overflow Group</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter-demo></d2l-filter-demo>
			</template>
		</d2l-demo-snippet>

		<h2>Filter Overflow Group with Tags (built-in)</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter-overflow-group tags>
					<d2l-filter>
						<d2l-filter-dimension-set key="skill" text="Skill">
							<d2l-filter-dimension-set-value key="communication" text="Fall"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="leadership" text="Winter"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="management" text="Spring"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="planning" text="Summer"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter id="filter-2">
						<d2l-filter-dimension-set key="type" text="Type" selection-single>
							<d2l-filter-dimension-set-value key="certificate" text="Certificate"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="degree" text="Degree"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="diploma" text="Diploma"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="course" text="Course"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter>
						<d2l-filter-dimension-set key="provider" text="Semester3">
							<d2l-filter-dimension-set-value key="mcmaster" text="McMaster"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="powered" text="PowerED"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="guelph" text="University of Guelph"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="manitoba" text="University of Manitoba"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter>
						<d2l-filter-dimension-set key="format" text="Format">
							<d2l-filter-dimension-set-value key="selfpaced" text="Self-Paced"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="instructor" text="Instructor Lead" selected></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter>
						<d2l-filter-dimension-set key="language" text="Language" select-single>
							<d2l-filter-dimension-set-value key="english" text="English"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="french" text="French"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="spanish" text="Spanish"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter>
						<d2l-filter-dimension-set key="course" text="Course" select-all>
							<d2l-filter-dimension-set-value key="art" text="Art"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="astronomy" text="Astronomy" selected></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="biology" text="Biology"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="chemistry" text="Chemistry"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="drama" text="Drama"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="english" text="English"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="how-to" text="How To Write a How To Article With a Flashy Title"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="math" text="Math"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="physics" text="Physics"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="stats" text="Statistics"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
						<d2l-filter-dimension-set key="duration" text="Duration">
							<d2l-filter-dimension-set-value key="lessthanthree" text="< 3 months"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="threetosix" text="3-6 months"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="sixtotwelve" text="6-12 months"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
						<d2l-filter-dimension-set key="hoursperweek" text="SemesterNested" selection-single>
							<d2l-filter-dimension-set-value key="lessthanfive" text="< 5 hrs/week"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="fivetoten" text="5-10 hrs/week" selected></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="tentotwenty" text="10-20 hrs/week"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
				</d2l-filter-overflow-group>
			</template>
		</d2l-demo-snippet>

		<h2>Filter Overflow Group with Tags (external to d2l-filter-overflow-group)</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-filter-overflow-group>
					<d2l-filter id="filter1">
						<d2l-filter-dimension-set key="skill" text="Skill">
							<d2l-filter-dimension-set-value key="communication" text="Fall"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="leadership" text="Winter"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="management" text="Spring"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="planning" text="Summer"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter id="filter2">
						<d2l-filter-dimension-set key="type" text="Type" selection-single>
							<d2l-filter-dimension-set-value key="certificate" text="Certificate"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="degree" text="Degree"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="diploma" text="Diploma"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="course" text="Course"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter id="filter3">
						<d2l-filter-dimension-set key="provider" text="Semester3">
							<d2l-filter-dimension-set-value key="mcmaster" text="McMaster"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="powered" text="PowerED"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="guelph" text="University of Guelph"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="manitoba" text="University of Manitoba"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter id="filter4">
						<d2l-filter-dimension-set key="format" text="Format">
							<d2l-filter-dimension-set-value key="selfpaced" text="Self-Paced"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="instructor" text="Instructor Lead" selected></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter id="filter5">
						<d2l-filter-dimension-set key="language" text="Language" selection-single>
							<d2l-filter-dimension-set-value key="english" text="English"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="french" text="French"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="spanish" text="Spanish"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
					</d2l-filter>
					<d2l-filter id="filter6">
						<d2l-filter-dimension-set key="course" text="Course" select-all>
							<d2l-filter-dimension-set-value key="art" text="Art"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="astronomy" text="Astronomy" selected></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="biology" text="Biology"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="chemistry" text="Chemistry"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="drama" text="Drama"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="english" text="English"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="how-to" text="How To Write a How To Article With a Flashy Title"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="math" text="Math"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="physics" text="Physics"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="stats" text="Statistics"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="writerscraft" text="Writer's Craft"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
						<d2l-filter-dimension-set key="duration" text="Duration">
							<d2l-filter-dimension-set-value key="lessthanthree" text="< 3 months"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="threetosix" text="3-6 months"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="sixtotwelve" text="6-12 months"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
						<d2l-filter-dimension-set key="hoursperweek" text="SemesterNested" selection-single>
							<d2l-filter-dimension-set-value key="lessthanfive" text="< 5 hrs/week"></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="fivetoten" text="5-10 hrs/week" selected></d2l-filter-dimension-set-value>
							<d2l-filter-dimension-set-value key="tentotwenty" text="10-20 hrs/week"></d2l-filter-dimension-set-value>
						</d2l-filter-dimension-set>
				</d2l-filter-overflow-group>
				<d2l-filter-tags filter-ids="filter1 filter2 filter3 filter4 filter5 filter6" label="Applied Filters:"></d2l-filter-tags>
			</template>
		</d2l-demo-snippet>
	</d2l-demo-page>
</body>
</html>
