<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../demo/demo-page.js';
		import '../../filter/filter.js';
		import '../../filter/filter-dimension-set.js';
		import '../../filter/filter-dimension-set-value.js';
		import '../../filter/filter-overflow-group.js';
		import '../../filter/filter-tags.js';
		import '../demo/filter-demo.js';
	</script>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
    <meta charset="UTF-8">
	<style>
		d2l-filter-tags {
			padding-top: 1rem;
		}
	</style>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-filter-overflow-group">

		<h2>Filter Overflow Group</h2>
		<d2l-demo-snippet>
			<template>
			<d2l-filter-demo></d2l-filter-demo>
			</template>
		</d2l-demo-snippet>


	</d2l-demo-page>
</body>
</html>
