<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../demo/demo-page.js';
			import '../filter.js';
			import '../filter-dimension-menu.js';
			import '../filter-dimension-list.js';
			import '../filter-dimension-menu-item.js';
			import '../filter-dimension-list-item.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-filter">

			<h2>Filter with Menu and List Items</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-filter>
						<d2l-filter-dimension-menu name="Menu">
							<d2l-filter-dimension-menu-item text="Menu Item 1"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 2" selected></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 3"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 4"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 5"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 6"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 7"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 8"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 9"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 10"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 11"></d2l-filter-dimension-menu-item>
							<d2l-filter-dimension-menu-item text="Menu Item 12"></d2l-filter-dimension-menu-item>
						</d2l-filter-dimension-menu>
						<d2l-filter-dimension-list name="List">
							<d2l-filter-dimension-list-item text="List Item 1"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 2" selected></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 3"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 4"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 5"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 6"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 7"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 8"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 9"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 10"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 11"></d2l-filter-dimension-list-item>
							<d2l-filter-dimension-list-item text="List Item 12"></d2l-filter-dimension-list-item>
						</d2l-filter-dimension-list>
					</d2l-filter>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

		<script>
		</script>

	</body>
</html>