<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script>
		const rtl = (window.location.search.indexOf('dir=rtl') !== -1);
		if (rtl) document.documentElement.setAttribute('dir', 'rtl');
	</script>
	<script type="module">
		import '../../typography/typography.js';
		import '../../button/button.js';
		import '../tabs.js';
		import '../tab-panel.js';
	</script>
	<title>d2l-tabs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		.visual-diff {
			width: 300px;
		}
		[no-padding] {
			background-color: orange;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-tabs id="no-panel-selected">
			<d2l-tab-panel text="All">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology">Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="panel-selected">
			<d2l-tab-panel text="All">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology" selected>Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="one-tab">
			<d2l-tab-panel text="All">Tab content for All</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="action-slot">
			<d2l-tab-panel text="All">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology">Tab content for Biology</d2l-tab-panel>
			<d2l-button slot="ext">Search</d2l-button>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="no-padding">
			<d2l-tab-panel text="All" no-padding>Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology">Tab content for Biology</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="scroll-next">
			<d2l-tab-panel text="All Courses">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology" selected>Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
			<d2l-tab-panel text="Geology">Tab content for Geology</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="scroll-previous">
			<d2l-tab-panel text="All Courses">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology">Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
			<d2l-tab-panel text="Geology" selected>Tab content for Geology</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="focus-next">
			<d2l-tab-panel text="All Courses">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology" selected>Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
			<d2l-tab-panel text="Geology">Tab content for Geology</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="focus-previous">
			<d2l-tab-panel text="All Courses">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology">Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
			<d2l-tab-panel text="Geology" selected>Tab content for Geology</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="overflow-action-slot">
			<d2l-tab-panel text="All">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology">Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
			<d2l-button slot="ext">Search</d2l-button>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="max-to-show" max-to-show="2">
			<d2l-tab-panel text="All">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology" selected>Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="max-to-show-expand-focus" max-to-show="2">
			<d2l-tab-panel text="All">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology" selected>Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="max-to-show-expand-click" max-to-show="2">
			<d2l-tab-panel text="All">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology" selected>Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="keyboard">
			<d2l-tab-panel text="All Courses">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology" selected>Tab content for Biology</d2l-tab-panel>
			<d2l-tab-panel text="Chemistry">Tab content for Chemistry</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="keyboard-enter">
			<d2l-tab-panel text="All Courses">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology">Tab content for Biology</d2l-tab-panel>
		</d2l-tabs>
	</div>

	<div class="visual-diff">
		<d2l-tabs id="keyboard-space">
			<d2l-tab-panel text="All Courses">Tab content for All</d2l-tab-panel>
			<d2l-tab-panel text="Biology">Tab content for Biology</d2l-tab-panel>
		</d2l-tabs>
	</div>

</body>
</html>
