<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script type="module">
		import '../../button/button.js';
		import '../../demo/demo-page.js';
		import '../alert-toast.js';
	</script>
	<style>
		d2l-button {
			padding-bottom: 1rem;
		}
	</style>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-alert-toast">

		<h2>Default</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-alert-toast id="toast1">A default toast alert.</d2l-alert-toast>
				<d2l-button primary data-toast="toast1">Open alert</d2l-button>
			</template>
		</d2l-demo-snippet>

		<h2>Without Auto-Close</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-alert-toast id="toast2" no-auto-close >A default toast alert without autoclose.</d2l-alert-toast>
				<d2l-button primary data-toast="toast2">Open alert</d2l-button>
			</template>
		</d2l-demo-snippet>

		<h2>Without Close Button</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-alert-toast id="toast3" hide-close-button>A default toast alert without close button.</d2l-alert-toast>
				<d2l-button primary data-toast="toast3">Open alert</d2l-button>
			</template>
		</d2l-demo-snippet>

		<h2>With Subtext and Button</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-alert-toast id="toast4" type="success" button-text="Do it!"
					subtext="I am subtext. I'm here to test the wrapping capabilities of adding subtext to these alerts, as well as other styling issues. Feel free to add to me!">
					A message.
				</d2l-alert-toast>
				<d2l-button primary data-toast="toast4">Open alert</d2l-button>
			</template>
		</d2l-demo-snippet>

		<h2>Multiple Alerts</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-alert-toast id="toast5" no-auto-close>A default toast alert.</d2l-alert-toast>
				<d2l-button primary data-toast="toast5">Open alert</d2l-button>

				<d2l-alert-toast id="toast6" no-auto-close>A default toast alert.</d2l-alert-toast>
				<d2l-button primary data-toast="toast6">Open alert</d2l-button>

				<d2l-alert-toast id="toast7" no-auto-close>A default toast alert.</d2l-alert-toast>
				<d2l-button primary data-toast="toast7">Open alert</d2l-button>

				<d2l-alert-toast id="toast8" type="success" button-text="Do it!" no-auto-close
					subtext="I am subtext. I'm here to test the wrapping capabilities of adding subtext to these alerts, as well as other styling issues. Feel free to add to me!">
					A message.
				</d2l-alert-toast>
				<d2l-button primary data-toast="toast8">Open alert</d2l-button>
			</template>
		</d2l-demo-snippet>
	</d2l-demo-page>

</body>
<script type="module">
	function openToast(toastId) {
		document.getElementById(toastId).setAttribute('open', '');
	}

	window.requestAnimationFrame(() => {
		const buttons = document.querySelectorAll('d2l-button');
		buttons.forEach((button) => {
			button.addEventListener('click', () => {
				const toast = button.getAttribute('data-toast');
				openToast(toast);
			});
		});
	});

	const buttonAlertToast = document.querySelector('#toast4');
	buttonAlertToast.addEventListener('d2l-alert-toast-button-press', (e) => {
		console.log('d2l-alert-toast-button-press', e);
	});

	document.body.addEventListener('d2l-alert-toast-close', (e) => {
		console.log('d2l-alert-toast-close', e);
	});
</script>

</html>
