<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../demo/demo-page.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page title="d2l-typography">

			<h2>Body</h2>

			<d2l-demo-snippet>
				<div class="d2l-body-standard">Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
			</d2l-demo-snippet>

			<h2>Body Compact</h2>

			<d2l-demo-snippet>
				<div class="d2l-body-compact">Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
			</d2l-demo-snippet>

			<h2>Body Small</h2>

			<d2l-demo-snippet>
				<div class="d2l-body-small">Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
			</d2l-demo-snippet>

			<h2>Paragraph</h2>

			<d2l-demo-snippet>
				<p>Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
				<p>The five boxing wizards jump quickly.</p>
				<p>The wizard quickly jinxed the gnomes before they vaporized.</p>
			</d2l-demo-snippet>

			<h2>Headings</h2>

			<d2l-demo-snippet>
				<h3 class="d2l-heading-1">Heading 1</h3>
				<h3 class="d2l-heading-2">Heading 2</h3>
				<h3 class="d2l-heading-3">Heading 3</h3>
				<h3 class="d2l-heading-4">Heading 4</h3>
			</d2l-demo-snippet>

			<h2>Labels</h2>

			<d2l-demo-snippet>
				<label class="d2l-label-text">Fancy Shmancy Label</label>
			</d2l-demo-snippet>

		</d2l-demo-page>

	</body>
</html>
