<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-typography">

			<h2>Body</h2>

			<d2l-demo-snippet>
				<div class="d2l-body-standard">Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
			</d2l-demo-snippet>

			<h2>Body Compact</h2>

			<d2l-demo-snippet>
				<div class="d2l-body-compact">Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
			</d2l-demo-snippet>

			<h2>Body Small</h2>

			<d2l-demo-snippet>
				<div class="d2l-body-small">Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.</div>
			</d2l-demo-snippet>

			<h2>Paragraph</h2>

			<d2l-demo-snippet>
				<p>Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
				<p>The five boxing wizards jump quickly.</p>
				<p>The wizard quickly jinxed the gnomes before they vaporized.</p>
			</d2l-demo-snippet>

			<h2>Headings</h2>

			<d2l-demo-snippet>
				<h3 class="d2l-heading-1">Heading 1</h3>
				<h3 class="d2l-heading-2">Heading 2</h3>
				<h3 class="d2l-heading-3">Heading 3</h3>
				<h3 class="d2l-heading-4">Heading 4</h3>
			</d2l-demo-snippet>

			<h2>Labels</h2>

			<d2l-demo-snippet>
				<label class="d2l-label-text">Fancy Shmancy Label</label>
			</d2l-demo-snippet>

			<h2>Blockquote</h2>

			<d2l-demo-snippet>
				<blockquote class="d2l-blockquote">Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.</blockquote>
			</d2l-demo-snippet>

			<h2>BC Sans</h2>

			<div class="d2l-body-small">Showing a small selection of glyphs from Canadian Aboriginal blocks known to be different. For a detailed comparison, see the <a href="https://github.com/Brightspace/fonts-lib">fonts-lib</a>'s demo.</div>
			<d2l-demo-snippet>
				<div class="d2l-body-standard" style="font-family: BC Sans;">
					<p>Grumpy wizards make toxic brew for the evil Queen and Jack. Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
					<p style="font-weight: 300;">ᐂ ᐪ ᒤ ᔆ ᔌ ᔕ ᔤ ᔧ ᕯ ᗯ ᘏ ᘗ ᘩ ᘨ ᣱ</p>
					<p>ᐂ ᐪ ᒤ ᔆ ᔌ ᔕ ᔤ ᔧ ᕯ ᗯ ᘏ ᘗ ᘩ ᘨ ᣱ</p>
					<p style="font-weight: 700;">ᐂ ᐪ ᒤ ᔆ ᔌ ᔕ ᔤ ᔧ ᕯ ᗯ ᘏ ᘗ ᘩ ᘨ ᣱ</p>
					<p style="font-style: italic; font-weight: 300;">ᐂ ᐪ ᒤ ᔆ ᔌ ᔕ ᔤ ᔧ ᕯ ᗯ ᘏ ᘗ ᘩ ᘨ ᣱ</p>
					<p style="font-style: italic;">ᐂ ᐪ ᒤ ᔆ ᔌ ᔕ ᔤ ᔧ ᕯ ᗯ ᘏ ᘗ ᘩ ᘨ ᣱ</p>
					<p style="font-style: italic; font-weight: 700;">ᐂ ᐪ ᒤ ᔆ ᔌ ᔕ ᔤ ᔧ ᕯ ᗯ ᘏ ᘗ ᘩ ᘨ ᣱ</p>
				</div>
			</d2l-demo-snippet>

		</d2l-demo-page>

	</body>
</html>
