<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
		<title>d2l-input-search unit tests</title>
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script src="/node_modules/mocha/mocha.js"></script>
		<script src="/node_modules/chai/chai.js"></script>
		<script src="/node_modules/@polymer/test-fixture/test-fixture.js"></script>
		<script src="/node_modules/wct-mocha/wct-mocha.js"></script>
		<script type="module" src="../input-search.js"></script>
	</head>
	<body>

		<test-fixture id="basic">
			<template>
				<d2l-input-search label="search"></d2l-input-search>
			</template>
		</test-fixture>
		<test-fixture id="value-set">
			<template>
				<d2l-input-search value="foo"></d2l-input-search>
			</template>
		</test-fixture>
		<test-fixture id="no-clear">
			<template>
				<d2l-input-search value="foo" no-clear></d2l-input-search>
			</template>
		</test-fixture>

		<script type="module">
			import { runAxe } from '../../../tools/a11y-test-helper.js';

			describe('d2l-input-search', () => {

				let elem, input;

				async function getFixture(name) {
					elem = fixture(name);
					await elem.updateComplete;
					input = elem.shadowRoot.querySelector('.d2l-input');
				}

				function assertSearchVisibility(isVisible) {
					const visibleButton = elem.shadowRoot.querySelector('d2l-button-icon');
					if (isVisible) {
						expect(visibleButton.getAttribute('icon')).to.equal('tier1:search');
					} else {
						expect(visibleButton.getAttribute('icon')).to.equal('tier1:close-default');
					}
				}

				function getClearButton() {
					return elem.shadowRoot.querySelector('d2l-button-icon[icon="tier1:close-default"]');
				}

				function getSearchButton() {
					return elem.shadowRoot.querySelector('d2l-button-icon[icon="tier1:search"]');
				}

				function pressEnter() {
					const event = new CustomEvent('keypress', {
						detail: 0,
						bubbles: true,
						cancelable: true,
						composed: true
					});
					event.keyCode = 13;
					event.code = 13;
					input.dispatchEvent(event);
				}

				describe('accessibility', () => {

					beforeEach(async() => {
						await getFixture('basic');
					});

					it('should pass all aXe tests', async() => {
						await runAxe(elem);
					});

					it('should pass all aXe tests with value', async() => {
						elem.setAttribute('value', 'hello');
						await elem.updateComplete;
						await runAxe(elem);
					});

					it('should pass all aXe tests when disabled', async() => {
						elem.disabled = true;
						await elem.updateComplete;
						await runAxe(elem);
					});

					it('should pass all aXe tests when invalid', async() => {
						elem.setAttribute('aria-invalid', 'true');
						await elem.updateComplete;
						await runAxe(elem);
					});

					it('should pass all aXe tests when focused', async() => {
						elem.focus();
						await runAxe(elem);
					});

				});

				describe('default property values', () => {

					beforeEach(async() => {
						await getFixture('basic');
					});

					it('should default "disabled" to false', () => {
						expect(elem.disabled).to.be.false;
					});

					it('should default "noClear" to false', () => {
						expect(elem.noClear).to.be.false;
					});

				});

				describe('value and lastSearchValue', () => {

					it('should default both to empty string', async() => {
						await getFixture('basic');
						expect(elem.value).to.equal('');
						expect(elem.lastSearchValue).to.equal('');
					});

					it('should initially match lastSearchValue with value', async() => {
						await getFixture('value-set');
						expect(elem.value).to.equal('foo');
						expect(elem.lastSearchValue).to.equal('foo');
					});

					it('should not persist value to lastSearchValue', async() => {
						await getFixture('basic');
						elem.value = 'bar';
						await elem.updateComplete;
						expect(elem.lastSearchValue).to.equal('');
					});

					it('should persist value to lastSearchValue when search is performed', async() => {
						await getFixture('basic');
						elem.value = 'bar';
						await elem.updateComplete;
						getSearchButton().click();
						await elem.updateComplete;
						expect(elem.value).to.equal('bar');
						expect(elem.lastSearchValue).to.equal('bar');
					});

					it('should clear both when cleared', async() => {
						await getFixture('value-set');
						getClearButton().click();
						await elem.updateComplete;
						expect(elem.value).to.equal('');
						expect(elem.lastSearchValue).to.equal('');
					});

					it('should ignore lastSearchValue setter', async() => {
						await getFixture('value-set');
						elem.lastSearchValue = 'new value';
						expect(elem.lastSearchValue).to.equal('foo');
					});

				});

				describe('search & clear button visibility', () => {

					it('should show search if no value is set', async() => {
						await getFixture('basic');
						assertSearchVisibility(true);
					});

					[undefined, null, ''].forEach(function(val) {
						it(`should show search if "${val}" value is set`, async() => {
							await getFixture('basic');
							elem.value = val;
							await elem.updateComplete;
							assertSearchVisibility(true);
						});
					});

					it('should show clear if a value is set', async() => {
						await getFixture('value-set');
						assertSearchVisibility(false);
					});

					it('should NOT show clear if value is set in no-clear mode', async() => {
						await getFixture('no-clear');
						assertSearchVisibility(true);
					});

					it('should show search if value is modified', async() => {
						await getFixture('value-set');
						elem.value = 'foobar';
						await elem.updateComplete;
						assertSearchVisibility(true);
					});

					it('should show search if value is cleared', async() => {
						await getFixture('value-set');
						getClearButton().click();
						await elem.updateComplete;
						assertSearchVisibility(true);
					});

					it('should show search if empty search is performed', async() => {
						await getFixture('basic');
						getSearchButton().click();
						assertSearchVisibility(true);
					});

					it('should show clear if modified value is searched', async() => {
						await getFixture('value-set');
						elem.value = 'foobar';
						await elem.updateComplete;
						getSearchButton().click();
						await elem.updateComplete;
						assertSearchVisibility(false);
					});

					it('should NOT show clear if modified value is searched in no-clear mode', async() => {
						await getFixture('no-clear');
						elem.value = 'foobar';
						getSearchButton().click();
						await elem.updateComplete;
						assertSearchVisibility(true);
					});

				});

				describe('events', () => {

					it('should fire "search" event when search button is clicked', async() => {
						await getFixture('basic');
						return new Promise((resolve) => {
							elem.addEventListener('d2l-input-search-searched', (e) => {
								expect(e.detail.value).to.equal('bar');
								resolve();
							});
							elem.value = 'bar';
							getSearchButton().click();
						});
					});

					it('should fire "search" event when ENTER is pressed', async() => {
						await getFixture('basic');
						return new Promise((resolve) => {
							elem.addEventListener('d2l-input-search-searched', (e) => {
								expect(e.detail.value).to.equal('bar');
								resolve();
							});
							elem.value = 'bar';
							pressEnter(elem);
						});
					});

					it('should fire "search" event when clear button is pressed', async() => {
						await getFixture('value-set');
						return new Promise((resolve) => {
							elem.addEventListener('d2l-input-search-searched', (e) => {
								expect(e.detail.value).to.equal('');
								resolve();
							});
							getClearButton().click();
						});
					});

					it('should fire "search" event on empty value search', async() => {
						await getFixture('value-set');
						return new Promise((resolve) => {
							elem.addEventListener('d2l-input-search-searched', (e) => {
								expect(e.detail.value).to.equal('');
								resolve();
							});
							elem.value = '';
							elem.updateComplete.then(() => getSearchButton().click());
						});
					});

				});

			});
		</script>
	</body>
</html>
