<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
		</script>
		<title>d2l-input-textarea visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div style="width: 300px;">
			<div class="visual-diff">
				<textarea id="sass-basic" class="d2l-test-input-textarea">text</textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-disabled" class="d2l-test-input-textarea" disabled>text disabled</textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-placeholder" class="d2l-test-input-textarea" placeholder="placeholder"></textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-placeholder-disabled" class="d2l-test-input-textarea" disabled placeholder="placeholder disabled"></textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-invalid" class="d2l-test-input-textarea" aria-invalid="true">invalid</textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-invalid-disabled" class="d2l-test-input-textarea" disabled aria-invalid="true">invalid disabled</textarea>
			</div>
		</div>
	</body>
</html>
