<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
			import '../input-textarea.js';
		</script>
		<title>d2l-input-textarea visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div style="width: 300px;">

			<div class="visual-diff">
				<d2l-input-textarea id="default" label="Label" value="text"></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="disabled" label="Label" value="text disabled" disabled></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="label-hidden" label="Label" label-hidden value="text"></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="wrapping" label="Label" value="Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker." min-height="none"></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="placeholder" label="Label" placeholder="placeholder"></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="placeholder-disabled" label="Label" placeholder="placeholder disabled" disabled></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="rows" label="Label" value="text" rows="2"></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="max-rows" label="Label" max-rows="4"></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="required" label="Label" value="text" required></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="invalid" label="Label" value="invalid" aria-invalid="true"></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="invalid-disabled" label="Label" value="invalid disabled" aria-invalid="true" disabled></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="invalid-rtl" label="Label" dir="rtl" value="invalid" aria-invalid="true"></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="skeleton" label="Label" value="text" skeleton></d2l-input-textarea>
			</div>
			<div class="visual-diff">
				<d2l-input-textarea id="no-border" label="Label" value="text" no-border></d2l-input-textarea>
			</div>

			<div class="visual-diff">
				<textarea id="sass-basic" class="d2l-test-input-textarea">text</textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-disabled" class="d2l-test-input-textarea" disabled>text disabled</textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-placeholder" class="d2l-test-input-textarea" placeholder="placeholder"></textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-placeholder-disabled" class="d2l-test-input-textarea" disabled placeholder="placeholder disabled"></textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-invalid" class="d2l-test-input-textarea" aria-invalid="true">invalid</textarea>
			</div>
			<div class="visual-diff">
				<textarea id="sass-invalid-disabled" class="d2l-test-input-textarea" disabled aria-invalid="true">invalid disabled</textarea>
			</div>
			<div class="visual-diff" dir="rtl">
				<textarea id="sass-invalid-rtl" class="d2l-test-input-textarea" aria-invalid="true">invalid</textarea>
			</div>

		</div>
	</body>
</html>
