<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
			import '../input-radio-spacer.js';
			import '../demo/input-radio-label-test.js';
			import '../demo/input-radio-solo-test.js';
		</script>
		<title>d2l-input-radio visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff">
			<div id="wc-label">
				<d2l-test-input-radio-label></d2l-test-input-radio-label>
				<d2l-input-radio-spacer style="color:#999999;">
					Additional content can go here and will<br>
					also line up nicely with the radios.
				</d2l-input-radio-spacer>
			</div>
		</div>
		<div class="visual-diff">
			<d2l-test-input-radio-solo id="solo"></d2l-test-input-radio-solo>
		</div>
	</body>
</html>
