<!DOCTYPE html>
<html lang="en" data-timezone='{"name": "est", "identifier": "America/Toronto"}'>
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
			import '../input-date-range.js';
			import sinon from 'sinon';

			const newToday = new Date('2018-02-12T12:00Z');
			sinon.useFakeTimers({ now: newToday.getTime(), toFake: ['Date'] });
		</script>
		<title>d2l-input-date-range visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<style>
			d2l-input-date-range#basic-wrapped {
				max-width: 300px;
			}
		</style>
	</head>
	<body class="d2l-typography">
		<div style="width: 400px;">
			<div class="visual-diff">
				<d2l-input-date-range id="basic"></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="basic-wrapped"></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="disabled" disabled></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="invalid-start-value" start-value="asdf"></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="labelled" label="Dates"></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="label-hidden" label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="min-max" min-value="2019-01-01" max-value="2022-01-01"></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="required" label="Dates" required></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="required-min-max" label="Dates" min-value="2019-01-01" max-value="2022-01-01" required></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="start-end-label" start-label="A long start date label explanation" end-label="Finish"></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="start-end-value" start-value="2019-03-02" end-value="2020-10-12"></d2l-input-date-range>
			</div>
		</div>
	</body>
</html>
