<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script type="module">
			import '../../typography/typography.js';
			import '../input-checkbox.js';
			import '../input-checkbox-spacer.js';
		</script>
		<title>d2l-input-checkbox visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-default-unchecked">Checkbox (unchecked)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-default-checked" checked>Checkbox (checked)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-default-indeterminate" indeterminate>Checkbox (indeterminate)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-disabled-unchecked" disabled>Checkbox (unchecked, disabled)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-disabled-checked" checked disabled>Checkbox (checked, disabled)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-disabled-indeterminate" indeterminate disabled>Checkbox (indeterminate, disabled)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-multiline" style="overflow: hidden; width: 200px;">
				Label for checkbox that wraps nicely onto
				multiple lines and stays aligned
			</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-multiline-rtl" dir="rtl" style="overflow: hidden; width: 200px;">
				Label for checkbox that wraps nicely onto
				multiple lines and stays aligned
			</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-multiline-unbreakable" style="overflow: hidden; width: 200px;">
				https://en.wikipedia.org/wiki/Dark_matter
			</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-multiline-unbreakable-rtl" dir="rtl" style="overflow: hidden; width: 200px;">
				https://en.wikipedia.org/wiki/Dark_matter
			</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-hidden-label" aria-label="Label for checkbox"></d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="wc-hidden-label-rtl" aria-label="Label for checkbox" dir="rtl"></d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<div id="wc-spacer" class="display:inline-block;">
				<d2l-input-checkbox>Label for checkbox</d2l-input-checkbox>
				<d2l-input-checkbox-spacer style="color: #999999;">
					Additional content can go here and will<br>
					also line up nicely with the checkbox.
				</d2l-input-checkbox-spacer>
			</div>
		</div>
		<div class="visual-diff">
			<div id="wc-spacer-rtl" class="display:inline-block;">
				<d2l-input-checkbox dir="rtl">Label for checkbox</d2l-input-checkbox>
				<d2l-input-checkbox-spacer dir="rtl" style="color: #999999;">
					Additional content can go here and will<br>
					also line up nicely with the checkbox.
				</d2l-input-checkbox-spacer>
			</div>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="skeleton-default-unchecked" skeleton>Checkbox (skeleton, unchecked)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="skeleton-default-checked" checked skeleton>Checkbox (skeleton, checked)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="skeleton-default-indeterminate" indeterminate skeleton>Checkbox (skeleton, indeterminate)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="skeleton-disabled-unchecked" disabled skeleton>Checkbox (skeleton, disabled, unchecked)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="skeleton-disabled-checked" disabled checked skeleton>Checkbox (skeleton, disabled, checked)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<d2l-input-checkbox id="skeleton-disabled-indeterminate" disabled indeterminate skeleton>Checkbox (skeleton, disabled, indeterminate)</d2l-input-checkbox>
		</div>
		<div class="visual-diff">
			<input id="sass-default-unchecked" type="checkbox" class="d2l-test-input-checkbox">
		</div>
		<div class="visual-diff">
			<input id="sass-default-checked" type="checkbox" class="d2l-test-input-checkbox" checked>
		</div>
		<div class="visual-diff">
			<input id="sass-disabled-unchecked" type="checkbox" class="d2l-test-input-checkbox" disabled>
		</div>
		<div class="visual-diff">
			<input id="sass-disabled-checked" type="checkbox" class="d2l-test-input-checkbox" disabled checked>
		</div>
	</body>
</html>
