<!DOCTYPE html>
<html lang="en" data-timezone='{"name": "est", "identifier": "America/Toronto"}'>
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script type="module">
			import '../../typography/typography.js';
			import '../input-date-time-range.js';
			import { querySelectorComposed } from '../../../helpers/dom.js';
			import sinon from 'sinon';

			window.querySelectorComposed = querySelectorComposed;

			const newToday = new Date('2018-02-12T12:00Z');
			sinon.useFakeTimers({ now: newToday.getTime(), toFake: ['Date'] });
		</script>
		<title>d2l-input-date-time-range visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<style>
			d2l-input-date-time-range#hidden-labels,
			d2l-input-date-time-range#start-end-label {
				max-width: 300px;
			}
		</style>
	</head>
	<body class="d2l-typography">
		<div style="width: 400px;">
			<div class="visual-diff">
				<d2l-input-date-time-range id="basic" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="disabled" disabled label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="invalid-start-value" start-value="asdf" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="labelled" label="Dates"></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="label-hidden" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="min-max" label="Dates" min-value="2016-03-27T12:30:00Z" max-value="2018-09-30T12:30:00Z"></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="slotted-content" label="Dates" label-hidden>
					<div slot="start">
						First slot content
					</div>
					<div slot="end">
						Second slot content
					</div>
				</d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="required" label="Dates" required></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="start-end-label" start-label="A long start date label explanation" end-label="Finish" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="start-end-value" start-value="2020-12-02T15:00:00.000Z" end-value="2021-01-12T07:30:00.000Z" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="start-value" start-value="2020-12-02T15:00:00.000Z" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="auto-shift-dates" auto-shift-dates start-value="2020-12-02T06:00:00.000Z" end-value="2021-12-04T10:30:00.000Z" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="inclusive" inclusive-date-range label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="hidden-labels" child-labels-hidden label="Dates" start-label="Start" end-label="Finish"></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="hidden-labels-values" child-labels-hidden label="Dates" start-label="Start" end-label="Finish" start-value="2020-12-02T06:00:00.000Z" end-value="2021-12-04T10:30:00.000Z"></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="localized" auto-shift-dates localized start-value="2020-12-02T06:00:00.000Z" end-value="2021-12-04T10:30:00.000Z" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="opened" label="Dates" start-opened></d2l-input-date-time-range>
			</div>
		</div>
		<div style="width: 800px;">
			<div class="visual-diff">
				<d2l-input-date-time-range id="wide-basic" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="wide-hidden-labels-values" child-labels-hidden label="Dates" start-label="Start" end-label="Finish" start-value="2020-12-02T06:00:00.000Z" end-value="2021-12-04T10:30:00.000Z"></d2l-input-date-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-time-range id="wide-start-end-value" start-value="2020-12-02T15:00:00.000Z" end-value="2021-01-12T08:30:00.000Z" label="Dates" label-hidden></d2l-input-date-time-range>
			</div>
		</div>
	</body>
</html>
