<!DOCTYPE html>
<html lang="en" data-timezone='{"name": "est", "identifier": "America/Toronto"}'>
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script type="module">
			import '../../typography/typography.js';
			import '../input-time-range.js';
			import { querySelectorComposed } from '../../../helpers/dom.js';
			import sinon from 'sinon';

			window.querySelectorComposed = querySelectorComposed;

			const newToday = new Date('2018-07-12T09:33Z');
			sinon.useFakeTimers({ now: newToday.getTime(), toFake: ['Date'] });
		</script>
		<title>d2l-input-time-range visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<style>
			d2l-input-time-range {
				position: relative;
			}
			d2l-input-time-range#basic-wrapped,
			d2l-input-time-range#hidden-labels-wrapped {
				max-width: 250px;
			}
		</style>
	</head>
	<body class="d2l-typography">
		<div style="width: 400px;">
			<div class="visual-diff">
				<d2l-input-time-range id="basic" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="basic-wrapped" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="disabled" disabled label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="end-value" end-value="18:30:00" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="invalid-end-value" end-value="asdf" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="labelled" label="Times"></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="label-hidden" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="required" label="Time Range" required></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="start-end-label" start-label="A long start time label explanation" end-label="Finish" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="start-end-value" start-value="03:30:00" end-value="12:22:00" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="start-value" start-value="13:30:00" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="auto-shift-times" auto-shift-times start-value="03:30:00" end-value="05:22:00" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="hidden-labels" child-labels-hidden label="Times" start-label="Start" end-label="Finish"></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="hidden-labels-wrapped" child-labels-hidden label="Times (wrapped)" start-label="Start" end-label="Finish"></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="inclusive" inclusive-time-range label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="time-interval" time-interval="ten" label="Times" label-hidden></d2l-input-time-range>
			</div>
			<div class="visual-diff">
				<d2l-input-time-range id="opened" start-opened label="Times" label-hidden></d2l-input-time-range>
			</div>
		</div>
	</body>
</html>
