<!DOCTYPE html>
<html lang="en" data-timezone='{"name": "est", "identifier": "America/Toronto"}'>
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script type="module">
			import { querySelectorComposed } from '../../../helpers/dom.js';
			import '../../typography/typography.js';
			import '../input-date-range.js';
			import sinon from 'sinon';

			window.querySelectorComposed = querySelectorComposed;

			const newToday = new Date('2018-02-12T12:00Z');
			sinon.useFakeTimers({ now: newToday.getTime(), toFake: ['Date'] });
		</script>
		<title>d2l-input-date-range visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<style>
			d2l-input-date-range {
				position: relative;
			}
			d2l-input-date-range#basic-wrapped,
			d2l-input-date-range#hidden-labels-wrapped {
				max-width: 300px;
			}
		</style>
	</head>
	<body class="d2l-typography">
		<div style="width: 500px;">
			<div class="visual-diff">
				<d2l-input-date-range id="basic" label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="basic-wrapped" label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="disabled" disabled label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="invalid-start-value" start-value="asdf" label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="labelled" label="Dates"></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="label-hidden" label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="min-max" min-value="2019-01-01" max-value="2022-01-01" label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="required" label="Dates" required></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="start-end-label" start-label="A long start date label explanation" end-label="Finish" label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="start-end-value" start-value="2019-03-02" end-value="2020-10-12" label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="auto-shift-dates" auto-shift-dates start-value="2020-12-02" end-value="2021-12-04" label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="inclusive" inclusive-date-range label="Dates" label-hidden></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="hidden-labels" child-labels-hidden label="Dates" start-label="Start" end-label="Finish"></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="hidden-labels-wrapped" child-labels-hidden label="Dates" start-label="Start" end-label="Finish"></d2l-input-date-range>
			</div>
			<div class="visual-diff">
				<d2l-input-date-range id="opened" start-opened label="Dates" label-hidden></d2l-input-date-range>
			</div>
		</div>
	</body>
</html>
