<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script type="module">
			import '../../../test/typography-preload.js';
			import '../input-date.js';
			import sinon from 'sinon';

			const newToday = new Date('2018-02-12T12:00Z');
			sinon.useFakeTimers({ now: newToday.getTime(), toFake: ['Date'] });

			const elems = document.querySelectorAll('d2l-input-date');
			elems.forEach(elem => elem._handleFirstDropdownOpen());
		</script>
		<style>
			.visual-diff {
				padding-bottom: 500px;
				padding-top: 100px;
			}
		</style>
		<title>d2l-input-date mobile visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff">
			<d2l-input-date id="min-max" min-value="2018-02-13" max-value="2018-02-27"></d2l-input-date>
		</div>
		<div class="visual-diff">
			<d2l-input-date id="placeholder"></d2l-input-date>
		</div>
		<div class="visual-diff">
			<d2l-input-date id="value" value="2019-12-20"></d2l-input-date>
		</div>
	</body>
</html>
