<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../typography/typography.js';
			import '../demo/input-select-test.js';
		</script>
		<title>d2l-input-select visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff">
			<d2l-test-input-select id="wc-default"></d2l-test-input-select>
		</div>
		<div class="visual-diff">
			<d2l-test-input-select id="wc-overflow" overflow></d2l-test-input-select>
		</div>
		<div class="visual-diff">
			<d2l-test-input-select id="wc-disabled" disabled></d2l-test-input-select>
		</div>
		<div class="visual-diff">
			<d2l-test-input-select id="wc-invalid" invalid></d2l-test-input-select>
		</div>
		<div class="visual-diff">
			<d2l-test-input-select id="wc-rtl" dir="rtl"></d2l-test-input-select>
		</div>
		<div class="visual-diff">
			<d2l-test-input-select id="wc-rtl-overflow" dir="rtl" overflow></d2l-test-input-select>
		</div>
		<div class="visual-diff">
			<d2l-test-input-select id="wc-rtl-invalid" dir="rtl" invalid></d2l-test-input-select>
		</div>
		<div class="visual-diff">
			<select id="sass-default" class="d2l-test-input-select">
				<option>Tyrannosaurus</option>
				<option>Velociraptor</option>
				<option>Deinonychus</option>
			</select>
		</div>
		<div class="visual-diff">
			<select id="sass-overflow" class="d2l-test-input-select" style="max-width:130px">
				<option>Tyrannosaurus</option>
				<option>Velociraptor</option>
				<option>Deinonychus</option>
			</select>
		</div>
		<div class="visual-diff">
			<select id="sass-disabled" class="d2l-test-input-select" disabled>
				<option>Tyrannosaurus</option>
				<option>Velociraptor</option>
				<option>Deinonychus</option>
			</select>
		</div>
		<div class="visual-diff">
			<select id="sass-invalid" class="d2l-test-input-select" aria-invalid="true">
				<option>Tyrannosaurus</option>
				<option>Velociraptor</option>
				<option>Deinonychus</option>
			</select>
		</div>
		<div class="visual-diff" dir="rtl">
			<select id="sass-rtl" class="d2l-test-input-select">
				<option>Tyrannosaurus</option>
				<option>Velociraptor</option>
				<option>Deinonychus</option>
			</select>
		</div>
		<div class="visual-diff" dir="rtl">
			<select id="sass-rtl-overflow" class="d2l-test-input-select" style="max-width:130px;">
				<option>Tyrannosaurus</option>
				<option>Velociraptor</option>
				<option>Deinonychus</option>
			</select>
		</div>
		<div class="visual-diff" dir="rtl">
			<select id="sass-rtl-invalid" class="d2l-test-input-select" aria-invalid="true">
				<option>Tyrannosaurus</option>
				<option>Velociraptor</option>
				<option>Deinonychus</option>
			</select>
		</div>
	</body>
</html>
