<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script type="module">
			import '../../button/button-icon.js';
			import '../../icons/icon.js';
			import '../../typography/typography.js';
			import '../input-text.js';
		</script>
		<title>d2l-input-text visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<style>
		#wc-override-padding {
			--d2l-input-padding: 2rem 3rem;
			--d2l-input-padding-focus: calc(2rem - 1px) calc(3rem - 1px);
		}
		#wc-override-height {
			--d2l-input-height: 100px;
		}
		#wc-override-text-align {
			--d2l-input-text-align: end;
		}
		d2l-icon[slot="left"], d2l-icon[slot="right"] {
			margin-left: 0.55rem;
			margin-right: 0.55rem;
		}
		</style>
	</head>
	<body class="d2l-typography">
		<div style="width: 300px;">
			<div class="visual-diff">
				<d2l-input-text id="wc-basic" value="text"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-labelled" label="Name" value="text"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-required" label="Name" required value="text"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-label-hidden" label="Name" label-hidden value="text"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-email" type="email" value="bill@nye.com"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-number" type="number" value="500"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-password" type="password" value="123456"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-search" type="search" value="search"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-tel" type="tel" value="123-456-7890"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-url" type="url" value="https://www.d2l.com"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-disabled" disabled value="text disabled"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-placeholder" placeholder="placeholder"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-placeholder-disabled" disabled placeholder="placeholder disabled"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-overflowing" value="overflowing value that renders ellipsis"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-unit" value="value" unit="%"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-unit-rtl" value="value" unit="%" dir="rtl"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-unit-disabled" value="value" unit="%" disabled></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-unit-invalid" value="value" unit="%" aria-invalid="true"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-unit-invalid-rtl" value="value" unit="%" aria-invalid="true" dir="rtl"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-unit-init-hidden" value="overflowing value should not overlap unit" unit="%" style="display: none;"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-unit-change" value="3" value-align="end" unit="/5" unit-label="out of 5"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-invalid" type="email" value="invalid@"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-invalid-disabled" disabled type="email" value="invalid-disabled@"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-aria-invalid" value="aria-invalid" aria-invalid="true"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-aria-invalid-disabled" disabled value="aria-invalid-disabled" aria-invalid="true"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-override-height" value="text"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-override-padding" value="text"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-override-text-align" value="text"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-icon-left" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
					<d2l-icon icon="tier1:calendar" slot="left"></d2l-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-icon-left-rtl" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit" dir="rtl">
					<d2l-icon icon="tier1:calendar" slot="left"></d2l-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-icon-right" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
					<d2l-icon icon="tier1:calendar" slot="right"></d2l-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-icon-right-rtl" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit" dir="rtl">
					<d2l-icon icon="tier1:calendar" slot="right"></d2l-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-icon-left-label" label="Name" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
					<d2l-icon icon="tier1:calendar" slot="left"></d2l-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-icon-right-label" label="Name" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
					<d2l-icon icon="tier1:calendar" slot="right"></d2l-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-icon-left-right" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
					<d2l-icon icon="tier1:search" slot="left"></d2l-icon>
					<d2l-icon icon="tier1:search" slot="right"></d2l-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-button-icon-left" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
					<d2l-button-icon icon="tier1:search" slot="left"></d2l-button-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-button-icon-right" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
					<d2l-button-icon icon="tier1:search" slot="right"></d2l-button-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-icon-right-invalid" aria-invalid="true" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit">
					<d2l-icon icon="tier1:calendar" slot="right"></d2l-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-icon-right-invalid-rtl" aria-invalid="true" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit" dir="rtl">
					<d2l-icon icon="tier1:calendar" slot="right"></d2l-icon>
				</d2l-input-text>
			</div>
			<div class="visual-diff">
				<d2l-input-text id="wc-custom-width" label="Custom Width Longer Than Input" input-width="100px"></d2l-input-text>
			</div>
			<div class="visual-diff">
				<input id="sass-basic" class="d2l-test-input-text" type="text" value="text">
			</div>
			<div class="visual-diff">
				<input id="sass-email" class="d2l-test-input-text" type="email" value="bill@nye.com">
			</div>
			<div class="visual-diff">
				<input id="sass-number" class="d2l-test-input-text" type="number" value="500">
			</div>
			<div class="visual-diff">
				<input id="sass-password" class="d2l-test-input-text" type="password" value="123456">
			</div>
			<div class="visual-diff">
				<input id="sass-search" class="d2l-test-input-text" type="search" value="search">
			</div>
			<div class="visual-diff">
				<input id="sass-tel" class="d2l-test-input-text" type="tel" value="123-456-7890">
			</div>
			<div class="visual-diff">
				<input id="sass-url" class="d2l-test-input-text" type="url" value="https://www.d2l.com">
			</div>
			<div class="visual-diff">
				<input id="sass-disabled" class="d2l-test-input-text" disabled value="text disabled">
			</div>
			<div class="visual-diff">
				<input id="sass-placeholder" class="d2l-test-input-text" placeholder="placeholder">
			</div>
			<div class="visual-diff">
				<input id="sass-placeholder-disabled" class="d2l-test-input-text" disabled placeholder="placeholder disabled">
			</div>
			<div class="visual-diff">
				<input id="sass-invalid" class="d2l-test-input-text" type="email" value="invalid@">
			</div>
			<div class="visual-diff">
				<input id="sass-invalid-disabled" class="d2l-test-input-text" disabled type="email" value="invalid-disabled@">
			</div>
			<div class="visual-diff">
				<input id="sass-aria-invalid" class="d2l-test-input-text" value="aria-invalid" aria-invalid="true">
			</div>
			<div class="visual-diff">
				<input id="sass-aria-invalid-disabled" class="d2l-test-input-text" disabled value="aria-invalid-disabled" aria-invalid="true">
			</div>
		</div>
	</body>
</html>
