<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script type="module">
			import '../../../test/typography-preload.js';
			import '../input-date.js';
			import sinon from 'sinon';

			const newToday = new Date('2018-02-12T12:00Z');
			sinon.useFakeTimers({ now: newToday.getTime(), toFake: ['Date'] });

			const elems = document.querySelectorAll('d2l-input-date');
			elems.forEach(elem => elem._handleFirstDropdownOpen());
		</script>
		<style>
			#opened {
				margin-top: -10px;
			}
		</style>
		<title>d2l-input-date visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div style="width: 300px;">
			<div class="visual-diff">
				<d2l-input-date id="disabled" disabled value="1990-01-01"></d2l-input-date>
			</div>
			<div class="visual-diff">
				<fieldset style="border: none; display: inline; margin: 0; padding: 0;" id="de53025">
					<label>label</label>
					<div style="position: relative;">
						<d2l-input-date label="Date" label-hidden></d2l-input-date>
					</div>
				</fieldset>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="empty-text" empty-text="No reminder date ever entered"></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="label" label="Start Date" value="2019-03-02"></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="label-hidden" label="Start Date" label-hidden value="2020-12-30"></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="min-max" min-value="2018-02-13" max-value="2018-02-27"></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="placeholder"></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="required" label="Date" required></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="required-value" label="Date" required value="2019-12-20"></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="value" value="2019-12-20"></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="opened" value="2019-12-20" opened></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="opened-disabled" opened disabled></d2l-input-date>
			</div>
			<div class="visual-diff">
				<d2l-input-date id="opened-skeleton" opened skeleton></d2l-input-date>
			</div>
		</div>
	</body>
</html>
