<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../typography/typography.js';
		import '../alert.js';
	</script>
	<title>d2l-alert</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-alert id="default" type="default">A default message.</d2l-alert>
	</div>
	<div class="visual-diff">
		<d2l-alert id="success" type="success">A success message.</d2l-alert>
	</div>
	<div class="visual-diff">
		<d2l-alert id="critical" type="critical">A critical message.</d2l-alert>
	</div>
	<div class="visual-diff">
		<d2l-alert id="warning" type="warning">A warning message.</d2l-alert>
	</div>
	<div class="visual-diff">
		<d2l-alert id="close" type="error" has-close-button>A message.</d2l-alert>
	</div>
	<div class="visual-diff">
		<d2l-alert id="button" type="call-to-action" button-text="Do it!">A message.</d2l-alert>
	</div>
	<div class="visual-diff">
		<d2l-alert id="button-close" type="default" button-text="Do it!" has-close-button
			subtext="I am subtext. I'm here to test the wrapping capabilities of adding subtext to these alerts, as well as other styling issues. Feel free to add to me!">
			A message.
		</d2l-alert>
	</div>
	<div class="visual-diff">
		<d2l-alert id="rtl" type="default" button-text="Do it!" has-close-button dir="rtl"
			subtext="I am subtext. I'm here to test the wrapping capabilities of adding subtext to these alerts, as well as other styling issues. Feel free to add to me!">
			A message.
		</d2l-alert>
	</div>
</body>
</html>
