<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<link rel="stylesheet" href="../../../test/sass.output.css" type="text/css">
		<script type="module">
			import '../../typography/typography.js';
			import '../link.js';
		</script>
		<title>d2l-link</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">

		<div class="visual-diff">
			<d2l-link href="https://www.d2l.com" id="wc-standard">Standard Link</d2l-link>
		</div>
		<div class="visual-diff">
			<d2l-link href="https://www.d2l.com" main id="wc-main">Main Link</d2l-link>
		</div>
		<div class="visual-diff">
			<d2l-link href="https://www.d2l.com" small id="wc-small">Small Link</d2l-link>
		</div>
		<div class="visual-diff">
			<span id="wc-inline">
				<d2l-link href="#">Hello</d2l-link>, <d2l-link href="#">World</d2l-link>!
				w<d2l-link href="#">x</d2l-link>y<d2l-link href="#">z</d2l-link>!
			</span>
		</div>
		<div class="visual-diff" id="wc-inline-paragraph" style="width: 400px;">
			<p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. <d2l-link href="https://www.d2l.com">Standard Link</d2l-link> Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
		</div>
		<div class="visual-diff" style="width: 400px;">
			<d2l-link href="https://www.d2l.com" id="wc-block" style="display: block;">A really long link that will wrap in its container to the next line.</d2l-link>
		</div>
		<div class="visual-diff" style="width: 400px;">
			<d2l-link href="https://www.d2l.com" id="wc-clamp-one-line" lines="1">A really long link that will overflow its container.</d2l-link>
		</div>
		<div class="visual-diff" style="width: 400px;">
			<d2l-link href="https://www.d2l.com" id="wc-clamp-unbreakable-one-line" lines="1">Areallyreallylongunbreakablelinkthatwilloverflowitscontainer.</d2l-link>
		</div>
		<div class="visual-diff" style="width: 400px;">
			<d2l-link href="https://www.d2l.com" id="wc-clamp-two-lines" lines="2">A really really long link that wraps in its container and then truncates after two lines of text like this.</d2l-link>
		</div>
		<div class="visual-diff" style="width: 400px;">
			<d2l-link href="https://www.d2l.com" id="wc-clamp-unbreakable-two-lines" lines="2">Areallyreallyreallylongunbreakablelinkthatwrapsinitscontainerandthentruncatesaftertwolinesoftextlikethis.</d2l-link>
		</div>

		<div class="visual-diff">
			<a href="https://www.d2l.com" class="d2l-test-link" id="sass-standard">Standard Link</a>
		</div>
		<div class="visual-diff">
			<a href="https://www.d2l.com" class="d2l-test-link" main id="sass-main">Main Link</a>
		</div>
		<div class="visual-diff">
			<a href="https://www.d2l.com" class="d2l-test-link" small id="sass-small">Small Link</a>
		</div>

	</body>
</html>
