<!DOCTYPE html>
<html lang="en">

<head>
	<script type="module">
		import '../../../components/typography/typography.js';
		import '../primary-secondary.js';
		import '../../../components/colors/colors.js';
	</script>
	<title>d2l-template-primary-secondary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		html {
			font-size: 20px;
		}

		.d2l-page {
			border: 2px solid var(--d2l-color-mica);
			overflow: hidden;
			position: relative;
		}

		.d2l-page.d2l-mobile {
			display: inline-block;
			height: 300px;
			width: 100px;
		}

		.d2l-gray-background {
			background-color: gray;
		}
	</style>
</head>

<body class="d2l-typography">
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="default">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="expanded">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="collapsed">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="middle">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="focus">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="rtl" dir="rtl">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="focus-rtl" dir="rtl">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="hidden-footer">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="hidden-footer-expanded">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="hidden-footer-collapsed">
			<div slot="header">Header</div>
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-mobile">
		<d2l-template-primary-secondary id="short-content" resizable>
			<div class="d2l-header" slot="header">Header</div>Size
			<div class="d2l-gray-background" slot="primary">
				We
			</div>
			<div class="d2l-gray-background" slot="secondary">
				Students
			</div>
		</d2l-template-primary-secondary>
	</div>
</body>

</html>
