<!DOCTYPE html>
<html lang="en">
<head>
	<script type="module">
		import '../../../components/typography/typography.js';
		import '../primary-secondary.js';
		import '../../../components/colors/colors.js';
		import '../../../components/list/list.js';
		import '../../../components/list/list-item.js';
		import '../../../components/list/list-item-content.js';
		import '../../../components/list/list-controls.js';
		import '../../../components/selection/selection-action.js';
	</script>
	<title>d2l-template-primary-secondary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		html {
			font-size: 20px;
		}
		.d2l-page {
			border: 2px solid var(--d2l-color-mica);
			display: inline-block;
			height: 350px;
			overflow: hidden;
			position: relative;
			width: 750px;
		}
		.d2l-header {
			border-bottom: 1px solid var(--d2l-color-mica);
		}
		.d2l-opt-in {
			background-color: yellow;
			border: 1px solid var(--d2l-color-mica);
			height: 250px;
			left: 40px;
			position: fixed;
			top: 20px;
			width: 600px;
			z-index: 100000;
		}
	</style>
</head>

<body class="d2l-typography">
	<div class="d2l-page d2l-desktop" id="opt-in">
		<d2l-template-primary-secondary>
			<div class="d2l-header" slot="header">Header
				<div class="d2l-opt-in"></div>
			</div>
			<div slot="primary">
				<d2l-list item-count="50" extend-separators>
					<d2l-list-controls slot="controls">
						<d2l-selection-action icon="tier1:plus-default" text="Action"></d2l-selection-action>
					</d2l-list-controls>
					<d2l-list-item selectable key="primary-1" label="Item 1">
						<d2l-list-item-content>
							<div>Primary Item 1</div>
							<div slot="supporting-info">Supporting Info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item selectable selected key="primary-2" label="Item 2">
						<d2l-list-item-content>
							<div>Primary Item 2</div>
							<div slot="supporting-info">Supporting Info for item 2</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item selectable key="primary-3" label="Item 3">
						<d2l-list-item-content>
							<div>Primary Item 3</div>
							<div slot="supporting-info">Supporting Info for item 3</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
			<div slot="secondary">
				<d2l-list item-count="50" extend-separators>
					<d2l-list-controls slot="controls">
						<d2l-selection-action icon="tier1:plus-default" text="Action"></d2l-selection-action>
					</d2l-list-controls>
					<d2l-list-item selectable selected key="secondary-1" label="Item 1">
						<d2l-list-item-content>
							<div>Secondary Item 1</div>
							<div slot="supporting-info">Supporting Info for item 1</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item selectable key="secondary-2" label="Item 2">
						<d2l-list-item-content>
							<div>Secondary Item 2</div>
							<div slot="supporting-info">Supporting Info for item 2</div>
						</d2l-list-item-content>
					</d2l-list-item>
					<d2l-list-item selectable key="secondary-3" label="Item 3">
						<d2l-list-item-content>
							<div>Secondary Item 3</div>
							<div slot="supporting-info">Supporting Info for item 3</div>
						</d2l-list-item-content>
					</d2l-list-item>
				</d2l-list>
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
</body>
</html>
