<!DOCTYPE html>
<html lang="en">

<head>
	<script type="module">
		import '../../../components/typography/typography.js';
		import '../primary-secondary.js';
		import '../../../components/colors/colors.js';
	</script>
	<title>d2l-template-primary-secondary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		html {
			font-size: 20px;
		}

		.d2l-page {
			border: 2px solid var(--d2l-color-mica);
			overflow: hidden;
			position: relative;
		}

		.d2l-page.d2l-desktop {
			display: inline-block;
			height: 150px;
			width: 769px;
		}

		.d2l-page.d2l-desktop.d2l-large {
			width: 1400px;
		}

		.d2l-header {
			border-bottom: 1px solid var(--d2l-color-mica);
		}

		.d2l-gray-background {
			background-color: gray;
		}
	</style>
</head>

<body class="d2l-typography">
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="fixed">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="fixed-secondary-first" secondary-first>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="resizable" resizable>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="expanded" resizable>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="collapsed" resizable>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="focus" resizable>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="focus-expanded" resizable>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="focus-expanded-rtl" resizable dir="rtl">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="focus-expanded-secondary-first" resizable secondary-first>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="focus-expanded-rtl-secondary-first" resizable dir="rtl" secondary-first>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="focus-collapsed" resizable>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="focus-collapsed-rtl" resizable dir="rtl">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="focus-collapsed-secondary-first" resizable secondary-first>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="focus-collapsed-rtl-secondary-first" resizable dir="rtl" secondary-first>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="background-shading-primary" resizable background-shading="primary">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="background-shading-primary-rtl" resizable dir="rtl"
			background-shading="primary">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="background-shading-secondary" resizable background-shading="secondary">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="background-shading-secondary-rtl" resizable dir="rtl"
			background-shading="secondary">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
			<div slot="footer">Footer</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop">
		<d2l-template-primary-secondary id="hidden-footer">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop d2l-large">
		<d2l-template-primary-secondary id="width-fullscreen" width-type="fullscreen">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop d2l-large">
		<d2l-template-primary-secondary id="width-normal" width-type="normal">
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop d2l-large">
		<d2l-template-primary-secondary id="width-normal-collapsed" width-type="normal" resizable>
			<div class="d2l-header" slot="header">Header</div>Size
			<div slot="primary">
				We make it easy to provide timely and contextual feedback and assessments. Do it through inline
				annotations,
				our assessment hub, gradebook, video and audio feedback, and amazing rubrics. Grade assignments and give
				feedback on the go using a mobile app. Plus, assess any type of activity, including electronic and paper
				submissions, and observational assessments in the class and in the field.
			</div>
			<div slot="secondary">
				Students of all ages get more engaged when they share their progress, reflections, and learning
				experiences
				with their classmates, teacher, and parents. Our Portfolio tool, as well as built-in badges and
				certificates
				provide instant recognition and keep students motivated. Parents love them too.
			</div>
		</d2l-template-primary-secondary>
	</div>
	<div class="d2l-page d2l-desktop d2l-large">
		<d2l-template-primary-secondary id="short-content" resizable>
			<div class="d2l-header" slot="header">Header</div>Size
			<div class="d2l-gray-background" slot="primary">
				We
			</div>
			<div class="d2l-gray-background" slot="secondary">
				Students
			</div>
		</d2l-template-primary-secondary>
	</div>
</body>

</html>
