<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
		<title>d2l-template-primary-secondary unit tests</title>
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script src="/node_modules/mocha/mocha.js"></script>
		<script src="/node_modules/chai/chai.js"></script>
		<script src="/node_modules/@polymer/test-fixture/test-fixture.js"></script>
		<script src="/node_modules/wct-mocha/wct-mocha.js"></script>
		<script type="module" src="../primary-secondary.js"></script>
	</head>
	<body>

		<test-fixture id="basic">
			<template>
				<d2l-template-primary-secondary></d2l-template-primary-secondary>
			</template>
		</test-fixture>

		<script type="module">
			import { runAxe } from '../../../tools/a11y-test-helper.js';

			describe('d2l-template-primary-secondary', () => {
				let element;

				beforeEach(async() => {
					element = fixture('basic');
					await element.updateComplete;
				});

				it('should pass all axe tests', async() => {
					await runAxe(element);
				});

				it('loads element', () => {
					expect(element).to.exist;
				});
			});
		</script>
	</body>
</html>
