<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../../components/demo/styles.css" type="text/css">
		<script type="module">
			import '../../../components/demo/demo-page.js';
			import '../page.js';
			import '../../layouts/primary.js';
			import '../../../components/button/button.js';
		</script>
		<style>
			div[slot="header"] {
				background-color: #dddddd;
				padding: 0.75rem 1rem;
			}
		</style>
	</head>
	<body>
		<d2l-template-page width-type="normal" sticky>
			<div slot="header">
				I'm in the <b>header</b> slot of the <b>d2l-template-page</b> component!
			</div>
			<d2l-layout-primary slot="content">
				<p>I'm in the <b>content</b> slot of the <b>d2l-template-page</b> component!</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt, velit quis vulputate condimentum, erat nibh accumsan augue, sed rutrum nibh elit et augue. Cras sed purus sit amet tellus gravida cursus eget ac nulla. Sed volutpat volutpat sodales.
				</p>
				<p>
					<d2l-button>A demo button</d2l-button>
				</p>
				<p>Additional content to demonstrate scrolling behavior and layout. Pellentesque eu efficitur ante. Cras non diam vitae nibh condimentum egestas. Proin malesuada dapibus dapibus.</p>
				<p>Vivamus interdum pretium libero dictum eleifend. Donec eros tortor, facilisis eget maximus in, malesuada a magna. Nulla ac felis turpis. Donec pellentesque est in rhoncus tempus.</p>
				<p>Maecenas nunc nulla, viverra ut ornare id, luctus eu nulla. Pellentesque massa turpis, porta ut tincidunt ut, ullamcorper vitae urna. Nam congue euismod placerat.</p>
				<p>Vestibulum aliquet, metus vitae viverra posuere, lacus urna hendrerit turpis, vel laoreet ligula odio et nisl. Mauris id lectus magna. Sed gravida tincidunt sapien quis dapibus.</p>
				<p>Curabitur at semper augue. Integer id ex id metus euismod laoreet. Nunc viverra leo arcu, at dapibus neque efficitur sit amet. Integer efficitur neque et elementum sollicitudin.</p>
				<p>Sed nec ullamcorper tortor. Donec ullamcorper ligula id iaculis volutpat. Integer venenatis, arcu vitae luctus facilisis, est libero hendrerit ipsum, at blandit purus risus in orci.</p>
				<p>Praesent placerat, velit eget finibus posuere, sem mauris sodales mauris, sed feugiat orci felis sit amet risus. Proin non neque nec nibh vestibulum placerat sit amet non purus.</p>
				<p>Phasellus consequat leo et placerat ultricies. Aliquam a lorem ut lectus faucibus interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				<p>Integer dictum, nibh eget congue pretium, risus dolor sagittis odio, a tempor urna justo sit amet erat. Suspendisse potenti. Quisque ut sagittis libero, ut maximus arcu.</p>
				<p>Duis mattis, arcu nec posuere consequat, lacus augue vulputate arcu, sed pulvinar lorem lacus sit amet felis. Fusce at orci justo. Sed dapibus ornare purus, ut cursus velit.</p>
				<p>Etiam convallis urna non purus lacinia, in cursus metus pretium. Integer dictum, nibh eget congue pretium, risus dolor sagittis odio, a tempor urna justo sit amet erat.</p>
				<p>Morbi bibendum, nisl sit amet posuere ullamcorper, lectus turpis efficitur augue, nec viverra nisl dui vel erat. Nulla facilisi. Vivamus volutpat accumsan laoreet.</p>
				<p>Nam nec velit sed nisl finibus posuere. Sed justo ipsum, viverra ut nunc quis, blandit euismod nunc. Integer ac tristique risus. Donec ut erat vitae tellus facilisis posuere.</p>
				<p>In aliquam, arcu a interdum consequat, massa libero semper mi, id blandit risus arcu non odio. Vestibulum convallis justo non nisi bibendum, nec viverra enim tempor.</p>
				<p>Aliquam erat volutpat. Aenean commodo suscipit felis, vitae dapibus nisl efficitur ut. Cras consequat, lorem et tincidunt semper, risus metus scelerisque sapien, at interdum odio urna a tortor.</p>
				<p>Nulla a lacus ac magna accumsan venenatis. Sed porttitor, neque in iaculis iaculis, felis mi dapibus mi, vitae lacinia velit lorem at odio.</p>
				<p>Ut vel elit sed dolor malesuada tincidunt. Suspendisse luctus faucibus neque, in commodo elit malesuada non. Aliquam pharetra, ipsum non facilisis tempus, dolor lacus vulputate est, in molestie odio augue ac tortor.</p>
				<p>Donec varius neque quis lacus fermentum, a porta turpis aliquam. Phasellus pretium, ante sit amet volutpat posuere, arcu lorem iaculis nibh, sed suscipit risus purus id mi.</p>
				<p>Vivamus sodales fermentum mauris, non aliquam arcu facilisis ac. Nam vitae faucibus dolor. Pellentesque non diam ut dolor hendrerit tempor ut et tellus.</p>
				<p>Sed tristique, mauris at malesuada aliquam, tortor nisl auctor nunc, vitae congue ante dui nec ante. Mauris lobortis justo quis tincidunt cursus. Integer ultricies finibus commodo.</p>
			</d2l-layout-primary>
			<div slot="footer">
				I'm in the <b>footer</b> slot of the <b>d2l-template-page</b> component!
			</div>
		</d2l-template-page>
	</body>
</html>
