<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
	<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
	<script type="module">
		import '../../demo/demo-page.js';
		import '../../inputs/input-text.js';
		import '../tooltip.js';
	</script>
</head>

<body unresolved>

	<d2l-demo-page page-title="d2l-tooltip">

		<h2>Generic Tooltip</h2>
		<d2l-demo-snippet>
			<template>
				<d2l-input-text id="my-button">target</d2l-input-text>

				<div>
					<d2l-tooltip for="my-button">
						Your message will display here
					</d2l-tooltip>
				</div>
			</template>
		</d2l-demo-snippet>

	</d2l-demo-page>

</body>

</html>
