<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../meter-linear.js';
			import '../meter-radial.js';
			import '../meter-circle.js';
		</script>
		<style>
			d2l-demo-snippet > div > div {
				padding: 1rem;
			}
			d2l-meter-linear {
				width: 250px;
			}
			d2l-meter-linear, d2l-meter-radial, d2l-meter-circle {
				margin-bottom: 1rem;
			}
			.dark-background {
				background-color: var(--d2l-color-celestine);
			}

		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="Meter Components">

			<h2>Meter Linear</h2>

			<d2l-demo-snippet no-padding>
				<template>
					<div>
						<d2l-meter-linear value="2" max="15" text-inline></d2l-meter-linear>
						<d2l-meter-linear value="2" max="15" text-inline percent></d2l-meter-linear>
						<d2l-meter-linear value="2" max="15" text-inline text="Activities"></d2l-meter-linear>
						<d2l-meter-linear value="2" max="15" text-inline text="Activities" percent></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6"></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6" percent></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6" text="Visited: {x/y}" percent></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6" text="Visited: {%}"></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6" text="You're doing great!" percent></d2l-meter-linear>
					</div>
					<div class="dark-background">
						<d2l-meter-linear value="2" max="15" foreground-light text-inline></d2l-meter-linear>
						<d2l-meter-linear value="2" max="15" foreground-light text-inline percent></d2l-meter-linear>
						<d2l-meter-linear value="2" max="15" foreground-light text-inline text="Activities"></d2l-meter-linear>
						<d2l-meter-linear value="2" max="15" foreground-light text-inline text="Activities" percent></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6" foreground-light></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6" foreground-light percent></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6" foreground-light text="Visited: {x/y}" percent></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6" foreground-light text="Visited: {%}"></d2l-meter-linear>
						<d2l-meter-linear value="3" max="6" foreground-light text="You're doing great!" percent></d2l-meter-linear>
					</div>
				</template>
			</d2l-demo-snippet>

			<h2>Meter Radial</h2>

			<d2l-demo-snippet no-padding>
				<template>
					<div>
						<d2l-meter-radial value="0" max="10"></d2l-meter-radial>
						<d2l-meter-radial value="5" max="13"></d2l-meter-radial>
						<d2l-meter-radial value="5" max="13" percent></d2l-meter-radial>
						<d2l-meter-radial value="10" max="10" text="Completed" text-hidden></d2l-meter-radial>
						<d2l-meter-radial value="10" max="10" text="Completed"></d2l-meter-radial>
						<d2l-meter-radial value="19" max="26" style="width: 25%;"></d2l-meter-radial>
					</div>
					<div class="dark-background">
						<d2l-meter-radial value="0" max="10" foreground-light></d2l-meter-radial>
						<d2l-meter-radial value="5" max="13" foreground-light></d2l-meter-radial>
						<d2l-meter-radial value="5" max="13" percent foreground-light></d2l-meter-radial>
						<d2l-meter-radial value="10" max="10" text="Completed" text-hidden foreground-light></d2l-meter-radial>
						<d2l-meter-radial value="10" max="10" text="Completed" foreground-light></d2l-meter-radial>
						<d2l-meter-radial value="19" max="26" style="width: 25%;" foreground-light></d2l-meter-radial>
					</div>
				</template>
			</d2l-demo-snippet>

			<h2>Meter Circle</h2>

			<d2l-demo-snippet no-padding>
				<template>
					<div>
						<d2l-meter-circle value="0" max="10"></d2l-meter-circle>
						<d2l-meter-circle value="5" max="13" text="Completed" text-hidden></d2l-meter-circle>
						<d2l-meter-circle value="5" max="13" percent></d2l-meter-circle>
						<d2l-meter-circle value="10" max="10" text="Completed"></d2l-meter-circle>
						<d2l-meter-circle value="19" max="26" style="width: 25%;"></d2l-meter-circle>
						<d2l-meter-circle value="19" max="26" style="width: 25%;" text="Completed"></d2l-meter-circle>
					</div>
					<div class="dark-background">
						<d2l-meter-circle value="0" max="10" foreground-light></d2l-meter-circle>
						<d2l-meter-circle value="5" max="13" text="Completed" text-hidden foreground-light></d2l-meter-circle>
						<d2l-meter-circle value="5" max="13" percent foreground-light></d2l-meter-circle>
						<d2l-meter-circle value="10" max="10" text="Completed" foreground-light></d2l-meter-circle>
						<d2l-meter-circle value="19" max="26" style="width: 25%;" foreground-light></d2l-meter-circle>
						<d2l-meter-circle value="19" max="26" style="width: 25%;" text="Completed" foreground-light></d2l-meter-circle>
					</div>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>
	</body>
</html>
