<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../count-badge-icon.js';
		import '../../typography/typography.js';
	</script>
	<title>d2l-count-badge-icon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		#tooltip {
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
	</style>
</head>
<body class="d2l-typography">
	<div class="visual-diff">
		<d2l-count-badge-icon id="large-count-icon" icon="tier3:gear" size="large" type="count" number="1"></d2l-count-badge-icon>
	</div>
	<div class="visual-diff">
		<d2l-count-badge-icon id="large-number-centered" icon="tier3:gear" size="large" type="count" number="100000"></d2l-count-badge-icon>
	</div>
	<div class="visual-diff">
		<d2l-count-badge-icon id="large-number-centered-rtl" dir="rtl" icon="tier3:gear" size="large" type="count" number="100000"></d2l-count-badge-icon>
	</div>
	<div class="visual-diff">
		<d2l-count-badge-icon id="large-count-icon-rtl" dir="rtl" icon="tier3:gear" size="large" type="count" number="1"></d2l-count-badge-icon>
	</div>
	<div class="visual-diff">
		<d2l-count-badge-icon id="small-notification-icon" tab-stop icon="tier3:gear" number="100" type="notification"></d2l-count-badge-icon>
	</div>
	<div class="visual-diff">
		<d2l-count-badge-icon id="small-notification-icon-rtl" dir="rtl" tab-stop icon="tier3:gear" number="100" type="notification"></d2l-count-badge-icon>
	</div>
	<div class="visual-diff">
		<d2l-count-badge-icon id="icon-skeleton" has-tooltip  skeleton icon="tier3:gear" number="100"></d2l-count-badge-icon>
	</div>
	<div class="visual-diff">
		<d2l-count-badge-icon id="tooltip-icon" has-tooltip  icon="tier3:gear" number="10" text="10 new notifications"></d2l-count-badge-icon>
	</div>
</body>
</html>
