<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../demo-page.js';
			import '../../button/button-icon.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page title="d2l-demo">

			<h2>Demo Snippet</h2>

			<d2l-demo-snippet>
				<d2l-button-icon icon="d2l-tier1:gear" text="Icon Button"></d2l-button-icon>
			</d2l-demo-snippet>

			<h2>Code View</h2>

			<d2l-code-view language="javascript">
				function helloGrumpy(name) {
					console.log(`Hi there ${name}.`);
				}
				helloGrumpy('Wizard');
			</d2l-code-view>

			<d2l-code-view language="css">
				.grumpy > img {
					height: 100%;
					width: 100%;
				}
			</d2l-code-view>

			<d2l-code-view language="json">
				{
					"jinxed": "gnomes",
					"grumpy": [ "wizards" ]
				}
			</d2l-code-view>

			<d2l-code-view language="shell">
				#!/bin/bash
				if [ -d $directory ]; then
					echo "Directory exists"
				else
					echo "Directory does not exists"
				fi
			</d2l-code-view>

		</d2l-demo-page>

	</body>
</html>
