<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script type="module">
		import '../../typography/typography.js';
		import '../html-block.js';
		import '../../../tools/mathjax-test-context.js';
	</script>
	<title>d2l-html-block</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		body {
			margin: 0;
		}
		.visual-diff {
			width: 300px;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-html-block id="empty"></d2l-html-block>
	</div>

	<div class="visual-diff">
		<d2l-html-block id="typography" html="Just a text node...
			&lt;h1&gt;heading 1&lt;/h1&gt;
			&lt;h2&gt;heading 2&lt;/h2&gt;
			&lt;h3&gt;heading 3&lt;/h3&gt;
			&lt;h4&gt;heading 4&lt;/h4&gt;
			&lt;h5&gt;heading 5&lt;/h5&gt;
			&lt;h6&gt;heading 6&lt;/h6&gt;
			&lt;div&gt;&lt;strong&gt;strong&lt;/strong&gt;&lt;/div&gt;
			&lt;div&gt;&lt;b&gt;bold&lt;/b&gt;&lt;/div&gt;
			&lt;div&gt;text&lt;/div&gt;
			&lt;pre&gt;preformatted&lt;/pre&gt;
			&lt;p&gt;paragraph&lt;/p&gt;
			&lt;ul&gt;
				&lt;li&gt;unordered item 1&lt;/li&gt;
				&lt;li&gt;unordered item 2&lt;/li&gt;
			&lt;/ul&gt;
			&lt;ol&gt;
				&lt;li&gt;ordered item 1&lt;/li&gt;
				&lt;li&gt;ordered item 2&lt;/li&gt;
			&lt;/ol&gt;
			&lt;div&gt;&lt;a href=&quot;https://d2l.com&quot;&gt;anchor&lt;/a&gt;&lt;/div&gt;
			&lt;p dir=&quot;rtl&quot;&gt;rtl paragraph&lt;/p&gt;">
		</d2l-html-block>
	</div>

	<div class="visual-diff">
		<d2l-html-block id="compact" compact html="Just a text node...
			&lt;h1&gt;heading 1&lt;/h1&gt;
			&lt;h2&gt;heading 2&lt;/h2&gt;
			&lt;h3&gt;heading 3&lt;/h3&gt;
			&lt;h4&gt;heading 4&lt;/h4&gt;
			&lt;h5&gt;heading 5&lt;/h5&gt;
			&lt;h6&gt;heading 6&lt;/h6&gt;
			&lt;div&gt;&lt;strong&gt;strong&lt;/strong&gt;&lt;/div&gt;
			&lt;div&gt;&lt;b&gt;bold&lt;/b&gt;&lt;/div&gt;
			&lt;div&gt;text&lt;/div&gt;
			&lt;pre&gt;preformatted&lt;/pre&gt;
			&lt;p&gt;paragraph&lt;/p&gt;
			&lt;ul&gt;
				&lt;li&gt;unordered item 1&lt;/li&gt;
				&lt;li&gt;unordered item 2&lt;/li&gt;
			&lt;/ul&gt;
			&lt;ol&gt;
				&lt;li&gt;ordered item 1&lt;/li&gt;
				&lt;li&gt;ordered item 2&lt;/li&gt;
			&lt;/ol&gt;
			&lt;div&gt;&lt;a href=&quot;https://d2l.com&quot;&gt;anchor&lt;/a&gt;&lt;/div&gt;
			&lt;p dir=&quot;rtl&quot;&gt;rtl paragraph&lt;/p&gt;">
		</d2l-html-block>
	</div>

	<div class="visual-diff" id="inline" style="width: 500px;">
		<span>Here's an inline html-block:</span>
		<d2l-html-block inline html="I'm inline!"></d2l-html-block>
		<span>Pretty cool!</span>
	</div>

	<div class="visual-diff" id="inline-no-deferred-rendering" style="width: 500px;">
		<span>Here's an inline html-block:</span>
		<d2l-html-block inline no-deferred-rendering>
			I'm inline!
		</d2l-html-block>
		<span>Pretty cool!</span>
	</div>

	<div class="visual-diff" style="width: 500px;">
		<d2l-html-block id="large-font-size" html="&lt;div style=&quot;font-size: 42px;&quot;&gt;
			Just a text node...
			&lt;h1&gt;heading 1&lt;/h1&gt;
			&lt;h2&gt;heading 2&lt;/h2&gt;
			&lt;h3&gt;heading 3&lt;/h3&gt;
			&lt;h4&gt;heading 4&lt;/h4&gt;
			&lt;h5&gt;heading 5&lt;/h5&gt;
			&lt;h6&gt;heading 6&lt;/h6&gt;
			&lt;div&gt;&lt;strong&gt;strong&lt;/strong&gt;&lt;/div&gt;
			&lt;div&gt;&lt;b&gt;bold&lt;/b&gt;&lt;/div&gt;
			&lt;div&gt;text&lt;/div&gt;
			&lt;pre&gt;preformatted&lt;/pre&gt;
			&lt;p&gt;paragraph&lt;/p&gt;
			&lt;ul&gt;
				&lt;li&gt;unordered item 1&lt;/li&gt;
				&lt;li&gt;unordered item 2&lt;/li&gt;
			&lt;/ul&gt;
			&lt;ol&gt;
				&lt;li&gt;ordered item 1&lt;/li&gt;
				&lt;li&gt;ordered item 2&lt;/li&gt;
			&lt;/ol&gt;
			&lt;div&gt;&lt;a href=&quot;https://d2l.com&quot;&gt;anchor&lt;/a&gt;&lt;/div&gt;
			&lt;p dir=&quot;rtl&quot;&gt;rtl paragraph&lt;/p&gt;
		&lt;/div&gt;">		
		</d2l-html-block>
	</div>

	<div class="visual-diff" style="width: 500px;">
		<d2l-html-block id="overflowing" html="&lt;div style=&quot;border: 1px solid black; white-space: nowrap; width: 600px;&quot;&gt;
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci repellat cum totam!
		&lt;/div&gt;">
		</d2l-html-block>
	</div>

	<div class="visual-diff">
		<d2l-html-block id="update-content" html="before update"></d2l-html-block>
	</div>

	<div class="visual-diff" style="width: 650px;">
		<d2l-html-block id="math-block" html="&lt;math xmlns=&#34;http://www.w3.org/1998/Math/MathML&#34; display=&#34;block&#34;&gt;
			&lt;msup&gt;
				&lt;mrow&gt;
					&lt;mo&gt;(&lt;/mo&gt;
					&lt;mrow&gt;
						&lt;munderover&gt;
							&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
							&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
								&lt;mi&gt;k&lt;/mi&gt;
								&lt;mo&gt;=&lt;/mo&gt;
								&lt;mn&gt;1&lt;/mn&gt;
							&lt;/mrow&gt;
							&lt;mi&gt;n&lt;/mi&gt;
						&lt;/munderover&gt;
						&lt;msub&gt;
							&lt;mi&gt;a&lt;/mi&gt;
							&lt;mi&gt;k&lt;/mi&gt;
						&lt;/msub&gt;
						&lt;msub&gt;
							&lt;mi&gt;b&lt;/mi&gt;
							&lt;mi&gt;k&lt;/mi&gt;
						&lt;/msub&gt;
					&lt;/mrow&gt;
					&lt;mo&gt;)&lt;/mo&gt;
				&lt;/mrow&gt;
				&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
					&lt;mspace width=&#34;negativethinmathspace&#34;&gt;&lt;/mspace&gt;
					&lt;mspace width=&#34;negativethinmathspace&#34;&gt;&lt;/mspace&gt;
					&lt;mn&gt;2&lt;/mn&gt;
				&lt;/mrow&gt;
			&lt;/msup&gt;
			&lt;mo&gt;≤&lt;!-- ≤ --&gt;&lt;/mo&gt;
			&lt;mrow&gt;
				&lt;mo&gt;(&lt;/mo&gt;
				&lt;mrow&gt;
					&lt;munderover&gt;
						&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
						&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
							&lt;mi&gt;k&lt;/mi&gt;
							&lt;mo&gt;=&lt;/mo&gt;
							&lt;mn&gt;1&lt;/mn&gt;
						&lt;/mrow&gt;
						&lt;mi&gt;n&lt;/mi&gt;
					&lt;/munderover&gt;
					&lt;msubsup&gt;
						&lt;mi&gt;a&lt;/mi&gt;
						&lt;mi&gt;k&lt;/mi&gt;
						&lt;mn&gt;2&lt;/mn&gt;
					&lt;/msubsup&gt;
				&lt;/mrow&gt;
				&lt;mo&gt;)&lt;/mo&gt;
			&lt;/mrow&gt;
			&lt;mrow&gt;
				&lt;mo&gt;(&lt;/mo&gt;
				&lt;mrow&gt;
					&lt;munderover&gt;
						&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
						&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
							&lt;mi&gt;k&lt;/mi&gt;
							&lt;mo&gt;=&lt;/mo&gt;
							&lt;mn&gt;1&lt;/mn&gt;
						&lt;/mrow&gt;
						&lt;mi&gt;n&lt;/mi&gt;
					&lt;/munderover&gt;
					&lt;msubsup&gt;
						&lt;mi&gt;b&lt;/mi&gt;
						&lt;mi&gt;k&lt;/mi&gt;
						&lt;mn&gt;2&lt;/mn&gt;
					&lt;/msubsup&gt;
				&lt;/mrow&gt;
				&lt;mo&gt;)&lt;/mo&gt;
			&lt;/mrow&gt;
			&lt;mspace linebreak=&#34;newline&#34;&gt;&lt;/mspace&gt;
			&lt;msup&gt;
				&lt;mi&gt;e&lt;/mi&gt;
				&lt;mrow&gt;
					&lt;mi&gt;i&lt;/mi&gt;
					&lt;mi&gt;π&lt;!-- π --&gt;&lt;/mi&gt;
				&lt;/mrow&gt;
			&lt;/msup&gt;
			&lt;mo>+&lt;/mo&gt;
			&lt;mn>1&lt;/mn&gt;
			&lt;mo>=&lt;/mo&gt;
			&lt;mn>0&lt;/mn&gt;
		&lt;/math&gt;">
		</d2l-html-block>
	</div>

	<div class="visual-diff" style="width: 650px;">
		<d2l-html-block id="math-inline" html="An equation...
			&lt;math xmlns=&#34;http://www.w3.org/1998/Math/MathML&#34; display=&#34;block&#34;&gt;
				&lt;msup&gt;
					&lt;mrow&gt;
						&lt;mo&gt;(&lt;/mo&gt;
						&lt;mrow&gt;
							&lt;munderover&gt;
								&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
								&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
									&lt;mi&gt;k&lt;/mi&gt;
									&lt;mo&gt;=&lt;/mo&gt;
									&lt;mn&gt;1&lt;/mn&gt;
								&lt;/mrow&gt;
								&lt;mi&gt;n&lt;/mi&gt;
							&lt;/munderover&gt;
							&lt;msub&gt;
								&lt;mi&gt;a&lt;/mi&gt;
								&lt;mi&gt;k&lt;/mi&gt;
							&lt;/msub&gt;
							&lt;msub&gt;
								&lt;mi&gt;b&lt;/mi&gt;
								&lt;mi&gt;k&lt;/mi&gt;
							&lt;/msub&gt;
						&lt;/mrow&gt;
						&lt;mo&gt;)&lt;/mo&gt;
					&lt;/mrow&gt;
					&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
						&lt;mspace width=&#34;negativethinmathspace&#34;&gt;&lt;/mspace&gt;
						&lt;mspace width=&#34;negativethinmathspace&#34;&gt;&lt;/mspace&gt;
						&lt;mn&gt;2&lt;/mn&gt;
					&lt;/mrow&gt;
				&lt;/msup&gt;
				&lt;mo&gt;≤&lt;!-- ≤ --&gt;&lt;/mo&gt;
				&lt;mrow&gt;
					&lt;mo&gt;(&lt;/mo&gt;
					&lt;mrow&gt;
						&lt;munderover&gt;
							&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
							&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
								&lt;mi&gt;k&lt;/mi&gt;
								&lt;mo&gt;=&lt;/mo&gt;
								&lt;mn&gt;1&lt;/mn&gt;
							&lt;/mrow&gt;
							&lt;mi&gt;n&lt;/mi&gt;
						&lt;/munderover&gt;
						&lt;msubsup&gt;
							&lt;mi&gt;a&lt;/mi&gt;
							&lt;mi&gt;k&lt;/mi&gt;
							&lt;mn&gt;2&lt;/mn&gt;
						&lt;/msubsup&gt;
					&lt;/mrow&gt;
					&lt;mo&gt;)&lt;/mo&gt;
				&lt;/mrow&gt;
				&lt;mrow&gt;
					&lt;mo&gt;(&lt;/mo&gt;
					&lt;mrow&gt;
						&lt;munderover&gt;
							&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
							&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
								&lt;mi&gt;k&lt;/mi&gt;
								&lt;mo&gt;=&lt;/mo&gt;
								&lt;mn&gt;1&lt;/mn&gt;
							&lt;/mrow&gt;
							&lt;mi&gt;n&lt;/mi&gt;
						&lt;/munderover&gt;
						&lt;msubsup&gt;
							&lt;mi&gt;b&lt;/mi&gt;
							&lt;mi&gt;k&lt;/mi&gt;
							&lt;mn&gt;2&lt;/mn&gt;
						&lt;/msubsup&gt;
					&lt;/mrow&gt;
					&lt;mo&gt;)&lt;/mo&gt;
				&lt;/mrow&gt;
			&lt;/math&gt; embedded inline with text, and showing placement of indicies for summations.">
		</d2l-html-block>
	</div>

	<div class="visual-diff" style="width: 400px;">
		<d2l-html-block id="code-block" html="A grumpy bit of code...
			&lt;pre class=&#34;d2l-code d2l-code-dark&#34;&gt;&lt;code class=&#34;language-javascript&#34;&gt;function helloGrumpy(name) {
				console.log(`Hi there ${name}.`);
			}
			helloGrumpy('Wizard');&lt;/code&gt;&lt;/pre&gt;
			...makes me smile.">
		</d2l-html-block>
	</div>

	<div class="visual-diff" style="width: 400px;">
		<d2l-html-block id="code-inline" html="The best type of donuts are he kind you assign in code, for example: &lt;code class=&quot;d2l-code d2l-code-dark language-javascript&quot;&gt;const jelly = 'donuts';lgt;/code&gt;. The next best type of thing you can assign in code is stuff you can ferment.">
		</d2l-html-block>
	</div>

	<div class="visual-diff" style="width: 650px;">
		<d2l-html-block id="math-block-and-code-block" html="&lt;pre class=&#34;d2l-code d2l-code-dark&#34;&gt;&lt;code class=&#34;language-javascript&#34;&gt;function helloGrumpy(name) {
				console.log(`Hi there ${name}.`);
			}
			helloGrumpy('Wizard');&lt;/code&gt;&lt;/pre&gt;&quot;&gt;
			&lt;math xmlns=&#34;http://www.w3.org/1998/Math/MathML&#34; display=&#34;block&#34;&gt;
				&lt;msup&gt;
					&lt;mrow&gt;
						&lt;mo&gt;(&lt;/mo&gt;
						&lt;mrow&gt;
							&lt;munderover&gt;
								&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
								&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
									&lt;mi&gt;k&lt;/mi&gt;
									&lt;mo&gt;=&lt;/mo&gt;
									&lt;mn&gt;1&lt;/mn&gt;
								&lt;/mrow&gt;
								&lt;mi&gt;n&lt;/mi&gt;
							&lt;/munderover&gt;
							&lt;msub&gt;
								&lt;mi&gt;a&lt;/mi&gt;
								&lt;mi&gt;k&lt;/mi&gt;
							&lt;/msub&gt;
							&lt;msub&gt;
								&lt;mi&gt;b&lt;/mi&gt;
								&lt;mi&gt;k&lt;/mi&gt;
							&lt;/msub&gt;
						&lt;/mrow&gt;
						&lt;mo&gt;)&lt;/mo&gt;
					&lt;/mrow&gt;
					&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
						&lt;mspace width=&#34;negativethinmathspace&#34;&gt;&lt;/mspace&gt;
						&lt;mspace width=&#34;negativethinmathspace&#34;&gt;&lt;/mspace&gt;
						&lt;mn&gt;2&lt;/mn&gt;
					&lt;/mrow&gt;
				&lt;/msup&gt;
				&lt;mo&gt;≤&lt;!-- ≤ --&gt;&lt;/mo&gt;
				&lt;mrow&gt;
					&lt;mo&gt;(&lt;/mo&gt;
					&lt;mrow&gt;
						&lt;munderover&gt;
							&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
							&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
								&lt;mi&gt;k&lt;/mi&gt;
								&lt;mo&gt;=&lt;/mo&gt;
								&lt;mn&gt;1&lt;/mn&gt;
							&lt;/mrow&gt;
							&lt;mi&gt;n&lt;/mi&gt;
						&lt;/munderover&gt;
						&lt;msubsup&gt;
							&lt;mi&gt;a&lt;/mi&gt;
							&lt;mi&gt;k&lt;/mi&gt;
							&lt;mn&gt;2&lt;/mn&gt;
						&lt;/msubsup&gt;
					&lt;/mrow&gt;
					&lt;mo&gt;)&lt;/mo&gt;
				&lt;/mrow&gt;
				&lt;mrow&gt;
					&lt;mo&gt;(&lt;/mo&gt;
					&lt;mrow&gt;
						&lt;munderover&gt;
							&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
							&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
								&lt;mi&gt;k&lt;/mi&gt;
								&lt;mo&gt;=&lt;/mo&gt;
								&lt;mn&gt;1&lt;/mn&gt;
							&lt;/mrow&gt;
							&lt;mi&gt;n&lt;/mi&gt;
						&lt;/munderover&gt;
						&lt;msubsup&gt;
							&lt;mi&gt;b&lt;/mi&gt;
							&lt;mi&gt;k&lt;/mi&gt;
							&lt;mn&gt;2&lt;/mn&gt;
						&lt;/msubsup&gt;
					&lt;/mrow&gt;
					&lt;mo&gt;)&lt;/mo&gt;
				&lt;/mrow&gt;
				&lt;mspace linebreak=&#34;newline&#34;&gt;&lt;/mspace&gt;
				&lt;msup&gt;
					&lt;mi&gt;e&lt;/mi&gt;
					&lt;mrow&gt;
						&lt;mi&gt;i&lt;/mi&gt;
						&lt;mi&gt;π&lt;!-- π --&gt;&lt;/mi&gt;
					&lt;/mrow&gt;
				&lt;/msup&gt;
				&lt;mo>+&lt;/mo&gt;
				&lt;mn>1&lt;/mn&gt;
				&lt;mo>=&lt;/mo&gt;
				&lt;mn>0&lt;/mn&gt;
			&lt;/math&gt;">
		</d2l-html-block>
	</div>

	<div class="visual-diff" style="width: 400px;">
		<d2l-html-block id="html-property" html="&lt;math xmlns=&#34;http://www.w3.org/1998/Math/MathML&#34; display=&#34;block&#34;&gt;&lt;mi&gt;x&lt;/mi&gt;
			&lt;mo&gt;=&lt;/mo&gt;
			&lt;mrow&gt;
				&lt;mfrac&gt;
					&lt;mrow&gt;
						&lt;mo&gt;&amp;#x2212;&lt;/mo&gt;
						&lt;mi&gt;b&lt;/mi&gt;
						&lt;mo&gt;&amp;#xB1;&lt;/mo&gt;
						&lt;msqrt&gt;
							&lt;msup&gt;
								&lt;mi&gt;b&lt;/mi&gt;
								&lt;mn&gt;2&lt;/mn&gt;
							&lt;/msup&gt;
							&lt;mo&gt;&amp;#x2212;&lt;/mo&gt;
							&lt;mn&gt;4&lt;/mn&gt;
							&lt;mi&gt;a&lt;/mi&gt;
							&lt;mi&gt;c&lt;/mi&gt;
						&lt;/msqrt&gt;
					&lt;/mrow&gt;
					&lt;mrow&gt;
						&lt;mn&gt;2&lt;/mn&gt;
						&lt;mi&gt;a&lt;/mi&gt;
					&lt;/mrow&gt;
				&lt;/mfrac&gt;
			&lt;/mrow&gt;
			&lt;mtext&gt;.&lt;/mtext&gt;
			&lt;mspace linebreak=&#34;newline&#34;&gt;&lt;/mspace&gt;
			&lt;msup&gt;
				&lt;mi&gt;e&lt;/mi&gt;
				&lt;mrow&gt;
					&lt;mi&gt;i&lt;/mi&gt;
					&lt;mi&gt;π&lt;!-- π --&gt;&lt;/mi&gt;
				&lt;/mrow&gt;
			&lt;/msup&gt;
			&lt;mo&gt;+&lt;/mo&gt;
			&lt;mn&gt;1&lt;/mn&gt;
			&lt;mo&gt;=&lt;/mo&gt;
			&lt;mn&gt;0&lt;/mn&gt;
			&lt;/math&gt;
			&lt;math xmlns=&#34;http://www.w3.org/1998/Math/MathML&#34; display=&#34;block&#34;&gt;
				&lt;msup&gt;
					&lt;mrow&gt;
						&lt;mo&gt;(&lt;/mo&gt;
						&lt;mrow&gt;
							&lt;munderover&gt;
								&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
								&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
									&lt;mi&gt;k&lt;/mi&gt;
									&lt;mo&gt;=&lt;/mo&gt;
									&lt;mn&gt;1&lt;/mn&gt;
								&lt;/mrow&gt;
								&lt;mi&gt;n&lt;/mi&gt;
							&lt;/munderover&gt;
							&lt;msub&gt;
								&lt;mi&gt;a&lt;/mi&gt;
								&lt;mi&gt;k&lt;/mi&gt;
							&lt;/msub&gt;
							&lt;msub&gt;
								&lt;mi&gt;b&lt;/mi&gt;
								&lt;mi&gt;k&lt;/mi&gt;
							&lt;/msub&gt;
						&lt;/mrow&gt;
						&lt;mo&gt;)&lt;/mo&gt;
					&lt;/mrow&gt;
					&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
						&lt;mspace width=&#34;negativethinmathspace&#34;&gt;&lt;/mspace&gt;
						&lt;mspace width=&#34;negativethinmathspace&#34;&gt;&lt;/mspace&gt;
						&lt;mn&gt;2&lt;/mn&gt;
					&lt;/mrow&gt;
				&lt;/msup&gt;
				&lt;mo&gt;≤&lt;!-- ≤ --&gt;&lt;/mo&gt;
				&lt;mrow&gt;
					&lt;mo&gt;(&lt;/mo&gt;
					&lt;mrow&gt;
						&lt;munderover&gt;
							&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
							&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
								&lt;mi&gt;k&lt;/mi&gt;
								&lt;mo&gt;=&lt;/mo&gt;
								&lt;mn&gt;1&lt;/mn&gt;
							&lt;/mrow&gt;
							&lt;mi&gt;n&lt;/mi&gt;
						&lt;/munderover&gt;
						&lt;msubsup&gt;
							&lt;mi&gt;a&lt;/mi&gt;
							&lt;mi&gt;k&lt;/mi&gt;
							&lt;mn&gt;2&lt;/mn&gt;
						&lt;/msubsup&gt;
					&lt;/mrow&gt;
					&lt;mo&gt;)&lt;/mo&gt;
				&lt;/mrow&gt;
				&lt;mrow&gt;
					&lt;mo&gt;(&lt;/mo&gt;
					&lt;mrow&gt;
						&lt;munderover&gt;
							&lt;mo&gt;∑&lt;!-- ∑ --&gt;&lt;/mo&gt;
							&lt;mrow class=&#34;MJX-TeXAtom-ORD&#34;&gt;
								&lt;mi&gt;k&lt;/mi&gt;
								&lt;mo&gt;=&lt;/mo&gt;
								&lt;mn&gt;1&lt;/mn&gt;
							&lt;/mrow&gt;
							&lt;mi&gt;n&lt;/mi&gt;
						&lt;/munderover&gt;
						&lt;msubsup&gt;
							&lt;mi&gt;b&lt;/mi&gt;
							&lt;mi&gt;k&lt;/mi&gt;
							&lt;mn&gt;2&lt;/mn&gt;
						&lt;/msubsup&gt;
					&lt;/mrow&gt;
					&lt;mo&gt;)&lt;/mo&gt;
				&lt;/mrow&gt;
			&lt;/math&gt;
			&lt;div&gt;$$ {\color{red}x} + {\color{blue}y} = {\color{green}z} $$&lt;/div&gt;
&lt;pre class=&#34;d2l-code d2l-code-dark&#34;&gt;&lt;code class=&#34;language-javascript&#34;&gt;function helloGrumpy(name) {
	console.log(`Hi there ${name}.`);
}
helloGrumpy('Wizard');&lt;/code&gt;&lt;/pre&gt;">
		</d2l-html-block>
	</div>

</body>
</html>
