<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../test/pageable-component.js';
			import '../pager-load-more.js';
		</script>
		<style>
			a {
				outline: none;
				text-decoration: none;
			}
			a:focus {
				text-decoration: underline;
			}
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="Paging Components">

			<h2>Load More Pager</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-test-pageable item-count="12">
						<ul>
							<li><a href="https://some-website">item 1</a></li>
							<li><a href="https://some-website">item 2</a></li>
						</ul>
						<d2l-pager-load-more id="pager1" slot="pager" has-more page-size="3"></d2l-pager-load-more>
					</d2l-test-pageable>
					<script>
						document.querySelector('#pager1').addEventListener('d2l-pager-load-more', window.handleLoadMore);
					</script>
				</template>
			</d2l-demo-snippet>

			<h2>Load More Pager (no item count)</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-test-pageable>
						<ul>
							<li><a href="https://some-website">item 1</a></li>
							<li><a href="https://some-website">item 2</a></li>
						</ul>
						<d2l-pager-load-more id="pager2" slot="pager" has-more page-size="3"></d2l-pager-load-more>
					</d2l-test-pageable>
					<script>
						document.querySelector('#pager2').addEventListener('d2l-pager-load-more', window.handleLoadMore);
					</script>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

		<script>
			const ITEM_COUNT = 12;
			window.handleLoadMore = e => {
				// fake delay
				setTimeout(() => {
					const list = e.target.parentNode.querySelector('ul');
					let remainingCount = ITEM_COUNT - list.children.length;
					const numberToLoad = remainingCount < e.target.pageSize ? remainingCount : e.target.pageSize;
					for (let i = 0; i < numberToLoad; i++) {
						const newItem = list.lastElementChild.cloneNode(true);
						newItem.querySelector('a').textContent = `item ${list.children.length + 1}`;
						list.appendChild(newItem);
					}
					if (list.children.length === ITEM_COUNT) {
						e.target.hasMore = false;
					} else {
						remainingCount = ITEM_COUNT - list.children.length;
						if (remainingCount < e.target.pageSize) e.target.pageSize = remainingCount;
					}
					e.detail.complete();
				}, 1000);
			};
		</script>
	</body>
</html>
