<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../button-subtle.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-button-subtle">

			<h2>Subtle Button with Text Only</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-subtle text="Subtle Button"></d2l-button-subtle>
					<d2l-button-subtle slim text="Slim Subtle Button"></d2l-button-subtle>
				</template>
			</d2l-demo-snippet>

			<h2>Subtle Button Disabled</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-subtle text="Subtle Button" disabled></d2l-button-subtle>
					<d2l-button-subtle slim text="Slim Subtle Button" disabled></d2l-button-subtle>
				</template>
			</d2l-demo-snippet>

			<h2>Subtle Button Disabled with Tooltip</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-subtle text="Subtle Button" disabled disabled-tooltip="Optional disabled tooltip"></d2l-button-subtle>
					<d2l-button-subtle slim text="Slim Subtle Button" disabled disabled-tooltip="Optional disabled tooltip"></d2l-button-subtle>
				</template>
			</d2l-demo-snippet>

			<h2>Subtle Button with Text and Icon</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-subtle icon="tier1:bookmark-hollow" text="Subtle Button"></d2l-button-subtle>
					<d2l-button-subtle slim icon="tier1:bookmark-hollow" text="Slim Subtle Button"></d2l-button-subtle>
				</template>
			</d2l-demo-snippet>

			<h2>Subtle Button with Text and Icon on the Right</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-subtle icon="tier1:chevron-down" text="Subtle Button" icon-right></d2l-button-subtle>
					<d2l-button-subtle slim icon="tier1:chevron-down" text="Slim Subtle Button" icon-right></d2l-button-subtle>
				</template>
			</d2l-demo-snippet>

			<h2>Subtle Button with Horizontal Align</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-subtle icon="tier1:gear" text="Button Edge Aligned (default)"></d2l-button-subtle>
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
					<d2l-button-subtle icon="tier1:gear" text="Button Content Aligned" h-align="text"></d2l-button-subtle>
					<br>
					<d2l-button-subtle slim icon="tier1:gear" text="Slim Button Content Aligned" h-align="text"></d2l-button-subtle>
					<br>
					<d2l-button-subtle icon="tier1:chevron-down" text="Subtle Button" icon-right h-align="text"></d2l-button-subtle>
					<br>
					<d2l-button-subtle slim icon="tier1:chevron-down" text="Slim Subtle Button" icon-right h-align="text"></d2l-button-subtle>
				</template>
			</d2l-demo-snippet>

			<h2>Subtle Button with Slot Content</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-subtle text="Subtle Button">Slot Content</d2l-button-subtle>
					<d2l-button-subtle slim text="Slim Subtle Button">Slim Slot Content</d2l-button-subtle>
				</template>
			</d2l-demo-snippet>

			<h2>Subtle Button with Custom Icon</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-subtle text="Subtle Button">
						<d2l-icon-custom slot="icon">
							<svg xmlns="http://www.w3.org/2000/svg" mirror-in-rtl="true">
		 						<path fill="#494c4e" d="M18 12v5a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-5a1 1 0 0 1 2 0v4h14v-4a1 1 0 0 1 2 0z"/>
		 						<path fill="#494c4e" d="M13.85 3.15l-2.99-3A.507.507 0 0 0 10.5 0H5.4A1.417 1.417 0 0 0 4 1.43v11.14A1.417 1.417 0 0 0 5.4 14h7.2a1.417 1.417 0 0 0 1.4-1.43V3.5a.47.47 0 0 0-.15-.35zM7 2h1a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2zm4 10H7a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zm0-4H7a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2z"/>
		 					</svg>
						</d2l-icon-custom>
					</d2l-button-subtle>
					<d2l-button-subtle slim text="Slim Subtle Button">
						<d2l-icon-custom slot="icon">
							<svg xmlns="http://www.w3.org/2000/svg" mirror-in-rtl="true">
		 						<path fill="#494c4e" d="M18 12v5a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-5a1 1 0 0 1 2 0v4h14v-4a1 1 0 0 1 2 0z"/>
		 						<path fill="#494c4e" d="M13.85 3.15l-2.99-3A.507.507 0 0 0 10.5 0H5.4A1.417 1.417 0 0 0 4 1.43v11.14A1.417 1.417 0 0 0 5.4 14h7.2a1.417 1.417 0 0 0 1.4-1.43V3.5a.47.47 0 0 0-.15-.35zM7 2h1a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2zm4 10H7a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2zm0-4H7a1 1 0 0 1 0-2h4a1 1 0 0 1 0 2z"/>
		 					</svg>
						</d2l-icon-custom>
					</d2l-button-subtle>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

		<script>
			document.addEventListener('click', e => {
				if (e.target.tagName !== 'D2L-BUTTON-SUBTLE') return;
				console.log('button clicked', e.target);
			});
		</script>

	</body>
</html>
