<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../button-add.js';
		</script>
		<style>
			.d2l-button-add-dashed {
				--d2l-button-add-line-style: dashed;
			}
			.d2l-button-add-demo-snippet-background {
				background-color: var(--d2l-color-zircon-plus-2);
			}
		</style>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-button-add">

			<h2>Add Button: hint-timing="always" (default)</h2>

			<h3>Icon only (default)</h3>

			<d2l-demo-snippet class="d2l-button-add-demo-snippet-background">
				<template>
					<d2l-button-add></d2l-button-add>
				</template>
			</d2l-demo-snippet>

			<h3>Icon only, dashed line</h3>

			<d2l-demo-snippet>
				<template>
					<d2l-button-add class="d2l-button-add-dashed"></d2l-button-add>
				</template>
			</d2l-demo-snippet>

			<h3>Icon only, custom text</h3>

			<d2l-demo-snippet>
				<template>
					<d2l-button-add text="Custom Tooltip"></d2l-button-add>
				</template>
			</d2l-demo-snippet>


			<h3>Text visible</h3>

			<d2l-demo-snippet class="d2l-button-add-demo-snippet-background">
				<template>
					<d2l-button-add text-visible></d2l-button-add>
				</template>
			</d2l-demo-snippet>


			<h3>Text visible, custom text</h3>

			<d2l-demo-snippet>
				<template>
					<d2l-button-add text-visible text="Custom Text"></d2l-button-add>
				</template>
			</d2l-demo-snippet>

			<h2>Add Button: hint-timing="nearby"</h2>

			<h3>Icon only</h3>

			<d2l-demo-snippet>
				<template>
					<d2l-button-add hint-timing="nearby"></d2l-button-add>
				</template>
			</d2l-demo-snippet>

			<h3>Icon only, dashed line</h3>

			<d2l-demo-snippet>
				<template>
					<d2l-button-add class="d2l-button-add-dashed" hint-timing="nearby"></d2l-button-add>
				</template>
			</d2l-demo-snippet>

			<h3>Icon only, custom text</h3>

			<d2l-demo-snippet>
				<template>
					<d2l-button-add text="Custom Tooltip" hint-timing="nearby"></d2l-button-add>
				</template>
			</d2l-demo-snippet>

			<h2>Add Button: hint-timing="never"</h2>

			<h3>Icon only</h3>

			<d2l-demo-snippet>
				<template>
					<d2l-button-add hint-timing="never"></d2l-button-add>
				</template>
			</d2l-demo-snippet>

			<h3>Icon only, dashed line</h3>

			<d2l-demo-snippet>
				<template>
					<d2l-button-add class="d2l-button-add-dashed" hint-timing="never"></d2l-button-add>
				</template>
			</d2l-demo-snippet>

			<h3>Icon only, custom text</h3>

			<d2l-demo-snippet>
				<template>
					<d2l-button-add text="Custom Tooltip" hint-timing="never"></d2l-button-add>
				</template>
			</d2l-demo-snippet>

		</d2l-demo-page>

		<script>
			document.addEventListener('click', e => {
				if (e.target.tagName !== 'D2L-BUTTON-ADD') return;
				console.log('add button clicked', e.target);
			});
		</script>

	</body>
</html>
