<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../button-iterator.js';
		</script>
	</head>
	<body unresolved>
		<d2l-demo-page page-title="d2l-button-iterator">
			<h2>Standard</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-button-iterator></d2l-button-iterator>
				</template>
			</d2l-demo-snippet>

			<h2>Custom Text</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-button-iterator previous-text="Go Back" next-text="Go Forward"></d2l-button-iterator>
				</template>
			</d2l-demo-snippet>

			<h2>Description</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-button-iterator description="Step 1 of 3"></d2l-button-iterator>
				</template>
			</d2l-demo-snippet>

			<h2>Disabled</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-button-iterator previous-disabled next-disabled></d2l-button-iterator>
				</template>
			</d2l-demo-snippet>

			<h2>Single Next Iterator</h2>
			<d2l-demo-snippet>
				<template>
					<d2l-button-iterator next-only></d2l-button-iterator>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
