<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../demo/styles.css" type="text/css">
		<script type="module">
			import '../../demo/demo-page.js';
			import '../button-segmented.js';
			import '../button-segmented-item.js';
		</script>
	</head>
	<body unresolved>

		<d2l-demo-page page-title="d2l-button-segmented">

			<h2>Segmented Button</h2>

			<d2l-demo-snippet>
				<template>
					<d2l-button-segmented label="Save Options">
						<d2l-button-segmented-item selected key="saveAsDraft" text="Save as Draft"></d2l-button-segmented-item>
						<d2l-button-segmented-item key="saveAndClose" text="Save and Close"></d2l-button-segmented-item>
						<d2l-button-segmented-item key="saveAndNew" text="Save and New"></d2l-button-segmented-item>
					</d2l-button-segmented>
				</template>
			</d2l-demo-snippet>



		</d2l-demo-page>

	</body>
</html>
