<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script>
		const rtl = (window.location.search.indexOf('dir=rtl') !== -1);
		if (rtl) document.documentElement.setAttribute('dir', 'rtl');
	</script>
	<script type="module">
		import '../../typography/typography.js';
		import '../switch-visibility.js';
	</script>
	<title>d2l-switch-visibility</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		.visual-diff {
			padding-bottom: 150px;
			width: 300px;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-switch-visibility id="off"></d2l-switch-visibility>
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="on" on></d2l-switch-visibility>
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="on-with-conditions" on>
			These are some conditions that must be met for the activity to be visible.
			<ul>
				<li> Condition 1 </li>
				<li> Condition 2 </li>
				<li> Condition 3 </li>
			</ul>
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="off-with-conditions">
			These are some conditions that must be met for the activity to be visible.
			<ul>
				<li> Condition 1 </li>
				<li> Condition 2 </li>
				<li> Condition 3 </li>
			</ul>
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="on-with-conditions-text-position-start" on text-position="start">
			These are some conditions that must be met for the activity to be visible.
			<ul>
				<li> Condition 1 </li>
				<li> Condition 2 </li>
				<li> Condition 3 </li>
			</ul>
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="on-text-position-hidden" on text-position="hidden">
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="on-with-conditions-text-position-hidden" on text-position="hidden">
			These are some conditions that must be met for the activity to be visible.
			<ul>
				<li> Condition 1 </li>
				<li> Condition 2 </li>
				<li> Condition 3 </li>
			</ul>
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="off-text-overridden" text="Label text has been overridden."></d2l-switch-visibility>
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="on-text-overridden" on text="Label text has been overridden."></d2l-switch-visibility>
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="off-with-conditions-text-overridden" text="Label text has been overridden.">
			These are some conditions that must be met for the activity to be visible.
			<ul>
				<li> Condition 1 </li>
				<li> Condition 2 </li>
				<li> Condition 3 </li>
			</ul>
		</d2l-switch-visibility> 
	</div>
	
	<div class="visual-diff">
		<d2l-switch-visibility id="on-with-conditions-text-overridden" on text="Label text has been overridden.">
			These are some conditions that must be met for the activity to be visible.
			<ul>
				<li> Condition 1 </li>
				<li> Condition 2 </li>
				<li> Condition 3 </li>
			</ul>
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="on-with-conditions-text-position-start-text-overridden" on text-position="start" text="Label text has been overridden.">
			These are some conditions that must be met for the activity to be visible.
			<ul>
				<li> Condition 1 </li>
				<li> Condition 2 </li>
				<li> Condition 3 </li>
			</ul>
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="on-text-position-hidden-text-overridden" on text-position="hidden" text="Label text has been overridden.">
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility id="on-with-conditions-text-position-hidden-text-overridden" on text-position="hidden" text="Label text has been overridden.">
			These are some conditions that must be met for the activity to be visible.
			<ul>
				<li> Condition 1 </li>
				<li> Condition 2 </li>
				<li> Condition 3 </li>
			</ul>
		</d2l-switch-visibility> 
	</div>


	<div class="visual-diff">
		<d2l-switch-visibility 
			id="off-with-only-whitespace-conditions">
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility 
			id="on-with-only-whitespace-conditions" on>
		</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility 
			id="on-with-only-lots-of-whitespace-conditions" on>
			                  
			</d2l-switch-visibility> 
	</div>

	<div class="visual-diff">
		<d2l-switch-visibility 
			id="on-with-only-loooots-of-whitespace-conditions" on>
			                                                                                            					




























			</d2l-switch-visibility> 
	</div>

</body>
</html>
