<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
	<script>
		const rtl = (window.location.search.indexOf('dir=rtl') !== -1);
		if (rtl) document.documentElement.setAttribute('dir', 'rtl');
	</script>
	<script type="module">
		import '../../typography/typography.js';
		import '../switch.js';
	</script>
	<title>d2l-switch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<style>
		body {
			margin: 0;
		}
		.visual-diff {
			width: 300px;
		}
		.d2l-background-color {
			--d2l-switch-container-background-color: red;
		}
	</style>
</head>
<body class="d2l-typography">

	<div class="visual-diff">
		<d2l-switch id="off" text="Test Text"></d2l-switch>
	</div>

	<div class="visual-diff">
		<d2l-switch id="off-disabled" text="Test Text" disabled></d2l-switch>
	</div>

	<div class="visual-diff">
		<d2l-switch id="on" text="Test Text" on></d2l-switch>
	</div>

	<div class="visual-diff">
		<d2l-switch id="on-disabled" text="Test Text" on disabled></d2l-switch>
	</div>

	<div class="visual-diff">
		<d2l-switch id="text-hidden" text="Test Text" text-position="hidden"></d2l-switch>
	</div>

	<div class="visual-diff">
		<d2l-switch id="text-start" text="Test Text" text-position="start"></d2l-switch>
	</div>

	<div class="visual-diff">
		<d2l-switch id="text-end" text="Test Text" text-position="end"></d2l-switch>
	</div>
	<div class="d2l-background-color visual-diff">
		<d2l-switch id="background-color" on></d2l-switch>
	</div>
</body>
</html>
