name: Release
on:
  push:
    branches:
      - main
      - '[0-9]+.x'
      - '[0-9]+.[0-9]+.x'
jobs:
  release:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Release
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
        with:
          persist-credentials: false
      - uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version: '14'
          cache: 'npm'
      - name: Install dependencies
        run: |
          npm ci
          npm install web-component-analyzer --no-save
      - name: Build
        run: npm run build
      - name: Create custom-elements.json
        run: npx wca analyze \"{components,templates}/**/*.js\" --format json --outFile custom-elements.json
      - name: Prepare Translations for NPM
        uses: BrightspaceUI/actions/prepare-translations-for-npm@main
      - name: Semantic Release
        uses: BrightspaceUI/actions/semantic-release@main
        with:
          GITHUB_TOKEN: ${{ secrets.D2L_GITHUB_TOKEN }}
          NPM: true
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
