<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../../test/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '../../colors/colors.js';
			import '../../typography/typography.js';
			import '../demo/icon-color-override.js';
			import '../demo/icon-size-override.js';
			import '../icon.js';
		</script>
		<title>d2l-icon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div class="visual-diff">
			<d2l-icon icon="d2l-tier1:assignments" id="preset-tier1"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon icon="d2l-tier2:assignments" id="preset-tier2"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon icon="d2l-tier3:assignments" id="preset-tier3"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon src="../images/tier1/assignments.svg" size="tier1" id="custom-svg-tier1"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon src="../images/tier2/assignments.svg" size="tier2" id="custom-svg-tier2"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon src="../images/tier3/assignments.svg" size="tier3" id="custom-svg-tier3"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon icon="d2l-tier2:evaluate-all" id="fill-none"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon-demo-color-override>
				<d2l-icon icon="d2l-tier3:assignments" id="color-override-preset"></d2l-icon>
			</d2l-icon-demo-color-override>
		</div>
		<div class="visual-diff">
			<d2l-icon-demo-color-override>
				<d2l-icon src="../images/tier3/assignments.svg" size="tier3" id="color-override-custom-svg"></d2l-icon>
			</d2l-icon-demo-color-override>
		</div>
		<div class="visual-diff">
			<d2l-icon-demo-size-override>
				<d2l-icon icon="d2l-tier3:assignments" id="size-override-preset"></d2l-icon>
			</d2l-icon-demo-size-override>
		</div>
		<div class="visual-diff">
			<d2l-icon-demo-size-override>
				<d2l-icon src="../images/tier3/assignments.svg" size="tier3" id="size-override-custom-svg"></d2l-icon>
			</d2l-icon-demo-size-override>
		</div>
		<div class="visual-diff">
			<d2l-icon-demo-size-override>
				<d2l-icon src="../demo/assignments-tier3.png" size="tier3" id="size-override-custom-other"></d2l-icon>
			</d2l-icon-demo-size-override>
		</div>
		<div class="visual-diff">
			<d2l-icon icon="d2l-tier1:assignments" dir="rtl" id="rtl-preset-tier1"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon icon="d2l-tier2:assignments" dir="rtl" id="rtl-preset-tier2"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon icon="d2l-tier3:assignments" dir="rtl" id="rtl-preset-tier3"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon src="../images/tier1/assignments.svg" size="tier1" dir="rtl" id="rtl-custom-svg-tier1"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon src="../images/tier2/assignments.svg" size="tier2" dir="rtl" id="rtl-custom-svg-tier2"></d2l-icon>
		</div>
		<div class="visual-diff">
			<d2l-icon src="../images/tier3/assignments.svg" size="tier3" dir="rtl" id="rtl-custom-svg-tier3"></d2l-icon>
		</div>
	</body>
</html>
